/*FONT ELEMENTS*/
.heading-1,
.heading-2,
.heading-3,
.heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: #111;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}

.heading-2--light {
  color: #111;
}

.heading-2--dark {
  color: #54483A;
}

.heading-3 {
  font-size: 1.6rem;
  color: #54483A;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1.9rem;
}

.heading-4--light {
  color: #111;
}

.heading-4--dark {
  color: #54483A;
}

.font-primary {
  font-family: 'Nunito', sans-serif;
}

.font-display {
  font-family: 'Josefin Sans', sans-serif;
}

/*END FONT ELEMENTS*/


/*BUTTONS STRUCTURE*/
.actual-btn {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  border: none;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  font-family: "Josefin Sans", sans-serif;
  font-size: .8rem;
  text-transform: uppercase;
  padding: .5rem 3rem;
  cursor: pointer;
  transition: all .2s;
}

.actual-btn:hover {
  background: linear-gradient(0deg, rgba(241, 190, 62, 1) 0%, rgba(241, 190, 62, 1) 59%, rgba(247, 222, 158, 1) 100%);
}

.hidden {
  display: none;
}

/*END BUTTONS STRUCTURE*/

/*RADIO BUTTONS*/
.radio-container {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: grid;
}

@media only screen and (max-width: 32.5em) {
  .radio-container {
    padding-left: 1.25rem;
  }
}


.radio-container::after {
  content: "";
  height: 1px;
  background-color: currentColor;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: .6rem;
  width: .6rem;
  border: 3px solid #55c57a;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked~.checkmark {
  background-color: transparent;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  top: 1.2px;
  left: 1.2px;
  width: .45rem;
  height: .45rem;
  border-radius: 50%;
  background: #55c57a;
}

/*END RADIO BUTTONS*/


/*LINK BUTTON*/
.link__event {
  text-align: right;
  font-family: inherit;
  font-size: 90%;
}

@media only screen and (max-width: 15.68rem) {
  .link__event {
    font-size: 80%;
    margin-top: 0;
  }
}

.link__event>p {
  margin: 0;
}

.link__event * a {
  color: #008CBA;
  text-decoration: underline;
}

.link__event * a:hover {
  color: #34b3e7;
}

/*END LINK BUTTON*/

/*POP UP*/
/*
.popUp {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .popUp {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.popUp__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all .5s .2s;
}

.popUp:target {
  opacity: 1;
  visibility: visible;
}

.popUp:target .popUp__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popUp__close:link,
.popUp__close:visited {
  color: #777;
  position: absolute;
  top: .2rem;
  right: .8rem;
  font-size: 2.5rem;
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  line-height: 1;
}

.popUp__close:hover {
  color: #cc262f;
}
*/
/*END POP UP*/


/***
* MARGIN BUTTON SIZES 
***/
.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

/***
*  FONT SIZES VARIABLES
 ***
$default-font-size: 1.6rem;
&font-family: "Lato", sans-serif;
$font-weight: 400;
*/

/***
* RESPONSIVE BREAKPOINTS
****
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px; OR $bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;    // 600px;
$bp-smallest: 31.25em; // 500px

*/

/* [Object] Modal
 * =============================== 
 
 check if any of those classes overwrites something else 
 */
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, .9);
  transition: opacity .25s ease;
  z-index: 999;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked+.modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked+.modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 50%;
}

.modal__inner--login{
  height: 42%;
}

.modal__inner--invited{
  width: 60%;
  height: 55%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover {
  color: #cc262f;
}


.modal__close:hover:after,
.modal__close:hover:before {
  color: #cc262f;
}

.modal__close:before {
  transform: rotate(-45deg);
}


@media screen and (max-width: 768px) {

  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}

.btn {
  cursor: pointer;
  background: #27ae60;
  display: inline-block;
  padding: .5em 1em;
  color: #fff;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background: #2ecc71;
}

.btn:active {
  background: #27ae60;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset;
}

.btn--blue {
  background: #2980b9;
}

.btn--blue:hover,
.btn--blue:focus {
  background: #3498db;
}

.btn--blue:active {
  background: #2980b9;
}

p img {
  max-width: 200px;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
}


