/***
* CLASS FLOW PAYMENTES 
***/
@media only screen and (max-width: 75em) {
    html {
      font-size: 90%; } 
}


.payment-flow{
    margin: 0 auto;
    display: grid;
    font-weight: 300px;
    font-size: 62.5%; 
    grid-template-rows: 18vw 20vw; /*repeat(2, 80vh) repeat(2, min-content);*/ 
    grid-template-columns: [full-start] minmax(6rem,1fr) [center-start] repeat(8, [col-start]minmax(min-content,14rem)[col-end]) [center-end] minmax(6rem,1fr) [full-end];
}


/***
* RESPONSIVE BREAKPOINTS
****
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px; OR $bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;    // 600px;
$bp-smallest: 31.25em; // 500px

*/

@media only screen and (max-width: 75em) {
    .payment-flow{
        grid-template-rows: 18.5vw 22.5vw; 
        grid-template-columns: [full-start] minmax(5rem,1fr) [center-start] repeat(8, [col-start]minmax(min-content,12rem)[col-end]) [center-end] minmax(6rem,1fr) [full-end];
    }    
}



@media only screen and (max-width: 60em) {
    .payment-flow{
        grid-template-rows: 24vw 28vw;
        grid-template-columns: [full-start] minmax(5rem,1fr) [center-start] repeat(8, [col-start]minmax(min-content,12rem)[col-end]) [center-end] minmax(6rem,1fr) [full-end];
    }    
}

@media only screen and (max-width: 52em) {
    .payment-flow{
        grid-template-rows: 32vw 34vw;
        grid-template-columns: [full-start] minmax(5rem,1fr) [center-start] repeat(8, [col-start]minmax(min-content,12rem)[col-end]) [center-end] minmax(6rem,1fr) [full-end];
    }    
}

@media only screen and (max-width: 41.25em) {
    .payment-flow{
        grid-template-rows: 40vw 42vw;
        grid-template-columns: [full-start] minmax(5rem,1fr) [center-start] repeat(8, [col-start]minmax(min-content,12rem)[col-end]) [center-end] minmax(6rem,1fr) [full-end];
    }    
}

@media only screen and (max-width: 34.5em) {
    .payment-flow{
        grid-template-rows: 44vw 48vw; /*repeat(2, 80vh) repeat(2, min-content);*/ 
        grid-template-columns: [full-start] minmax(5rem,1fr) [center-start] repeat(8, [col-start]minmax(min-content,12rem)[col-end]) [center-end] minmax(6rem,1fr) [full-end];
    }    
}
  
.payment-flow > * {
    background-color: blueviolet;
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
}




.section-title{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin: auto;
}

.section-title > i{
    margin-right: .5rem;
}
