.actual-home .header-top-bar {
  background: #092f57 !important;
}
.actual-home .footer-bottom {
  background: #092f57 !important;
}
.actual-home .nav-categories-item-active,
.actual-home .salas-bg:hover {
  background: #dda901;
}

.actual-home .nav-categories-item-active,
.actual-home .comedores-bg:hover {
  background: #dda901;
}

.actual-home .nav-categories-item-active,
.actual-home .sillas-bg:hover {
  background: #dda901;
}

.actual-home .nav-categories-item-active,
.actual-home .recamaras-bg:hover {
  background: #dda901;
}

.actual-home .nav-categories-item-active,
.actual-home .muebles-exterior-bg:hover {
  background: #dda901;
}

.actual-home .nav-categories-item-active,
.actual-home .muebles-television-bg:hover {
  background: #dda901;
}

.actual-home .nav-categories-item-active,
.actual-home .muebles-oficina-bg:hover {
  background: #dda901;
}

.actual-home .nav-categories-item-active,
.actual-home .look-bg:hover {
  background: #dda901;
}

.actual-home .nav-categories-item-active,
.actual-home .deals-bg:hover {
  background: #dda901;
}

.actual-home .nav-categories-item-active,
.actual-home .kids-bg:hover {
  background: #dda901;
}

/* .actual-home .nav-categories-item-active,
.actual-home .nav-categories-item:hover {
  background: #dda901;
} */
.actual-home .modal-header .profile-modal-header-btn {
  background: #092f57;
}
.actual-home .filters-sidenav-trigger-mobile,
.actual-home .filters-sidenav-trigger .block-icon {
  background: #092f57 !important;
  color: #fff !important;
}
.actual-home .filters-sidenav-trigger .block-icon i {
  color: #fff !important;
}

.actual-home .filters-sidenav .pointer-close-btn i {
  color: #dda901;
}
.actual-home .filters-head,
.actual-home .filters .filter-block-price-btn {
  background: #dda901 !important;
}

.actual-home .filters-head {
  color: #092f57;
}

.actual-home #reports .report-filters .excel-triger-wrapper .action-btn {
  background: #092f57 !important;
}

@media (max-width: 600px) {
  .actual-home .header-top-bar {
    background: #092f57 !important;
  }
}
