/*HEADERS PROPERTYS*/
.actual-header-top{
/*     color: #fff;*/    
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

/*     display: flex;
    padding: auto 16px; */
/*     display: grid;
    grid-template-columns: 1fr repeat(8, minmax(min-content, max-content)) 1fr;
    grid-template-rows: max-content;
    grid-gap: 15px; */
    
    display: flex;
    padding:  0 12px;

}

.actual-header-top > div {
    margin: auto;
    padding: 2px; 
}

 @media only screen and (max-width: 1082px) {
    .actual-header-top{  padding: 0;}    
  } 

.actual-header-top a{color: #fff;}

.actual-header-top a:hover{color:#e9c15f;}

.atual-yellow-hover{color: #fff;}

.atual-yellow-hover:hover{color:#e9c15f}

.actual-header-top img{max-height: 72px;}

.header-align-items{
    align-content: center;
    align-items: center;
    display: grid;

    grid-template-columns: repeat(2, max-content) ;
    grid-template-rows: max-content;
}

.hai-element-1{grid-column: 1/2;}
.hai-element-2{grid-column: 2/-1;}

.header-item-child{ width: max-content;}




.header-cart-item{flex-wrap: wrap;}


/*STYLE ICONS*/

.header-icon-menu-css img {
    width: 20px;
    height: 20px;
    margin: 0;
}
  
  
.header-car-item-number {
    position: relative;
    left: 22px;
    bottom: 15px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 12px;
    color:#e9c15f
  }

.actual-header-top .icon-login{font-size: 1.3em;}
.actual-header-top .icon-carro{font-size: 26px;}/*color: #fff;*/

/*MODAL HEADER*/
.profile-modal-header {
    font-family: 'Montserrat', sans-serif;
    background: #f8f8f8;
    color: #000;
    box-shadow: 0px 6px 3px -2px rgba(0, 0, 0, 0.33);
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-bottom: 0;
    border-top: 0;
    top: 118%;
    min-width: 216px;
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
  }
  
  .profile-modal-header-avatar {
    display: none;
    text-align: center;
  }
  
  .profile-modal-header-avatar img {
    max-width: 66px;
    border-radius: 50%;
  }
  
  .profile-modal-header-info h2,
  .profile-modal-header-info p {margin: 4px 0;}
  
  .profile-modal-header-content {
    padding: 10px;
    text-align: center;
  }
  
  .profile-modal-header-btn {
    background: #000;
    padding: 10px 16px;
    color: #fff !important;
    font-weight: 500;
    display: inline-block;
    margin: 4px 0;
    text-align: center;
    text-transform: uppercase;
    max-width: 200px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .profile-modal-header-btn i {
    color: #fff !important;
    vertical-align: middle;
    margin-left: 0 !important;
    margin-right: 4px !important;
    padding: 0 !important;
    font-size: 15px !important;
  }
  
  .profile-modal-header-bottom {
    border-top: 1px solid #000;
    padding: 10px;
  }
  
  .profile-modal-header-btn-alert { background: #c82828 !important;}

  /*-------------/
  #MODAL-HEADER
/*------------*/
.modal-header {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 99999999999999999;
    background: #fff;
    max-width: 400px;
    font-family: inherit;
  }
  
  .modal-header-top {
    background: #e9e8e8;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .modal-header-top span{
    font-weight: 500;
    font-size: 15px;
    margin: 0;
  }
  
  .modal-header h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .modal-header p {font-size: 14px;}
  
  .modal-header-inner {
    padding: 0 15px 0 15px;
    text-align: left;

  }
  
  .modal-header .input-element { background: #fff;}
  
  .modal-header a {color: #000;}
  
  .modal-header .action-btn {
    font-family: 'Montserrat', sans-serif;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    display: block;
    margin: 20px 0;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
  }
  
  .modal-header hr {
    background: #000;
    border: 0;
    height: 1px;
  }
  
  .cart-modal-header,
  .login-modal-header {

    right: 0;
    left: auto;
    top: 100%;
    background-color: #fff; /*#f8f8f8;*/
  }
  
  .login-modal-header { display: block;}
  
  .login-modal-header .input-element {margin: 5px 0;}
  
  /*-------------/
    #CART-MODAL-HEADER
  /*-------------*/
  .cart-modal-header .cart-modal-item-wrap {
    padding: 0px 5px;
    margin: 10px 0;
  }
  
  .cart-modal-header .cart-modal-item-img {
    border: 1px solid #000;
    display: block;
    max-width: 100%;
  }
  
  .cart-modal-header .cart-modal-item-hr {
    border: 0;
    height: 2px;
    background: #e2023f;
    width: 40%;
    margin: 4px 0;
  }
  
  .cart-modal-header .cart-modal-item-price {font-weight: 300;}
  
  .cart-modal-header .cart-modal-item-desc {font-size: 11px;}
  
  .cart-modal-header .cart-modal-item-desc p { margin: 0;}
  
  .cart-modal-header .cart-modal-subtotal p+p {text-align: right;}
  
  
  /*--------------/
    #LOGIN-MODAL
  /*--------------*/
  .login-modal-header .error-msg {
    color: #c82828;
    font-weight: 700;
    text-align: center;
  }
  

    /*--------------/
    #HEADERS-QUERYS
  /*--------------*/

  @media only screen and (max-width: 1290px) {
    .actual-header-top{padding: 0;}
    .searcher .searcher-inner input[type='text'] {width: 110%;}
  }
  
  @media only screen and (max-width: 1120px) {
      .actual-header-top{padding: 0 2px;}
  }
  
  @media only screen and (max-width: 1182px) {
      .actual-header-top{padding: 0 2px;}
  }
  
  @media only screen and (max-width: 1122px) {
      .actual-header-top{
        font-size: 13px;
        text-align: center;
        padding: 0 2px;
      }
      .actual-header-top a{ 
          display: block;
          line-height: 1.4em;
      }
      .actual-header-top img{max-height: 55px;}
      .actual-header-top > div{padding: 2px 0px;}
  }
  
  @media only screen and (max-width: 981px) {
  
    .actual-header-top a{
        display: block;
        line-height: 1.4em;
        font-size: 13px;
    }
    .actual-header-top img{max-height: 50px}
    .searcher .searcher-inner input[type='text'] {padding: 0px;}
  }
  
  @media only screen and (max-width: 740px) {
    .actual-header-top{padding:10px;}
    .header-top-bar .logo img{margin: 0px 2px;}
    .searcher .searcher-inner input[type="text"]{width: 100%;}
  }

  @media only screen and (max-width: 265px) {
    .actual-header-top{font-size:12px;}
    .actual-header-top .icon-login{font-size: 1.6em;}
  }