.actual-header-top{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

}

.actual-header-top a{
    color: #fff;
}

.actual-header-top i{
    color: #fff;
}


/*MODAL HEADER*/