.actual-studio .searcher-wrapper .searcher-btn {
  background: #cc262f;
  color: #fff;
}

.actual-studio .header-top-bar {
  background: #000000 !important;
}

#header-studio .header-top-bar {
  background: transparent !important;
  color: black !important;
}

.actual-studio .footer-bottom {
  background: #030202 !important;
}

.actual-studio .nav-categories-item-active,
.actual-studio .salas-bg:hover {
  background: #c7227d;
}

.actual-studio .nav-categories-item-active,
.actual-studio .comedores-bg:hover {
  background: #5d1d7c;
}

.actual-studio .nav-categories-item-active,
.actual-studio .sillas-bg:hover {
  background: #002c80;
}

.actual-studio .nav-categories-item-active,
.actual-studio .recamaras-bg:hover {
  background: #3f72af;
}

.actual-studio .nav-categories-item-active,
.actual-studio .muebles-exterior-bg:hover {
  background: #3d8c3d;
}

.actual-studio .nav-categories-item-active,
.actual-studio .muebles-television-bg:hover {
  background: #adc24c;
}

.actual-studio .nav-categories-item-active,
.actual-studio .muebles-oficina-bg:hover {
  background: #ecb756;
}

.actual-studio .nav-categories-item-active,
.actual-studio .look-bg:hover {
  background: #d7692f;
}

.actual-studio .nav-categories-item-active,
.actual-studio .deals-bg:hover {
  background: #cd2c22;
}

.actual-studio .nav-categories-item-active,
.actual-studio .kids-bg:hover {
  background: #66b1e3;
}

/* .actual-studio .nav-categories-item-active,
.actual-studio .nav-categories-item:hover {
  background: #cc262f;
} */

.actual-studio .listing-view-nav > li.active h3 a,
.actual-studio .listing-view-nav > li h3 a.active,
.actual-studio .listing-view-nav > li h3 a:hover,
.actual-studio .listing-view-nav .icon-right-open.aside,
.actual-studio .listing-view-nav-wrapper > h2 a.active,
.actual-studio .listing-view-subnav a.active,
.actual-studio .filters .head-filt i {
  color: #cc262f;
}

.actual-studio .filters .filter-block-price-btn,
.actual-studio .filters .filters-head,
.actual-studio .product-view .desc-head-item-on {
  background: #000;
}

.actual-studio .md-toolbar-header .logo img {
  background: #000 !important;
}

.actual-studio .mobile-sidenav .close-btn {
  background: #cc262f !important;
}

.actual-studio .mobile-sidenav .nav-categories-item {
  /* border-bottom: 1px solid #cc262f; */
}

.actual-studio .nav-categories-item-active,
.actual-studio .nav-categories-item:hover {
  border-bottom: 2px solid #cc262f;
}

.actual-studio .filters-sidenav-trigger-mobile,
.actual-studio .filters-sidenav-trigger .block-icon {
  background: #cc262f !important;
}

.actual-studio .filters-sidenav .pointer-close-btn i {
  color: #cc262f;
}

.actual-studio .filters-head {
  background: #cc262f !important;
}

.actual-studio #reports .report-filters .excel-triger-wrapper .action-btn {
  background: #cc262f !important;
}

.actual-studio .deliveries-cities ul {
  background: #000 !important;
}

.actual-studio .products-list .action-btn {
  background: #000 !important;
}

.actual-studio .listing-view .action-btn {
  background: #000 !important;
}

.actual-studio .schedules-modal-header {
  background: #000 !important;
}

@media (max-width: 600px) {
  .actual-studio .searcher-wrapper {
    background: #000 !important;
  }
}

.actual-studio .footer-container a:hover {
  box-shadow: 0 2px #cc262f;
}

.actual-studio .btn-radius--footer {
  background-color: #cc262f !important;
  color: #fff !important;
}

.actual-studio .btn-radius--footer::after {
  background-color: #cc262f !important;
}

.actual-studio .footer-container > div:not(:last-child) {
  border-right-style: solid;
  border-color: #cc262f;
}

/* Widget packages */
.punto {
  width: 15px;
  height: 15px;
  /* background-color: rgb(214 214 214); */
  margin: 15px;
  position: absolute;
  background-image: url('/images/home2024/punto.png');
  cursor: pointer;
  background-size: contain;
  /* border-radius: 100%; */
  /* box-shadow: inset 0px 0px 0px 0.4px white;
  border: 1px solid rgb(255 255 255); */
  animation: pulse 1.5s infinite alternate;
  /* Aplicar la animación de pulso */
}

/* Estilo para la animación del pulso */
@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.9);
  }
}

#contenedor-imagen {
  max-width: 877px;
  /* Esto permite que el contenedor se ajuste al tamaño de la imagen */
  width: auto;
  /* Esto evita que la imagen se estire más allá de su tamaño natural */
  position: relative;
  /* Esto permite que los puntos se posicionen correctamente dentro del contenedor */
}

#mobile-sheet {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: white;
  transition: bottom 0.3s ease;
  z-index: 9999;
}

/* end of widget packages*/

@media only screen and (max-width: 576px) {
  #space-widget {
    background-image: url('/images/home2024/back-widget.png');
    background-size: 85% 80%;
    background-position: center left;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 577px) {
  #space-widget {
    background-image: url('/images/home2024/back-widget.png');
    background-size: 85%;
    background-position: top left;
    background-repeat: no-repeat;
  }
}

/*Poitns poostions*/

/* mobile*/
@media only screen and (max-width: 576px) {
  .cards-brand {
    width: 100%;
  }

  .tab-content {
    width: 100%;
  }

  #punto1p1 {
    left: 25%;
    top: 30%;
  }

  #punto2p1 {
    left: 33%;
    top: 39%;
  }

  #punto3p1 {
    left: 22%;
    top: 65%;
  }

  #punto4p1 {
    left: 50%;
    top: 40%;
  }

  #punto5p1 {
    left: 66%;
    top: 56%;
  }

  #punto6p1 {
    left: 53%;
    top: 66%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 1025px) {
  .cards-brand {
    width: 25%;
  }

  .tab-content {
    width: 550px;
  }

  #punto1p1 {
    left: 28%;
    top: 30%;
  }

  #punto2p1 {
    left: 36%;
    top: 47%;
  }

  #punto3p1 {
    left: 22%;
    top: 65%;
  }

  #punto4p1 {
    left: 50%;
    top: 40%;
  }

  #punto5p1 {
    left: 66%;
    top: 56%;
  }

  #punto6p1 {
    left: 53%;
    top: 66%;
  }
}

@media only screen and (min-width: 1026px) and (max-width: 1199px) {
  .cards-brand {
    width: 25%;
  }

  .tab-content {
    width: 550px;
  }

  #punto1p1 {
    left: 28%;
    top: 30%;
  }

  #punto2p1 {
    left: 36%;
    top: 47%;
  }

  #punto3p1 {
    left: 22%;
    top: 65%;
  }

  #punto4p1 {
    left: 50%;
    top: 40%;
  }

  #punto5p1 {
    left: 66%;
    top: 56%;
  }

  #punto6p1 {
    left: 53%;
    top: 66%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .cards-brand {
    width: 25%;
  }

  .tab-content {
    width: 550px;
  }

  #punto1p1 {
    left: 27%;
    top: 30%;
  }

  #punto2p1 {
    left: 35%;
    top: 48%;
  }

  #punto3p1 {
    left: 22%;
    top: 66%;
  }

  #punto4p1 {
    left: 50%;
    top: 45%;
  }

  #punto5p1 {
    left: 66%;
    top: 58%;
  }

  #punto6p1 {
    left: 50%;
    top: 69%;
  }
}

@media only screen and (min-width: 1400px) {
  .cards-brand {
    width: 25%;
  }

  .tab-content {
    width: 550px;
  }

  #punto1p1 {
    left: 28%;
    top: 28%;
  }

  #punto2p1 {
    left: 36%;
    top: 48%;
  }

  #punto3p1 {
    left: 26%;
    top: 70%;
  }

  #punto4p1 {
    left: 50%;
    top: 45%;
  }

  #punto5p1 {
    left: 66%;
    top: 57%;
  }

  #punto6p1 {
    left: 57%;
    top: 70%;
  }
}

#close-button {
  border: none;
  background-color: transparent !important;
}

.product-sheet-widget {
  box-shadow: -1px -6px 9px -2px rgba(0, 0, 0, 0.75) !important;
  -webkit-box-shadow: -1px -6px 9px -2px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: -1px -6px 9px -2px rgba(0, 0, 0, 0.75) !important;
}

.product-sheet-widget:hover {
  border: none !important;
}

.product-sheet-widget:hover::before,
.product-sheet-widget:hover::after {
  content: '';
  position: absolute;
  border: none !important;
  pointer-events: none;
}

.product-name-sheet {
  min-height: 120px;
}

#home-main-banner {
  position: relative;
  /* Asegura que los elementos secundarios se posicionen correctamente */
  min-height: 100vh;
  background-image: url('/images/home2024/banner-main.jpg');
  background-repeat: no-repeat;
  /* Usar cover para asegurar que la imagen se ajuste al tamaño del contenedor */
}

#home-main-banner::before {
  content: '';
  /* Necesario para que el pseudo-elemento se muestre */
  position: absolute;
  /* Posiciona el overlay encima del fondo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Color oscuro con una opacidad del 50% */
}

#scroll-button {
  z-index: 99999;
  position: relative;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
  cursor: pointer;
}

#scroll-container {
  height: 98vh;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* mobile*/
@media only screen and (max-width: 576px) {
  #home-main-banner {
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (min-width: 577px) and (max-width: 1025px) {
  #home-main-banner {
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (min-width: 1026px) and (max-width: 1199px) {
  #home-main-banner {
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  #home-main-banner {
    background-size: 100% 100%;
  }
}

@media only screen and (min-width: 1400px) {
  .home-main-banner {
    background-size: 100% 100%;
  }
}

.widget-link {
  background-color: #ffcc33 !important;
  color: black !important;
  text-decoration: none;
  border-radius: 5px;
}

.complete-category {
  border: 1px solid black !important;
  text-align: center;
  padding: 10px 45px 10px 45px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 13px !important;
}

.complete-category-note {
  text-align: right;
  text-decoration: none;
  color: grey;
  font-weight: 200;
  font-size: 10px !important;
}

.categories-carousel .slick-prev,
.categories-carousel .slick-next {
  box-shadow: none !important;
}

.carousel-item {
  max-height: 80vh !important;
}

.product-view-price-current {
  color: #ce0000;
  font-size: 18px;
}

.product-view-price-discount {
  background-color: #ce0000;
  color: white;
  font-weight: 600;
}

.studio-product-details {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.product-view .add-cart-btn-studio {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #ffcc33;
  color: #111;
  border-width: thin;
  border-style: solid;
  font-weight: 500;
  text-align: center;
  border: none;
  margin: 10px 0;
  padding: 8px 0;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  width: 100%;
  transition: all 0.4s ease 0s;
  text-decoration: none;
}

.product-view .add-cart-btn-studio-buy {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #c5cfd9;
  color: #111;
  border-width: thin;
  border-style: solid;
  font-weight: 500;
  text-align: center;
  border: none;
  margin: 10px 0;
  padding: 8px 0;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  width: 100%;
  transition: all 0.4s ease 0s;
  text-decoration: none !important;
}

.product-view .seen-number-s {
  color: #929191;
  font-size: 12px;
}

.no-border {
  border-bottom: none !important;
}

.nav-link {
  color: black !important;
  text-transform: uppercase;
}

.nav-link.active {
  background-color: transparent !important;
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 2px solid #000;
  border-radius: 0 !important;
}

.product-view-gallery .slick-prev,
.product-view-gallery .slick-next {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
  /* top: 20px; */
  box-shadow: none !important;
  top: auto;
  bottom: 46%;
  z-index: 9;
}

.box-shadow-product {
  -webkit-box-shadow: 0px 11px 22px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 11px 22px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 11px 22px -15px rgba(0, 0, 0, 0.75);
}

.box-shadow-product:hover::before,
.box-shadow-product:hover::after {
  content: '';
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: none !important;
  top: -1px;
  left: 10px;
  pointer-events: none;
  transition: width 0.3s ease, height 0.3s ease;
  border-radius: 5px;
}

.product-black {
  color: #000000 !important;
}

.bl-w {
  border-right: white 2px solid;
}

.ac-b-b-w {
  border: white 1px solid;
  color: white;
}

.ac-b-b-b {
  border: black 1px solid;
  color: black;
}

.ac-b-b {
  text-decoration: none;
}

.ac-b-b:hover {
  text-decoration: underline;
}

.ft-12 {
  font-size: 12px !important;
}
