.actual-studio .searcher-wrapper .searcher-btn {
  background: #cc262f;
  color: #fff;
}
.actual-studio .header-top-bar {
  background: #000000 !important;
}
.actual-studio .footer-bottom {
  background: #030202 !important;
}
.actual-studio .nav-categories-item-active,
.actual-studio .salas-bg:hover {
  background: #c7227d;
}

.actual-studio .nav-categories-item-active,
.actual-studio .comedores-bg:hover {
  background: #5d1d7c;
}

.actual-studio .nav-categories-item-active,
.actual-studio .sillas-bg:hover {
  background: #002c80;
}

.actual-studio .nav-categories-item-active,
.actual-studio .recamaras-bg:hover {
  background: #3f72af;
}

.actual-studio .nav-categories-item-active,
.actual-studio .muebles-exterior-bg:hover {
  background: #3d8c3d;
}

.actual-studio .nav-categories-item-active,
.actual-studio .muebles-television-bg:hover {
  background: #adc24c;
}

.actual-studio .nav-categories-item-active,
.actual-studio .muebles-oficina-bg:hover {
  background: #ecb756;
}

.actual-studio .nav-categories-item-active,
.actual-studio .look-bg:hover {
  background: #d7692f;
}

.actual-studio .nav-categories-item-active,
.actual-studio .deals-bg:hover {
  background: #cd2c22;
}

.actual-studio .nav-categories-item-active,
.actual-studio .kids-bg:hover {
  background: #66b1e3;
}
/* .actual-studio .nav-categories-item-active,
.actual-studio .nav-categories-item:hover {
  background: #cc262f;
} */

.actual-studio .listing-view-nav > li.active h3 a,
.actual-studio .listing-view-nav > li h3 a.active,
.actual-studio .listing-view-nav > li h3 a:hover,
.actual-studio .listing-view-nav .icon-right-open.aside,
.actual-studio .listing-view-nav-wrapper > h2 a.active,
.actual-studio .listing-view-subnav a.active,
.actual-studio .filters .head-filt i {
  color: #cc262f;
}

.actual-studio .filters .filter-block-price-btn,
.actual-studio .filters .filters-head,
.actual-studio .product-view .desc-head-item-on {
  background: #000;
}

.actual-studio .md-toolbar-header .logo img {
  background: #000 !important;
}

.actual-studio .mobile-sidenav .close-btn {
  background: #cc262f !important;
}
.actual-studio .mobile-sidenav .nav-categories-item {
  /* border-bottom: 1px solid #cc262f; */
}
.actual-studio .nav-categories-item-active,
.actual-studio .nav-categories-item:hover {
  border-bottom: 2px solid #cc262f;
}

.actual-studio .filters-sidenav-trigger-mobile,
.actual-studio .filters-sidenav-trigger .block-icon {
  background: #cc262f !important;
}

.actual-studio .filters-sidenav .pointer-close-btn i {
  color: #cc262f;
}
.actual-studio .filters-head {
  background: #cc262f !important;
}

.actual-studio #reports .report-filters .excel-triger-wrapper .action-btn {
  background: #cc262f !important;
}

.actual-studio .deliveries-cities ul {
  background: #000 !important;
}

.actual-studio .products-list .action-btn {
  background: #000 !important;
}

.actual-studio .listing-view .action-btn {
  background: #000 !important;
}

.actual-studio .schedules-modal-header {
  background: #000 !important;
}

@media (max-width: 600px) {
  .actual-studio .searcher-wrapper {
    background: #000 !important;
  }
}
