.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*background-color: DodgerBlue;*/
    /*padding: 14px;*/
    
  }
  
  .footer-container  a{
    text-decoration: none;
    color: inherit;
    font-size: 1em;
  }
  
  .footer-container a:hover{
    background: #eeeeee;
  }
  
  .footer-container td{
    /*margin-left: 10px;*/
    padding: 0;
    font-size: 1em;
    /*display: block;*/
  }
  
  .footer-container ul{
    list-style-type: none;
    margin: 5px 0px 15px 0px;
    padding: 0;
    
  }
  
  .footer-container li:not(:last-child){
    margin: 5px 0px 5px 0px;
    /*margin: 0;*/
    padding: 0;
  }
  
  .footer-container table{
    margin-bottom: 0.62em;
  }
  
  .footer-container p{
    margin: 0;
    padding: 0;
    /*font-style: italic;*/
  }
  
  .footer-container tr{
    /*margin: 5px 0px 15px 0px;*/
    padding: 0;
  }
  
  
  .footer-container h2{
    font-size: 1.25em;
    margin: 0;
    padding: 0;
  }
  
  
  .footer-card{
    font-family: "Nunito", sans-serif;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    color: #333;
    flex-basis: 30%;
    -webkit-align-content: center;
    align-content: center;
    margin: 0.62em;        
  }
  
  .footer-card-container{
    font-family: inherit;
    color: inherit;
    padding: 0px 10px;
    margin-left: 15%;
  }

  @media only screen and (max-width: 77em) {
    .footer-card-container{
      margin-left: 10%;
    } 
  }

  
  @media only screen and (min-width: 68.44) {
    .footer-card-container{
      margin-left: 5%;
    } 
  }
  
  @media only screen and (max-width: 63.125em)  {
    .footer-card-container{
      padding: 0;
    } 

  }
  
  @media only screen and (max-width: 42.67em) {
  .footer-card-container td{
    display: block;
  }
}

@media only screen and (max-width: 37.44em) {
  .footer-card{
    margin: 1%;
  }
  .footer-card{
    flex-basis: 48%;
  }

  .footer-card-container{
    margin-left: 1.56em;
  } 
}

@media only screen and (max-width: 19.5em) {
  .footer-card-container{
    margin-left: 15%;
  }

  .footer-card{
    flex-basis: 100%;
  }

}
