@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?dxu1xm');
  src: url('../fonts/icomoon.eot?dxu1xm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dxu1xm') format('truetype'),
    url('../fonts/icomoon.woff?dxu1xm') format('woff'),
    url('../fonts/icomoon.svg?dxu1xm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
  content: '\e948';
}
.icon-11:before {
  content: '\e93f';
}
.icon-12:before {
  content: '\e940';
}
.icon-13:before {
  content: '\e941';
}
.icon-14:before {
  content: '\e942';
}
.icon-15:before {
  content: '\e943';
}
.icon-16:before {
  content: '\e944';
}
.icon-17:before {
  content: '\e945';
}
.icon-18:before {
  content: '\e946';
}
.icon-10:before {
  content: '\e947';
}
.icon-1:before {
  content: '\e900';
}
.icon-2:before {
  content: '\e901';
}
.icon-3:before {
  content: '\e902';
}
.icon-4:before {
  content: '\e903';
}
.icon-5:before {
  content: '\e904';
}
.icon-6:before {
  content: '\e905';
}
.icon-7:before {
  content: '\e906';
}
.icon-8:before {
  content: '\e907';
}
.icon-9:before {
  content: '\e908';
}
.icon-alert:before {
  content: '\e909';
}
.icon-ambientes:before {
  content: '\e90a';
}
.icon-arrow:before {
  content: '\e90b';
}
.icon-attachment:before {
  content: '\e90c';
}
.icon-attatch:before {
  content: '\e90d';
}
.icon-bebes:before {
  content: '\e90e';
}
.icon-blancos:before {
  content: '\e90f';
}
.icon-carro:before {
  content: '\e910';
}
.icon-cash:before {
  content: '\e911';
}
.icon-checkmark:before {
  content: '\e912';
}
.icon-checkout-ticket:before {
  content: '\e913';
}
.icon-clients:before {
  content: '\e914';
}
.icon-colchones:before {
  content: '\e915';
}
.icon-color:before {
  content: '\e916';
}
.icon-comisiones:before {
  content: '\e917';
}
.icon-comoda:before {
  content: '\e918';
}
.icon-cotizar:before {
  content: '\e919';
}
.icon-dashboard:before {
  content: '\e91a';
}
.icon-decoracion:before {
  content: '\e91b';
}
.icon-descuento:before {
  content: '\e91c';
}
.icon-disponibilidad:before {
  content: '\e91d';
}
.icon-envio:before {
  content: '\e91e';
}
.icon-estilo:before {
  content: '\e91f';
}
.icon-file:before {
  content: '\e920';
}
.icon-forma:before {
  content: '\e921';
}
.icon-home:before {
  content: '\e922';
}
.icon-info:before {
  content: '\e923';
}
.icon-jardin:before {
  content: '\e924';
}
.icon-login:before {
  content: '\e925';
}
.icon-mail:before {
  content: '\e926';
}
.icon-marca:before {
  content: '\e927';
}
.icon-material:before {
  content: '\e928';
}
.icon-mesas:before {
  content: '\e929';
}
.icon-metodo-pago:before {
  content: '\e92a';
}
.icon-monedero:before {
  content: '\e92b';
}
.icon-murbles:before {
  content: '\e92c';
}
.icon-ninos:before {
  content: '\e92d';
}
.icon-ofertas:before {
  content: '\e92e';
}
.icon-office:before {
  content: '\e92f';
}
.icon-oportunidades:before {
  content: '\e930';
}
.icon-pedidos:before {
  content: '\e931';
}
.icon-phone:before {
  content: '\e932';
}
.icon-photo:before {
  content: '\e933';
}
.icon-place:before {
  content: '\e934';
}
.icon-pointer:before {
  content: '\e935';
}
.icon-precio:before {
  content: '\e936';
}
.icon-scorecard:before {
  content: '\e937';
}
.icon-search:before {
  content: '\e938';
}
.icon-settings:before {
  content: '\e939';
}
.icon-sillas:before {
  content: '\e93a';
}
.icon-sofa:before {
  content: '\e93b';
}
.icon-terminal:before {
  content: '\e93c';
}
.icon-transfer:before {
  content: '\e93d';
}
.icon-vendedor:before {
  content: '\e93e';
}
