@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?h80ij7');
  src:  url('../fonts/icomoon.eot?h80ij7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?h80ij7') format('truetype'),
    url('../fonts/icomoon.woff?h80ij7') format('woff'),
    url('../fonts/icomoon.svg?h80ij7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "\e900";
}
.icon-2:before {
  content: "\e901";
}
.icon-3:before {
  content: "\e902";
}
.icon-4:before {
  content: "\e903";
}
.icon-5:before {
  content: "\e904";
}
.icon-6:before {
  content: "\e905";
}
.icon-7:before {
  content: "\e906";
}
.icon-8:before {
  content: "\e907";
}
.icon-9:before {
  content: "\e908";
}
.icon-accesorios-y-organizacion:before {
  content: "\e909";
}
.icon-alert:before {
  content: "\e90a";
}
.icon-ambientes:before {
  content: "\e90b";
}
.icon-arrow:before {
  content: "\e90c";
}
.icon-attachment:before {
  content: "\e90d";
}
.icon-attatch:before {
  content: "\e90e";
}
.icon-bebebs2:before {
  content: "\e90f";
}
.icon-bebes:before {
  content: "\e910";
  color: #48b2e8;
}
.icon-blancos:before {
  content: "\e911";
}
.icon-carro:before {
  content: "\e912";
}
.icon-cash:before {
  content: "\e913";
}
.icon-checkmark:before {
  content: "\e914";
}
.icon-checkout-ticket:before {
  content: "\e915";
}
.icon-clients:before {
  content: "\e916";
}
.icon-colchones:before {
  content: "\e917";
}
.icon-color:before {
  content: "\e918";
}
.icon-comedores-relleno:before {
  content: "\e919";
}
.icon-comedores:before {
  content: "\e91a";
}
.icon-comisiones:before {
  content: "\e91b";
}
.icon-comoda:before {
  content: "\e91c";
}
.icon-cotizar:before {
  content: "\e91d";
}
.icon-dashboard:before {
  content: "\e91e";
}
.icon-deals-relleno:before {
  content: "\e91f";
}
.icon-decoracion:before {
  content: "\e920";
}
.icon-decoracion2:before {
  content: "\e921";
}
.icon-decoracionpared:before {
  content: "\e922";
}
.icon-descuento:before {
  content: "\e923";
}
.icon-descuentos:before {
  content: "\e924";
  color: #48b2e8;
}
.icon-disponibilidad:before {
  content: "\e925";
}
.icon-envio:before {
  content: "\e926";
}
.icon-estilo:before {
  content: "\e927";
}
.icon-exterior:before {
  content: "\e928";
}
.icon-file:before {
  content: "\e929";
}
.icon-forma:before {
  content: "\e92a";
}
.icon-home:before {
  content: "\e92b";
}
.icon-iluminacion:before {
  content: "\e92c";
}
.icon-iluminacion2:before {
  content: "\e92d";
}
.icon-info:before {
  content: "\e92e";
}
.icon-jardin:before {
  content: "\e92f";
}
.icon-juguetes:before {
  content: "\e930";
  color: #48b2e8;
}
.icon-juguetes2:before {
  content: "\e931";
}
.icon-login:before {
  content: "\e932";
}
.icon-look-relleno:before {
  content: "\e933";
}
.icon-mail:before {
  content: "\e934";
}
.icon-mama-y-papa:before {
  content: "\e935";
  color: #48b2e8;
}
.icon-mamaypapa2:before {
  content: "\e936";
}
.icon-marca:before {
  content: "\e937";
}
.icon-material:before {
  content: "\e938";
}
.icon-mesas:before {
  content: "\e939";
}
.icon-metodo-pago:before {
  content: "\e93a";
}
.icon-monedero:before {
  content: "\e93b";
}
.icon-muebles--relleno:before {
  content: "\e93c";
}
.icon-mueblestv:before {
  content: "\e93d";
}
.icon-murbles:before {
  content: "\e93e";
}
.icon-ninas-y-ninos:before {
  content: "\e93f";
  color: #48b2e8;
}
.icon-ninas-y-ninos2:before {
  content: "\e940";
}
.icon-ninos:before {
  content: "\e941";
}
.icon-ofertas:before {
  content: "\e942";
}
.icon-office:before {
  content: "\e943";
}
.icon-oficina-relleno:before {
  content: "\e944";
}
.icon-oportunidades:before {
  content: "\e945";
}
.icon-organizacion:before {
  content: "\e946";
  color: #48b2e8;
}
.icon-organizacion2:before {
  content: "\e947";
}
.icon-paraoficina:before {
  content: "\e948";
}
.icon-pedidos:before {
  content: "\e949";
}
.icon-phone:before {
  content: "\e94a";
}
.icon-photo:before {
  content: "\e94b";
}
.icon-place:before {
  content: "\e94c";
}
.icon-pointer:before {
  content: "\e94d";
}
.icon-precio:before {
  content: "\e94e";
}
.icon-promociones2:before {
  content: "\e94f";
}
.icon-recamaras-relleno:before {
  content: "\e950";
}
.icon-recamaras:before {
  content: "\e951";
}
.icon-salas-relleno:before {
  content: "\e952";
}
.icon-salas:before {
  content: "\e953";
}
.icon-scorecard:before {
  content: "\e954";
}
.icon-search:before {
  content: "\e955";
}
.icon-settings:before {
  content: "\e956";
}
.icon-sillas-relleno:before {
  content: "\e957";
}
.icon-sillas:before {
  content: "\e958";
}
.icon-sofa:before {
  content: "\e959";
}
.icon-tapetes:before {
  content: "\e95a";
  color: #48b2e8;
}
.icon-tapetes2:before {
  content: "\e95b";
}
.icon-terminal:before {
  content: "\e95c";
}
.icon-transfer:before {
  content: "\e95d";
}
.icon-tv-relleno:before {
  content: "\e95e";
}
.icon-vendedor:before {
  content: "\e95f";
}
.icon-whatsapp:before {
  content: "\e960";
}
