@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?f2fzfu');
  src:  url('../fonts/icomoon.eot?f2fzfu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?f2fzfu') format('truetype'),
    url('../fonts/icomoon.woff?f2fzfu') format('woff'),
    url('../fonts/icomoon.svg?f2fzfu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert:before {
  content: "\e900";
}
.icon-ambientes:before {
  content: "\e901";
}
.icon-arrow:before {
  content: "\e902";
}
.icon-attachment:before {
  content: "\e903";
}
.icon-attatch:before {
  content: "\e904";
}
.icon-bebes:before {
  content: "\e905";
}
.icon-blancos:before {
  content: "\e906";
}
.icon-carro:before {
  content: "\e907";
}
.icon-cash:before {
  content: "\e908";
}
.icon-checkmark:before {
  content: "\e909";
}
.icon-checkout-ticket:before {
  content: "\e90a";
}
.icon-clients:before {
  content: "\e90b";
}
.icon-colchones:before {
  content: "\e90c";
}
.icon-comisiones:before {
  content: "\e90d";
}
.icon-cotizar:before {
  content: "\e90e";
}
.icon-dashboard:before {
  content: "\e90f";
}
.icon-decoracion:before {
  content: "\e910";
}
.icon-envio:before {
  content: "\e911";
}
.icon-file:before {
  content: "\e912";
}
.icon-home:before {
  content: "\e913";
}
.icon-info:before {
  content: "\e914";
}
.icon-jardin:before {
  content: "\e915";
}
.icon-login:before {
  content: "\e916";
}
.icon-mail:before {
  content: "\e917";
}
.icon-mesas:before {
  content: "\e918";
}
.icon-metodo-pago:before {
  content: "\e919";
}
.icon-monedero:before {
  content: "\e91a";
}
.icon-murbles:before {
  content: "\e91b";
}
.icon-ninos:before {
  content: "\e91c";
}
.icon-ofertas:before {
  content: "\e91d";
}
.icon-office:before {
  content: "\e91e";
}
.icon-oportunidades:before {
  content: "\e91f";
}
.icon-pedidos:before {
  content: "\e920";
}
.icon-phone:before {
  content: "\e921";
}
.icon-photo:before {
  content: "\e922";
}
.icon-place:before {
  content: "\e923";
}
.icon-pointer:before {
  content: "\e924";
}
.icon-scorecard:before {
  content: "\e925";
}
.icon-search:before {
  content: "\e926";
}
.icon-settings:before {
  content: "\e927";
}
.icon-sillas:before {
  content: "\e928";
}
.icon-sofa:before {
  content: "\e929";
}
.icon-terminal:before {
  content: "\e92a";
}
.icon-transfer:before {
  content: "\e92b";
}
.icon-vendedor:before {
  content: "\e92c";
}

