@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?64xmt');
    src:    url('../fonts/icomoon.eot?64xmt#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?64xmt') format('truetype'),
        url('../fonts/icomoon.woff?64xmt') format('woff'),
        url('../fonts/icomoon.svg?64xmt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ambientes:before {
    content: "\e900";
}
.icon-attachment:before {
    content: "\e901";
}
.icon-attatch:before {
    content: "\e902";
}
.icon-bebes:before {
    content: "\e903";
}
.icon-blancos:before {
    content: "\e904";
}
.icon-carro:before {
    content: "\e905";
}
.icon-cash:before {
    content: "\e906";
}
.icon-colchones:before {
    content: "\e907";
}
.icon-comisiones:before {
    content: "\e908";
}
.icon-cotizar:before {
    content: "\e909";
}
.icon-dashboard:before {
    content: "\e90a";
}
.icon-decoracion:before {
    content: "\e90b";
}
.icon-file:before {
    content: "\e90c";
}
.icon-home:before {
    content: "\e90d";
}
.icon-jardin:before {
    content: "\e90e";
}
.icon-login:before {
    content: "\e90f";
}
.icon-mail:before {
    content: "\e910";
}
.icon-mesas:before {
    content: "\e911";
}
.icon-murbles:before {
    content: "\e912";
}
.icon-ninos:before {
    content: "\e913";
}
.icon-ofertas:before {
    content: "\e914";
}
.icon-office:before {
    content: "\e915";
}
.icon-oportunidades:before {
    content: "\e916";
}
.icon-pedidos:before {
    content: "\e917";
}
.icon-phone:before {
    content: "\e918";
}
.icon-photo:before {
    content: "\e919";
}
.icon-place:before {
    content: "\e91a";
}
.icon-pointer:before {
    content: "\e91b";
}
.icon-search:before {
    content: "\e91c";
}
.icon-settings:before {
    content: "\e91d";
}
.icon-sillas:before {
    content: "\e91e";
}
.icon-sofa:before {
    content: "\e91f";
}
.icon-terminal:before {
    content: "\e920";
}
.icon-transfer:before {
    content: "\e921";
}

