@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLt.ttf"); }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBold.ttf");
  font-weight: bold; }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueItalic.ttf");
  font-style: italic; }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueThin.ttf");
  font-weight: 100; }


body{font-family: 'Helvetica Neue', sans-serif;}
a{text-decoration: none}
.form-modal{
  max-width: 400px!important;
}
.absolute-link{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.center-content{text-align: center;}
.content-block{
  padding: 40px 20px;
  position: relative;
}

.container-xxlg{
  margin: 0 auto;
  max-width: 1200px;
}

.container-xlg{
  margin: 0 auto;
  max-width: 1000px;
}
.container-lg{
  margin: 0 auto;
  max-width: 766px;
}
.container-md{
  margin: 0 auto;
  max-width: 670px;
}
.container-mmd{
  margin: 0 auto;
  max-width: 600px;
}
.container-smd{
  margin: 0 auto;
  max-width: 560px;
}
.container-xsmd{
  margin: 0 auto;
  max-width: 500px;
}
.container-sm{
  margin: 0 auto;
  max-width: 460px;
}
.container-xsm{
  margin: 0 auto;
  max-width: 320px;
}
.container-mini{
  margin: 0 auto;
  max-width: 264px;
}

.absolute-menus{position: relative;}
.hl-text{color: #BD063E;}

.block-title{
  text-align: center;
  font-weight: 400;
  position: relative;
}
/*
.block-title:after{
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  background: #000;
  width: 100%;
  top: 50%;
  z-index: 1;
}
*/
.block-title h1 span,.block-title h2 span{
  position: relative;
  z-index: 9;
}
.block-title h1,.block-title h2{
  font-weight: 400;
  margin: 4px 0;
}

/*-------------/
  #FORM ELEMENTS
/*------------*/
.input-element{
  background: rgb(250,250,250);
  max-width: 100%;
  border-radius: 2px;
  display: block;
  height: 36px;
  position: relative;
  overflow: visible;
}
.input-element .input-element-inner{
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  position: relative;
  overflow: visible;
  height: 36px;
}
.input-element .input-element-inner input[type="text"]{
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: none;
  background: transparent;
  width: 100%;
  padding: 0 15px;
  line-height: 36px;
  height: 36px;
}



/*------------/
  #HEADER
/*----------*/
.header-top-bar{
  background: #F8F8F8;
  padding: 12px 0;
}
.header-top-bar .searcher{
  background: rgb(250,250,250);
  min-width: 400px;
  max-width: 100%;
  border-radius: 2px;
  display: block;
  height: 36px;
  position: relative;
  overflow: visible;
}
.header-top-bar .searcher .searcher-inner{
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  position: relative;
  overflow: visible;
  height: 36px;
}
.header-top-bar .searcher .searcher-inner input[type="text"]{
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: none;
  background: transparent;
  width: 100%;
  padding: 0 15px;
  line-height: 36px;
  height: 36px;
}

.header-top-bar .searcher-wrapper .searcher-btn{
  background: #C82828;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12)!important;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  border: 0;
  padding: 0 22px;
}

.header-top-bar-menu{margin-left: 20px;}
.header-top-bar-menu .header-top-bar-menu-item{
  min-height: 40px;
  text-align: center;
  min-width: 50px;
}
.header-top-bar-menu .header-top-bar-menu-item + .header-top-bar-menu-item{
  border-left: 1px solid #000;
}

.header-top-bar .md-chips-wrapper{
  padding: 10px;
  overflow: hidden;
  background: rgb(250,250,250);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12)!important;
}
.header-top-bar .md-chips{
  /*
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12)!important;
  */
  overflow: hidden;
  padding: 0 0 6px 3px;
  height: 40px;

}
/*
.header-top-bar .md-chips:after{display: none;}
*/

/*-------------/
  #MENU
/*------------*/
.menu{
  position: relative;
  z-index: 99999;
}
.menu .logo{padding: 0 14px}
.menu .logo img{max-width: 100%;}
.menu .nav-categories{
  padding: 0 20px;
}
.menu .categories-btn{
  border: 2px solid #000;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 24px;
  text-decoration: none;
}
.nav-categories-item{
  min-height: 72px;
  text-align: center;
  padding: 20px 6px;
  z-index: 9999;
  text-decoration: none;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -ms-transition: all .4s;
  transition: all .4s;
}
.nav-categories-item > span{
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-categories-item:hover{
  background: #000;
  color: #fff;
}
.nav-categories-item:hover .menu-subcategories{
  display: block;
}
.nav-categories-item:hover > span{
  color: #fff;
}

/*----------
  #MENU-SUBCATEGORIES
/*----------*/
.menu-subcategories{
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  width: 100%;
  /*display: block;*/
  display: none;
  z-index: 999999;
}
.menu-subcategories-nav > .container{position: relative;}
.menu-subcategories-nav-item{
  background: #000;
  padding: 14px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.menu-subcategories-nav-item > strong:after{
  content: '';
  display: block;
  height: 1px;
  width: 20px;
  margin-top: 2px;
  background: red;
}

.menu-subcategories-nav-item .menu-subcategory-content{display: none;}
.menu-subcategories-nav-item:hover .menu-subcategory-content{
  display: block;
}

/*-------------/
  #MENU-SUBCATEGORY-CONTENT
/*------------*/
.menu-subcategory-content{
  color: #000;
  background: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  z-index: 99999999;
}
.menu-subcategory-content .inner-list{
  background: #F8F8F8;
  padding: 20px;
}
.menu-subcategory-content .inner-list a{
  color: #000;
  font-size: 12px;
  text-decoration: none;
}
.menu-subcategory-content .inner-list h3{margin:  0 0 10px;}
.menu-subcategory-content .inner-list ul{list-style: none;}
.menu-subcategory-content .inner-list ul li{margin: 4px 0;}
.menu-subcategory-content .inner-list ul li a:before{
  content: '> ';
}
.menu-subcategory-content .inner-list ul li a{
  color: #000;
  text-decoration: none;
  text-transform: none;
}
.menu-subcategory-content .inner-list ul li a:hover{
  color: #BD063E;
  font-weight: 700;
}

.menu-subcategory-content .inner-product{
  background: #fff;
  color: #000;
  padding: 20px;
}
.menu-subcategory-content .inner-product h4{
  margin: 0 0 10px;
}
.menu-subcategory-content .inner-product p{
  font-size: 13px;
  text-transform: none;
  line-height: 1.4;
}
.menu-subcategory-content .inner-product-image{
  background-size: cover;
  background-position: center;
}
.menu-subcategory-content .inner-product .price{margin-top:30px;}
.menu-subcategory-content .inner-product .price p{margin: 0;}
.menu-subcategory-content .inner-product .price .hl-price{color: #BD063E;}

/*------------/
  #MENU-CATEGORIES
/*-----------*/
.menu-categories-wrapper{
  position: relative;
}
.menu-categories{
  background: #F8F8F8;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  min-width: 100%;
}
.menu-categories-sidebar{
  background: #000;
  color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-categories-sidebar a{
  color: #fff;
  border-bottom: 1px solid #fff;
  display: block;
  font-size: 13px;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-categories-list{padding: 10px 20px;}
.menu-categories-group{
  margin: 20px 0;
  padding: 0 26px;
}
.menu-categories-group h3{
  font-size: 14px;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.menu-categories-group h3 a{
  color: #000;
  text-decoration: none;
}
.menu-categories-group ul{
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.menu-categories-group ul li{margin: 4px 0;}
.menu-categories-group ul li a{
  color: #282828;
  font-size: 13px;
  text-decoration: none;
}
.menu-categories-group ul li a:hover{text-decoration: underline;}
.menu-categories-group ul li a:before{content: '> '}

/*--------------/
  #LISTING-PRODUCT
/*-------------*/
.listing-product{
  border: 1px solid #fff;
  padding: 10px 10px;
  position: relative;
  margin: 20px 0;
}
.listing-product:hover{
  border: 1px solid #000;
  -webkit-box-shadow: 0px 6px 3px -2px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 6px 3px -2px rgba(0,0,0,0.44);
  box-shadow: 0px 6px 3px -2px rgba(0,0,0,0.44);
}

.listing-product .listing-product-link{
  display: none;
  z-index: 9;
}
.listing-product:hover .listing-product-link{display: block;}
.listing-product:hover .listing-product-link span{
  color: #fff;
  background: #000;
  width: 80px;
}
.listing-product-link span{
  background: #000;
  color: #fff;
  display: inline;
  font-size: 13px;
  font-weight: 700;
  left: 0;
  left: 0;
  margin: 0 auto;
  padding: 8px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  width: 85px;
  width: auto;
  z-index: 999;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.listing-product p{margin: 4px 0;}
.listing-product .listing-product-info-main p{
  font-size: 13px;
  text-transform: uppercase;
}
.listing-product .listing-product-info .price{
  font-size: 15px;
}
.listing-product .listing-product-info .price-before{
  text-decoration: line-through;
}
.listing-product .listing-product-info .price-now{
  color: #BD063E;
  font-size: 16px;
}
.listing-product .listing-product-info .small{
  font-size: 10px;
}
.listing-product .listing-product-info-extra{
  text-transform: lowercase;
  text-align: right;
}
.listing-product .listing-product-gallery .slick-slider{margin-bottom: 10px;}
.listing-product .listing-product-gallery .slick-slide{
  margin-top: 20px;
  text-align: center;
}
.listing-product .listing-product-gallery img{
  display: inline;
  max-width: 200px;
}

.listing-product:hover .listing-product-gallery .slick-prev,
.listing-product:hover .listing-product-gallery .slick-next{
  display: block!important;
}

.listing-product .listing-product-gallery .slick-prev,
.listing-product .listing-product-gallery .slick-next{
  -webkit-box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.64);
  box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.64);
  border-radius: 2px;
  top:20px;
  z-index: 9999;
  display: none!important;
}

.listing-product .listing-product-gallery .slick-prev{
  background: url(../images/arrow2-left.png) center no-repeat!important;
  background-size: 100%!important;
  height: 24px;
  width: 24px;
  left: 0px;
}
.listing-product .listing-product-gallery .slick-next{
  background: url(../images/arrow2-right.png) center no-repeat!important;
  background-size: 100%!important;
  height: 24px;
  width: 24px;
  right: 0px;
}

.listing-product .listing-product-gallery .slick-prev:before,
.listing-product .listing-product-gallery .slick-next:before{
  content: '';
}

/*-------------
  #PRODUCTS-lIST
/*------------*/
.products-list-slider{

}

.products-list-slider .slick-prev,
.products-list-slider .slick-next{
  -webkit-box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.64);
  box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.64);
  border-radius: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
}

.products-list-slider .slick-prev{
  background: url(../images/arrow2-left.png) center no-repeat!important;
  background-size: 100%!important;
  height: 60px;
  width: 60px;
  left: -105px;
}
.products-list-slider .slick-next{
  background: url(../images/arrow2-right.png) center no-repeat!important;
  background-size: 100%!important;
  height: 60px;
  width: 60px;
  right: -105px;
}

.products-list-slider .slick-prev:before,
.products-list-slider .slick-next:before{
  content: '';
}


.products-list-slide{}
.products-list{

  /*min-width: 1000px;*/
  /*width: 100%;*/
}
.products-list .listing-product-wrap{
  min-height: 100px;
  min-width: 33%;
  min-width: 1px;
}
/*.products-list listing-product{display: block;}*/
/*.products-list listing-product,*/
.products-list .listing-product{
  min-height:  100px;
  min-width: 33%;
}

/*-----------/
  #BREADCRUMB
/*----------*/
.breadcrumb{
  background: #F8F8F8;
  padding: 16px 0;
}
.breadcrumb p{margin: 0;}
.breadcrumb a{
  color: #949494;
  font-size: 14px;
  text-decoration: none;
}
.breadcrumb .breadcrumb-active{
  color: #BD063E;
  font-weight: 700;
}

/*-------------/
  #listing-view
/*-------------*/
.listing-view{padding: 10px 20px 30px;}
.listing-view-nav-wrapper > h2{
  font-size: 18px;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.listing-view-nav-wrapper > h2:after{
  content: '';
  background: #BD063E;
  display: block;
  left: 0;
  height: 2px;
  width: 40%;
  bottom: 0;
  position: absolute;
  max-width: 50px;
}
.listing-view-nav{
  margin: 0;
  list-style: none;
  padding-left: 0;
}
.listing-view-nav > li{margin: 14px 0;}
.listing-view-nav > li > h3{
  font-size: 14px;
  text-transform: uppercase;
}
.listing-view-nav > li > h3:before{
  content: '';
  width: 20px;
  height: 20px;
  background: url(../images/arrow-right.png) center no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
}
.listing-view-nav > li > ul{
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -ms-transition: all .4s;
  transition: all .4s;
}
.listing-view-nav > li.active > ul{
  max-height: none;
}
.listing-view-nav > li.active > h3:before{
  content: '';
  width: 20px;
  height: 20px;
  background: url(../images/arrow-down.png) center no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
}
.listing-view-nav h3{margin: 0;}
.listing-view-nav h3 a{color: #000;}
.listing-view-nav > li.active h3 a,
.listing-view-nav > li h3 a:hover{
  color: #BD063E;
}
.listing-view-subnav{list-style: none;}
.listing-view-subnav li{margin: 5px 0;}
.listing-view-subnav li:before{
  content: '> ';
}
.listing-view-subnav li a{
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

.listing-view .listing-view-title{
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
}
.listing-view .listing-view-title:before{
  content: '';
  width: 20px;
  height: 20px;
  background: url(../images/arrow-right.png) center no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.listing-view .subs-container-list{
  margin-left: -20px;
  margin-right: -20px;
}
.listing-view .sub-wrapper{padding: 20px;}
.listing-view .sub{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 200px;
  -webkit-box-shadow: 0px 6px 3px -2px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 6px 3px -2px rgba(0,0,0,0.44);
  box-shadow: 0px 6px 3px -2px rgba(0,0,0,0.44);
}
.listing-view .sub .sub-image{
  max-width: 100%;
}
.listing-view .sub .sub-text{
  background: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 20px;
  color: #fff;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.listing-view .sub .sub-text h4{
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 8px;
}
.listing-view .sub .sub-text h4 a{color: #fff;}
.listing-view .sub .sub-text h4:after{
  content: '';
  background: #fff;
  display: block;
  left: 0;
  height: 2px;
  width: 40%;
  bottom: 0;
  position: absolute;
  max-width: 100px;
}

.listing-view .sub-big{min-height: 300px;}
.listing-view .sub-big .sub-text{
  padding: 40px 40px;
}
.listing-view .sub-big .sub-text h4{
  font-size: 40px;
  padding-bottom: 16px;
}



/*--------------/
  #FOOTER
/*-------------*/
#footer{
  height: auto!important;
  min-height: 83px!important;
}

#footer .footer-menu{
  background: #F8F8F8;
  padding: 30px 0;
}
#footer .footer-menu-col{
  padding: 0 30px;
}
#footer .footer-menu-col a{
  color: #000;
  font-weight: 400;
  text-decoration: none;
  /*
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -ms-transition: all .4s;
  transition: all .4s;
  */
}
#footer .footer-menu-col a:hover{
  color: #BD063E;
  font-weight: 700;
}
#footer .footer-menu-col h2{
  font-size: 18px;
  padding-left: 20px;
}
#footer .footer-menu-col ul{
  list-style: none;
  padding-left: 20px;
}
#footer .footer-menu-col li{text-transform: uppercase;}
#footer .footer-menu-col li .camel-case{text-transform: none;}
#footer .footer-menu-col p,
#footer .footer-menu-col li{
  font-size: 12px;
  margin: 6px 0;
}
#footer .footer-contact-item{
  margin: 18px 0;
  padding-left: 20px;
}
#footer .footer-contact-item p{margin: 4px 0;}


#footer .footer-menu-bottom{margin-top: 20px;}

#footer .footer-bottom{
  background: #000;
  color: #fff;
  padding: 20px 0;
}
#footer .footer-bottom p{font-size: 13px;}
#footer .footer-bottom span{font-size: 11px;}
