/**
* --------------
* HEADER MENU  |
*---------------
**/
* {
  transition: 0.5s ease all;
}

.cart-view {
  margin-top: 125px;
}

#header-studio {
  position: fixed;
  top: 20px;
  z-index: 9999;
  width: 100%;
  background-color: transparent;
}

#header-studio .bi {
  color: white;
}

#header-studio .dropdown-mobile {
  color: white;
}

#header-studio .border-white {
  border: 0;
  border-radius: 0;
  border: 1px solid white;
}

#header-studio #logo-white {
  display: block;
}

#custom-menu-studio {
  position: fixed;
  top: 1800px;
  display: block;
}

#header-studio-nav,
#header-studio-nav-2 {
  top: 100px;
  margin: 0 auto;
  display: block;
  left: 0;
  right: 0;
  border-bottom: 1px solid transparent;
  width: 100%;
  color: black;
  text-decoration: none;
  transition: 0.5s ease all;
}

.w-70 {
  width: 70%;
}

#header-studio #lupa-icon {
  color: white;
}

#header-studio {
  z-index: 999;
}

#header-studio #btn-navbar-search {
  border: 1px solid white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

#header-studio-nav .dropdown-menu {
  min-width: 50vw;
  /* Ajusta el ancho según tus necesidades */
}

.drop {
  position: relative;
  display: inline-block;
}

.drop-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.drop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-content a:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease all;

}

.link-navbar {
  border-bottom: 1px solid transparent;
  color: white;
}

.link-navbar:hover {
  border-bottom: 1px solid black;
}

.drop:hover .drop-content {
  display: block;
}


#header-studio-nav-2 {
  top: 130px;
  width: 100%;
  z-index: 1;
}

#header-studio-nav-2 .drop-content a,
#header-studio-nav .drop-content a {
  border-bottom: 1px solid transparent;
  margin-inline: 10px;
}

#header-studio-nav-2 .drop-content a:hover,
#header-studio-nav .drop-content a:hover {
  transition: 0.3s ease all;
  border-bottom: 1px solid black;
  background-color: transparent;
  color: black;
  text-decoration: none;
  margin-inline: 10px;
}

#header-actual {
  background-color: transparent;
  z-index: 9999;
  top: 0;
}

#navbar-actual {
  background-color: #000;
  font-size: 0.5rem;
}

.img-social-footer {
  max-width: 37px;
}

.nav-menu-miactual {
  position: relative;
  z-index: 9;
  -webkit-box-shadow: 0px 6px 3px -2px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 6px 3px -2px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 6px 3px -2px rgba(0, 0, 0, 0.44);
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.main-menu-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  height: 96px;
}

.main-menu-container>div {
  background-color: #fff;
  width: 110px;
  text-align: center;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.list-menu-miactual {
  align-items: center;
  display: flex;
  flex-direction: column;
  -webkit-align-content: center;
  align-content: center;
  /*width: 100px;*/
  height: 96px;
  transition: 0.4s;
  color: #404040;
}


.list-menu-miactual>i {
  font-size: 40px;
  width: 98px;
  height: 40px;
  margin: 10px 5px 10px 5px;

}

.list-menu-miactual>span {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 1347px) {
  .list-menu-miactual>span {
    font-size: 13px;
  }
}

.icon-comedor {
  font-size: 65px !important;
  line-height: 40px;
}

.list-menu-miactual>img {
  margin: auto;
}

.list-menu-miactual:hover {
  color: #fff;
  background: #dda901 !important;
}

/**
* -------------
* SMART MENU  |
*--------------
**/


.smart-menu-container {
  display: flex;
  width: 560px;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.smartmenu-menu-feature {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 130px;
  background: #f7f8f8;
  /* #f7f8f8; */
  border: 0.5px solid hsl(240, 5%, 89%);
  z-index: 10;
}

.smartmenu-menu-feature>div {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  /*text-transform: uppercase;*/
}

/**
* SMART MENU ALL INFO
**/
.smartmenu-feature-info {
  display: flex;
  background-color: #fff;
  flex-direction: column;
}

.smartmenu-feature-description {
  display: flex;
}

.smart-menu-row {
  display: flex;
  flex-direction: row;
}

.smartmenu-feature-info>div {
  width: 200px;
}

/**
* SMART MENU IMG 
**/
.smartmenu-feature-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  font-size: 9px;

}

.smart-menu-img>img {
  width: 160px;
  height: 160px;
  margin-top: 20px;
  margin-left: 20px;
}

.smartmenu-default-img>img {
  display: flex;
  flex: 1;
  max-height: 350px;
}

/**
* SMART MENU DESCRIPTION 
**/

.mouseover-menu-list>a {
  color: #404040;
}


.mouseover-menu-list::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #e2023f;
  transition: width .3s;
}

.mouseover-menu-list:hover::after {
  width: 20%;
  transition: .3s;
}

.smartmenu-menu-feature a:hover {
  font-weight: 700;
  color: #030202;
  transition: width 0.3s;
}

.Featured-title {
  position: absolute;
  margin-left: 128px;
  font-size: 13px;
  text-decoration: none;
  color: #404040;
}


/**
* LINK FEATURE PRODUCTS
**/

.featured-product-link {
  background: rgb(77, 77, 77);
  color: #fff;
  width: 50px;
  font-size: 10px;
  font-weight: 700;
  left: 0;
  left: 0;
  margin: 0 auto;
  padding: 4px;
  right: 0;
  text-align: center;
  z-index: 999;
}

.hbtn-radius-container:hover {
  color: #fff !important;
  background-color: #dda901 !important;
}