/***  SECTION CART ITEMS  ***/
.cart-items{
    background-color: rgb(136, 165, 42);
    grid-column: col-start 5 / full-end;
}

@media only screen and (max-width: 32.5em) {
    .cart-items{
        grid-column: 1 / -1;  }    
  }