/***  SECTION CART ITEMS  ***/
.cart-items{
    background-color: rgb(136, 165, 42);
    grid-column: col-start 5 / full-end;
}

@media only screen and (max-width: 40em) {
    .client-session{
        grid-template-columns: full-start / full-end;
    } 
}