/***  SECTION CART ITEMS  ***/
.cart-items{
  background-color: rgb(136, 165, 42);
  grid-column: col-start 5 / full-end;

  display: grid;
  grid-template-rows: 4rem minmax(6rem, min-content);
  grid-template-columns: minmax(min-content, max-content);
  /*grid-row-gap: 1rem;*/
  justify-content: center;

}

@media only screen and (max-width: 32.5em) {
  .cart-items{
      grid-column: 1 / -1;  
  }    
}

.section-infoCart{
  background-color: goldenrod;
  font-size: 80%;
  width: 500px;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(min-content, max-content);
  margin-bottom: 1rem;
}

@media only screen and (max-width: 50rem) {
  .section-infoCart{
      width: 300px;
  }    
}

.cart__groupInfoItems{
  grid-column: 1 / -1;
  
  display: grid;
  grid-template-columns: [start-column1]60%[start-column2]40%[end-column2];
  grid-template-rows: minmax(min-content, max-content);
    
}  

/*Descrición de productos*/
.cart__groupDescription{
  grid-column: start-column1 / 2;
  background-color: green;
  padding:.2rem;

  display: grid;
  grid-template-columns: 30% 62% 8%;
  grid-template-rows: repeat(2,minmax(min-content, max-content));
  grid-row-gap: .2rem; 
}

@media only screen and (max-width: 50rem) {
  .cart__groupDescription{
    grid-column: 1 / -1;
  }    
}

.cart__productName{
  grid-area: 1/3/1/1;
}

.cart__deleteItem{
  grid-column: 3/4;
  grid-row: 1 /2;
  margin: auto;
}

.cart__deleteItem > i{
    font-size: 1rem;
    
}

.cart__img{
  grid-column: 1/2;
  grid-row: 2 /3;
  margin: auto;
}

.cart__img > img{
  weight: 3rem;
  height: 3rem;
  border-radius: .1rem;
}

.cart__description{
    grid-column: 2/3;
    grid-row: 2 /3;
    
}

.cart__itemPrice{
  float: right;
}

  
/*Total de compras por producto*/
.cart__groupItemCost{
  grid-column: 2 / end-column2;
  background-color: blueviolet;
  padding:.2rem;

  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(2,minmax(min-content, max-content));  /*minmax(min-content, max-content)*/
  grid-row-gap: .3rem; 
  grid-column-gap: .4rem;
}

@media only screen and (max-width: 50rem) {
  .cart__groupItemCost{
    grid-column: 1 / -1;
  }    
}

.cart__pieces{
  grid-area: 1/2/1/1;
  

}

/* Reset Select */
.cart__select > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
.cart__select > select::-ms-expand {
display: none;
}
/* Custom Select */
.cart__select {
  position: relative;
  display: flex;
  width: 4em;
  height: 2em;
  line-height: 2;
  background:  #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
.cart__select > select {
  flex: 1;
  padding: 0 .2em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.cart__select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.3em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.cart__select:hover::after {
  color: #dda901;
}

.cart__discout{
  grid-area: 2/1/2/3;
}

.cart__discout > strong{
  background-color: #fde932;
  color: rgb(36, 36, 36);
  border-radius: 1rem;
  text-align: center;
  padding: .1rem .8rem;
  font-size: 90%;
}

.cart__subTotalItem{
  grid-area: 1/2/1/2;
  justify-content: center;
  margin: auto;
}

.cart__totalItem{
  grid-area: 2/3/2/2;
  justify-content: center;
  margin: auto;
  
}



/*Fecha de entrega y Total de compras*/
.cart__groupBalance{
  grid-column: 1 / -1;
  background-color: royalblue;
  padding:.2rem;

  display: grid;
  grid-template-columns: [start-column1]60%[start-column2]40%[end-column2];
  grid-template-rows: minmax(min-content, max-content);  /*minmax(min-content, max-content)*/
  padding: 4px 12px 4px 12px;
  
}

.cart__totalPieces{
  grid-area: 1/1/1/2;
}

.cart__totalPieces > .cart__select {
  width: 10em;
  float: right;
  margin-right: 2rem;
}




.cart__totalItems{
  grid-area: 1/2/1/2;
  text-align: end;
  
}

.cart__totalItems > strong {
  margin-top: 10px;
}