<div>

    <div class="ActualInfo-container-product">
        <div class="ActualHeader-product-title"><span>Mesa para comedor tipo italiano</span>
            <div class="ActualHeader-icon-trash"><i class="icon-trashcan"></i></div>
        </div>
        <div class="ActualbBody-product-info">
            <div class="ActualBody-product-imginfo">
                <img src="images/round-coffee-tables.jpg" alt="" />
            </div>
            <div class="ActualBody-product-imginfo">
                <strong>Código:</strong>
                <span>505050</span>
                <strong>Color:</strong>
                <span>Café</span>
            </div>
            <div class="ActualBody-product-data">
                <div class="ActualBody-discount-div"> <span class="ActualdDiscount-product-payments">-30%</span></div>
                <div>
                    <table class="ActualPrices-product-list" align="right">
                        <tr class="Actual-table-info">
                            <td>Subtotal    </td>
                            <td align="right"><span class="ActualExchange-type">MXN </span><span
                                    class="ActualPrice-crossed"> $10,000</span></td>
                        </tr>
                        <tr>
                        <tr class="ActualPrice-remark-less">
                            <td>Descuento</td>
                            <td align="right"><span class="ActualExchange-type">MXN </span><span> $3000</span></td>
                        </tr>
                        <tr>
                            <td>Envío</td>
                            <td align="right"><span class="ActualExchange-type">MXN </span><span> $0.0</span></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="divider">
                                <hr />
                            </td>
                        </tr>
                        <tr>
                        <tr class="ActualPrice-remark-total">
                            <td><strong>TOTAL</strong></td>
                            <td align="right"><strong class="ActualExchange-type">MXN </strong><strong> $8,000</strong>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="ActualTaxes-inclued">Impuestos incluidos</td>
                        </tr>

                    </table>
                </div>
                <div>
                    <div class="select">
                        <span class="arr"></span>
                        <select>
                          <option>Fecha entrega</option>
                          <option>10/20/1</option>
                          <option>10/20/16</option>
                        </select>
                      </div>
                    
                    <div class="select">
                        <span class="arr"></span>
                        <select>
                          <option>Piezas</option>
                          <option> 1 </option>
                          <option> 30 </option>
                        </select>
                      </div>
                </div>
            </div>
        </div>
    </div>

</div>