<div class="listing-product">
  <a ng-href="/product/{{product.ItemCode}}" class="listing-product-link absolute-link">
    <span>AGREGAR</span>
  </a>
  <div class="listing-product-gallery">
    <slick ng-if="areImagesLoaded" arrows="true" >
      <div ng-repeat="image in images track by $index">
        <img
          ng-src="{{image.url}}"
          alt=""
          >
      </div>
    </slick>
  </div>
  <div class="listing-product-info">
    <div class="listing-product-info-main">
      <p><strong>{{product.Name}}</strong></p>
      <p class="price">
        <span class="price-before">{{product.priceBefore | currency:'$':0}}</span>
        <span ng-if="product.priceBefore">|</span>
        <strong class="price-now">{{product.Price | currency:'$':0}}</strong>
      </p>
    </div>
    <!--
    <div flex class="listing-product-info-extra">
      <p>...</p>
      <p><strong class="small">visto 16 veces hoy</strong></p>
    </div>
    -->
  </div>
</div>
