<a ng-href="{{product.url}}" class="url-product">
  <div class="container-fluid" style="width: 16rem">
    <div class="row">
      <div class="card border-0">
        <img
          class="card-img-top"
          ng-if="images.length === 1"
          animate-visible="true"
          lazy-src="{{images[0].url}}"
          alt="{{product.Name}}"
        />
        <div class="bookmark-icon">
          <img src="/images/promo-label.png" alt="Price Label" />
        </div>
        <div
          class="discount-batch"
          ng-if="product.Discount && product.Discount > 0"
        >
          - {{product.Discount}}%
        </div>
        <div class="card-body">
          <p class="product-name">{{product.Name}}</p>
          <p class="estrella">
            <span class="estrella"></span>
            <span class="estrella"></span>
            <span class="estrella"></span>
            <span class="estrella"></span>
            <span class="estrella-vacia"></span>
          </p>
          <p class="price">
            <strong class="price-now-currency"></strong>
            {{product.Price | roundCurrency:'$'}}
            <span class="price-before-currency"></span>
            <span class="price-before"
              >{{product.priceBefore | roundCurrency:'$'}}</span
            >
            <span ng-if="product.priceBefore"></span>
            <br />
          </p>
        </div>
      </div>
    </div>
  </div>
</a>
