<div class="listing-product">
  <a 
    ng-href="{{product.url}}" 
    class="listing-product-link absolute-link"
  >
    <span>VER</span>
  </a>
  <div class="listing-product-gallery">

    <div 
      class="slow-movement-sticker" 
      ng-show="product.slowMovement"
      ng-switch on="siteTheme"
    >      
      <img ng-switch-when="actual-home" src="images/slowmovement-home.png" alt="Lento movimiento">
      <img ng-switch-when="actual-studio" src="images/slowmovement-studio.png" alt="Lento movimiento">
      <img ng-switch-when="actual-kids" src="images/slowmovement-kids.png" alt="Lento movimiento">
      <img ng-switch-default src="images/slowmovement.png" alt="Lento movimiento">
    </div>

    <div
      ng-if="product.Discount && product.Discount > 0"
      class="discount-batch"
      layout="row"
      layout-align="center center">
      <strong>- {{product.Discount}}%</strong>
    </div>

    <img
      ng-if="images.length === 1"
      ng-src="{{images[0].url}}"
      alt=""
      >    
    <slick ng-if="areImagesLoaded && images.length > 1" arrows="true" >
      <div ng-repeat="image in images track by $index">
        <img
          ng-src="{{image.url}}"
          alt=""
          >
      </div>
    </slick>

  </div>
  <div class="listing-product-info">
    <div class="listing-product-info-main">
      <p><strong>{{product.Name}}</strong></p>
      
      <div layout="row" layout-align="space-between center">
        <p flex="40" class="stock-available">
          {{product[activeStore.code]}} <strong class="small">disponibles</strong>
        </p>      
        <p flex="55" class="price">
          <span class="price-before">{{product.priceBefore | currency:'$':0}}</span>
          <span ng-if="product.priceBefore">|</span>
          <strong class="price-now">{{product.Price | currency:'$':0}}</strong>
        </p>
      </div>
      
    </div>
  </div>
</div>
