<div
  ng-repeat="mainCategory in categoriesTree track by $index"
  ng-if="mainCategory.productsNum"
  class="listing-view-nav-wrapper">
  <h2>
    <a
      ng-click="toggleMainCategory(mainCategory, $event)"
      ng-href="/category/{{mainCategory.Handle}}"
      ng-class="{'active': mainCategory.isActive}">
      <i class="icon-{{getCategoryIcon(mainCategory.Handle)}}"></i>
      <strong>{{mainCategory.Name}}</strong>
      <span class="products-num">({{mainCategory.productsNum}})</span>
    </a>
  </h2>

  <ul class="listing-view-nav" ng-show="mainCategory.isActive">
    <li
      ng-repeat="category in mainCategory.Childs"
      ng-if="category.productsNum"
      ng-class="{'active': category.isActive}"
    >
      <h3>
        <a
          ng-if="category.Childs"
          ng-click="toggleCategory(category, $event)"
        >
          <strong>{{category.Name}}</strong>
          <span class="products-num">({{category.productsNum}})</span>
        </a>
        <a
          ng-if="!category.Childs"
          ng-href="/category/{{category.Handle}}"
        >
          <strong>{{category.Name}}</strong>
          <span class="products-num">({{category.productsNum}})</span>
        </a>
      </h3>



      <ul class="listing-view-subnav">
        <li ng-repeat="subcategory in category.Childs" ng-if="subcategory.productsNum">
          <a ng-href="/category/{{subcategory.Handle}}" ng-class="{'active': subcategory.isActive}">
            {{subcategory.Name}} ({{subcategory.productsNum}})
          </a>
        </li>

        <li>
          <a class="see-more" ng-href="/category/{{category.Handle}}">
            Ver todo ({{category.productsNum}})
          </a>
        </li>


      </ul>
    </li>

    <li>
      <h3>
        <a
          class="see-more"
          ng-href="/category/{{mainCategory.Handle}}"
        >
          <strong>Ver todo</strong>
          <span class="products-num">({{mainCategory.productsNum}})</span>
        </a>
      </h3>
    </li>


  </ul>
</div>

<!--OFERTAS-->
<div
  class="listing-view-nav-wrapper">
  <h2>
    <a
      ng-href="/ofertas"
      ng-class="{'active': isActiveOffers}">
      <i class="icon-ofertas"></i>
      <strong>Ofertas</strong>
    </a>
  </h2>
</div>
