<div class="smart-menu-container">
  <div class="smartmenu-menu-feature">
    <div>
      <strong class="mouseover-menu-list">Salas y comedores</strong>
    </div>
  </div>
  <hr>
  <div class="smartmenu-feature-info">
    <div class="smartmenu-feature-description">
      <div class="smart-menu-img"><img src="/images/categories/bebes.jpg" alt="feature"></div>
      <span>Silla de comedor tapizada en tela gris con pata de madera nogal oscuro y tacón color dorado</span>
    </div>
    <div class="smartmenu-feature-description">
      <div class="smart-menu-img"><img src="/images/categories/categoria1.jpg" alt="feature" ></div>
      <span>Silla de comedor tapizada</span>
    </div>
  </div>
</div>