
<div class="smart-menu-container" ng-class="index > 3 ? 'smart-menu-left' : 'smart-menu-right'" layout="row" ng-cloak>
  <div class="smartmenu-menu-feature" flex-order="{{(index > 3) ? 2 : 1}}">
    <div ng-repeat="subcategory in subcategories track by $index">
      <strong class="mouseover-menu-list">
        <a ng-href="{{'/category/' + subcategory.Handle}}" ng-click="leavehover()">{{subcategory.Name}}</a>
      </strong>
    </div>
  </div>

  <!---->
  <div class="smartmenu-feature-info" flex-order="{{(index > 3) ? 1 : 2}}" on="category">
    <hr style="margin: 0;">

    <div class="smartmenu-feature-description" ng-repeat="featuredProduct in featured">
      <div class="smart-menu-img">
        <img ng-src="https://d116li125og699.cloudfront.net/uploads/products/{{featuredProduct.icon_filename}}" />
      </div>
      <h3>{{featuredProduct.Name}}</h3>
    </div>
  </div>
</div> --!>
