<md-dialog class="authorize-dialog" aria-label="Authorize dialog"  ng-cloak>

  <section class="authorize-dialog-inner">

    <h2><strong>Autorización de gerente</strong></h2>
    <p class="text-note italic-style">
      Ingresa el email y contraseña para autorizar el pedido a partir del 60% del total pagado.
    </p>

    <form
      name="authForm"
      ng-submit="authorize(authForm)"
    >
      <div class="input-element">
        <div class="input-element-inner">
          <input type="email" name="email"
            placeholder="Email"
            autocomplete="off"
            ng-model="manager.email"
            required
          >
        </div>
      </div>

      <div class="input-element">
        <div class="input-element-inner">
          <input
            type="password"
            autocomplete="off"
            placeholder="Contraseña"
            name="password"
            ng-model="manager.password"
            required
          >
        </div>
      </div>

      <input class="action-btn" type="submit" value="Autorizar">

    </form>

  </section>

</md-dialog>
