<div ng-if="vm.isLoading" layout-fill layout="row" layout-sm="column" layout-align="space-around">
  <md-progress-circular class="md-accent" md-diameter="100px"></md-progress-circular>
</div>

<section ng-show="!vm.isLoading" class="form-view cart-view checkout-view container container-xxlg" >

  <h1 class="checkout-title">CHECKOUT</h1>

  <div class="steps-bar" layout="row">
    <a ng-href="/quotations/edit/{{vm.quotation.id}}" flex="25" class="steps-bar-item">
      <span><i class="icon-carro"></i> 1. Mi carrito</span>
    </a>
    <div flex="25" class="steps-bar-item steps-bar-item-active">
      <span><i class="icon-login"></i> 2. Datos personales</span>
    </div>
    <div flex="25" class="steps-bar-item">
      <span><i class="icon-terminal"></i> 3. Método de pago</span>
    </div>
    <div flex="25" class="steps-bar-item">
      <span><i class="icon-oportunidades"></i> 4. Checkout</span>
    </div>
  </div>

  <div class="checkout-view-inner" layout="row" layout-align="space-between start">

    <section flex="75">
      <h3>
        <strong>Datos personales</strong>
        <a class="small-link" href="#" ng-href="/clients/profile/{{vm.quotation.Client.id}}">Cambiar mis datos personales</a>
        <!--
        <span ng-if="vm.quotation.Address"><a href="#" ng-click="vm.updateAddress()" class="small-link">Actualizar con mis datos personales</a></span>
        -->

      </h3>
      <form ng-submit="vm.continueProcess()" action="#">
        <div layout="row">
          <div flex="45" class="input-element">
            <label><strong>Nombre(s) del destinatario</strong> <span class="hl-label">*</span></label>
            <p>{{vm.quotation.Address.name}}</p>
            <!--<div class="input-element-inner">
              <input type="text" disabled ng-model="vm.quotation.Address.name" required>
            </div>-->
          </div>
          <div flex="45" class="input-element">
            <label><strong>Apllido(s) del destinatario</strong> <span class="hl-label">*</span></label>
            <p>{{vm.quotation.Address.lastName}}</p>
            <!--<div class="input-element-inner">
              <input type="text" disabled ng-model="vm.quotation.Address.lastName" required>
            </div>-->
          </div>
        </div>

        <div layout="row">

          <div flex="20" class="input-element">
            <label><strong>Teléfono fijo <span class="hl-label">*</span></strong></label>
            <div layout="row" layout-align="space-between center">
                <!--<div flex="30" class="input-element-inner">
                  <input type="text" disabled ng-model="vm.quotation.Address.dialCode" placeholder="Lada" required>
                </div>-->
                <div flex="30"><p>Lada:{{vm.quotation.Address.dialCode}}</p></div>
                <div flex="60"><p>{{vm.quotation.Address.phone}}</p></div>
                <!--<div flex="60" class="input-element-inner">
                  <input type="text" disabled ng-model="vm.quotation.Address.phone" required>
                </div>-->
            </div>
          </div>


          <div flex="20" class="input-element">
            <label><strong>Teléfono celular <span class="hl-label">*</span></strong></label>
            <div layout="row" layout-align="space-between center">
                <div flex="30"><p>Lada:{{vm.quotation.Address.mobileDialCode}}</p></div>
                <div flex="60"><p>{{vm.quotation.Address.mobilePhone}}</p></div>
                <!--<div flex="30" class="input-element-inner">
                  <input type="text" readonly ng-model="vm.quotation.Address.mobileDialCode" placeholder="Lada" required>
                </div>
                <div flex="60" class="input-element-inner">
                  <input type="text" disabled ng-model="vm.quotation.Address.mobilePhone" required>
                </div>-->
            </div>
          </div>


          <div flex class="input-element">
            <label><strong>Email</strong> <span class="hl-label">*</span></label>
            <!--<div class="input-element-inner">
              <input type="email" disabled ng-model="vm.quotation.Address.email"  required>
            </div>-->
            <p>{{vm.quotation.Address.email}}</p>
          </div>

          <!--<div flex class="input-element">
            <label><strong>Confirmar email</strong> <span class="hl-label">*</span></label>
            <div class="input-element-inner">
              <input type="email" required>
            </div>
          </div>-->

        </div>

        <h4><strong>DIRECCIÓN DE ENTREGA</strong> (Buscar con Google Maps)</h4>
        <div layout="row">
          <div flex class="input-element">
            <label><strong>Calle</strong> <span class="hl-label">*</span></label>
            <!--<div class="input-element-inner">
              <input type="text" disabled ng-model="vm.quotation.Address.street" required>
            </div>-->
            <p>{{vm.quotation.Address.street}}</p>
          </div>
          <div flex class="input-element">
            <label><strong>No. exterior</strong> <span class="hl-label">*</span></label>
            <!--<div class="input-element-inner">
              <input type="text" disabled ng-model="vm.quotation.Address.externalNumber" required>
            </div>-->
            <p>{{vm.quotation.Address.externalNumber}}</p>
          </div>
          <div flex class="input-element">
            <label><strong>No. interior</strong> <span class="hl-label">*</span></label>
            <!--<div class="input-element-inner">
              <input type="text" disabled ng-model="vm.quotation.Address.internalNumber" required>
            </div>-->
            <p>{{vm.quotation.Address.internalNumber}}</p>
          </div>
          <div flex class="input-element">
            <label><strong>Colonia</strong> <span class="hl-label">*</span></label>
            <!--<div class="input-element-inner">
              <input type="text" disabled ng-model="vm.quotation.Address.neighborhood" required>
            </div>-->
            <p>{{vm.quotation.Address.neighborhood}}</p>
          </div>
          <div flex class="input-element">
            <label><strong>Municipio</strong> <span class="hl-label">*</span></label>
            <!--<div class="input-element-inner">
              <input type="text"  disabled ng-model="vm.quotation.Address.municipality" required>
            </div>-->
            <p>{{vm.quotation.Address.municipality}}</p>
          </div>
        </div>

        <div layout="row">
          <div flex="25" class="input-element">
            <label><strong>Ciudad</strong> <span class="hl-label">*</span></label>
            <!--<div class="input-element-inner">
              <input type="text" disabled ng-model="vm.quotation.Address.city" required>
            </div>-->
            <p>{{vm.quotation.Address.city}}</p>
          </div>
          <div flex="25" class="input-element select-element-wrapper">
            <label><strong>Estado</strong> <span class="hl-label">*</span></label>
            <!--<select disabled ng-model="vm.quotation.Address.entity" class="select-element">
              <option ng-selected="state.name == vm.quotation.Address.entity" ng-repeat="state in vm.states" ng-value="state.name">
                {{state.name}}
              </option>
            </select>-->
            <p>{{vm.quotation.Address.entity}}</p>
          </div>
          <div flex="15" class="input-element">
            <label><strong>Codigo postal</strong> <span class="hl-label">*</span></label>
            <!--<div class="input-element-inner">
              <input  type="text" disabled ng-model="vm.quotation.Address.zipCode" required>
            </div>-->
            <p>{{vm.quotation.Address.zipCode}}</p>
          </div>

        </div>

        <div layout="row">
          <div flex="25" class="input-element">
            <label><strong>Entre calle</strong> <span class="hl-label">*</span></label>
            <!--<div class="input-element-inner">
              <input type="text" disabled ng-model="vm.quotation.Address.street" required>
            </div>-->
            <p>{{vm.quotation.Address.street}}</p>
          </div>
          <div flex="25" class="input-element">
            <label><strong>Y calle</strong> <span class="hl-label">*</span></label>
            <!--<div class="input-element-inner">
              <input type="text" disabled ng-model="vm.quotation.Address.street2" required>
            </div>-->
            <p>{{vm.quotation.Address.street2}}</p>
          </div>
          <div flex="25" class="input-element">
            <label><strong>Referencias cercanas</strong> <span class="hl-label">*</span></label>
            <!--<div class="input-element-inner">
              <input type="text" disabled ng-model="vm.quotation.Address.references" required>
            </div>-->
            <p>{{vm.quotation.Address.references}}</p>
          </div>

        </div>

      </form>
    </section>

    <aside flex class="cart-aside">
      <h1 class="cart-title"><i class="icon-carro"><span>{{vm.totalProducts }}</span></i> <strong>RESUMEN</strong></h1>

      <div class="cart-summary">
        <table>
          <tr>
            <td><strong>Subtotal ({{vm.totalProducts }} productos):</strong></td>
            <td><strong>{{vm.quotation.subtotal | currency }}</strong></td>
          </tr>
          <tr>
            <td>Descuento:</td>
            <td><strong>-{{vm.quotation.discount | currency }}</strong></td>
          </tr>
          <tr>
            <td>Costo de envío:</td>
            <td><strong>GRATIS</strong></td>
          </tr>
        </table>
        <hr>

        <div class="cart-totals" layout="row" layout-align="space-between end">
          <div flex="50">
            <h1><strong>TOTAL:</strong></h1>
          </div>
          <div flex="50">
            <h3 class="price-crossed">{{vm.quotation.subtotal | currency }}</h3>
            <h1 class="price-main"><strong>{{vm.quotation.total | currency }}</strong></h1>
          </div>
        </div>

        <input ng-click="vm.continueProcess()" type="submit" value="CONTINUAR" class="cart-view-btn">

        <p class="cart-summary-note">*Precios en Pesos Mexicanos con impuestos incluidos.</p>

      </div>

    </aside>


  </div>

</section>
