<div ng-if="vm.isLoading" layout-fill layout="row" layout-align="center center" class="loading-circle">
  <md-progress-circular class="md-accent" md-diameter="100px"></md-progress-circular>
</div>

<section ng-show="!vm.isLoading" class="form-view cart-view checkout-view container container-xxlg" >

  <div class="steps-bar" layout="row">
    <a ng-href="/quotations/edit/{{vm.quotation.id}}" flex="25" class="steps-bar-item">
      <span><i class="icon-carro"></i> 1. Mi carrito</span>
    </a>
    <div flex="25" class="steps-bar-item steps-bar-item-active">
      <span><i class="icon-login"></i> 2. Datos personales</span>
    </div>
    <div flex="25" class="steps-bar-item">
      <span><i class="icon-terminal"></i> 3. Método de pago</span>
    </div>
    <div flex="25" class="steps-bar-item">
      <span><i class="icon-oportunidades"></i> 4. Confirmación</span>
    </div>
  </div>


  <div
    class="checkout-view-inner"
    layout="row"
    layout-align="space-between start"
    layout-wrap
  >

    <section flex="75" flex-sm="100" flex-xs="100">
      <h3>
        <strong>Datos personales</strong>
        <a class="small-link action-link" href="#" ng-href="/user/profile">Editar</a>
      </h3>
      <form ng-submit="vm.continueProcess()" class="client-checkout" action="#">

        <!--PERSONAL DATA-->
        <div layout="row">
          <div flex="25" flex-sm="100" flex-xs="45" class="input-element">
            <label><strong>Nombre(s) del cliente</strong> <span class="hl-label">*</span></label>
            <p>{{vm.quotation.Client.FirstName}}</p>
          </div>
          <div flex="25" flex-sm="100" flex-xs="45" class="input-element">
            <label><strong>Apellido(s) del cliente</strong> <span class="hl-label">*</span></label>
            <p>{{vm.quotation.Client.LastName}}</p>
          </div>
        </div>

        <div layout="row">
          <div flex="33" class="input-element">
            <label><strong>Teléfono fijo <span class="hl-label">*</span></strong></label>
            <p>{{vm.quotation.Client.Phone1}}</p>
          </div>
          <div flex="33" class="input-element">
            <label><strong>Teléfono celular <span class="hl-label">*</span></strong></label>
            <p>{{vm.quotation.Client.Cellular}}</p>
          </div>
          <div flex="33" class="input-element">
            <label><strong>Email</strong> <span class="hl-label">*</span></label>
            <p>{{vm.quotation.Client.E_Mail}}</p>
          </div>
        </div>
        <!--END PERSONAL DATA-->

        <h3>
          <strong>DIRECCIÓN DE ENTREGA</strong> 
          <a ng-show="vm.contacts && vm.contacts.length > 0" href="/user/deliveries?returnTo=/checkout/client/{{vm.quotation.id}}" class="small-link action-link">Editar</a>

          <a ng-show="vm.contacts.length === 0" href="/user/deliveries?returnTo=/checkout/client/{{vm.quotation.id}}" class="small-link action-link">Agregar direccíon de envío</a>
        </h3>

        <div ng-show="vm.isLoadingContacts" layout-fill layout="row" layout-align="center center" class="loading-circle">
          <md-progress-circular class="md-accent" md-diameter="100px"></md-progress-circular>
        </div>

        <section ng-show="!vm.isLoadingContacts" class="delivery-options">
          <md-radio-group ng-model="vm.quotation.Address">

            <div
              class="delivery-option"
              ng-repeat="contact in vm.contacts"
              layout="row"
              layout-align="start center"
            >
              <div class="delivery-option-radio" flex="10" flex-sm="20" flex-xs="20">
                <md-radio-button ng-value="contact.id"></md-radio-button>
              </div>
              <div  flex="80" class="delivery-option-data">
                <h4>Nombre:
                  <strong>{{contact.FirstName + ' ' + contact.LastName}}</strong>
                </h4>
                <ul>
                  <li><strong>Email: </strong>{{contact.E_Mail}}</li>
                  <li><strong>Télefono: </strong>{{contact.Tel1}}</li>
                  <li><strong>Celular: </strong>{{contact.Cellolar}}</li>
                  <li><strong>No. exterior: </strong>{{contact.U_Noexterior}}</li>
                  <li><strong>No. interior: </strong>{{contact.U_Nointerior}}</li>
                  <li><strong>Colonia: </strong>{{contact.U_Colonia}}</li>
                  <li><strong>Municipio o delegación: </strong>{{contact.U_Mpio}}</li>
                  <li><strong>Ciudad: </strong>{{contact.U_Ciudad}}</li>
                  <li><strong>Estado: </strong>{{contact.U_Estado}}</li>
                  <li><strong>C.P.: </strong>{{contact.U_CP}}</li>
                  <li><strong>Entre calle: </strong>{{contact.U_Entrecalle}}</li>
                  <li><strong>Y calle: </strong>{{contact.U_Ycalle}}</li>
                  <li><strong>Referencias: </strong>{{contact.U_Notes1}}</li>

                </ul>
                <p>
                  <a
                    class="small-link action-link"
                    href="#"
                    ng-href="/user/deliveries?returnTo=/checkout/client/{{vm.quotation.id}}">
                    Editar
                  </a>
                </p>
              </div>
            </div>

          </md-radio-group>
        </section>

    </section>

    <aside flex flex-sm="100" flex-xs="100" class="cart-aside">
      <h1 class="cart-title"><i class="icon-carro"><span>{{vm.quotation.totalProducts }}</span></i> <strong>RESUMEN</strong></h1>

      <div class="cart-summary">
        <table>
          <tr>
            <td><strong>Subtotal ({{vm.quotation.totalProducts }} productos):</strong></td>
            <td><strong>MXN {{vm.quotation.subtotal | roundCurrency }}</strong></td>
          </tr>
          <tr>
            <td>Descuento:</td>
            <td><strong>MXN {{vm.quotation.discount | roundCurrency }}</strong></td>
          </tr>
          <tr>
            <td>Costo de envío:</td>
            <td><strong>GRATIS</strong></td>
          </tr>
        </table>
        <hr>

        <div class="cart-totals" layout="row" layout-align="space-between end">
          <div flex="30">
            <h1><strong>TOTAL:</strong></h1>
          </div>
          <div flex="70">
            <h3 class="price-crossed-block" ng-show="vm.quotation.subtotal != vm.quotation.total">
              <span class="currency-label">MXN</span> <span class="price-crossed">{{ vm.quotation.subtotal | roundCurrency  }}</span>
            </h3>
            <h1 class="price-main"> <span class="currency-label">MXN</span><strong>{{vm.quotation.total | roundCurrency }}</strong></h1>
          </div>
        </div>

        <input type="submit" value="CONTINUAR" ng-click="vm.continueProcess()" class="cart-view-btn">

        <p class="cart-summary-note">*Precios en Pesos Mexicanos con impuestos incluidos.</p>

      </div>

    </aside>


  </div>

      </form>
</section>
