<div ng-if="vm.isLoading" layout-fill layout="row" layout-sm="column" layout-align="center center" class="loading-circle">
  <md-progress-circular class="md-accent" md-diameter="100px"></md-progress-circular>
</div>

<section ng-show="!vm.isLoading" class="form-view cart-view checkout-view order-view container container-xxlg" >

  <div class="steps-bar" layout="row">
    <a flex="25" class="steps-bar-item">
      <span><i class="icon-carro"></i> 1. Mi carrito</span>
    </a>
    <div flex="25" class="steps-bar-item">
      <span><i class="icon-login"></i> 2. Datos personales</span>
    </div>
    <div flex="25" class="steps-bar-item">
      <span><i class="icon-terminal"></i> 3. Método de pago</span>
    </div>
    <div flex="25" class="steps-bar-item steps-bar-item-active">
      <span><i class="icon-oportunidades"></i> 4. Confirmación</span>
    </div>
  </div>

  <div class="checkout-view-inner">

    <div class="checkout-title order-title" layout="row" layout-align="space-between center">
        <h1 flex="60">
          <strong>
            <span><i class="icon-checkmark"></i> NÚMERO DE ORDEN: <span class="order-folio">#{{vm.order.folio}}</span>
          </strong>
        </h1>
        <div flex="30" class="order-title-extra">
          <span class="order-date">{{vm.order.createdAt | date:'d/MMM/yyyy'}}</span>
          <a href="#" ng-click="vm.print()" class="action-btn action-btn-save print-btn">
            <strong>IMPRIMIR RECIBO</strong>
          </a>
        </div>
    </div>
    <div class="order-text-block">
      <h3><strong>¡GRACIAS POR SU COMPRA!</strong></h3>
      <p>Estimado <strong>{{vm.order.Client.CardName}}</strong></p>
      <p>Su compra ha sido procesada y en breve estará recibiendo su confirmación al correo electrónico <strong>{{vm.order.Address.E_Mail || vm.order.Client.E_Mail}}</strong></p>
      <br/>
      <p>Documentos de SAP generados: 
        <span 
          ng-repeat="document in vm.order.documents track by $index"
          class="comma-separated">
          {{document}}
        </span>
      </p>
      <p>
        <a class="refunds-link" ng-href="/refunds/{{vm.order.id}}">Generar reembolsos</a>
      </p>
    </div>

    <!--ORDER ITEMS-->
    <div class="order-block">
      <h3><strong><i class="icon-checkout-ticket"></i> ARTÍCULOS ADQUIRIDOS</strong></h3>
      <div class="order-items order-block-inner">

        <div class="order-table-header" layout="row" layout-align="space-between start">
          <div flex="35"></div>
          <div flex="20"><strong>CANTIDAD</strong></div>
          <div flex="20"><strong>ENTREGA APROXIMADA</strong></div>
          <div flex="20"><strong>PRECIO</strong></div>
        </div>

        <div 
          class="order-item" 
          ng-repeat="detailGroup in vm.order.DetailsGroups track by $index"
        >
          <h3><strong>{{detailGroup.Product.Name}}</strong></h3>
          <div layout="row" layout-align="space-between start">
            <div flex="35" layout="row">
              <div class="order-item-img">
                <img src="{{detailGroup.Product.icons[0].url}}" alt="">
              </div>
              <div flex class="order-item-features">
                <ul>
                  <li><strong>Código: </strong> {{detailGroup.Product.ItemCode}}</li>
                  <li
                    ng-repeat="filter in detailGroup.Product.Filters"
                    ng-if="
                      filter.Handle == 'codigo' ||
                      filter.Handle == 'material' ||
                      filter.Handle == 'garantia'
                    "
                  >
                    <strong>{{filter.Name}}: </strong>
                    <span ng-repeat="value in filter.Values track by $index">
                      <span ng-if="value.Handle != 'color-paleta'">{{value.Name}}</span>
                      <span ng-if="$index < (filter.Values.length-1)">,</span>
                    </span>
                  </li>
                  <li ng-if="detailGroup.Product.DetailedColor">
                    <strong>Color</strong>
                    <span>{{detailGroup.Product.DetailedColor}}</span>
                  </li>                  
                </ul>
              </div>
            </div>
            <div flex="20" class="order-item-data"><span>{{detailGroup.quantity}}</span></div>
            <div flex="20" class="order-item-data"><span>{{detailGroup.shipDate | date:'d/MMM/yyyy'}}</span></div>
            <div flex="20" class="order-item-data">
              <span>{{detailGroup.total | roundCurrency:false}} MXN</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--END ORDER ITEMS-->


    <!--ORDER PAYMENTS-->
    <div class="order-block">
      <h3><strong><i class="icon-metodo-pago"></i> PAGOS</strong></h3>
      <div class="order-block-inner">
        <div class="order-table-header" layout="row" layout-align="space-between start">
          <div flex class="pull-left"><strong>FORMA DE PAGO</strong></div>
          <div flex><strong>FECHA</strong></div>
          <div flex><strong>FOLIO</strong></div>
          <div flex><strong>TIPO DE PAGO</strong></div>
          <div flex><strong>TERMINAL</strong></div>
          <div flex><strong>MONTO COBRADO</strong></div>
        </div>

        <div
          class="order-payment-item"
          layout="row"
          layout-align="space-between center"
          ng-repeat="payment in vm.order.Payments"
        >
          <div ng-if="payment.type == 'cash'" flex class="order-payment-item-data">
            <span><i class="icon-cash"></i></span> <strong>Pago en efectivo (MXN)</strong>
          </div>
          <div ng-if="payment.type == 'cash-usd'" flex class="order-payment-item-data">
            <span><i class="icon-cash"></i></span> <strong>Pago en efectivo (USD)</strong>
            <p class="small-note">Tipo de cambio: {{payment.exchangeRate | roundCurrency:false}} MXN</p>
          </div>
          <div ng-if="payment.type != 'cash' && payment.type != 'cash-usd' && payment.type != 'cheque' && payment.type != 'transfer' " flex class="order-payment-item-data">
            <span><i class="icon-terminal"></i></span> <strong>Pago con terminal</strong>
          </div>
          <div ng-if="payment.type === 'cheque' " flex class="order-payment-item-data">
            <span><i class="icon-terminal"></i></span> <strong>Cheque</strong>
          </div>          
          <div ng-if="payment.type === 'transfer' " flex class="order-payment-item-data">
            <span><i class="icon-terminal"></i></span> <strong>Transferencia</strong>
          </div>          

          <div flex class="order-payment-item-data">
            <span>{{payment.createdAt | date:'d/MMM/yyyy'}}</span>
          </div>
          <div flex class="order-payment-item-data">
            <span>#{{payment.folio}}</span>
          </div>
          <div flex class="order-payment-item-data">
            <span>{{vm.getPaymentType(payment)}}</span>
          </div>
          <div flex class="order-payment-item-data">
            <span>{{payment.terminal}}</span>
          </div>
          <div flex class="order-payment-item-data">
            <span ng-if="payment.type !='cash-usd'">{{payment.ammount | roundCurrency:false}} MXN</span>
            <span ng-if="payment.type =='cash-usd'">{{payment.ammount | roundCurrency:false}} USD.</span>
          </div>
        </div>
      </div>

      <div class="order-payment-totals" layout="row" layout-align="space-between center">
        <div flex="60">
          <p class="order-payment-totals-note">* Todos los montos incluyen impuestos.</p>
        </div>
        <div flex="20">
          <p><strong>SUBTOTAL COMPRA:</strong></p>
          <p><strong>DESCUENTOS COMPRA:</strong></p>
          <p><strong>TOTAL COMPRA:</strong></p>
          <p><strong>TOTAL PAGADO:</strong></p>
          <p><strong>SALDO:</strong></p>
        </div>
        <div flex="20">
          <p><strong>{{vm.order.subtotal | roundCurrency:false}} MXN</strong></p>
          <p><strong>{{vm.order.discount | roundCurrency:false}} MXN</strong></p>
          <p><strong>{{vm.order.total | roundCurrency:false}} MXN</strong></p>
          <p><strong>{{vm.order.ammountPaid | roundCurrency:false}} MXN</strong></p>
          <p><strong>{{( vm.order.ammountPaid - vm.order.total ) | roundCurrency:false }} MXN</strong></p>
        </div>
      </div>

    </div>
    <!--END ORDER PAYMENTS-->

    <!--MONEDERO-->
    <div class="order-block">
      <h3><strong><i class="icon-monedero"></i> MONEDERO ELECTRÓNICO</strong></h3>
      <div layout="row" class="order-monedero order-block-inner">
        <div flex="60"></div>
        <div flex="20">
          <p>Saldo anterior:</p>
          <p>Abonos:</p>
          <p>Retiros:</p>
          <p><strong>Saldo actual:</strong></p>
        </div>
        <div flex="20">
          <p>{{vm.ewallet.before | roundCurrency:false}} MXN<p>
          <p>{{vm.ewallet.positive | roundCurrency:false}} MXN<p>
          <p>{{vm.ewallet.negative | roundCurrency:false}} MXN<p>
          <p><strong>{{vm.ewallet.current | roundCurrency:false}} MXN</strong><p>
        </div>
      </div>
    </div>
    <!--END MONEDERO-->

    <!--ENVIO-->
    <div class="order-block delivery-block order-block-info">
      <h3><strong><i class="icon-envio"></i> ENVÍO</strong></h3>
      <div class="order-block-inner">
        <p><strong>DIRECCIÓN:</strong> {{vm.order.Address.address}}</p>
        <p><strong>TELÉFONO:</strong> {{vm.order.Address.phone}}</p>
        <p><strong>CELULAR:</strong> {{vm.order.Address.mobile}}</p>
        <p><strong>EMAIL:</strong> {{vm.order.Address.E_Mail}}</p>
        <br>
        <p>El personal de entrega le estará contactando vía telefónica en varias ocasiones:</p>
        <ul>
          <li><strong>Coordinación de la fecha de entrega:</strong> En los siguientes 24 horas hábiles después de la compra.</li>
          <li><strong>Coordinación de la hora de entrega:</strong>  Mínimo 24 horas antes de la entrega.</li>
          <li><strong>Aviso de la llegada de la unidad de entrega</strong>  1 hora antes de la entrega</li>
        </ul>
      </div>
    </div>
    <!--END ENVIO-->

    <!--VENDEDOR-->
    <div class="order-block seller-block order-block-info">
      <h3><strong><i class="icon-vendedor"></i> VENDEDOR</strong></h3>
      <div class="order-block-inner" layout="row" layout-align="space-between center">
        <div flex="40">
          <p><strong>{{vm.order.User.firstName + ' ' + vm.order.User.lastName}}</strong></p>
          <p>{{vm.order.User.email}}</p>
          <p><strong>Télefono: </strong>{{vm.order.User.dialCode + ' ' + vm.order.User.phone }}</p>
          <p><strong>Celular: </strong>{{vm.order.User.mobileDialCode + ' ' + vm.order.User.mobilePhone }}</p>
          <p><strong>{{vm.order.Store.name}}</strong></p>
        </div>
        <div flex="20">
          <a href="#"  ng-click="vm.print()" class="action-btn action-btn-save print-btn">
            <strong>IMPRIMIR RECIBO</strong>
          </a>
        </div>
      </div>
    </div>
    <!--END VENDEDOR-->

  </div>

  <hr/>

  <section id="records-view" class="records-view">
    <h1><i class="icon-attachment"></i> <strong>BITÁCORA DE SEGUIMIENTO</strong></h1>

    <div ng-if="vm.isLoadingRecords" layout-fill layout="row" layout-sm="column" layout-align="center center" class="loading-circle">
      <md-progress-circular md-mode="indeterminate"  md-diameter="150"></md-progress-circular>
    </div>

    <table ng-if="!vm.isLoadingRecords" class="records-table">
      <thead>
        <tr>
          <td>FECHA/HORA EVENTO</td>
          <td>EVENTO</td>
          <td>USUARIO</td>
          <td>FECHA SEGUIMIENTO</td>
          <td>ARCHIVO(S)</td>
          <td>DETALLES</td>
        </tr>
      </thead>
      <tbody ng-repeat="record in vm.records">
        <tr>
          <td>{{record.createdAt | date: 'MMM d, y h:mm:ss a'}}</td>
          <td>{{record.eventType}}</td>
          <td>{{record.User.firstName + ' ' + record.User.lastName}}</td>
          <td>{{record.dateTime | date:'MMM d, y h:mm:ss a' }}</td>
          <td>{{record.files.length || 0}}</td>
          <td>
            <a ng-click="vm.toggleRecord(record)" href="#">
              VER DETALLES <img src="/images/arrow-down.png" alt="">
            </a>
          </td>
        </tr>
        <tr ng-show="record.isActive">
          <td  colspan="6" class="inner-content">
            <div class="record-item">
              <div class="record-item-block" layout="row" layout-align="space-between start">
                <div flex="55">
                  <p><label><strong>NOTAS</strong></label></p>
                  <textarea name="" id="" rows="4">{{record.notes}}</textarea>
                </div>
                <div flex="40" class="center-content">
                  <p><strong>ARCHIVOS ADJUNTOS ({{record.files.length}})</strong></p>

                  <div class="record-item-block-attach">
                    <a
                      ng-repeat="file in record.files"
                      ng-href="{{vm.api.baseUrl + '/uploads/records/gallery/' + file.filename }}"
                      target="_blank">
                      <img
                        ng-src="{{vm.api.baseUrl + '/uploads/records/gallery/300x300' + file.filename }}"
                        alt="">
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>

  </section>


</section>
