<md-dialog class="deposit-dialog" aria-label="Terminal"  ng-cloak>
  <form
    name="paymentForm"
    ng-submit="save(paymentForm)"
    class="form-section"
    ng-class="{
      'form-section-transfer': payment.type === 'transfer'
    }"
    id="paymentForm"
  >

    <div ng-if="payment.type !== 'transfer'" class="deposit-dialog-inner">

      <h2 ng-show="payment.type === 'debit-card'">
        <strong>2. INGRESA LOS DATOS DE TU TARJETA DE DÉBITO</strong>
      </h2>
      <h2 ng-show="payment.type !== 'debit-card'">
        <strong>2. INGRESA LOS DATOS DE TU TARJETA DE CRÉDITO</strong>
      </h2>


      <hr>

      <md-radio-group 
        ng-if="payment.type === 'credit-card' " 
        ng-init="payment.cardType = 'master-card' "
        ng-model="payment.cardType"
        class="payment-cardtype-chooser"
        layout="row"
      >
        <md-radio-button value="master-card" class="md-primary">
          <img src="/images/mastercard.png" alt="">
        </md-radio-button>
        <md-radio-button value="visa" class="md-primary">
          <img src="/images/visa.png" alt="">          
        </md-radio-button>
        <md-radio-button value="american-express" class="md-primary">
          <img src="/images/american.png" alt="">          
        </md-radio-button>

      </md-radio-group>

      <div class="input-container" layout="row" layout-wrap flex="100">
        <div flex="50" flex-sm="100" flex-xs="100" class="input-element">
          <p>
            <label><strong>NOMBRE DEL TARJETAHABIENTE</strong>*<small> (Como aparece en el plástico)</small>
            </label>
          </p>
          <div flex="95" class="input-element-inner">
            <input type="text" ng-model="payment.cardName" required>
          </div>
        </div>
        <div flex flex-sm="100" flex-xs="100" class="input-element">
          <p>
            <label><strong>SELECCIONA UN BANCO</strong>*</label>
          </p>
          <div flex="70" ng-if="payment.options.length > 0">
            <div class="input-element select-element-wrapper">
              <md-select
                ng-model="payment.card"
                ng-change="onChangeCard(payment.card)"
                class="select-element"
              >
                <md-option
                  ng-repeat="option in payment.options track by $index"
                  ng-selected="$index==0"
                  ng-value="option.card.value">
                  {{option.card.label}}
                </md-option>
              </md-select>
            </div>
            <input type="hidden" name="card" ng-model="payment.card">
          </div>
        </div>
      </div>
      <div class="input-container" layout="row" layout-wrap flex="100">
        <div  flex="50" flex-sm="100" flex-xs="100" class="input-element">
          <p>
            <label><strong>NÚMERO DE TARJETA</strong>*<small>(Ingresar sin espacios y sin guiones)</small></label>
          </p>
          <div flex="95" class="input-element-inner">
            <input
              type="text"
              ng-model="payment.cardObject.number"
              minlength="14"
              ng-minlength="14"
              maxlength="19"
              ng-maxlength="19"
              required
            />
          </div>
        </div>
        <div class="input-element" flex="20" flex-sm="70" flex-xs="70">
          <p>
            <label><strong>FECHA DE EXPIRACIÓN</strong>*</label>
          </p>
          <div
            layout="row"
            layout-align="space-between center"
            layout-wrap
            class="expiration-inner"
          >

            <div flex="35" class="input-element select-element-wrapper">
              <md-select
                ng-model="payment.cardObject.expMonth"
                class="select-element"
              >
                <md-option
                  ng-repeat="month in months track by $index"
                  ng-selected="$index==0"
                  ng-value="month">
                  {{month}}
                </md-option>
              </md-select>
            </div>

            <div flex="60" class="input-element select-element-wrapper">
              <md-select
                ng-model="payment.cardObject.expYear"
                class="select-element"
              >
                <md-option
                  ng-repeat="year in years track by $index"
                  ng-selected="$index==0"
                  ng-value="year">
                  {{year}}
                </md-option>
              </md-select>
            </div>
            <!--
            <div flex="35" class="input-element-inner date-margin">
              <input
                type="number"
                ng-model="payment.cardObject.expMonth"
                placeholder="MM"
                required>
            </div>
            <div flex="35" class="input-element-inner">
              <input
                type="number"
                ng-model="payment.cardObject.expYear"
                placeholder="AA"
                required>
            </div>
            -->
          </div>
        </div>
        <div class="input-element cvc-input" flex flex-sm="30" flex-xs="30">
          <p>
            <label><strong>CÓDIGO CVC</strong>*</label>
          </p>
          <div flex="50" flex-sm="100" flex-xs="100" class="input-element-inner">
            <input
              type="text"
              ng-model="payment.cardObject.cvc"
              minlength="3"
              ng-minlength="3"
              maxlength="4"
              ng-maxlength="4"
              required
            />
          </div>
        </div>

        <div>
          <!--<img src="/images/banamex.png" alt="">-->
        </div>

      </div>
      <div class="input-container" layout="row" layout-wrap flex="100">
        <div class="input-element" flex="35" flex-sm="100" flex-xs="100">
          <p>
            <label><strong>PAÍS</strong>*</label>
          </p>
          <div flex="85" class="input-element-inner">
            <input
              type="text"
              ng-model="payment.cardCountry"
              required>
          </div>
        </div>
        <div class="input-element" flex="35" flex-sm="65" flex-xs="65">
          <p>
            <label><strong>ESTADO</strong>*</label>
          </p>
          <div flex="85" class="input-element-inner">
            <input
              type="text"
              ng-model="payment.cardState"
              required>
          </div>
        </div>
        <div class="input-element" flex="20" flex-sm="35" flex-xs="35">
          <p>
            <label><strong>CÓDIGO POSTAL</strong>*</label>
          </p>
          <div flex="75" class="input-element-inner">
            <input
              type="text"
              ng-model="payment.cardZip"
              required
              minlength="5"
              ng-minlength="5"
              maxlength="5"
              ng-maxlength="5"
            >
          </div>
        </div>
      </div>
      <div class="input-container" layout="row" layout-wrap flex="100">
        <div class="input-element" flex-sm="100" flex-xs="100">
          <p>
            <label><strong>CIUDAD</strong>*</label>
          </p>
          <div flex="90" class="input-element-inner">
            <input
              type="text"
              ng-model="payment.cardCity"
              required>
          </div>
        </div>
        <div flex="30" class="input-element" flex-sm="100" flex-xs="100">
          <p>
            <label><strong>COLONIA</strong>*</label>
          </p>
          <div flex="95" class="input-element-inner">
            <input
              type="text"
              ng-model="payment.cardAddress1"
              required>
          </div>
        </div>
        <div flex class="input-element" flex-sm="100" flex-xs="100" >
          <p>
            <label><strong>CALLE Y NÚMERO</strong>*</label>
          </p>
          <div flex="70" class="input-element-inner">
            <input
              type="text"
              ng-model="payment.cardAddress2"
              required
            >
          </div>
        </div>
      </div>

      <p class="bottom-note">Los datos de la dirección deben ser exactamente iguales al estado de cuenta de la tarjeta proporcionada</p>
    </div>

    <div class="deposit-dialog-footer">
      <div class="input-container" layout="row" layout-wrap layout-align="center center">
        <div flex="30" flex-sm="100" flex-xs="100" class="input-element " >

          <div
            class="ammount-input"
            layout="row"
            layout-align="start center"
          >
            <div flex="60">
              <h2 class="payment-amount">
                <strong>{{payment.ammount | currency}}</strong>
                <span hide-gt-sm>MXN</span>
              </h2>

            </div>
            <div class="currency-label" hide-sm hide-xs>
              <span>MXN</span>
            </div>
          </div>
        </div>
        <div flex="40" flex-sm="100" flex-xs="100" class="input-element ammount-description">
          <p ng-show="payment.type === 'transfer'" ><strong>Transferencia de </strong>{{payment.ammount | roundCurrency}} MXN</p>
          <p ng-show="!payment.msi && payment.type !== 'transfer'" ><strong>1 Pago de </strong>{{payment.ammount | roundCurrency}} MXN</p>
          <p ng-show="payment.msi && payment.type !== 'transfer'"><strong>{{payment.msi}} Meses SIN INTERESES de </strong>{{payment.ammount / payment.msi | roundCurrency}} MXN</p>
          <small>*Precios en Pesos Mexicanos con impuestos incluidos.</small>

        </div>
        <div flex="30" flex-sm="100" flex-xs="100" class="input-element">
          <button
            type="submit"
            ng-class="{'action-btn-disabled': isValidPayment(paymentForm) }"
            class="action-btn action-btn-save"
            href="#"
            flex="80">
            <strong>PAGAR</strong>
          </button>
        </div>
      </div>

      <p class="terms-checkbox-block">
        <md-checkbox ng-model="acceptTerms" aria-label="Acepta terminos" required>
          He leído  y estoy de acuerdo con los <a href="/terminos-y-condiciones" target="_blank">términos, politicas y condiciones</a>
        </md-checkbox>        
      </p>

    </div>
  </form>
</md-dialog>
