<div class="method-block" layout="row" layout-align="space-between center">
  <ul flex="75">
    <li layout="row" layout-align="space-between center">
      <div flex="40">
        <md-radio-button value="6 meses" class="md-primary">
          <strong>6</strong>
        </md-radio-button>
         <span class="method-text">Meses</span>
         <div class="hl-label"><strong>Sin intereses</strong></div>
      </div>
      <div flex="60" class="bank-icons">
        <img src="images/banamex.png" alt="">
        <img src="images/amexcard.png" alt="">
        <img src="images/santander.png" alt="">
        <img src="images/bancomer.png" alt="">
        <img src="images/hsbc.png" alt="">
        <img src="images/banorte.png" alt="">
      </div>
    </li>
    <li layout="row" layout-align="space-between center">
      <div flex="40">
        <md-radio-button value="6 meses" class="md-primary">
          <strong>9</strong>
        </md-radio-button>
         <span class="method-text">Meses</span>
         <div class="hl-label"><strong>Sin intereses</strong></div>
      </div>
      <div flex="60" class="bank-icons">
        <img src="images/banamex.png" alt="">
        <img src="images/santander.png" alt="">
        <img src="images/bancomer.png" alt="">
      </div>
    </li>
  </ul>
  <div flex="20" class="method-block-prices">
    <!--
    <div class="discount-label"><strong>-25%</strong></div>
    <h4 class="price-before">{{vm.totalPrice | currency }}</h4>
    -->
    <h2 class="price-now">{{vm.totalPrice | currency }}</h2>
    <!--<p>¡Aprovecha este es el mejor precio!</p>-->
  </div>
</li>
