<div ng-if="vm.isLoading" layout="row" layout-align="center center">
  <md-progress-circular class="md-accent" md-diameter="100px"></md-progress-circular>
</div>

<section ng-show="!vm.isLoading"  class="form-view cart-view checkout-view container container-xxlg" >

  <h1 class="checkout-title">CHECKOUT</h1>

  <div class="steps-bar" layout="row">
    <a ng-href="/quotations/edit/{{vm.quotation.id}}" flex="25" class="steps-bar-item">
      <span><i class="icon-carro"></i> 1. Mi carrito</span>
    </a>
    <a ng-href="/checkout/client/{{vm.quotation.id}}" flex="25" class="steps-bar-item">
      <span><i class="icon-login"></i> 2. Datos personales</span>
    </a>
    <div flex="25" class="steps-bar-item steps-bar-item-active">
      <span><i class="icon-terminal"></i> 3. Método de pago</span>
    </div>
    <div flex="25" class="steps-bar-item">
      <span><i class="icon-oportunidades"></i> 4. Checkout</span>
    </div>
  </div>

  <div class="checkout-view-inner">
    <h3><strong>1. Elige tu plan de pagos</strong> Los planes de meses sin intereses y pagos fijos solo aplican a tarjetas de crédito.</h3>

    <div class="payment-methods-tabs" layout="row">
      <div ng-click="vm.selectSingle()" class="pay-method-tab" ng-class="{'pay-method-tab-active' : vm.singlePayment }">
        <strong>Una forma de pago</strong>
      </div>
      <div ng-click="vm.selectMultiple()" class="pay-method-tab"  ng-class="{'pay-method-tab-active' : vm.multiplePayment }">
        <strong>Multiples formas de pago</strong>
      </div>
    </div>

    <section layout="row">
      <div flex="75">
        <section ng-show="vm.multiplePayment && !vm.singlePayment">
          <div class="pay-method-wrap" >

            <div class="method-block" layout="row" layout-align="space-between center">
              <ul flex="75">
                <li layout="row" layout-align="space-between center">
                  <div flex="55">
                    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                      <strong>Efectivo MXN</strong>
                    </md-checbox>
                  </div>
                </li>
                <li layout="row" layout-align="space-between center">
                  <div flex="55">
                    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                      <strong>Efectivo USD</strong>
                    </md-checkbox>
                     <span>Tipo de cambio $17.05 MXN</span>
                  </div>
                </li>
                <li layout="row" layout-align="space-between center">
                  <div flex="55">
                    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                      <strong>Cheque</strong>
                    </md-checkbox>
                     <span>Sujeto a verificación contable</span>
                  </div>
                </li>
                <li layout="row" layout-align="space-between center">
                  <div flex="55">
                    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                      <strong>Depósito</strong>
                    </md-checkbox>
                     <span class="method-text">Sujeto a verificación contable</span>
                  </div>
                </li>
                <li layout="row" layout-align="space-between center">
                  <div flex="55">
                    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                      <strong>Transferencia</strong>
                    </md-checkbox>
                     <span class="method-text">Sujeto a verificación contable</span>
                  </div>
                </li>
                <li layout="row" layout-align="space-between center">
                  <div flex="40">
                    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                      <strong>3</strong>
                    </md-checkbox>
                     <span class="method-text">Meses</span>
                     <div class="hl-label"><strong>Sin intereses</strong></div>
                  </div>
                  <div flex="60" class="bank-icons">
                    <img src="images/banamex.png" alt="">
                    <img src="images/santander.png" alt="">
                    <img src="images/banorte.png" alt="">
                  </div>
                </li>
                <li layout="row" layout-align="space-between center">
                  <div flex="40">
                    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                      <strong>6</strong>
                    </md-checkbox>
                     <span class="method-text">Meses</span>
                     <div class="hl-label"><strong>Sin intereses</strong></div>
                  </div>
                  <div flex="60" class="bank-icons">
                    <img src="images/banamex.png" alt="">
                    <img src="images/amexcard.png" alt="">
                    <img src="images/santander.png" alt="">
                    <img src="images/bancomer.png" alt="">
                    <img src="images/hsbc.png" alt="">
                    <img src="images/banorte.png" alt="">
                  </div>
                </li>
              </ul>
              <div flex="20" class="method-block-prices">
                <h2 class="price-now'price-hl">{{vm.totalPrice | currency }}</h2>
              </div>
            </div>

          </div>
        </section>


        <md-radio-group ng-show="vm.singlePayment && !vm.multiplePayment" ng-model="data.group1">

          <div class="pay-method-wrap" >
            <div class="method-block" layout="row" layout-align="space-between center">
              <ul flex="75">
                <li>
                  <md-radio-button value="Efectivo" class="md-primary">
                    <strong>Efectivo MXN</strong>
                  </md-radio-button>
                   <span class="method-text">Aceptamos pesos mexicanos y dólares americanos</span>
                </li>
                <li>
                  <md-radio-button value="Efectivo USD" class="md-primary">
                    <strong>Efectivo USD</strong>
                  </md-radio-button>
                   <span class="method-text">Tipo de cambio $17.05 MXN</span>
                </li>
                <li>
                  <md-radio-button value="Cheque" class="md-primary">
                    <strong>Cheque</strong>
                  </md-radio-button>
                   <span class="method-text">Sujeto a verificación contable</span>
                </li>
                <li>
                  <md-radio-button value="Deposito" class="md-primary">
                    <strong>Deposito</strong>
                  </md-radio-button>
                   <span class="method-text">Sujeto a verificación contable</span>
                </li>
                <li>
                  <md-radio-button value="Transferencia" class="md-primary">
                    <strong>Transferencia</strong>
                  </md-radio-button>
                   <span class="method-text">Sujeto a verificación contable</span>
                </li>
                <li layout="row" layout-align="space-between center">
                  <div flex="40">
                    <md-radio-button value="3 meses" class="md-primary">
                      <strong>3</strong>
                    </md-radio-button>
                     <span class="method-text">Meses</span>
                     <div class="hl-label"><strong>Sin intereses</strong></div>
                  </div>
                  <div flex="60" class="bank-icons">
                    <img src="images/banamex.png" alt="">
                    <img src="images/santander.png" alt="">
                    <img src="images/banorte.png" alt="">
                  </div>
                </li>
                <li layout="row" layout-align="space-between center">
                  <div flex="40">
                    <md-radio-button value="6 meses" class="md-primary">
                      <strong>6</strong>
                    </md-radio-button>
                     <span class="method-text">Meses</span>
                     <div class="hl-label"><strong>Sin intereses</strong></div>
                  </div>
                  <div flex="60" class="bank-icons">
                    <img src="images/banamex.png" alt="">
                    <img src="images/amexcard.png" alt="">
                    <img src="images/santander.png" alt="">
                    <img src="images/bancomer.png" alt="">
                    <img src="images/hsbc.png" alt="">
                    <img src="images/banorte.png" alt="">
                  </div>
                </li>
              </ul>
              <div flex="20" class="method-block-prices">
                <!--
                <div class="discount-label"><strong>-25%</strong></div>
                <h4 class="price-before">{{vm.totalPrice | currency }}</h4>
                -->
                <h2 class="price-now price-hl">{{vm.totalPrice | currency }}</h2>
                <!--<p>¡Aprovecha este es el mejor precio!</p>-->
              </div>
            </div>

          </div>

        </md-radio-group>

        <div class="second-step-payment">

          <section>
            <h3><strong>2. Ingresa los montos para cada forma de pago</strong></h3>
            <hr />

            <div class="pay-method-wrap pay-method-wrap-v2" >
              <div class="method-block">
                <ul>

                  <li layout="row" layout-align="space-between center">
                    <div flex="30">
                      <strong>Pago Efectivo MXN</strong>
                    </div>
                    <div flex="30" class="method-icon">
                      <i class="icon-cash"></i>
                    </div>
                    <div flex="40" layout="row" layout-align="start end">
                      <div flex="45" class="input-element">
                        <label>CANTIDAD</label>
                        <div class="input-element-inner">
                          <input type="text" required>
                        </div>
                      </div>
                      <a href="#" flex="45" ng-click="vm.applyPayment(false)" class="action-btn action-btn-save">GUARDAR</a>
                    </div>

                  </li>

                  <li layout="row" layout-align="space-between center">
                    <div flex="30">
                      <strong>Transferencia bancaria</strong>
                    </div>
                    <div flex="30" class="method-icon">
                      <i class="icon-transfer"></i>
                    </div>
                    <div flex="40" layout="row" layout-align="start end">
                      <div flex="45" class="input-element">
                        <label>CANTIDAD</label>
                        <div class="input-element-inner">
                          <input type="text" required>
                        </div>
                      </div>
                      <a href="#" ng-click="vm.applyTransaction($event, 'deposit')" flex="45" class="action-btn">APLICAR</a>
                    </div>
                  </li>

                  <li layout="row" layout-align="space-between center">
                    <div flex="30">
                      <strong>3 Meses</strong>
                     <div class="hl-label"><strong>Sin intereses</strong></div>
                    </div>
                    <div flex="30" class="bank-icons bank-icons-v2">
                      <img src="images/visa.png" alt="">
                      <img src="images/mastercard.png" alt="">
                      <img src="images/amexcard.png" alt="">
                    </div>
                    <div flex="40" layout="row" layout-align="start end">
                      <div flex="45" class="input-element">
                        <label>CANTIDAD</label>
                        <div class="input-element-inner">
                          <input type="text" required>
                        </div>
                      </div>
                      <a href="#" ng-click="vm.applyTransaction($event, 'terminal')" flex="45" class="action-btn">APLICAR</a>
                    </div>
                  </li>

                  <!--
                  <li layout="row" layout-align="space-between center">
                    <div flex="30">
                      <strong>3 Meses</strong>
                     <div class="hl-label"><strong>Sin intereses</strong></div>
                    </div>
                    <div class="method-data" flex="60" layout="row">
                      <div flex="33">
                        <p><strong>TERMINAL</strong></p>
                        <p>TPV Banorte</p>
                      </div>
                      <div flex="33">
                        <p><strong># AUTORIZACIÓN</strong></p>
                        <p>6564</p>
                      </div>
                      <div flex="33">
                        <p><strong>CANTIDAD</strong></p>
                        <p>$30, 000</p>
                      </div>
                    </div>
                    <div flex="10" class="saved-icon-wrap">
                      <i class="icon-login saved-icon"></i>
                    </div>
                  </li>
                  -->
                </ul>

                <!--PAYMENTS APPLIED-->
                <ul>
                  <li ng-repeat="payment in vm.payments" >

                    <div
                      ng-if="payment.isRecurring"
                      layout="row"
                      layout-align="space-between center"
                    >
                      <div flex="30">
                        <strong>{{payment.recurringPayments}} Meses</strong>
                        <div class="hl-label">
                          <strong>{{payment.paymentType}}</strong>
                        </div>
                      </div>
                      <div class="method-data" flex="60" layout="row">
                        <div flex="33">
                          <p><strong>TERMINAL</strong></p>
                          <p>{{payment.terminal}}</p>
                        </div>
                        <div flex="33">
                          <p><strong># AUTORIZACIÓN</strong></p>
                          <p>{{payment.verificationCode}}</p>
                        </div>
                        <div flex="33">
                          <p><strong>CANTIDAD</strong></p>
                          <p>{{payment.ammount | currency}}</p>
                        </div>
                      </div>
                      <div flex="10" class="saved-icon-wrap">
                        <i class="icon-login saved-icon"></i>
                      </div>
                    </div>

                    <div
                      ng-if="payment.type == 'deposit' "
                      layout="row"
                      layout-align="space-between center"
                    >
                      <div flex="30">
                        <strong>Pago efectivo MXN</strong>
                      </div>
                      <div class="method-data" flex="60" layout="row">
                        <div flex="33">
                          <p><strong>CANTIDAD</strong></p>
                          <p>{{payment.ammount | currency}}</p>
                        </div>
                      </div>
                      <div flex="10" class="saved-icon-wrap">
                        <i class="icon-login saved-icon"></i>
                      </div>
                    </div>

                    <div
                      ng-if="payment.type == 'transaction' "
                      layout="row"
                      layout-align="space-between center"
                    >
                      <div flex="30">
                        <strong>Transferencia bancaria</strong>
                      </div>
                      <div class="method-data" flex="60" layout="row">
                        <div flex="33">
                          <p><strong>TERMINAL</strong></p>
                          <p>{{payment.terminal}}</p>
                        </div>
                        <div flex="33">
                          <p><strong># AUTORIZACIÓN</strong></p>
                          <p>{{payment.verificationCode}}</p>
                        </div>
                        <div flex="33">
                          <p><strong>CANTIDAD</strong></p>
                          <p>{{payment.ammount | currency}}</p>
                        </div>
                      </div>
                      <div flex="10" class="saved-icon-wrap">
                        <i class="icon-checkmark saved-icon"></i>
                      </div>
                    </div>

                  </li>

                </ul>
                <!--END PAYMENTS APPLIED-->


              </div>

            </div>

          </section>


        </div>

      </div>

      <aside flex class="cart-aside">
        <h1 class="cart-title"><i class="icon-carro"><span>{{vm.getTotalProducts()}}</span></i> <strong>RESUMEN</strong></h1>

        <div class="cart-summary">
          <table>
            <tr>
              <td><strong>Subtotal ({{vm.getTotalProducts()}}) productos):</strong></td>
              <td><strong>{{vm.totalPrice | currency }}</strong></td>
            </tr>
            <tr>
              <td>Costo de envío:</td>
              <td><strong>GRATIS</strong></td>
            </tr>
          </table>
          <hr>
          <div class="cart-totals" layout="row" layout-align="space-between end">
            <div flex="50">
              <h1><strong>TOTAL:</strong></h1>
            </div>
            <div flex="50">
              <h1 class="price-main"><strong>{{vm.totalPrice | currency }}</strong></h1>
            </div>
          </div>
          <hr>

          <div class="secure-note" layout="row">
            <p flex="60"><strong>Las compras con ACTUAL son 100% seguras.</strong></p>
          </div>

          <input type="submit" value="PAGAR" class="cart-view-btn">

          <p class="cart-summary-note">*Precios en Pesos Mexicanos con impuestos incluidos.</p>

        </div>

      </aside>

    </section>




  </div>






</section>
