<div ng-if="vm.isLoading" layout="row" layout-align="center center">
  <md-progress-circular class="md-accent" md-diameter="100px"></md-progress-circular>
</div>

<section ng-show="!vm.isLoading"  class="form-view cart-view checkout-view cont{{vm.getTotalPrice() | currency }}ainer container-xxlg" >

  <h1 class="checkout-title">CHECKOUT</h1>

  <div class="steps-bar" layout="row">
    <a ng-href="/quotations/edit/{{vm.quotation.id}}" flex="25" class="steps-bar-item">
      <span><i class="icon-carro"></i> 1. Mi carrito</span>
    </a>
    <a ng-href="/checkout/client/{{vm.quotation.id}}" flex="25" class="steps-bar-item">
      <span><i class="icon-login"></i> 2. Datos personales</span>
    </a>
    <div flex="25" class="steps-bar-item steps-bar-item-active">
      <span><i class="icon-terminal"></i> 3. Método de pago</span>
    </div>
    <div flex="25" class="steps-bar-item">
      <span><i class="icon-oportunidades"></i> 4. Checkout</span>
    </div>
  </div>

  <div class="checkout-view-inner">
    <h3><strong>1. Elige tu plan de pagos</strong> Los planes de meses sin intereses y pagos fijos solo aplican a tarjetas de crédito.</h3>

    <div class="payment-methods-tabs" layout="row">
      <div ng-click="vm.selectSingle()" class="pay-method-tab" ng-class="{'pay-method-tab-active' : vm.singlePayment }">
        <strong>Una forma de pago</strong>
      </div>
      <div ng-click="vm.selectMultiple()" class="pay-method-tab"  ng-class="{'pay-method-tab-active' : vm.multiplePayment }">
        <strong>Multiples formas de pago</strong>
      </div>
    </div>

    <section ng-show="vm.multiplePayment && !vm.singlePayment">
      <div class="pay-method-wrap" >

        <div class="method-block" layout="row" layout-align="space-between center">
          <ul flex="80">
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                  <strong>Efectivo MXN</strong>
                </md-checbox>
              </div>
            </li>
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                  <strong>Efectivo USD</strong>
                </md-checkbox>
                 <span>Tipo de cambio $17.05 MXN</span>
              </div>
            </li>
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                  <strong>Cheque</strong>
                </md-checkbox>
                 <span>Sujeto a verificación contable</span>
              </div>
            </li>
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                  <strong>Depósito</strong>
                </md-checkbox>
                 <span>Sujeto a verificación contable</span>
              </div>
            </li>
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                  <strong>Transferencia</strong>
                </md-checkbox>
                 <span>Sujeto a verificación contable</span>
              </div>
            </li>
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                  <strong>3</strong>
                </md-checkbox>
                 <span>Meses</span>
                 <div class="hl-label"><strong>Sin intereses</strong></div>
              </div>
              <div flex="60" class="bank-icons">
                <img src="images/banamex.png" alt="">
                <img src="images/santander.png" alt="">
                <img src="images/banorte.png" alt="">
              </div>
            </li>
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                  <strong>6</strong>
                </md-checkbox>
                 <span>Meses</span>
                 <div class="hl-label"><strong>Sin intereses</strong></div>
              </div>
              <div flex="60" class="bank-icons">
                <img src="images/banamex.png" alt="">
                <img src="images/amexcard.png" alt="">
                <img src="images/santander.png" alt="">
                <img src="images/bancomer.png" alt="">
                <img src="images/hsbc.png" alt="">
                <img src="images/banorte.png" alt="">
              </div>
            </li>
          </ul>
          <div flex="15" class="method-block-prices">
            <h2 class="price-now">$56,097</h2>
          </div>
        </div>

      </div>
    </section>


    <md-radio-group ng-show="vm.singlePayment && !vm.multiplePayment" ng-model="data.group1">

      <div class="pay-method-wrap" >
        <div class="method-block" layout="row" layout-align="space-between center">
          <ul flex="80">
            <li>
              <md-radio-button value="Efectivo" class="md-primary">
                <strong>Efectivo</strong>
              </md-radio-button>
               <span>Aceptamos pesos mexicanos y dólares americanos</span>
            </li>
            <li>
              <md-radio-button value="Deposito" class="md-primary">
                <strong>Deposito</strong>
              </md-radio-button>
               <span>Sujeto a verificación contable</span>
            </li>
            <li>
              <md-radio-button value="Transferencia" class="md-primary">
                <strong>Transferencia</strong>
              </md-radio-button>
               <span>Sujeto a verificación contable</span>
            </li>
          </ul>
          <div flex="15" class="method-block-prices">
            <div class="discount-label"><strong>-25%</strong></div>
            <h4 class="price-before">$56,097</h4>
            <h2 class="price-now price-hl">$30,097</h2>
            <p>¡Aprovecha este es el mejor precio!</p>
          </div>
        </div>

        <div class="method-block" layout="row" layout-align="space-between center">
          <ul flex="80">
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-radio-button value="dede" class="md-primary">
                  <strong>1</strong>
                </md-radio-button>
                 <span>Pago con tarjeta de crédito o débito</span>
              </div>
              <div flex="60" class="bank-icons">
                <img src="images/visa.png" alt="">
                <img src="images/mastercard.png" alt="">
                <img src="images/amexcard.png" alt="">
              </div>
            </li>
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-radio-button value="Deposito" class="md-primary">
                  <strong>3</strong>
                </md-radio-button>
                 <span>Meses de MXN $14,699</span>
                 <div class="hl-label"><strong>Sin intereses</strong></div>
              </div>
              <div flex="60" class="bank-icons">
                <img src="images/banamex.png" alt="">
                <img src="images/amexcard.png" alt="">
                <img src="images/santander.png" alt="">
                <img src="images/bancomer.png" alt="">
                <img src="images/hsbc.png" alt="">
                <img src="images/banorte.png" alt="">
              </div>
            </li>
          </ul>
          <div flex="15" class="method-block-prices">
            <div class="discount-label"><strong>-20%</strong></div>
            <h4 class="price-before">$56,097</h4>
            <h2 class="price-now">$44,097</h2>
          </div>
        </div>

        <div class="method-block" layout="row" layout-align="space-between center">
          <ul flex="80">
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-radio-button value="Deposito" class="md-primary">
                  <strong>3</strong>
                </md-radio-button>
                 <span>Meses de MXN $15,894</span>
                 <div class="hl-label"><strong>Sin intereses</strong></div>
              </div>
              <div flex="60" class="bank-icons">
                <img src="images/banamex.png" alt="">
                <img src="images/santander.png" alt="">
                <img src="images/hsbc.png" alt="">
              </div>
            </li>
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-radio-button value="Deposito" class="md-primary">
                  <strong>6</strong>
                </md-radio-button>
                 <span>Meses de MXN $7,947</span>
                 <div class="hl-label"><strong>Sin intereses</strong></div>
              </div>
              <div flex="60" class="bank-icons">
                <img src="images/banamex.png" alt="">
              </div>
            </li>
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-radio-button value="Deposito" class="md-primary">
                  <strong>9</strong>
                </md-radio-button>
                 <span>Meses de MXN $5,298</span>
                 <div class="hl-label"><strong>Sin intereses</strong></div>
              </div>
              <div flex="60" class="bank-icons">
                <img src="images/banamex.png" alt="">
                <img src="images/santander.png" alt="">
                <img src="images/bancomer.png" alt="">
                <img src="images/banorte.png" alt="">
              </div>
            </li>
          </ul>
          <div flex="15" class="method-block-prices">
            <div class="discount-label"><strong>-15%</strong></div>
            <h4 class="price-before">$56,097</h4>
            <h2 class="price-now">$47,683</h2>
          </div>
        </div>

        <div class="method-block" layout="row" layout-align="space-between center">
          <ul flex="80">
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-radio-button value="Deposito" class="md-primary">
                  <strong>3</strong>
                </md-radio-button>
                 <span>Meses de MXN $16,829</span>
                 <div class="hl-label"><strong>Sin intereses</strong></div>
              </div>
              <div flex="60" class="bank-icons">
                <img src="images/banorte.png" alt="">
              </div>
            </li>
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-radio-button value="Deposito" class="md-primary">
                  <strong>6</strong>
                </md-radio-button>
                 <span>Meses de MXN $8,414</span>
                 <div class="hl-label"><strong>Sin intereses</strong></div>
              </div>
              <div flex="60" class="bank-icons">
                <img src="images/santander.png" alt="">
                <img src="images/banorte.png" alt="">
              </div>
            </li>
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-radio-button value="Deposito" class="md-primary">
                  <strong>9</strong>
                </md-radio-button>
                 <span>Meses de MXN $5,609.66</span>
                 <div class="hl-label"><strong>Sin intereses</strong></div>
              </div>
              <div flex="60" class="bank-icons">
                <img src="images/banamex.png" alt="">
                <img src="images/santander.png" alt="">
              </div>
            </li>
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-radio-button value="Deposito" class="md-primary">
                  <strong>12</strong>
                </md-radio-button>
                 <span>Meses de MXN $4,207.25</span>
                 <div class="hl-label"><strong>Sin intereses</strong></div>
              </div>
              <div flex="60" class="bank-icons">
                <img src="images/banamex.png" alt="">
                <img src="images/santander.png" alt="">
                <img src="images/banorte.png" alt="">
              </div>
            </li>
          </ul>
          <div flex="15" class="method-block-prices">
            <div class="discount-label"><strong>-10%</strong></div>
            <h4 class="price-before">$56,097</h4>
            <h2 class="price-now">$50,487</h2>
          </div>
        </div>

        <div class="method-block" layout="row" layout-align="space-between center">
          <ul flex="80">
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-radio-button value="Deposito" class="md-primary">
                  <strong>3</strong>
                </md-radio-button>
                 <span>Meses de MXN $19,032.33</span>
                 <div class="hl-label hl-label-v2"><strong>Pagos fijos</strong></div>
              </div>
              <div flex="60" class="bank-icons">
                <img src="images/visa.png" alt="">
                <img src="images/mastercard.png" alt="">
                <img src="images/amexcard.png" alt="">
              </div>
            </li>
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-radio-button value="Deposito" class="md-primary">
                  <strong>6</strong>
                </md-radio-button>
                 <span>Meses de MXN $9,649.5</span>
                 <div class="hl-label hl-label-v2"><strong>Pagos fijos</strong></div>
              </div>
              <div flex="60" class="bank-icons">
                <img src="images/visa.png" alt="">
                <img src="images/mastercard.png" alt="">
                <img src="images/amexcard.png" alt="">
              </div>
            </li>
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-radio-button value="Deposito" class="md-primary">
                  <strong>9</strong>
                </md-radio-button>
                 <span>Meses de MXN $6,494.11</span>
                 <div class="hl-label hl-label-v2"><strong>Pagos fijos</strong></div>
              </div>
              <div flex="60" class="bank-icons">
                <img src="images/visa.png" alt="">
                <img src="images/mastercard.png" alt="">
              </div>
            </li>
            <li layout="row" layout-align="space-between center">
              <div flex="40">
                <md-radio-button value="Deposito" class="md-primary">
                  <strong>12</strong>
                </md-radio-button>
                 <span>Meses de MXN $4,966.41</span>
                 <div class="hl-label hl-label-v2"><strong>Pagos fijos</strong></div>
              </div>
              <div flex="60" class="bank-icons">
                <img src="images/visa.png" alt="">
                <img src="images/mastercard.png" alt="">
              </div>
            </li>
          </ul>
          <div flex="15" class="method-block-prices">
            <h2 class="price-now">$56,097</h2>
          </div>
        </div>

      </div>

    </md-radio-group>

    <div class="second-step-payment" layout="row" layout-align="space-between start">

      <section flex="75">
        <h3><strong>2. Ingresa los montos para cada forma de pago</strong></h3>
        <hr />

        <div class="pay-method-wrap pay-method-wrap-v2" >
          <div class="method-block">
            <ul>

              <li layout="row" layout-align="space-between center">
                <div flex="40">
                  <strong>Pago Efectivo MXN</strong>
                </div>
                <div flex="40" layout="row" layout-align="start end">
                  <div flex="45" class="input-element">
                    <label>CANTIDAD</label>
                    <div class="input-element-inner">
                      <input type="text" required>
                    </div>
                  </div>
                  <a href="#" flex="45" class="action-btn action-btn-save">GUARDAR</a>
                </div>

              </li>

              <li layout="row" layout-align="space-between center">
                <div flex="40">
                  <strong>Transferencia bancaria</strong>
                </div>
                <div flex="40" layout="row" layout-align="start end">
                  <div flex="45" class="input-element">
                    <label>CANTIDAD</label>
                    <div class="input-element-inner">
                      <input type="text" required>
                    </div>
                  </div>
                  <a href="#" ng-click="vm.applyDeposit($event)" flex="45" class="action-btn">APLICAR</a>
                </div>
              </li>

              <li layout="row" layout-align="space-between center">
                <div flex="30">
                  <strong>3 Meses</strong>
                 <div class="hl-label"><strong>Sin intereses</strong></div>
                </div>
                <div flex="30" class="bank-icons bank-icons-v2">
                  <img src="images/visa.png" alt="">
                  <img src="images/mastercard.png" alt="">
                  <img src="images/amexcard.png" alt="">
                </div>
                <div flex="40" layout="row" layout-align="start end">
                  <div flex="45" class="input-element">
                    <label>CANTIDAD</label>
                    <div class="input-element-inner">
                      <input type="text" required>
                    </div>
                  </div>
                  <a href="#" flex="45" class="action-btn">APLICAR</a>
                </div>
              </li>

              <li layout="row" layout-align="space-between center">
                <div flex="30">
                  <strong>3 Meses</strong>
                 <div class="hl-label"><strong>Sin intereses</strong></div>
                </div>
                <div class="method-data" flex="60" layout="row">
                  <div flex="33">
                    <p><strong>TERMINAL</strong></p>
                    <p>TPV Banorte</p>
                  </div>
                  <div flex="33">
                    <p><strong># AUTORIZACIÓN</strong></p>
                    <p>TPV Banorte</p>
                  </div>
                  <div flex="33">
                    <p><strong>CANTIDAD</strong></p>
                    <p>$30, 000</p>
                  </div>
                </div>
                <div flex="10" class="saved-icon-wrap">
                  <i class="icon-login saved-icon"></i>
                </div>
              </li>

            </ul>
          </div>

        </div>

      </section>

      <aside flex class="cart-aside">
        <h1 class="cart-title"><i class="icon-carro"><span>{{vm.getTotalProducts()}}</span></i> <strong>RESUMEN</strong></h1>

        <div class="cart-summary">
          <table>
            <tr>
              <td><strong>Subtotal ({{vm.getTotalProducts()}}) productos):</strong></td>
              <td><strong>$56,097</strong></td>
            </tr>
            <tr>
              <td>Costo de envío:</td>
              <td><strong>GRATIS</strong></td>
            </tr>
          </table>
          <hr>
          <div class="cart-totals" layout="row" layout-align="space-between end">
            <div flex="50">
              <h1><strong>TOTAL:</strong></h1>
            </div>
            <div flex="50">
              <h1 class="price-main-v2"><strong>{{vm.getTotalPrice() | currency }}</strong></h1>
            </div>
          </div>
          <hr>

          <div class="secure-note" layout="row">
            <p flex="60"><strong>Las compras con ACTUAL son 100% seguras.</strong></p>
          </div>

          <input type="submit" value="PAGAR" class="cart-view-btn">

          <p class="cart-summary-note">*Precios en Pesos Mexicanos con impuestos incluidos.</p>

        </div>

      </aside>


    </div>


  </div>






</section>
