<div
  class="method-block"
  layout="row"
  layout-align="space-between center"
>
  <ul flex="75" flex-md="65" flex-sm="65">
    <li
      ng-repeat="method in paymentGroup.methods"
      ng-show="vm.isActiveMethod(method,vm.quotation)"
      layout="row"
      layout-wrap
      layout-align="space-between center"
    >
      <div
        ng-attr-flex="{{method.cardsImages && '40' || '100' }}"
        ng-attr-flex-md="{{method.cardsImages && '50' || '100' }}"
        ng-attr-flex-md="{{method.cardsImages && '60' || '100' }}"
        flex-sm="100"
        flex-xs="100"
      >

        <md-radio-button
          ng-click="vm.chooseMethod(method , paymentGroup.group)"
          ng-model="method"
          ng-value="method"
          class="md-primary">

          <strong>{{method.label}}</strong>
        </md-radio-button>
        <span
          ng-if="!method.msi && method.type != 'single-payment-terminal' "
          class="method-text"
        >
          {{method.description}}
        </span>
        <span ng-if="method.msi" class="method-text">Meses</span>
        <div ng-if="method.msi" class="hl-label"><strong>Sin intereses</strong></div>
      </div>

      <div
        ng-if="method.cardsImages"
        flex="60"
        flex-md="50"
        flex-sm="50"
        class="bank-icons"
      >
        <img
          ng-repeat="card in method.cardsImages"
          ng-src="{{ vm.api.baseUrl + card}}"
          alt=""
          ng-class=" method.discountKey != 'discountPg1' ? 'card' : ''"
        >
        <span>
          <img
            ng-if="method.moreCards"
            src="images/mas-bancos.png"
            alt="Más bancos"
            class="card"
          >
          <md-tooltip class="banks-tooltip">
            <ul>
              <li ng-repeat="card in method.cards track by $index">
                {{card}}
              </li>
            </ul>
          </md-tooltip>
        </span>
      </div>
    </li>

  </ul>
  <div
    flex="20"
    flex-md="15"
    flex-sm="30"
    flex-xs="30"
    class="method-block-prices"
    ng-show="!vm.areMethodsDisabled(paymentGroup.methods)"
  >
    <h2 class="price-now" ng-class="{'price-hl' : $index == 0 }">
      {{ vm.calculateRemaining(paymentGroup.total) | roundCurrency }}
    </h2>
  </div>
</div>
