<section class="spei-card">
  <div class="spei-card-inner">    
    <div class="ps-reminder">Ficha digital. No es necesario imprimir.</div>
    <div class="ps">
      <div class="ps-header">
        <div class="ps-info">
          <div class="ps-actual-logo"><img src="images/logo.png" alt="Actual Group"></div>
          <div class="ps-amount">
            <h3 class="amount-to-pay">Monto a pagar</h3>
            <h2>{{vm.quotation.OrderWeb.conektaAmount | roundCurrency}} <sup>MXN</sup></h2>
          </div>
          <div class="ps-alert">
            <p>Utiliza exactamente esta cantidad al realizar el pago.</p>
          </div>
          <div class="ps-spei-brand">
            <img src="images/spei_brand.png" alt="">
          </div>
        </div>

        <div class="ps-block">
          <p class="ps-company-data-title">
            <span>Datos de la empresa</span>
          </p>
          <div class="ps-company-data">

            <table>
              <tr>
                <td>Nombre de la empresa:</td>
                <td><strong>AH ACTUAL S.A DE C.V</strong></td>
              </tr>
              <tr>
                <td>RFC de la empresa:</td>
                <td><strong>AAC130902PR7</strong></td>
              </tr>
              <tr>
                <td>Concepto del pago:</td>
                <td><strong>Muebles y Decoración</strong></td>
              </tr>
            </table>

            <div class="ps-reference">
              <h3>CLABE</h3>
              <h1>{{vm.quotation.OrderWeb.receiving_account_number}}</h1>
            </div>

          </div>
        </div>

      </div>
      <div class="ps-block">
        <div class="ps-instructions">
          <h3>Instrucciones</h3>
          <ol>
            <li>Accede a tu banca en línea.</li>
            <li>Da de alta la CLABE en esta ficha. <strong>El banco deberá de ser {{vm.quotation.OrderWeb.receiving_account_bank}}</strong>.</li>
            <li>Realiza la transferencia correspondiente por la cantidad exacta en esta ficha, <strong>de lo contrario se rechazará el cargo</strong>.</li>
            <li>Al confirmar tu pago, el portal de tu banco generará un comprobante digital. <strong>En el podrás verificar que se haya realizado correctamente.</strong> Conserva este comprobante de pago.</li>
          </ol>
          <div class="ps-footnote">Al completar estos pasos recibirás un correo de <strong>AH ACTUAL S.A DE C.V.</strong> confirmando tu pago.</div>
        </div>
      </div>
    </div>
  </div>
</section>
