<md-dialog class="options-alert-dialog" aria-label="Transfer instructions dialog"  ng-cloak>
  <div class="options-alert-inner">

		<a
			href="#"
			ng-click="cancel()"
			class="options-alert-cancel">
			x
		</a>

		<h3>¿Cómo funciona elegir pagar con SPEI?</h3>
		
		<p>Su orden de compra estará EN PROCESO, Usted recibirá un correo electrónico detallado, le sugerimos no volver a generar la misma cotización para evitar una duplicidad.</p>

		<ul>
			<li>Al dar clic en CONTINUAR obtendrá los 18 dígitos únicos para realizar el pago total cotizado.</li>
			<li>Al realizar el pago electrónico interbancario (SPEI) el pago se aplicará de inmediato.</li>
			<li>Los artículos estarán APARTADOS hasta que el pago sea acreditado.</li>
			<li>El tiempo MÁXIMO para acreditar el pago es de 12 horas hábiles.</li>
		</ul>

		<p>
			<a href="" ng-click="continue()" class="action-btn">Aceptar</a>
		</p>

	</div>
</md-dialog>
