<md-dialog class="options-alert-dialog" aria-label="Transfer instructions dialog"  ng-cloak>
  <div class="options-alert-inner transfer-instructions-dialog">

		<a
			href="#"
			ng-click="cancel()"
			class="options-alert-cancel">
			x
		</a>

		<h3>¿Cómo funciona elegir pagar con SPEI?</h3>
		
		<p>Su orden de compra estará EN PROCESO, Usted recibirá un correo electrónico de su cotización detallada, le sugerimos no volver a generar la misma cotización para evitar una duplicidad.</p>

		<ul>
			<li>Al dar clic en COMPRAR obtendrá los 18 dígitos únicos para realizar el pago total cotizado.</li>
			<li>Dar de alta en su banca electrónica la CLABE de 18 dígitos proporcionados.</li>
			<li>Seleccionar el BANCO STP (Sistema de Transferencia de Pago).</li>
			<li>Realizar la trasferencia correspondiente por la cantidad exacta de su COMPRA, de lo contrario se rechazará su cargo.</li>
			<li>Al realizar y confirmar el pago electrónico interbancario (SPEI) el portal de tu banco generará un comprobante digital.</li>
			<li>El pago se aplicará de inmediato y podrás verificar que se haya realizado correctamente.</li>
			<li>Los artículos estarán APARTADOS hasta que el pago sea acreditado.</li>
			<li>El tiempo MÁXIMO para acreditar el pago es de 12 horas hábiles.</li>
		</ul>

		<p>SPEI es un sistema de pago desarrollado por el Banco de México que permite enviar y recibir transferencias electrónicas interbancarias en cuestión de segundos dentro de México. Actual Group utiliza este sistema de pago y añade funcionalidades extras para ofrecer un mejor servicio.</p>

		<p>El proceso de alta de la CLABE Interbancaria puede variar entre una institución bancaria y otra, favor de llamar a su banco para cualquier duda o aclaración</p>

		<p>
			<a href="" ng-click="continue()" class="action-btn">Aceptar</a>
		</p>

	</div>
</md-dialog>
