<div ng-if="vm.bedRooms && main.site" id="home-slider-wrapper">
  <div class="listing-view">
    <h2 class="listing-view-title best-seller-title">
      <a href="/category/recamaras">
        <span class="color-gray"><strong>Top Recámaras</strong></span>
      </a>
    </h2>
  </div>
  <div class="products-list" layout="row" layout-wrap layout-align="start center"  ng-cloak>
    <div flex="80" ng-show="vm.top['recamaras-loaded']">
      <slick class="categories-carousel" responsive="vm.bestSellersCarouselBreakpoints" infinite="false" slides-to-show="3" slides-to-scroll="3"
      init-onload=true data="vm.top['recamaras-loaded']">
        <div ng-repeat="product in vm.bedRooms"
        class="listing-product-wrap">
          <listing-product class="foo" product="product"></listing-product>
        </div>
      </slick>
    </div>
    <div hide-xs hide-sm flex="20" layout="row" layout-wrap layout-align="start center" class="view-more-category">
      <a href="/category/salas">
        <div class="circle">
          <div class="circle-text">
            <p>
              VER CATEGORÍA <strong>COMPLETA</strong>
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
