<div ng-if="vm.featuredProducts && main.site" id="home-slider-wrapper">
  <div class="listing-view">
    <h2 class="listing-view-title best-seller-title">
      <a href="/category/ninos">
        <span class="color-gray">Recomendados</span>
      </a>
    </h2>
  </div>
  <div class="products-list" layout="row" layout-wrap layout-align="start center" ng-cloak>
    <div flex="80" flex-xs="100" flex-sm="100">
      <slick class="categories-carousel" infinite="true" slides-to-show="3" slides-to-scroll="3" init-onload=true data="vm.featuredLoaded"
        responsive="vm.bestSellersCarouselBreakpoints">
        <div ng-repeat="featuredNinos in vm.featuredProducts | filter:{ categoryHandle: 'ninos' } | limitTo:vm.limitKidsForniture"
          class="listing-product-wrap">
          <listing-product product="featuredNinos.product"></listing-product>
        </div>
      </slick>
    </div>
    <div hide-xs hide-sm flex="20" layout="row" layout-wrap layout-align="start center" class="view-more-category">
      <a href="/category/ninos">
        <div class="circle circle-salas">
          <div class="circle-text">
            <p>
              VER
              <br> 
              CATEGORÍA
              <strong>COMPLETA</strong>
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div hide-gt-sm class="listing-view">
    <a href="/category/ninos" class="action-btn">
      VER MÁS PRODUCTOS
    </a>
  </div>
</div>