<div ng-if="vm.dinningRooms && main.site" id="home-slider-wrapper">
  <div class="listing-view">
    <h2 class="listing-view-title best-seller-title">
      <a href="/category/comedores">
        <span class="color-gray">
          <strong>Top Comedores</strong>
        </span>
      </a>
    </h2>
  </div>
  <div class="products-list" layout="row" layout-wrap layout-align="start center" ng-cloak>
    <div flex="80" flex-xs="100" ng-show="vm.top['comedores-loaded']">
      <slick class="categories-carousel" responsive="vm.bestSellersCarouselBreakpoints" infinite="false" slides-to-show="3" slides-to-scroll="3"
        init-onload=true data="vm.top['comedores-loaded']">
        <div ng-repeat="product in vm.dinningRooms" class="listing-product-wrap">
          <listing-product class="foo" product="product"></listing-product>
        </div>
      </slick>
    </div>
    <div hide-xs hide-sm flex="20" layout="row" layout-wrap layout-align="start center" class="view-more-category">
      <a href="/category/comedores">
        <div class="circle circle-comedores">
          <div class="circle-text">
            <p>
              VER CATEGORÍA
              <strong>COMPLETA</strong>
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div hide-gt-sm class="listing-view">
    <a href="/category/comedores" class="action-btn">
      VER MÁS PRODUCTOS
    </a>
  </div>
</div>