<div ng-if="vm.dinningRooms && main.site" id="home-slider-wrapper">
  <div class="listing-view">
    <h2 class="listing-view-title best-seller-title">
      <a href="/category/comedores">
        <span class="color-gray"><strong>Top Comedores</strong></span>
      </a>
    </h2>
  </div>
  <div class="products-list" layout="row" layout-wrap layout-align="start center" ng-cloak>
    <div flex="80" layout="row" layout-wrap layout-align="start center">
      <div flex="33" flex-sm="50" flex-xs="100" ng-repeat="product in vm.dinningRooms | limitTo:vm.limitDinningRooms track by $index"
        class="listing-product-wrap">
        <listing-product product="product"></listing-product>
      </div>
    </div>
    <div flex="20" layout="row" layout-wrap layout-align="start center" class="view-more-category">
      <a href="/category/comedores">
        <div class="circle">
          <div class="circle-text">
            <p>
              VER CATEGORÍA <strong>COMPLETA</strong>
            </p>
          </div>
        </div>
      </a>
    </div>
    <!-- <button flex="50" style="margin: 0px auto;" class="action-btn" ng-if="vm.dinningRooms.length > vm.limitDinningRooms" ng-click="loadMore('dinningRooms')">Ver más</button> -->
  </div>
</div>
