<div ng-if="vm.featuredProducts && main.site" id="home-slider-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">PRODUCTOS MÁS VENDIDOS</h3>
        <p class="text-center">
          <small>
            Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla
            euismod ultrices massa, et feugiat ipsum consequat eu.
          </small>
        </p>
      </div>
    </div>
  </div>

  <div
    class="products-list"
    layout="row"
    layout-wrap
    layout-align="center"
    ng-cloak
  >
    <div flex="80" flex-xs="100" flex-sm="100">
      <slick
        responsive="vm.bestSellersCarouselBreakpoints"
        infinite="false"
        slides-to-show="4"
        slides-to-scroll="0"
        init-onload="true"
        data="vm.featuredLoaded"
      >
        <div
          ng-repeat="featuredSalas in vm.featuredProducts | filter: {categoryHandle: 'salas'} | limitTo: vm.limitLivingRooms"
          class="listing-product-wrap"
        >
          <listing-product product="featuredSalas.product" />
        </div>
      </slick>
    </div>
  </div>
</div>
