<div ng-if="vm.kidsBureaus && main.site" id="home-slider-wrapper">
  <div class="listing-view">
    <h2 class="listing-view-title best-seller-title">
      <a href="/category/comoda-infantil">
        <span class="color-gray">Cómodas y burós infantiles</span>
      </a>
    </h2>
  </div>
  <div class="products-list" layout="row" layout-wrap layout-align="start center" ng-cloak>
    <div flex="80" flex-xs="100" ng-show="vm.top['comoda-infantil-loaded']">
      <slick class="categories-carousel" infinite="false" slides-to-show="3" slides-to-scroll="3" init-onload=true data="vm.top['comoda-infantil-loaded']">
        <div ng-repeat="product in vm.kidsBureaus" class="listing-product-wrap">
          <listing-product class="foo" product="product"></listing-product>
        </div>
      </slick>
    </div>
    <div flex="20" layout="row" layout-wrap layout-align="start center" class="view-more-category">
      <a href="/category/comoda-infantil">
        <div class="circle circle-salas">
          <div class="circle-text">
            <p>
              VER CATEGORÍA
              <strong>COMPLETA</strong>
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div hide-gt-sm class="listing-view">
    <a href="/category/comoda-infantil" class="action-btn">
      VER MÁS PRODUCTOS
    </a>
  </div>
</div>
