<div ng-if="vm.featuredProducts && main.site" id="home-slider-wrapper">
  <div class="listing-view">
    <h1 class="listing-view-title best-seller-title">
      <a href="/category/salas">
        <span class="color-gray">
          <strong>Nuevas colecciones</strong>
        </span>
      </a>
    </h1>
  </div>
  <div
    class="products-list"
    layout="row"
    layout-wrap
    layout-align="start center"
    ng-cloak
  >
    <div flex="80" flex-xs="100" flex-sm="100">
      <slick
        class="categories-carousel"
        responsive="vm.bestSellersCarouselBreakpoints"
        infinite="true"
        slides-to-show="3"
        slides-to-scroll="3"
        init-onload="true"
        data="vm.featuredLoaded"
      >
        <div
          ng-repeat="featuredSalas in vm.featuredProducts | filter: {categoryHandle: 'salas'} | limitTo: vm.limitLivingRooms"
          class="listing-product-wrap"
        >
          <listing-product product="featuredSalas.product" />
        </div>
      </slick>
    </div>
    <div
      hide-xs
      hide-sm
      flex="20"
      layout="row"
      layout-wrap
      layout-align="start center"
      class="view-more-category"
    >
      <a href="/category/salas">
        <div class="circle circle-recamaras">
          <div class="circle-text">
            <p style="font-size: 26px">
              VER
              <br />
              CATEGORÍA
              <strong>COMPLETA</strong>
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div hide-gt-sm class="listing-view">
    <a href="/category/salas" class="action-btn"> VER MÁS PRODUCTOS </a>
  </div>
</div>
