<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">PAQUETES STUDIO</h3>
      <p class="text-center responsive-text">
        <small class="custom">
          Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla
          euismod ultrices.
        </small>
      </p>
    </div>
  </div>
</div>

<!-- MEDIDAS DE IMAGENES DEL CAROUSEL 1920 x 750-->
<div class="container-fluid">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="/ofertas">
          <img
            src="/images/bundles-studio/bundle-sudio.jpg"
            class="d-block w-100"
            alt="..."
          />
        </a>
      </div>
      <div class="carousel-item">
        <offers-directive />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
