<div class="modal-header cart-modal-header">
  <div class="modal-header-top">
    <h4>
      Hay 
      <strong>({{main.activeQuotation.totalProducts}}) productos</strong>
       en tu carrito
    </h4>
  </div>
  <div class="modal-header-inner">
    <div 
      class="cart-modal-subtotal" 
      layout="row" 
      layout-align="space-between center"
    >
      <p flex="30">
        <strong>MI CARRITO</strong>
      </p>
      <p flex="70">
        SUBTOTAL: <strong>MXN {{main.activeQuotation.total | currency}}</strong>
      </p>
    </div>
    <hr/>
    <a ng-href="/quotations/edit/{{main.activeQuotation.id}}" class="action-btn">
      Ver detalles de mi carrito
    </a>
    <hr/>
    
    <!--CART ITEMS-->
    <div class="cart-modal-items">
      <div layout="row" layout-wrap>
        <div 
          ng-repeat="detail in main.activeQuotation.Details track by $index" 
          class="cart-modal-item-wrap" 
          flex="33"
        >
          <a ng-href="/product/{{detail.Product.ItemCode}}">
            <img 
              class="cart-modal-item-img" 
              ng-src="{{detail.Product.icons[10].url}}" alt=""
            >
          </a>
          <div class="cart-modal-item-desc">
            <p>
              <a ng-href="/product/{{detail.Product.ItemCode}}">
                <strong>
                  {{ detail.Product.Name | limitTo: 12 }}{{detail.Product.Name.length > 12 ? '...' : ''}}
                </strong>
              </a>
            </p>
            <hr class="cart-modal-item-hr" />
            <p class="cart-modal-item-price">MXN {{detail.Product.Price | currency}}</p>
          </div>
        </div>
      </div>
    </div>
    <!--END CART ITEMS-->

  </div>
</div>
