<div class="container-categories container">
  <div class="row">
    <div class="listing-view best-seller-title col-12 text-center">
      <h2>CATEGORÍAS</h2>
    </div>
    <div class="row gx-2 gy-4">
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <a class="p-categoria text-center" href="#">
          <img
            src="/images/categories-home/recamara.jpg"
            alt="Recamara"
            class="mx-auto img-fluid"
          />
          <p>Recamara</p>
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <a class="p-categoria text-center" href="#">
          <img
            src="/images/categories-home/sala.jpg"
            alt="Sala"
            class="mx-auto img-fluid"
          />
          <p>Sala</p>
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <a class="p-categoria text-center" href="#">
          <img
            src="/images/categories-home/comedor.jpg"
            alt="Comedor"
            class="mx-auto img-fluid"
          />
          <p>Comedor</p>
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <a class="p-categoria text-center" href="#">
          <img
            src="/images/categories-home/exterior.jpg"
            alt="Exterior"
            class="mx-auto img-fluid"
          />
          <p>Exterior</p>
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <a class="p-categoria text-center" href="#">
          <img
            src="/images/categories-home/decorativos.jpg"
            alt="Decorativos"
            class="mx-auto img-fluid"
          />
          <p>Decorativos</p>
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <a class="p-categoria text-center" href="#">
          <img
            src="/images/categories-home/almacenaje.jpg"
            alt="Almacenaje"
            class="mx-auto img-fluid"
          />
          <p>Almacenaje</p>
        </a>
      </div>
    </div>
  </div>
</div>
