<div class="container-categorias">
  <div class="row">
    <div class="listing-view .best-seller-title">
      <h2>CATEGORÍAS</h2>
    </div>
    <div class="row">
      <div class="column">
        <img src="/images/categorias-home/recamara.jpg" alt="Recamara" />
        <p class="p-categoria">Recamara</p>
      </div>
      <div class="column">
        <img src="/images/categorias-home/sala.jpg" alt="Sala" />
        <p class="p-categoria">Sala</p>
      </div>
      <div class="column">
        <img src="/images/categorias-home/comedor.jpg" alt="Comedor" />
        <p class="p-categoria">Comedor</p>
      </div>
      <div class="column">
        <img src="/images/categorias-home/exterior.jpg" alt="Exterior" />
        <p class="p-categoria">Exterior</p>
      </div>
      <div class="column">
        <img src="/images/categorias-home/decorativos.jpg" alt="Decorativos" />
        <p class="p-categoria">Decorativos</p>
      </div>
      <div class="column">
        <img src="/images/categorias-home/almacenaje.jpg" alt="Almacenaje" />
        <p class="p-categoria">Almacenaje</p>
      </div>
    </div>
  </div>
</div>
