<div class="container-categories container">
  <div class="row">
    <div class="listing-view .best-seller-title">
      <h2>CATEGORÍAS</h2>
    </div>
    <div class="row gx-1">
      <div class="column col-lg-2 col-md-4">
        <a href="#">
          <img
            src="/images/categories-home/recamara.jpg"
            alt="Recamara"
            class="img-small"
          />
          <p class="p-categoria">Recamara</p>
        </a>
      </div>
      <div class="column col-lg-2 col-md-4">
        <a href="#">
          <img
            src="/images/categories-home/sala.jpg"
            alt="Sala"
            class="img-small"
          />
          <p class="p-categoria">Sala</p>
        </a>
      </div>
      <div class="column col-lg-2 col-md-4">
        <a href="#">
          <img
            src="/images/categories-home/comedor.jpg"
            alt="Comedor"
            class="img-small"
          />
          <p class="p-categoria">Comedor</p>
        </a>
      </div>
      <div class="column col-lg-2 col-md-4">
        <a href="#">
          <img
            src="/images/categories-home/exterior.jpg"
            alt="Exterior"
            class="img-small"
          />
          <p class="p-categoria">Exterior</p>
        </a>
      </div>
      <div class="column col-lg-2 col-md-4">
        <a href="#">
          <img
            src="/images/categories-home/decorativos.jpg"
            alt="Decorativos"
            class="img-small"
          />
          <p class="p-categoria">Decorativos</p>
        </a>
      </div>
      <div class="column col-lg-2 col-md-4">
        <a href="#">
          <img
            src="/images/categories-home/almacenaje.jpg"
            alt="Almacenaje"
            class="img-small"
          />
          <p class="p-categoria">Almacenaje</p>
        </a>
      </div>
    </div>
  </div>
</div>
