<section class="form-section">
  <!--DATOS PERSONALES-->
  <hr />
  <h4>PERSONA Y DIRECCIÓN DE ENTREGA</h4>
  <div class="checkbox-client-type">
    <md-checkbox
      ng-click="vm.copyPersonalDataToDeliveryData(vm.newClient, vm.newAddress)"
      ng-model="contact.copyingPersonalData"
      aria-label="Persona moral"
    >
      <strong>Los mismos que mis datos personales</strong>
    </md-checkbox>
  </div>
  <section
    class="form-section-content form-section-content-v2"
    layout="row"
    layout-align="space-between center"
  >
    <div flex="100">
      <div layout="row" layout-wrap>
        <div flex flex-xs="100" class="input-element">
          <label>
            <strong>Nombre(s)<span class="hl-label">*</span></strong>
          </label>
          <div class="input-element-inner">
            <input type="text" ng-model="vm.newAddress.FirstName" required />
          </div>
        </div>
        <div flex flex-xs="100" class="input-element">
          <label>
            <strong>Apellido(s)<span class="hl-label">*</span></strong>
          </label>
          <div class="input-element-inner">
            <input type="text" ng-model="vm.newAddress.LastName" required />
          </div>
        </div>
      </div>
      <div layout="row" layout-wrap>
        <!-- <div flex flex-xs="100" class="input-element">
          <label>
            <strong>Teléfono fijo</strong>
          </label>
          <div class="input-element-inner">
            <input
              type="text"
              ng-model="vm.newAddress.Tel1"
              placeholder="10 dígitos"
              ng-pattern="vm.phonePattern"
            />
          </div>
        </div> -->
        <div flex flex-xs="100" class="input-element">
          <label>
            <strong>Teléfono celular<span class="hl-label">*</span></strong>
          </label>
          <div class="input-element-inner">
            <input
              type="text"
              ng-model="vm.newAddress.Cellolar"
              placeholder="10 dígitos"
              ng-pattern="vm.phonePattern"
              required
            />
          </div>
        </div>
        <div flex flex-xs="100" class="input-element">
          <label>
            <strong>Email<span class="hl-label">*</span></strong>
          </label>
          <div class="input-element-inner">
            <input type="text" ng-model="vm.newAddress.E_Mail" required />
          </div>
        </div>
        <!--
        <div flex flex-xs="100" class="input-element">
          <label>
            <strong>Confirmar Email<span class="hl-label">*</span></strong>
          </label>
          <div class="input-element-inner">
            <input type="text" ng-model="vm.newAddress._E_Mail" required>
          </div>
        </div>
        -->
      </div>
    </div>
  </section>
  <!--END DATOS PERSONALES-->

  <!--DATOS PERSONALES-->
  <section
    class="form-section-content form-section-content-v2"
    layout="row"
    layout-align="space-between center"
  >
    <div flex="100">
      <div layout="row" layout-wrap>
        <div flex="25" flex-xs="45" class="input-element">
          <label>
            <strong>Calle<span class="hl-label">*</span></strong>
          </label>
          <div class="input-element-inner">
            <input type="text" ng-model="vm.newAddress.Address" required />
          </div>
        </div>
        <div flex="15" flex-xs="45" class="input-element">
          <label>
            <strong>No. Exterior<span class="hl-label">*</span></strong>
          </label>
          <div class="input-element-inner">
            <input type="text" ng-model="vm.newAddress.U_Noexterior" required />
          </div>
        </div>
        <div flex="15" flex-xs="45" class="input-element">
          <label>
            <strong>No. Interior <span class="hl-label">*</span></strong>
          </label>
          <div class="input-element-inner">
            <input type="text" ng-model="vm.newAddress.U_Nointerior" required />
          </div>
        </div>
        <div flex flex-xs="45" class="input-element">
          <label>
            <strong>Colonia<span class="hl-label">*</span></strong>
          </label>
          <div class="input-element-inner">
            <input type="text" ng-model="vm.newAddress.U_Colonia" required />
          </div>
        </div>
        <div flex flex-xs="45" class="input-element">
          <label>
            <strong
              >Municipio o delegación<span class="hl-label">*</span></strong
            >
          </label>
          <div class="input-element-inner">
            <input type="text" ng-model="vm.newAddress.U_Mpio" required />
          </div>
        </div>
      </div>
      <div layout="row" layout-wrap>
        <div flex="25" flex-xs="45" class="input-element">
          <label>
            <strong>Ciudad<span class="hl-label">*</span></strong>
          </label>
          <div class="input-element-inner">
            <input type="text" ng-model="vm.newAddress.U_Ciudad" required />
          </div>
        </div>
        <div flex="25" flex-xs="45" class="input-element">
          <label>
            <strong>Estado<span class="hl-label">*</span></strong>
          </label>
          <div class="input-element-inner">
            <md-select
              ng-model="vm.newAddress.U_Estado"
              class="select-element"
              required
            >
              <md-option ng-repeat="state in vm.states" ng-value="state.Code">
                {{ state.Name }}
              </md-option>
            </md-select>
          </div>
        </div>
        <div flex flex-xs="45" class="input-element">
          <label>
            <strong>Código postal<span class="hl-label">*</span></strong>
          </label>
          <div class="input-element-inner">
            <input type="text" ng-model="vm.newAddress.U_CP" required />
          </div>
        </div>
        <div flex-gt-sm="25" flex="100" class="input-element"></div>
      </div>
      <div layout="row" layout-wrap>
        <div flex="25" flex-xs="40" class="input-element">
          <label>
            <strong>Entre calle</strong>
          </label>
          <div class="input-element-inner">
            <input type="text" ng-model="vm.newAddress.U_Entrecalle" />
          </div>
        </div>
        <div flex="5" class="input-element">
          <label>
            <strong>Y</strong>
          </label>
        </div>
        <div flex="25" flex-xs="40" class="input-element">
          <label>
            <strong>Calle</strong>
          </label>
          <div class="input-element-inner">
            <input type="text" ng-model="vm.newAddress.U_Ycalle" />
          </div>
        </div>
        <div flex flex-xs="45" class="input-element">
          <label>
            <strong>Referencias cercanas</strong>
          </label>
          <div class="input-element-inner">
            <input type="text" ng-model="vm.newAddress.U_Notes1" />
          </div>
        </div>
        <div flex-gt-sm="10" flex="100" class="input-element"></div>
      </div>
    </div>
  </section>
  <!--END DATOS PERSONALES-->

  <!-- <p>Asigna un email y contraseña para ver tus compras y envios.</p> -->
  <!-- <div class="checkbox-client-type">
    <md-checkbox ng-click="vm.copyDeliveryDataToPersonalData(vm.newClient, vm.newAddress)" ng-model="contact.copyingPersonalData" aria-label="Persona moral">
      <strong>Los mismos que mis datos de envío</strong>
    </md-checkbox>
  </div> -->
</section>
<!--END FORM SECTION-->
