<div class="nav-menu-miactual" hide-xs>
  <nav class="main-menu-container" hide-sm >
    <div ng-repeat="category in main.categoriesTree | filter: main.filterRemoveComplements track by $index">
      <a class="list-menu-miactual"
         href="/category/{{ category.Handle }}">
        <i ng-class="'icon-{{main.mainCategories[category.Handle].icon}}'"> </i>
        <span >{{ category.Name }}</span>
      </a>
      <smart-menu></smart-menu> 
    </div>
    <div>
      <a href="https://actualkids.com" target="_blank" flex flex-xs="25" class="list-menu-miactual">
        <img src="images/logos/kids-azul.png" alt="Actual Group" style="width: 80px" />
      </a>
  </div>
  </nav>
</div> 
