  <div class="menu" hide-xs>
    <div class="container container-xxlg" layout="row" layout-wrap layout-align="space-between stretch">
      <!-- <div flex-gt-sm="15" flex="100" class="logo" layout="row" layout-align="center center"> -->
        <!--<i ng-click="isReplyFormOpen = !isReplyFormOpen" class="icon-paragraph-justify" hide-gt-xs></i>-->
        <!-- TODO:  Reemplazar-->
        <!-- <a href="/" ng-switch on="main.siteTheme">
          <img ng-switch-when="actual-home" src="images/Logo-A-Home.png" alt="Actual Group">
          <img ng-switch-when="actual-studio" src="images/Logo-A-Studio.png" alt="Actual Group">
          <img ng-switch-when="actual-kids" src="images/Logo-A-Kids.png" alt="Actual Group">
          <img ng-switch-default src="images/Logo-A-Home.png" alt="Actual Group">
        </a> -->

      <!-- </div> -->

      <nav
        ng-if="main.siteTheme !== 'actual-kids' "
        hide-sm
        flex-gt-sm="100"
        flex="100"
        layout="row"
        layout-wrap
        ng-mouseover="main.menuCategoriesOn = false"
        class="nav-categories"
      >
        <a href="/category/salas" flex flex-xs="25" class="nav-categories-item">
          <i class="icon-1"></i>
          <span class="nav-categories-item-text" href="#">Salas</span>
          <ng-include class="amazon-submenu" src="'views/partials/header-submenu.html'"></ng-include>
        </a>
        <a href="/category/comedores" flex flex-xs="25" class="nav-categories-item">
          <i class="icon-2"></i>
          <span class="nav-categories-item-text" href="#">Comedores</span>
        </a>
        <a href="/category/sillas" flex flex-xs="25" class="nav-categories-item">
          <i class="icon-3"></i>
          <span class="nav-categories-item-text" href="#">Sillas</span>
        </a>
        <a href="/category/recamaras" flex flex-xs="25" class="nav-categories-item">
          <i class="icon-4"></i>
          <span class="nav-categories-item-text" href="#">Recámaras</span>
        </a>
        <a href="/category/recamaras" flex flex-xs="25" class="nav-categories-item">
          <i class="icon-5"></i>
          <span class="nav-categories-item-text" href="#">Muebles de exterior</span>
        </a>
        <a href="/category/recamaras" flex flex-xs="25" class="nav-categories-item">
          <i class="icon-6"></i>
          <span class="nav-categories-item-text" href="#">Muebles de televisión</span>
        </a>
        <a href="/category/recamaras" flex flex-xs="25" class="nav-categories-item">
          <i class="icon-7"></i>
          <span class="nav-categories-item-text" href="#">Muebles de Oficina</span>
        </a>
        <a href="/category/recamaras" flex flex-xs="25" class="nav-categories-item">
          <i class="icon-8"></i>
          <span class="nav-categories-item-text" href="#">Arma tu <i>Look</i> paquetes</span>
        </a>
        <a href="/category/recamaras" flex flex-xs="25" class="nav-categories-item">
          <i class="icon-9"></i>
          <span class="nav-categories-item-text" href="#">Promociones</span>
        </a>
        <a href="/category/recamaras" flex flex-xs="25" class="nav-categories-item">
          <img src="images/logos/kids.png" alt="Actual Group" style="width: 80px">
        </a>


        <a
          ng-if="main.isUserSellerOrAdmin"
          href="/reports/orders"
          flex
          flex-xs="25"
          class="nav-categories-item"
        >
          <i class="icon-attachment"></i>
          <span class="nav-categories-item-text" href="#">Pedidos</span>
        </a>

        <a
          ng-if="main.isUserSellerOrAdmin"
          href="/reports/quotations"
          flex
          flex-xs="25"
          class="nav-categories-item"
        >
          <i class="icon-oportunidades"></i>
          <span class="nav-categories-item-text" href="#">Cotizaciones</span>
        </a>

      </nav>

      <nav
        ng-if="main.siteTheme === 'actual-kids' "
        hide-sm
        flex-gt-sm="80"
        flex="100"
        layout="row"
        layout-wrap
        ng-mouseover="main.menuCategoriesOn = false"
        class="nav-categories"
      >
        <a href="/category/camas-infantiles" flex flex-xs="25" class="nav-categories-item">
          <i class="icon-ninos"></i>
          <span class="nav-categories-item-text" href="#">Camas</span>
        </a>
        <a href="/category/cunas-para-bebes" flex flex-xs="25" class="nav-categories-item">
          <i class="icon-bebes nav-categories-item-add"></i>
          <span class="nav-categories-item-text" href="#">Cunas</span>
        </a>
        <a href="/category/accesorios-infantiles" flex flex-xs="25" class="nav-categories-item">
          <i class="icon-ambientes"></i>
          <span class="nav-categories-item-text" href="#">Accesorios</span>
        </a>
        <a href="/category/lamparas-infantiles" flex flex-xs="25" class="nav-categories-item">
          <i class="icon-decoracion"></i>
          <span class="nav-categories-item-text" href="#">Lamparas</span>
        </a>
        <a href="/category/mesas-y-sillas-infantiles" flex flex-xs="25" class="nav-categories-item">
          <i class="icon-mesas"></i>
          <span class="nav-categories-item-text" href="#">Mesas</span>
        </a>
        <a href="/category/comoda-infantil" flex flex-xs="25" class="nav-categories-item" >
          <i class="icon-comoda"></i>
          <span class="nav-categories-item-text" href="#">Comodas</span>
        </a>
        <a href="/ofertas" flex flex-xs="25" class="nav-categories-item">
          <i class="icon-ofertas"></i>
          <span class="nav-categories-item-text" href="#">Ofertas</span>
        </a>

        <a
          ng-if="main.isUserSellerOrAdmin"
          href="/reports/orders"
          flex
          flex-xs="25"
          class="nav-categories-item"
        >
          <i class="icon-attachment"></i>
          <span class="nav-categories-item-text" href="#">Pedidos</span>
        </a>

        <a
          ng-if="main.isUserSellerOrAdmin"
          href="/reports/quotations"
          flex
          flex-xs="25"
          class="nav-categories-item"
        >
          <i class="icon-oportunidades"></i>
          <span class="nav-categories-item-text" href="#">Cotizaciones</span>
        </a>

      </nav>

    </div>

  </div>
