<section id="home-main-banner">
    <div class="container d-flex justify-content-center align-items-end" id="scroll-container">
        <img src="../../images/home2024/hasta-chevron.png" alt="" style="width: 100px;" id="scroll-button">
    </div>
</section>
<script>
    document.getElementById('scroll-button').addEventListener('click', function () {
        var seccionDestino = document.getElementById('categories-home');
        seccionDestino.scrollIntoView({ behavior: 'smooth' });
    });
</script>