<div ng-if="vm.siteBanners" id="home-slider-wrapper">
  <slick class="home-slider" infinite="true" autoplay="true" arrows="true">
    <div ng-repeat="banner in vm.siteBanners" class="home-slide">
    	<a class="absolute-link" ng-href="{{banner.displayUrl}}" target="_blank" href=""></a>
    	<img ng-src="{{main.api.baseUrl + '/uploads/sites/banners/' + banner.filename}}" alt="{{banner.displayText}}">
    	<!--
    	<div class="slide-text">
    		<h2>{{banner.displayText}}</h2>
    	</div>
    	-->
    </div>
  </slick>
</div>