<div class="modal-header login-modal-header">
  <div class="modal-header-top">
    <h4>Bienvenido a <strong>MI ACTUAL</strong></h4>
  </div>
  <div class="modal-header-inner">
    <h3><strong>INICIO DE SESIÓN</strong></h3>

    <hr/>

    <div ng-if="main.isLoadingLogin" layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <form ng-if="!main.isLoadingLogin" name="logInForm" method="POST" ng-submit="main.signIn()">
      <div class="input-element">
        <div class="input-element-inner">
          <input type="email" name="email"
            placeholder="Email"
            ng-model="main.logInForm.email"
            ng-model-options='{ debounce: 1000 }'
            ng-change="main.getCompanies(main.logInForm.email)"
            required
          >
        </div>
      </div>

      <div class="input-element">
        <div class="input-element-inner">
          <input type="password" placeholder="Contraseña" name="password" ng-model="main.logInForm.password" required>
        </div>
      </div>

      <div class="input-element">
        <select class="select-element input-element-inner" ng-model="main.logInForm.companyActive">
          <option value="" selected disabled hidden>
            Tienda
          </option>
          <option ng-repeat="company in main.companies" ng-value="company.id">
            {{company.WhsName}}
          </option>
        </select>
      </div>


      <input class="action-btn" type="submit" value="Iniciar sesión">

    </form>

    <p><a href="http://actual.spaceshiplabs.com/auth/forgot-password">Olvide mi contraseña</a></p>

    <!--
    <hr/>
    <h3>¿Nuevo en <strong>Mi actual?</strong></h3>
    <p>Registrate ahora mismo para tener acceso detallado para tus compras, puntos, pedidos, envios, ofertas y más.</p>
    <a href="#" class="action-btn">Régistrate ahora</a>
    -->

  </div>
</div>
