<div class="col-11 mx-auto">
    <div class="container">
        <p class="h1 py-4 text-center">Espacios que enamoran</p>
    </div>
    <div class="row">
        <div class="col-12 col-xl-7 d-flex justify-content-center py-5" id="space-widget">
            <div id="contenedor-imagen">
                <img id="plano" src="images/home2024/widget1.png" alt="Mapa" class="img-fluid">
                <!-- Puntos sobre las áreas -->

                <div class="punto" id="punto1p1" onclick="accion(0)"></div>
                <div class="punto" id="punto2p1" onclick="accion(1)"></div>
                <div class="punto" id="punto3p1" onclick="accion(2)"></div>
                <div class="punto" id="punto4p1" onclick="accion(3)"></div>
                <div class="punto" id="punto5p1" onclick="accion(4)"></div>
                <div class="punto" id="punto6p1" onclick="accion(5)"></div>
                <!-- Añade más puntos según las áreas -->
            </div>
        </div>
        <div class="col-5 justify-content-center d-none d-xl-flex">
            <div class="container-fluid d-flex align-items-center">
                <div class="card border-0 box-shadow-product mx-auto no-hover" style="max-width: 60%;">
                    <img class="w-100 mx-auto px-2 py-2" img
                        src="https://d116li125og699.cloudfront.net/uploads/products/ST14572_1.png"
                        id="widget-product-image" />
                    <div class="bookmark-icon">
                        <img src="/images/promo-label.png" alt="Price Label" />
                    </div>
                    <div class="discount-batch" id="product-discount">
                        - 20%
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <p class="product-name product-black" id="widget-product-title">ESPEJO NAPOLI 90X200
                                    C/WALNUT</p>
                                <p class="estrella pt-1">
                                    <span class="estrella"></span>
                                    <span class="estrella"></span>
                                    <span class="estrella"></span>
                                    <span class="estrella"></span>
                                </p>
                                <p class="price pt-1">
                                    <strong class="price-now-currency"
                                        id="widget-product-price-discount">$11,447</strong>
                                    <span class="price-before" id="widget-product-price">$15,899</span>
                                    <br />
                                </p>
                            </div>
                        </div>
                        <a href="/espejo-napoli-90x200-c-walnut/ST14572" class="widget-link px-3 py-1 text-center"
                            id="widget-url"> Ver
                            detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mobile-sheet">

    <div class="card product-sheet-widget" style="width: 100%;">
        <div class="container-fluid py-3 d-flex justify-content-end">
            <button id="close-button" onclick="closeMobileSheet()">X</button>
        </div>
        <div class="discount-batch-sheet" id="product-discount2">
            - 28%
        </div>
        <div class="d-flex justify-content-center">
            <img src="https://d116li125og699.cloudfront.net/uploads/products/ST14572_1.png" class="card-img-top"
                id="mobile-product-image" style="max-width: 300px;">
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 d-flex align-items-center product-name-sheet">
                    <p id="widget-product-title2">ESPEJO NAPOLI 90X200 C/WALNUT</p>

                </div>
                <div class="col-6 d-flex align-items-center">
                    <p class="">
                        <strong class="price-now-currency" id="widget-product-price-discount2">$11,447</strong>
                        <span class="price-before" id="widget-product-price2">$15,899</span>
                        <br>
                    </p>
                </div>
                <div class="col-12 text-center">
                    <a href="espejo-napoli-90x200-c-walnut/ST14572" class="widget-link px-4 py-1 text-center"
                        id="widget-url2"> Ver
                        detalles</a>
                </div>
            </div>
        </div>
    </div>
</div>