<md-sidenav fullscreen class="md-sidenav-left md-whiteframe-4dp pointers-sidenav mobile-sidenav" md-component-id="mobileSidenav">
  <md-button ng-click="main.toggleMobileSidenav()" class="close-btn md-fab md-mini md-primary">x</md-button>

  <!--
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Filtrar resultados <i class="icon-pointer"></i></h1>
  </md-toolbar>
  -->

  <md-content>

    <nav>
      <ul ng-if="main.siteTheme !== 'actual-kids'">
        <li ng-repeat="category in main.categoriesTree track by $index" ng-click="main.handleAccordion(category.Handle)" class="nav-categories-item-sidenav">
          <span class="nav-categories-item-text" href="#">{{ category.Name }}</span>
          <ul ng-show="main.accordion.current === category.Handle">
            <li ng-repeat="subcategory in category.Childs" class="">
              <a ng-href="{{'/category/' + subcategory.Handle}}" class="nav-categories-item">
                <span class="nav-categories-item-text">{{ subcategory.Name }}</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/ofertas" class="nav-categories-item">
            <span class="nav-categories-item-text">Ofertas</span>
          </a>
        </li>
        <li>
          <a href="/search?sortkey=slowmovement" class="nav-categories-item">
            <span class="nav-categories-item-text">Promociones</span>
          </a>
        </li>

      </ul>

      <ul ng-if="main.siteTheme === 'actual-kids' ">
        <li ng-repeat="category in main.categoriesTree track by $index " ng-click="main.handleAccordion(category.Handle)" class="nav-categories-item-sidenav">
          <span class="nav-categories-item-text" href="#">{{ category.Name }}</span>
          <ul ng-show="main.accordion.current === category.Handle">
            <li ng-repeat="subcategory in category.Childs" class="">
              <a ng-href="{{'/category/' + subcategory.Handle}}" class="nav-categories-item">
                <span class="nav-categories-item-text">{{ subcategory.Name }}</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/search?sortkey=slowmovement" class="nav-categories-item">
            <span class="nav-categories-item-text">Promociones</span>
          </a>
        </li>

      </ul>


      <ul>
        <li>
          <a ng-if="main.isUserSellerOrAdmin" href="/reports/orders" class="nav-categories-item">
            <i class="icon-attachment"></i>
            <span class="nav-categories-item-text" href="#">Pedidos</span>
          </a>
        </li>
        <li>
          <a ng-if="main.isUserSellerOrAdmin" href="/reports/quotations" class="nav-categories-item">
            <i class="icon-oportunidades"></i>
            <span class="nav-categories-item-text" href="#">Cotizaciones</span>
          </a>
        </li>

      </ul>

    </nav>




  </md-content>
</md-sidenav>