    <section flex class="dashboard-card chart-section">
      <h2><i class="icon-attachment"></i> <strong>PERFORMANCE</strong></h2>
      
      <div class="chart-section-inner performance-card">
        
        <!--PERFORMANCE TABLE-->
        <div class="performance-table">
          <div class="performance-table-header" layout="row">
            <div flex="60"></div>
            <div flex="20">
              <p>Rank</p>
              <p><strong>Tienda</strong></p>
            </div>
            <div flex="20">
              <p>Rank</p>
              <p><strong>Empresa</strong></p>
            </div>
          </div>

          <div class="performance-table-row" layout="row">
            <div flex="60">
              <p>#Oportunidades</p>
              <p><strong>80</strong></p>
            </div>
            <div flex="20">
              <p><strong>1</strong> | <span>3</span></p>
            </div>
            <div flex="20">
              <p><strong>3</strong> | <span>36</span></p>
            </div>
          </div>

          <div class="performance-table-row" layout="row">
            <div flex="60">
              <p>#Tickets</p>
              <p><strong>80</strong></p>
            </div>
            <div flex="20">
              <p><strong>1</strong> | <span>3</span></p>
            </div>
            <div flex="20">
              <p><strong>3</strong> | <span>36</span></p>
            </div>
          </div>

          <div class="performance-table-row" layout="row">
            <div flex="60">
              <p>#Ticket promedio</p>
              <p><strong>80</strong></p>
            </div>
            <div flex="20">
              <p><strong>1</strong> | <span>3</span></p>
            </div>
            <div flex="20">
              <p><strong>3</strong> | <span>36</span></p>
            </div>
          </div>

          <div class="performance-table-row" layout="row">
            <div flex="60">
              <p>% Cierre</p>
              <p><strong>80</strong></p>
            </div>
            <div flex="20">
              <p><strong>1</strong> | <span>3</span></p>
            </div>
            <div flex="20">
              <p><strong>3</strong> | <span>36</span></p>
            </div>
          </div>
        </div>
        <!--END PERFORMANCE TABLE-->
      </div>
    </section>
