<div class="philosophy-gallery">
  <div class="my-slider">
    <div>
      <img src="https://via.placeholder.com/300"/>
    </div>
    <div>
      <img src="https://via.placeholder.com/300"/>
    </div>
    <div>
      <img src="https://via.placeholder.com/300"/>
    </div>
  </div>
</div>

<script>
  var slider = tns({
    container: '.my-slider',
    items: 1,
    slideBy: 'page',
    autoplay: false,
    controlsText:["◄","►"],
    navPosition: "bottom",
    controlsPosition:"bottom",
  });
</script>