<!--
  NOTA: SE NECESITABA EL  ng-switch on="siteTheme" PARA QUE SE PUDIERA CUMPLIR LA VISTA SEGÚN SU TIPO,  
  PARA ASEGURARME DE QUE ASÍ SE USÉ LOS SIGUIENTES COMANDO PARA VER LO QUE SE ABRE EN PRODUCCIÓN  
        PARA KIDS: grunt serve --site=kids --env=production
        PARA HOME: grunt serve --site=home --env=production
        PARA STUDIO: grunt serve --site=studio --env=production

   NOTA: CUANDO COMPILAS MODO PRODUCCIÓN SE GENERA UNA ORDEN EN "siteConfic.js" SOLO OMÍTELO CUANDO HAGAS COMMIT
   CON CONFIANZA PUEDES HACER EL "DISCARD CHANGES Y YA HACES TU SELECCÓN COMPLETA CON ADD. 
  -->
<div ng-switch on="siteTheme">
  <div class="my-slider">

    <!-- specific images for each site -->
    <div ng-switch-when="actual-home">
      <img src="/images/slider-home/showroom-actual1.jpg" width="300">
    </div>
    <div ng-switch-when="actual-home">
      <img src="/images/slider-home/showroom-actual2.jpg" width="300">
    </div>
    <div ng-switch-when="actual-home">
      <img src="/images/slider-home/showroom-actual3.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-home">
      <img src="/images/slider-home/showroom-actual4.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-home">
      <img src="/images/slider-home/showroom-actual5.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-home">
      <img src="/images/slider-home/showroom-actual6.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-home">
      <img src="/images/slider-home/showroom-actual7.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-home">
      <img src="/images/slider-home/showroom-actual8.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-home">
      <img src="/images/slider-home/showroom-actual9.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-home">
      <img src="/images/slider-home/showroom-actual10.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-home">
      <img src="/images/slider-home/showroom-actual11.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-home">
      <img src="/images/slider-home/showroom-actual12.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-home">
      <img src="/images/slider-home/showroom-actual13.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-home">
      <img src="/images/slider-home/showroom-actual14.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-home">
      <img src="/images/slider-home/showroom-actual15.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-home">
      <img src="/images/slider-home/showroom-actual16.jpg" width="300" />
    </div>
    <!-- <h3>----- END HOME GALLERY -------</h3> -->

   
    <div ng-switch-when="actual-studio">
      <img src="/images/slider-studio/showroom-studio1.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-studio">
      <img src="/images/slider-studio/showroom-studio2.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-studio">
      <img src="/images/slider-studio/showroom-studio3.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-studio">
      <img src="/images/slider-studio/showroom-studio4.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-studio">
      <img src="/images/slider-studio/showroom-studio5.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-studio">
      <img src="/images/slider-studio/showroom-studio6.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-studio">
      <img src="/images/slider-studio/showroom-studio7.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-studio">
      <img src="/images/slider-studio/showroom-studio8.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-studio">
      <img src="/images/slider-studio/showroom-studio9.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-studio">
      <img src="/images/slider-studio/showroom-studio10.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-studio">
      <img src="/images/slider-studio/showroom-studio11.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-studio">
      <img src="/images/slider-studio/showroom-studio12.jpg" width="300" />
    </div>
    <!-- <h3>----- END STUDIO GALLERY -------</h3> -->

    <div ng-switch-when="actual-kids">
      <img src="/images/slider_kids/showroom-kids1.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-kids">
      <img src="/images/slider_kids/showroom-kids2.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-kids">
      <img src="/images/slider_kids/showroom-kids3.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-kids">
      <img src="/images/slider_kids/showroom-kids4.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-kids">
      <img src="/images/slider_kids/showroom-kids5.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-kids">
      <img src="/images/slider_kids/showroom-kids6.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-kids">
      <img src="/images/slider_kids/showroom-kids7.jpg" width="300" />
    </div>
    <div ng-switch-when="actual-kids">
      <img src="/images/slider_kids/showroom-kids8.jpg" width="300" />
    </div>
    <!-- <h3>----- END KIDS GALLERY -------</h3> -->

  </div>
</div>
<script>
  var slider = tns({
    container: '.my-slider',
    items: 1,
    slideBy: 'page',
    autoplay: false,
    controlsText: ["◄", "►"],
    navPosition: "bottom",
    nav: false,
    controlsPosition: "bottom",
  });
</script>