<div 
  class="cart-item" 
>
  <h3>
    <a ng-href="{{detail.Product.url}}">
      <strong>{{detail.Product.Name || detail.Product.ItemCode}}</strong>
      | {{detail.id}}
    </a>
  </h3>

  <div layout="row" layout-wrap>

    <!--ITEM PROD IMG-->
    <div 
      flex="40" 
      flex-xs="100"
      class="cart-item-prod"
    >
      <div layout="row">
        <div class="cart-item-prod-img">
          <a ng-href="{{detail.Product.url}}">
            <img ng-src="{{detail.Product.icons[0].url}}" alt="">
          </a>
        </div>
        <div>
          <ul>
            <li><strong>Código: </strong> {{detail.Product.ItemCode}}</li>
            <li
              ng-repeat="filter in detail.Product.Filters"
              ng-if="
                (
                  filter.Handle == 'codigo' ||
                  filter.Handle == 'material' ||
                  filter.Handle == 'garantia'
                )
                &&
                filter.Values.length > 0
              "
            >
              <strong>{{filter.Name}}: </strong>
              <span ng-repeat="value in filter.Values track by $index">
                <span ng-if="value.Handle != 'color-paleta'">{{value.Name}}</span>
                <span ng-if="$index < (filter.Values.length-1)">,</span>
              </span>
            </li>
            <li ng-if="detail.Product.DetailedColor">
              <strong>Color</strong>
              <span>{{detail.Product.DetailedColor}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--END ITEM PROD IMG-->

    <!--ITEM DATA-->
    <div 
      class="cart-item-data" 
      flex="60"
      flex-xs="100"
    >
      <div class="cart-item-data-inner">

        <div class="cart-item-data-prices" layout="row" layout-align="space-between center">
          <div flex="35">
            <p 
              ng-if="detail.discountPercent > 0" 
              class="discount-label"
            >
              -{{detail.discountPercentPromos}}%
              <span ng-if="detail.bigticketDiscountPercentage > 0"> 
                y -{{detail.bigticketDiscountPercentage}}% adicional
              </span>
            </p>
            <!--
            <p 
              ng-if="vm.getUnitPriceWithDiscount(detail.unitPrice, detail.discountPercent) != detail.unitPrice"
            >
              <span class="currency-label">MXN</span> <span class="price-crossed">{{ detail.unitPrice | roundCurrency }}</span>
            </p>
            <p class="price-hl">
              <span class="currency-label">MXN</span>
              <strong>
                {{ vm.getUnitPriceWithDiscount(detail.unitPrice, detail.discountPercent) | roundCurrency }}
              </strong>
            </p>
            -->
            <p 
            >
              <span class="currency-label">MXN</span> <span class="price-crossed">{{ detail.unitPrice | roundCurrency }}</span>
            </p>
            <p class="price-hl">
              <span class="currency-label">MXN</span>
              <strong>
                {{ detail.unitPriceWithDiscount | roundCurrency }}
              </strong>
            </p>
            <p class="included-taxes-label">Impuesto incluido</p>
          </div>
          <div flex="25" class="cart-item-data-qty">
            <p>
              {{detail.quantity}}
              <span ng-if="detail.quantity == 1">pieza</span>
              <span ng-if="detail.quantity > 1">piezas</span>
            </p>
          </div>
          <div flex>
            <h3 class="product-view-price-hl product-view-price-main">
              <span class="currency-label">MXN</span>
              <strong>{{detail.total | roundCurrency }}</strong>
            </h3>
            <p class="included-taxes-label pull-right">Impuesto incluido</p>
          </div>
        </div>
      </div>


      
      <div ng-show="vm.isLoadingDetailsDeliveries" layout="row" layout-align="center center">
        <md-progress-circular class="md-accent" md-diameter="40px"></md-progress-circular>
      </div>
      
      <p>{{detail.productCart}}</p>

      <div 
        ng-if="detail.productCart && !vm.isLoadingDetailsDeliveries" 
        class="stock-selection" 
        layout="row"
        layout-align="end start"
      >
        <div  flex="20" flex-sm="50" flex-xs="50">
          <div class="product-view-qty input-element">
                        
            <label>Piezas | Available: {{detail.productCart.deliveryGroup.available}}</label>
            <select
              class="select-element"
              ng-model="detail.productCart.quantity"
              ng-change="vm.onDetailQuantityChange($event, detail)"
              ng-options="qty for qty in vm.getQtyArray(detail.productCart.deliveryGroup.available)"
            >
            </select>
          </div>
        </div>
        <div  flex="40" flex-sm="50" flex-xs="50">
          <div class="delivery-selection input-element select-element-wrapper">

            <label>Fecha entrega estimada</label>
            <select
              class="select-element"
              ng-class="{
                'hl-select': !detail.validStock
              }"
              ng-model="detail.productCart.deliveryGroup"
              ng-change="vm.resetProductCartQuantity(detail)"
              ng-options="deliveryGroup.date | date: 'd/MMM/yyyy' for deliveryGroup in detail.deliveriesGroups"
            >
            </select>
          </div>
        </div>        

      </div>
      

      <!--
      <p>
        {{detail}}
      </p>
      -->

    </div>
    <!--END ITEM DATA-->

    <a href="#"
      ng-if="!vm.quotation.Order && !vm.quotation.isClosed"
      ng-click="vm.alertRemoveDetail($event,detail, $index)"
      class="cart-item-remove"
    >
      x
      <md-tooltip md-direction="bottom">Eliminar</md-tooltip>
    </a>

    
    <div 
      ng-show="!detail.validStock && !vm.quotation.OrderWeb && !vm.isValidatingStock" 
      layout="row"
      layout-align="center center"
      class="stock-alert-layer"
      ng-click="vm.showDetailGroupStockAlert($event, detail)"
    > 
      <div class="stock-alert-content">
        <p>
          <a><i class="icon-alert"></i></a>
        </p>
        <p>
          <a>ALERTA</a>
        </p>
      </div>
    </div>
    

  </div>

  <!--
  <p 
    class="bottom-text bottom-text-alert" 
    ng-if="!detail.validStock && !vm.isValidatingStock">
    <strong>ALERTA: La disponibilidad y/o fecha de entrega de este artículo ha cambiado</strong>
  </p>
  -->
  
  <p class="bottom-text">
    <strong>Fecha entrega estimada: </strong> {{detail.shipDate | date: "d/MMM/yyyy"}}
  </p>

  <!--
  <p ng-show="vm.isLoadingDetailsDeliveries" class="bottom-text">
    <strong>Entrega aproximada: </strong> {{detail.shipDate | date: "d/MMM/yyyy"}}
  </p>
  -->
  

  <!--
  <p class="bottom-text" ng-repeat="detail in detail.details">
    <strong>Entrega aproximada:</strong>
    {{detail.shipDate | date: "d/MMM/yyyy"}}
    (en {{vm.daysDiff(detail.shipDate)}} días)  
    <span 
      ng-if="detail.immediateDelivery"
      class="immediate-delivery-label"
    >
      Entrega en tienda
    </span>
    | {{ vm.getWarehouseById(detail.shipCompanyFrom).WhsName }}  | Cantidad: {{detail.quantity}} | Valido: {{detail.validStock}}
  </p>
  -->

  <p
    ng-if="
      vm.appliesForPackageOrPromotionDiscount(detail) == 'packageDiscount'
    "
    class="bottom-text"
  >
    Paquete: {{detail.discountName}}
  </p>
  <div 
    ng-if="vm.appliesForPackageOrPromotionDiscount(detail) == 'promoDiscount'"
  >
    <p class="bottom-text">
      <strong>Promoción:</strong> {{detail.discountName}}
    </p>
    <p class="bottom-text" ng-if="detail.ewallet > 0">
      Beneficio monedero eléctronico: {{detail.ewallet | currency}}
    </p>                  
  </div>
  <div ng-if="detail.bigticketDiscountPercentage > 0">
    <p class="bottom-text">
      Descuento Big Ticket: -{{detail.bigticketDiscountPercentage}}% adicional
    </p>
  </div>

  <div class="clear"></div>
</div>