<div ng-if="vm.galleryImages.length > 0 && vm.loadedSizes" ng-photoswipe slides="vm.galleryImages" show="vm.open"
  slide-selector=".product-view-gallery-img-inner > img" on-close="vm.closeGallery()" options="vm.opts">
</div>


<div ng-if="vm.product.maxDiscount && vm.product.maxDiscount > 0" class="product-view-gallery-discount" layout="row"
  layout-align="center center">
  <strong>- {{vm.product.maxDiscount}}%</strong>
</div>

<div ng-if="vm.product.mainPromo && vm.product.mainPromo.hasLM" class="slow-movement-sticker">
  <img animate-visible="true" lazy-src="images/boton-lm.png" alt="Lento Movimiento">
</div>

<div class="product-view-gallery">
  <slick id="slick-gallery" init-onload="true" data="vm.areImagesLoaded" arrows="true" draggable="false">
    <div ng-repeat="image in vm.galleryImages track by $index" class="product-view-gallery-img">
      <div class="product-view-gallery-img-inner">
        <img src="{{image.src}}" ng-click="vm.showGallery($index)" alt="{{vm.product.icon_description}}">
      </div>
    </div>
  </slick>
</div>

<div class="product-view-gallery-thumbs">
  <slick id="slick-thumbs" infinite="false" slides-to-show="4" slides-to-scroll="1" init-onload="true"
    data="vm.areImagesLoaded" arrows="false" draggable="false" vertical="true">
    <div ng-repeat="image in vm.galleryImages track by $index">
      <div class="product-view-gallery-thumb">
        <a ng-click="vm.setGalleryIndex($index)" href="" data-thumb="{{$index}}"
          data-selected-index="{{vm.selectedSlideIndex}}" ng-class="
          {
            'product-view-gallery-thumb-inner-active' : $index === vm.selectedSlideIndex,
            'product-view-gallery-thumb-inner-inactive' : $index !== vm.selectedSlideIndex
          }" class="product-view-gallery-thumb-inner">
          <img animate-visible="true" lazy-src="{{image.src}}" alt="gallery-{{$index}}">
        </a>
      </div>
    </div>
  </slick>
</div>