<div class="cart-item">
  <h3>
    <a ng-href="{{ detail.Product.url }}">
      <strong>{{ detail.Product.Name || detail.Product.ItemCode }}</strong>
    </a>
  </h3>

  <div layout="row" layout-wrap>
    <!--ITEM PROD IMG-->
    <div flex="25" flex-xs="100" class="cart-item-prod">
      <div layout="row">
        <div class="cart-item-prod-img">
          <a ng-href="{{ detail.Product.url }}">
            <img animate-visible="true" lazy-src="{{ detail.Product.icons[0].url }}"
              alt="{{ detail.Product.ItemCode }}" />
          </a>
        </div>
        <div>
          <ul>
            <li><strong>Código: </strong> {{ detail.Product.ItemCode }}</li>
            <li ng-repeat="filter in detail.Product.Filters" ng-if="
                (
                  filter.Handle == 'codigo' ||
                  filter.Handle == 'material' ||
                  filter.Handle == 'garantia'
                )
                &&
                filter.Values.length > 0
              ">
              <strong>{{ filter.Name }}: </strong>
              <span ng-repeat="value in filter.Values track by $index">
                <span ng-if="value.Handle != 'color-paleta'">{{
                  value.Name
                }}</span>
                <span ng-if="$index < (filter.Values.length-1)">,</span>
              </span>
            </li>
            <li ng-if="detail.Product.DetailedColor">
              <strong>Color</strong>
              <span>{{ detail.Product.DetailedColor }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--END ITEM PROD IMG-->

    <!--ITEM DATA-->
    <div class="cart-item-data" flex="75" flex-xs="100">
      <div class="cart-item-data-inner">
        <div class="cart-item-data-prices" layout="row" layout-wrap layout-align="space-between center">
          <!-- <div class="cart-item-data-column" flex="35" flex-xs="50">
            <p><strong>Fecha entrega estimada</strong></p>
            <p>{{detail.shipDate | date: "d/MMM/yyyy"}}</p>
          </div> -->
          <div class="cart-item-data-column" flex="20" flex-xs="50">
            <p><strong>Precio Lista</strong></p>
            <p><small>MXN</small> {{ detail.unitPrice | roundCurrency }}</p>
          </div>
          <div class="cart-item-data-column" flex="10" flex-xs="50" class="cart-item-data-qty">
            <p><strong>Pieza(s)</strong></p>
            <p>{{ detail.quantity }}</p>
          </div>
          <div class="cart-item-data-column" flex="15" flex-xs="50">
            <p><strong>Promoción</strong></p>
            <p>{{ detail.discountPercent }}%</p>
          </div>
          <div class="cart-item-data-column" flex="20" flex-xs="50">
            <p><strong>Total</strong></p>
            <p class="detail-total">
              <small>MXN</small> {{ detail.total | roundCurrency }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--END ITEM DATA-->

    <a href="#" ng-if="!vm.quotation.Order && !vm.quotation.isClosed"
      ng-click="vm.alertRemoveDetail($event,detail, $index)" class="cart-item-remove">
      x
      <md-tooltip md-direction="bottom">Eliminar</md-tooltip>
    </a>

    <div ng-show="!detail.validStock && !vm.quotation.OrderWeb && !vm.isValidatingStock" layout="row"
      layout-align="center center" class="stock-alert-layer" ng-click="vm.showDetailGroupStockAlert($event, detail)">
      <div class="stock-alert-content">
        <p>
          <a><i class="icon-alert"></i></a>
        </p>
        <p>
          <a>ALERTA</a>
        </p>
      </div>
    </div>
  </div>

  <!--
  <p
    class="bottom-text bottom-text-alert"
    ng-if="!detail.validStock && !vm.isValidatingStock">
    <strong>ALERTA: La disponibilidad y/o fecha de entrega de este artículo ha cambiado</strong>
  </p>
  -->

  <!--
  <p ng-show="vm.isLoadingDetailsDeliveries" class="bottom-text">
    <strong>Entrega aproximada: </strong> {{detail.shipDate | date: "d/MMM/yyyy"}}
  </p>
  -->

  <!--
  <p class="bottom-text" ng-repeat="detail in detail.details">
    <strong>Entrega aproximada:</strong>
    {{detail.shipDate | date: "d/MMM/yyyy"}}
    (en {{vm.daysDiff(detail.shipDate)}} días)
    <span
      ng-if="detail.immediateDelivery"
      class="immediate-delivery-label"
    >
      Entrega en tienda
    </span>
    | {{ vm.getWarehouseById(detail.shipCompanyFrom).WhsName }}  | Cantidad: {{detail.quantity}} | Valido: {{detail.validStock}}
  </p>
  -->

  <p ng-if="
      vm.appliesForPackageOrPromotionDiscount(detail) == 'packageDiscount'
    " class="bottom-text">
    Paquete: {{ detail.discountName }}
  </p>
  <div ng-if="vm.appliesForPackageOrPromotionDiscount(detail) == 'promoDiscount'">
    <p class="bottom-text">
      <strong>Promoción:</strong> {{ detail.discountName }}
    </p>
    <p class="bottom-text" ng-if="detail.ewallet > 0">
      Beneficio monedero eléctronico: {{ detail.ewallet | currency }}
    </p>
  </div>
  <div ng-if="detail.bigticketDiscountPercentage > 0">
    <p class="bottom-text">
      Descuento Big Ticket: -{{ detail.bigticketDiscountPercentage }}% adicional
    </p>
  </div>

  <div class="clear"></div>
</div>
