<div class="modal-header schedules-modal-header">
  <section class="schedules-modal-header-content">
    <div class="phone-assitance">
      <p>Asistencia en tu compra 998 246 3487</p>
    </div>
    <table>
      <thead>
        <tr>
          <th>Dias</th>
          <th>Horarios</th>        
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p>Lunes-Viernes</p></td>
          <td>
            <p>10:00 am - 14:00 pm</p>
            <p>16:00 pm - 20:00 pm</p>
          </td>
        </tr>
        <tr>
          <td><p>Sabado</p></td>
          <td><p>10:00 am - 15:00 pm</p></td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
