<div class="modal-header schedules-modal-header">
  <section class="schedules-modal-header-content">
    <div class="phone-assitance">
      <!--<p>Asistencia en tu compra 998 246 3487</p>-->
      <strong>
        <p>Asistencia en tu compra <a style="color: #f1be3e;" href="tel:+998-195-8376"> (998) 200 5664</a> ó <a
            style="color: #f1be3e;" href="tel:+998-246-3487"> (998) 246 3487</a></p>
      </strong>
    </div>
    <table>
      <thead>
        <tr>
          <th>Dias</th>
          <th>Horarios</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>Lunes-Viernes</p>
          </td>
          <td>
            <p>10:00 am - 14:00 pm</p>
            <p>15:00 pm - 19:00 pm</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Sabado</p>
          </td>
          <td>
            <p>10:00 am - 13:00 pm</p>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>