<a
  ng-click="vm.toggleSearchSidenav()"
  href=""
  class="filters-sidenav-trigger-mobile">
    Filtros
</a>

<div   
  class="filters-sidenav-trigger">
  
  <div class="filters-sidenav-trigger-inner">
    <div class="block-icon" ng-click="vm.toggleSearchSidenav()">
      <i class="icon-precio"></i>
      <span>Precio</span>
    </div>
    <div class="block-icon" ng-click="vm.toggleSearchSidenav('brand')">
      <i class="icon-marca"></i>
      <span>Marca</span>
    </div>
    <div class="block-icon" ng-click="vm.toggleSearchSidenav('discount')">
      <i class="icon-descuento"></i>
      <span>Descuento</span>
    </div>
    <div class="block-icon" ng-click="vm.toggleSearchSidenav('stock')">
      <i class="icon-disponibilidad"></i>
      <span>Disponibilidad</span>
    </div>

    <div class="block-icon" ng-click="vm.toggleSearchSidenav('forma')">
      <i class="icon-forma"></i>
      <span>Forma</span>
    </div>
    <div class="block-icon" ng-click="vm.toggleSearchSidenav('color')">
      <i class="icon-color"></i>
      <span>Color</span>
    </div>
    <div class="block-icon" ng-click="vm.toggleSearchSidenav('material')">
      <i class="icon-material"></i>
      <span>Material</span>
    </div>
    <div class="block-icon" ng-click="vm.toggleSearchSidenav('estilo')">
      <i class="icon-estilo"></i>
      <span>Estilo</span>
    </div>
  </div>
  
</div>