<section class="section-deliveryAddress">  
    <div class="DAContainer">
      <form action="#" class="formAddInfo">
        <div class="form__group1">
          <div class="form__group">
            <input type="text" class="form__input" placeholder="Calle" id="calle" required>
            <label for="calle" class="form__label">Calle</label>
          </div>
          <div class="form__group">
            <input type="text" class="form__input" placeholder="No. Interior" id="int" required>
            <label for="int" class="form__label">Número Interior</label>
          </div>
          <div class="form__group">
            <input type="text" class="form__input" placeholder="No. Exterior" id="ext" required>
            <label for="ext" class="form__label">Número Exterior</label>
          </div>
          <div class="form__group">
            <input type="text" class="form__input" placeholder="Colonia" id="colonia" required>
            <label for="colonia" class="form__label">Colonia</label>
          </div>
          <div class="form__group">
            <input type="text" class="form__input" placeholder="Municipio/Del." id="municipio" required>
            <label for="municipio" class="form__label">Municipio/Delegación</label>
          </div>
        </div>
        
        <div class="form__group2">
          <div class="form__group">
            <input type="text" class="form__input" placeholder="Ciudad" id="ciudad" required>
            <label for="ciudad" class="form__label">Ciudad</label>
          </div>
          <div class="form__group">
            <input type="text" class="form__input" placeholder="Estado" id="estado" required>
            <label for="ext" class="form__label">Estado</label>
          </div>
          <div class="form__group">
            <input type="text" class="form__input" placeholder="Código postal" id="cp" required>
            <label for="cp" class="form__label">Código Postal</label>
          </div>      
          <div class="form__group">
            <input type="text" class="form__input" placeholder="Referencias" id="ref" required>
            <label for="ref" class="form__label">Referencias</label>
          </div>             
        </div>
      </form>
      <div class="link__event">
        <p><b><a href="#" target="_blank">Cambiar &rarr;</a></b></p>
      </div>
    </div>
</section>