<section class="section-infoCart"> 
    <div class="cart__groupInfoItems">
      <div class="cart__groupDescription">
        <div class="cart__productName"><strong>Name product title</strong></div>
        <!-- Primero: Información -->
        <div class="cart__deleteItem">
          <i class="icon-trash2"></i>
        </div> 
        <div class="cart__img">
          <img ng-src="https://d116li125og699.cloudfront.net/uploads/products/KI01294_01.jpg" alt="" src="https://d116li125og699.cloudfront.net/uploads/products/KI01294_01.jpg">
        </div>
        <div class="cart__description">   
          <div><strong>Código: </strong>CO59389</div>
          <div><strong>Color: </strong>Verde olivo</div>
          <div class="cart__itemPrice"><strong>Precio unitario:</strong> $1000<span>MXN<span></div>
        </div>
      </div>
      <div class="cart__groupItemCost">
        <div class="cart__pieces"><strong>Piezas:</strong> 
          <div class="cart__select">
            <select name="slct" id="slct">
              <option selected disabled>No.</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>
        <div class="cart__discout"><strong>15%</strong></div>
        <div class="cart__subTotalItem"><strong>Subtotal (producto):</strong> $1000 <span>MXN<span></div>
        <div class="cart__totalItem"> <strong>Total (producto): </strong>$1000<span>MXN<span></div>
          
      </div>
    </div>
    <div class="cart__groupBalance">
      <div class="cart__totalPieces"><strong class="cart__dDate">Fecha de entrega:</strong>
        <div class="cart__select">
          <select name="slct" id="slct">
            <option selected disabled>Selecciona</option>
            <option value="1">19/06/20</option>
            <option value="2">14/07/20</option>
            <option value="3">9/08/20</option>
          </select>
        </div>
      </div>
      <div class="cart__totalItems"><strong>Total de compras:</strong> $1000<span>MXN<span></div>
    </div> 
</section>