<section class="login-selectors">
  <label class="radio-container" for="modal-1">Iniciar sesión
    <input type="radio" checked="checked" name="radio">
    <span class="checkmark"></span>
  </label>
  <label class="radio-container"  for="modal-2">Continuar como invitado
    <a href="#popup"></a>
    <input type="radio" checked="checked" name="radio">
    <span class="checkmark"></span>
  </label>
  <label class="radio-container" for="modal-3">Registrarse
    <a href="#popup"></a>
    <input type="radio" checked="checked" name="radio">
    <span class="checkmark"></span>
  </label>
</section>
<!-- add for="modalId" to each label-->
