
<section class="login-selectors">
  <label class="radio-container">Iniciar sesión
    <a href="#popup">
    <input type="radio" checked="checked" name="radio">
    <span class="checkmark"></span>
    </a>
  </label>
  <label class="radio-container">Continuar como invitado
    <a href="#popup">
      <input type="radio" checked="checked" name="radio">
      <span class="checkmark"></span>
      </a> 
  </label>
  <label class="radio-container">Registrarse
    <a href="#popup">
      <input type="radio" checked="checked" name="radio">
      <span class="checkmark"></span>
      </a>
  </label>
</section>