<section class="payment-selectors">
    <label class="radio-container">Tarjeta de Crédito
        <input type="radio" checked="checked" name="radio">
        <span class="checkmark"></span>
    </label>
    <label class="radio-container">Tarjeta de débito
        <input type="radio" name="radio">
        <span class="checkmark"></span>
    </label>
    <label class="radio-container">Transeferencia SPEI         
        <div class="link__event">
            <p><b><a href="#" target="_blank" >¿Cómo funciona?</a></b></p>
        </div>
        <input type="radio" name="radio">
        <span class="checkmark"></span>
    </label>
</section>