<section class="box-head-profile">

  <h1 
    class="principal-icon" 
    layout="row" 
    layout-align="center center"
    hide-sm
    hide-xs
  >
      <i class="icon-login"></i>
  </h1>

  <div 
    layout="row" 
    layout-align="center center"
    layout-row
  >
    
    <div class="info-row center-content">
      <!--<p><strong>{{vm.user.firstName}} {{vm.user.lastName}}</strong></p>-->
      <p><strong>{{vm.client.CardName}}</strong></p>
      <p>NOMBRE(S)</p>
    </div>
    <!--<div class="info-row center-content">
      <p><strong>13. 09. 85</strong></p>
      <p>CUMPLEAÑOS</p>
    </div>-->
    <!--
    <div class="info-row center-content">
      <p><strong>$1,561.50 MXN</strong></p>
      <p>MI MONEDERO</p>
    </div> 
    -->
    <div class="info-row center-content">
      <p><strong>{{vm.user.CardCode}}</strong></p>
      <p>ID</p>
    </div> 
  </div>

</section>