<div ng-if="vm.isLoading" layout-fill layout="row"  layout-align="center center" class="loading-circle">
  <md-progress-circular class="md-accent" md-diameter="100px"></md-progress-circular>
</div>


<div
  ng-if="!vm.isLoading"
  id="my-profile" 
  class="user-profile-view" 
  layout="row" 
  layout-wrap
>
  
  <div class="menu-profile" flex-gt-xs="25" flex="100">
    <ng-include src="'views/users/menu-profile.html'"></ng-include>
  </div>

  <div flex-gt-xs="75" flex="100">
    
    <section id="profile-view" class="container container-lg">
      <ng-include src="'views/users/box-head-profile.html'"></ng-include>
    </section >
    
    <section 
      ng-show="!vm.isLoading" 
      class="form-view deliveries-view order-view container container-xlg">
      
      <div class="head-profile" layout="row" layout-xs="column" layout-align="space-between center">
        <div layout="row" layout-align="center center">
            <i class="icon-envio"></i>
            <h1>MIS DOMICILIOS DE ENTREGA</h1>
        </div>
      </div>

      <!--DIRECCIONES DE ENVIO-->
      <div class="order-block">
        <h3><strong>REGISTRO DE DIRECCIONES DE ENVÍO</strong></h3>
        <div>
          <!--<i>*Si necesita cambiar una dirección de envío que ha sido asignada a un pedido favor de contactar a un asesor de ventas con uno de nuestros ejecutivos.</i>-->
        </div>
        <!--
        <div class="invoice-box">
          <md-radio-group >
            <md-radio-button value="Ciudad" class="md-primary">
            <div layout="row" layout-align="center center"><strong>Ciudad </strong> <p class="text-sep" >Dirección</p> <u class="text-red">ELIMINAR</u></div>
            </md-radio-button>
            <md-radio-button value="Nuevo" class="md-primary">
              <strong><u>Nuevo</u></strong>
            </md-radio-button>
          </md-radio-group>
        </div>
        -->
        <div class="records-list">
          <h3>Datos registrados 
            <a href="#" ng-click="vm.enableCreateMode()" class="enable-create-mode">
              <i class="icon-cotizar"></i>
              Agregar nueva dirección
            </a>
          </h3>
          <table>
            <thead>
              <th>Nombre</th>
              <th>Calle</th>
              <th>Ciudad</th>
              <th>Estado</th>
              <th>Código postal</th>
              <th>Editar</th>
            </thead>
            <tbody>
              <tr ng-repeat="address in vm.addresses">
                <td>{{address.FirstName + ' ' + address.LastName}}</td>
                <td>{{address.Address}}</td>
                <td>{{address.U_Ciudad}}</td>
                <td>{{address.U_Estado}}</td>
                <td>{{address.U_CP}}</td>
                <td><a href="#" ng-click="vm.edit(address)">Editar</a></td>

              </tr>
            </tbody>
          </table>
        </div>


        <div id="deliveries-create" >
          <ng-include ng-if="vm.isCreateModeActive" src="'views/users/partials/deliveries-form-create.html'"></ng-include>
        </div> 

        <div id="deliveries-edit" >
          <ng-include ng-if="!vm.isCreateModeActive" src="'views/users/partials/deliveries-form-edit.html'"></ng-include>
        </div> 
          


      </div>
    </section>
  </div>
</div>  