<div ng-if="vm.isLoading" layout-fill layout="row" layout-sm="column" layout-align="center center" class="loading-circle">
  <md-progress-circular class="md-accent" md-diameter="100px"></md-progress-circular>
</div>
<div id="my-profile" class="user-profile-view" layout="row" layout-wrap>
  <div class="menu-profile" flex-gt-xs="25" flex="100">
    <ng-include src="'views/users/menu-profile.html'"></ng-include>
  </div>
  
  <div flex-gt-xs="75" flex="100">
    <section id="profile-view" class="container container-lg">

      <ng-include src="'views/users/box-head-profile.html'"></ng-include>

      <div class="head-profile" layout="row" layout-xs="column" layout-align="space-between center">
        <div layout="row" layout-align="center center">
            <i class="icon-login"></i>
            <h1>MIS FACTURAS</h1>
        </div>
      </div>
       <div ng-if="vm.isLoading" layout-fill layout="row" layout-sm="column" layout-align="center center" class="loading-circle">
        <md-progress-circular md-mode="indeterminate"  md-diameter="150"></md-progress-circular>
      </div>

      <ng-include src="'views/users/partials/invoice-form.html'"></ng-include>

      <!--END PROFILE EDIT-->
			<hr/>
		<div flex="50">
        <p class="modify-invoice">
            <strong>LISTA DE MIS PEDIDOS</strong>
        </p>
      	</div>
      	<section class="transfers-table-block">

          <section class="table-list-wrap table-list-wrap-nomargin">
            <div
              table-list
              class="table-list table-list-v2"
              columns="vm.columnsOrders"
              api-resource="vm.apiResourceOrders"
              ></div>
          </section>

		  </section>
    </section >
  </div>
</div>  
