<section class=" container container-xlg">
  <p>BIENVENIDO A</p>
  <p><strong>MI ACTUAL</strong></p>
  <hr/>
  <ul class="modify-password">
    <li><a href="/user/profile"><strong>MI PERFIL</strong></a></li>
    <li><a href="/user/purchases"><strong>MIS COMPRAS</strong></a></li>
    <li><a href="/user/invoices"><strong>MIS FACTURAS</strong></a></li>
    <li><a href="/user/ewallet"><strong>MI MONEDERO</strong></a></li>
    <li><a href="/user/deliveries"><strong>MIS ENVÍOS</strong></a></li>
    <li><a href="/user/payments"><strong>MIS FORMAS DE PAGO</strong></a></li>
  </ul>
</section>