<section class=" container container-xlg">
  <p>BIENVENIDO A</p>
  <p><strong>MI ACTUAL</strong></p>
  <hr/>
  <ul style="list-style-type: none" class="modify-password">
    <li><a href="user/profile"><strong>MI PERFIL</strong></a></li>
    <li><a href="/user/user-purchases"><strong>MIS COMPRAS</strong></a></li>
    <li><a href="/user/user-invoices"><strong>MIS FACTURAS</strong></a></li>
    <li><a href="/user/user-purse"><strong>MI MONEDERO</strong></a></li>
    <li><a href="/user/user-deliveries"><strong>MIS ENVÍOS</strong></a></li>
    <li><a href="/user/user-payments"><strong>MIS FORMAS DE PAGO</strong></a></li>
  </ul>
</section>