<div id="my-profile" layout="row" layout-wrap>
  <div class="menu-profile" flex-gt-xs="25" flex="100">
    <ng-include src="'views/users/menu-profile.html'"></ng-include>
  </div>
  <div flex hide-sm hide-xs></div> 
   <div flex-gt-xs="70" flex="100">
    <section id="profile-view" class="container container-lg">
      <h1 class="principal-icon" layout="row" layout-align="center center" ><i class="icon-login"></i> </h1>
        <div class="box-head-profile" layout="row" layout-xs="column" layout-align="center center" >
          <div layout="column" layout-align="center center" class="info-row">
            <div flex><strong>{{vm.user.firstName}} {{vm.user.lastName}}</strong></div>
            <div flex layout-align="center center"><p>NOMBRE(S)</p></div>
          </div>
          <div layout="column" layout-align="center center" class="info-row">
            <div flex><strong>13. 09. 85</strong></div>
            <div flex layout-align="center center"><p>CUMPLEAÑOS</p></div>
          </div>
          <div layout="column" layout-align="center center" class="info-row">
            <div flex><strong>$1,561.50 MXN</strong></div>
            <div flex layout-align="center center"><p>MI MONEDERO</p></div>
          </div> 
        </div>
      <div class="head-profile" layout="row" layout-xs="column" layout-align="space-between center">
        <div layout="row" layout-align="center center">
            <i class="icon-login"></i>
            <h1>MI PERFIL</h1>
        </div>
        <!--
        <div layout="row" layout-align="center center">
          <i class="icon-settings"></i>
          <a href="/forgot-password">
            MODIFICAR CONTRASEÑA
          </a>
        </div>
        -->
      </div>
      <div ng-if="vm.isLoading" layout-fill layout="row" layout-sm="column" layout-align="center center" class="loading-circle">
        <md-progress-circular md-mode="indeterminate"  md-diameter="150"></md-progress-circular>
      </div>

      <form ng-if="!vm.isLoading" name="updateForm" ng-submit="vm.update(updateForm)" class="form-view-content">

        <section class="form-section">
          <!--DATOS PERSONALES-->
          <section class="form-section-content form-section-content-v2" layout="row" layout-wrap layout-align="space-between center">
              <div class="input-container" layout="row" layout-wrap flex="100">
                <div flex-gt-sm="33" flex="100" class="input-element">
                  <label>
                    <p><strong>Nombre(s)*</strong></p>
                  </label>
                  <div class="input-element-inner">
                    <input 
                      type="text" 
                      ng-model="vm.user.firstName" 
                      required
                      ng-disabled="!vm.isActiveEditMode">
                  </div>
                </div>
                <div flex-gt-sm="33" flex="100" class="input-element">
                  <label>
                    <p><strong>Género*</strong></p>
                  </label>
                  <div class="input-element-inner">
                    <input 
                      type="text" 
                      ng-model="vm.user.lastName" 
                      required
                      ng-disabled="!vm.isActiveEditMode">
                  </div>
                </div>
                <div flex-gt-sm="33" flex="100"></div>
              </div>

              <div class="input-container" layout="row" layout-wrap flex="100">
                <div flex-gt-sm="33" flex="100" class="input-element">
                  <label>
                    <p><strong>Teléfon fijo</strong>*</p>
                  </label>
                  <div class="input-element-inner">
                    <input 
                      type="email" 
                      ng-model="vm.user.phone"
                      required
                      ng-disabled="!vm.isActiveEditMode">
                  </div>
                </div>
                <div flex-gt-sm="33" flex="100" class="input-element">
                  <label>
                    <p><strong>Teléfono celular</strong>*</p>
                  </label>
                  <div class="input-element-inner">
                    <input 
                      type="email" 
                      ng-model="vm.user.mobilePhone"
                      required
                      ng-disabled="!vm.isActiveEditMode">
                  </div>
                </div>
                <div flex-gt-sm="33" flex="100" class="input-element">
                  <label>
                    <p><strong>Email</strong>*</p>
                  </label>
                  <div class="input-element-inner">
                    <input 
                      type="email" 
                      ng-model="vm.user.email" 
                      required
                      ng-disabled="!vm.isActiveEditMode">
                  </div>
                </div>
                <div flex-gt-sm="33" flex="100"></div>
              </div>

          </section>
          <!--END DATOS PERSONALES-->

        </section>
        <!--END FORM SECTION-->

        <div layout="row" class="form-view-btns no-margin" layout-align="center center"> 


          <button
            ng-click="vm.toggleEditMode()"
            ng-if="!vm.isActiveEditMode"
            flex="50"
            class="form-view-btn form-view-btn-primary">
            Editar información
          </button>


          <button
            ng-submit="vm.update(updateForm)"
            ng-if="vm.isActiveEditMode"
            flex="50"
            class="form-view-btn form-view-btn-primary">
            Guardar información
          </button>


        </div>

      </form>
      <!--END PROFILE EDIT-->

    </section>
  </div>
</div>  
