<div id="my-profile" layout="row" layout-wrap>
  <div class="menu-profile" flex-gt-xs="25" flex="100">
    <ng-include src="'views/users/menu-profile.html'"></ng-include>
  </div>
   <div flex-gt-xs="75" flex="100">
    <section id="profile-view" class="container container-lg user-profile-view">

      <ng-include src="'views/users/box-head-profile.html'"></ng-include>

      <div class="head-profile" layout="row" layout-xs="column" layout-align="space-between center">
        <div layout="row" layout-align="center center">
            <i class="icon-pedidos"></i>
            <h1>MIS COMPRAS</h1>
        </div>
      </div>
	    
      <hr/>

	   <!--ORDERS LIST -->
     <section class="orders-list">
        <div class="order-item" ng-repeat="order in vm.orders">
  		    <div flex class="order-item-head">
		    		<p>PEDIDO <strong>#{{order.folio}}</strong></p>
  				</div>
  				<div class="order-item-content" layout="row" layout-wrap>
            <div layout="row" class="order-data">
    					<div flex class="order-data-col">
    						<div>
    							<p>FECHA DE PEDIDO:</p>
    							<p>TIENDA:</p>
    							<p>MONTO TOTAL:</p>
    						</div>
    					</div>
    					<div flex class="order-data-col">
    						<div>
    							<p ><strong>{{ order.createdAt | date:'d/MMM/yyyy' }}</strong></p>
    							<p><strong>www.actualkids.com</strong></p>
    							<p><strong>{{order.total | currency}} MXN</strong></p>
    						</div>
    					</div>
            </div>
  					<div flex="50" flex-xs="100" layout="row" class="form-view-btns no-margin" layout-align="center center">
  						<div layout="row" layout-align="center center" flex>
  		          <a ng-href="#{{order.id}}" class="form-view-btn form-view-btn-primary">
  		            Ver detalles de pedido
  		          </a>
      				</div>
  					</div>	
  				</div>
  		    </div>
  	    </div>
      </section>
      <!---->


    </section>
  </div>
</div>  
