<div id="my-profile" layout="row" layout-wrap>
  
  <div class="menu-profile" flex-gt-xs="25" flex="100">
    <ng-include src="'views/users/menu-profile.html'"></ng-include>
  </div>

  <div flex-gt-xs="70" flex="100">
    <section id="profile-view" class="container container-lg">
        
        <ng-include src="'views/users/box-head-profile.html'"></ng-include>
        <div class="head-profile" layout="row" layout-xs="column" layout-align="space-between center">
          <div layout="row" layout-align="center center">
              <i class="icon-cash"></i>
              <h1>MIS FORMAS DE PAGO</h1>
          </div>
        </div>
        <form ng-if="!vm.isLoading" name="updateForm" ng-submit="vm.update(updateForm)" class="form-view-content">
        <section class="form-section">
          <!--DATOS PERSONALES-->
          <h3><strong>MIS TARJETAS</strong></h3>
            <div class="invoice-box" style="margin-top: 1em">
              <md-radio-group >
                <md-radio-button value="Ciudad" class="md-primary">
                <div layout="row" layout-align="center center"><strong>SANTANDER ORO  </strong> <p class="text-sep" >****3124</p> <u class="text-red">ELIMINAR</u></div>
                </md-radio-button>
                <md-radio-button value="Ciudad" class="md-primary">
                <div layout="row" layout-align="center center"><strong>TRAVEL PASS  </strong> <p class="text-sep" >****3124</p> <u class="text-red">ELIMINAR</u></div>
                </md-radio-button>
                <md-radio-button value="Nuevo" class="md-primary">
                  <strong><u>Nuevo</u></strong>
                </md-radio-button>
              </md-radio-group>
            </div>
          <section class="form-section-content form-section-content-v2" layout="row" layout-align="space-between center">
            <div  class="input-container" flex="100">
              <div layout="row"  layout-wrap>
                <div flex-gt-sm="45" flex="100" class="input-element">
                  <label>
                    <p><strong>Nombre(s) del titular<span class="hl-label"> * </span></strong><small>(Tal cual aparece en el plástico)</small></p>
                  </label>
                  <div class="input-element-inner">
                    <input type="text" ng-model="vm.user.firstName" required>
                  </div>
                </div>
                <div flex-gt-sm="45" flex="100" class="input-element">
                  <label>
                    <p><strong>Apellido(s) del titular<span class="hl-label"> * </span></strong><small>(Tal cual aparece en el plástico)</small></p>
                  </label>
                  <div class="input-element-inner">
                    <input type="text" ng-model="vm.user.lastName" required>
                  </div>
                </div>
              </div>
              <div layout="row" layout-wrap>
                <div layout="column" layout-align="center stretch" flex-gt-sm="35" flex="100" class="input-element">
                  <label>
                    <p><strong>Número de tarjeta<span class="hl-label"> * </span></strong><small>(Ingresar los 16 dígitos)</small></p>
                  </label>
                  <div class="input-element-inner">
                    <input type="text" ng-model="vm.user.firstName" required>
                  </div>
                </div>
                <div layout="column" layout-align="center stretch" flex-gt-sm="25" flex="100" class="input-element">
                  <label>
                    <p><strong>Fecha de vencimiento<span class="hl-label"> *</span></strong></p>
                  </label>
                  <div class="input-element-inner">
                    <input type="text" ng-model="vm.user.lastName" required>
                  </div>
                </div>
                <div flex-gt-sm="25" flex="100" class="input-element">
                  <label>
                    <p><strong>Código postal<span class="hl-label"> *</span></strong></p>
                  </label>
                  <div class="input-element-inner">
                    <input type="text" ng-model="vm.user.lastName" required>
                  </div>
                </div>
              </div>
              <div layout="row" layout-wrap>
                <div flex-gt-sm="100" flex="100" class="input-element">
                  <label>
                    <p><strong>Alias<span class="hl-label"> *</span></strong></p>
                  </label>
                  <div class="input-element-inner">
                    <input type="text" ng-model="vm.user.firstName" required>
                  </div>
                </div>
              </div>
            </div>

          </section>
          <!--END DATOS PERSONALES-->

        </section>
        <!--END FORM SECTION-->

        <div layout="row" class="form-view-btns no-margin" layout-align="center center"> 
          <!--<a href="" flex class="form-view-btn">Borrar todos los campos</a>-->
          <button
            ng-submit="vm.update(updateForm)"
            flex="50"
            class="form-view-btn form-view-btn-primary">
            Guardar información
          </button>
        </div>
        <h3><strong>MIS TRANSFERENCIAS</strong></h3>

      </form>
      <!--END PROFILE EDIT-->
    </section>
  </div>
</div>  
