<div id="my-profile" layout="row" layout-wrap>
  <div flex="100" class="logo" layout="row" layout-align="center center">
        <a flex="20"  href="/" layout="row" layout-align="center center">
          <img src="images/Logo-A-Home.png" alt="Actual Group">
        </a>
  </div>
  <div class="menu-profile" flex-gt-xs="25" flex="100">
    <section id="profile-view" class=" container container-xlg">
      <p>BIENVENIDO A</p>
      <p><strong>MI ACTUAL</strong></p>
      <hr/>
      <ul style="list-style-type: none" class="modify-password">
        <li><a href="user/profile"><strong>MI PERFIL</strong></a></li>
        <li><a href="/user/user-purchases"><strong>MIS COMPRAS</strong></a></li>
        <li><a href="/user/user-invoices"><strong>MIS FACTURAS</strong></a></li>
        <li><a href="/user/user-purse"><strong>MI MONEDERO</strong></a></li>
        <li><a href="/user/user-deliveries"><strong>MIS ENVÍOS</strong></a></li>
        <li><a href="/user/user-payments"><strong>MIS FORMAS DE PAGO</strong></a></li>
      </ul>
    </section>
  </div>
  <div flex hide-sm hide-xs></div> 
   <div flex-gt-xs="70" flex="100">
    <section id="profile-view" class="container container-xlg">
      <h1 class="principal-icon" layout="row" layout-align="center center" ><i class="icon-login"></i> </h1>
        <div class="box-head-profile" layout="row" layout-xs="column" layout-align="center center" >
          <div layout="column" layout-align="center center" class="info-row">
            <div flex><strong>{{vm.user.firstName}} {{vm.user.lastName}}</strong></div>
            <div flex layout-align="center center"><p>NOMBRE(S)</p></div>
          </div>
          <div layout="column" layout-align="center center" class="info-row">
            <div flex><strong>13. 09. 85</strong></div>
            <div flex layout-align="center center"><p>CUMPLEAÑOS</p></div>
          </div>
          <div layout="column" layout-align="center center" class="info-row">
            <div flex><strong>$1,561.50 MXN</strong></div>
            <div flex layout-align="center center"><p>MI MONEDERO</p></div>
          </div>        
        </div>
      <div class="head-profile" layout="row" layout-xs="column" layout-align="space-between center">
        <div layout="row" layout-align="center center">
            <i class="icon-pedidos"></i>
            <h1>MIS COMPRAS</h1>
        </div>
      </div>
	    <hr/>
	    <div class="box-list" ng-repeat="item in [0,1,2]" style="margin: 1em">
		    <div flex style="min-height:150px;border:1px solid #000;">
				<div style="background-color: #000000; margin-top: 0">
		    		<p style="margin-top: 0; color: #FFFFFF; margin-left: 1em">PEDIDO <strong>#2069700497</strong></p>
				</div>
				<div layout="row" layout-wrap>
					<div layout="column">
						<div style="margin-left: 1em">
							<p style="margin-top: 0">FECHA DE PEDIDO:</p>
							<p>TIENDA:</p>
							<p>MONTO TOTAL:</p>
						</div>
					</div>
					<div flex layout="column">
						<div>
							<p style="margin-top: 0"><strong>16/FEB/2016</strong></p>
							<p><strong>www.actualkids.com</strong></p>
							<p><strong>$27,496.37 MXN</strong></p>
						</div>
					</div>
					<div flex="50" flex-xs="100" layout="row" class="form-view-btns no-margin" layout-align="center center">
						<div layout="row" layout-align="center center" flex>
					          <button
					            ng-submit="vm.update(updateForm)"
					            flex="50"
					            class="form-view-btn form-view-btn-primary">
					            Ver detalles de pedido
					          </button>
        				</div>
					</div>	
				</div>
		    </div>
	    </div>
    </section>
  </div>
</div>  
