<div id="my-profile" layout="row" layout-wrap>
  <div flex="100" class="logo" layout="row" layout-align="center center">
        <a flex="20"  href="/" layout="row" layout-align="center center">
          <img src="images/logo.png" alt="Actual Group">
        </a>
  </div>
  <div class="menu-profile" flex-gt-xs="25" flex="100">
    <section id="profile-view" class=" container container-xlg">
      <p>BIENVENIDO A</p>
      <p><strong>MI ACTUAL</strong></p>
      <hr/>
      <ul style="list-style-type: none" class="modify-password">
        <li><a href="user/profile"><strong>MI PERFIL</strong></a></li>
        <li><a href="/user/user-purchases"><strong>MIS COMPRAS</strong></a></li>
        <li><a href="/user/user-invoices"><strong>MIS FACTURAS</strong></a></li>
        <li><a href="/user/user-purse"><strong>MI MONEDERO</strong></a></li>
        <li><a href="/user/user-deliveries"><strong>MIS ENVÍOS</strong></a></li>
        <li><a href="/user/user-payments"><strong>MIS FORMAS DE PAGO</strong></a></li>
      </ul>
    </section>
  </div>
  <div flex hide-sm hide-xs></div> 
   <div flex-gt-xs="70" flex="100">
    <section id="profile-view" class="container container-xlg">
      <h1 class="principal-icon" layout="row" layout-align="center center" ><i class="icon-login"></i> </h1>
        <div class="box-head-profile" layout="row" layout-xs="column" layout-align="center center" >
          <div layout="column" layout-align="center center" class="info-row">
            <div flex><strong>{{vm.user.firstName}} {{vm.user.lastName}}</strong></div>
            <div flex layout-align="center center"><p>NOMBRE(S)</p></div>
          </div>
          <div layout="column" layout-align="center center" class="info-row">
            <div flex><strong>13. 09. 85</strong></div>
            <div flex layout-align="center center"><p>CUMPLEAÑOS</p></div>
          </div>
          <div layout="column" layout-align="center center" class="info-row">
            <div flex><strong>$1,561.50 MXN</strong></div>
            <div flex layout-align="center center"><p>MI MONEDERO</p></div>
          </div>        
        </div>
      <div class="head-profile" layout="row" layout-xs="column" layout-align="space-between center">
        <div layout="row" layout-align="center center">
            <i class="icon-login"></i>
            <h1>MIS COMPRAS</h1>
        </div>
      </div>
    </section>
  </div>
</div>  
