<div id="my-profile" layout="row" layout-wrap>
  <div flex="100" class="logo" layout="row" layout-align="center center">
        <a flex="20"  href="/" layout="row" layout-align="center center">
          <img src="images/logo.png" alt="Actual Group">
        </a>
  </div>
  <div class="menu-profile" flex-gt-xs="25" flex="100">
    <section id="profile-view" class=" container container-xlg">
      <p>BIENVENIDO A</p>
      <p><strong>MI ACTUAL</strong></p>
      <hr/>
      <ul style="list-style-type: none" class="modify-password">
        <li><a href="user/profile"><strong>MI PERFIL</strong></a></li>
        <li><a href="/user/user-purchases"><strong>MIS COMPRAS</strong></a></li>
        <li><a href="/user/user-invoices"><strong>MIS FACTURAS</strong></a></li>
        <li><a href="/user/user-purse"><strong>MI MONEDERO</strong></a></li>
        <li><a href="/user/user-deliveries"><strong>MIS ENVÍOS</strong></a></li>
        <li><a href="/user/user-payments"><strong>MIS FORMAS DE PAGO</strong></a></li>
      </ul>
    </section>
  </div>
  <div flex hide-sm hide-xs></div> 
   <div flex-gt-xs="70" flex="100">
    <section id="profile-view" class="container container-xlg">
      <h1 class="principal-icon" layout="row" layout-align="center center" ><i class="icon-login"></i> </h1>
        <div class="box-head-profile" layout="row" layout-xs="column" layout-align="center center" >
          <div layout="column" layout-align="center center" class="info-row">
            <div flex><strong>{{vm.user.firstName}} {{vm.user.lastName}}</strong></div>
            <div flex layout-align="center center"><p>NOMBRE(S)</p></div>
          </div>
          <div layout="column" layout-align="center center" class="info-row">
            <div flex><strong>13. 09. 85</strong></div>
            <div flex layout-align="center center"><p>CUMPLEAÑOS</p></div>
          </div>
          <div layout="column" layout-align="center center" class="info-row">
            <div flex><strong>$1,561.50 MXN</strong></div>
            <div flex layout-align="center center"><p>MI MONEDERO</p></div>
          </div>        
        </div>
        <div class="head-profile" layout="row" layout-xs="column" layout-align="space-between center">
          <div layout="row" layout-align="center center">
              <i class="icon-cash"></i>
              <h1>MIS FORMAS DE PAGO</h1>
          </div>
        </div>
        <form ng-if="!vm.isLoading" name="updateForm" ng-submit="vm.update(updateForm)" class="form-view-content">
        <section class="form-section">
          <!--DATOS PERSONALES-->
          <h3><strong>MIS TARJETAS</strong></h3>
          <section class="form-section-content form-section-content-v2" layout="row" layout-align="space-between center">
            <div  class="input-container" flex="100">
              <div layout="row" layout-wrap>
                <div flex-gt-sm="45" flex="100" class="input-element">
                  <label>
                    <strong>Nombre(s) del titular<span class="hl-label">*</span></strong>
                  </label>
                  <div class="input-element-inner">
                    <input type="text" ng-model="vm.user.firstName" required>
                  </div>
                </div>
                <div flex-gt-sm="45" flex="100" class="input-element">
                  <label>
                    <strong>Apellido(s) del titular<span class="hl-label">*</span></strong>
                  </label>
                  <div class="input-element-inner">
                    <input type="text" ng-model="vm.user.lastName" required>
                  </div>
                </div>
              </div>
              <div layout="row" layout-wrap>
                <div flex-gt-sm="35" flex="100" class="input-element">
                  <label>
                    <strong>Número de tarjeta<span class="hl-label">*</span></strong>
                  </label>
                  <div class="input-element-inner">
                    <input type="text" ng-model="vm.user.firstName" required>
                  </div>
                </div>
                <div flex-gt-sm="25" flex="100" class="input-element">
                  <label>
                    <strong>Fecha de vencimiento<span class="hl-label">*</span></strong>
                  </label>
                  <div class="input-element-inner">
                    <input type="text" ng-model="vm.user.lastName" required>
                  </div>
                </div>
                <div flex-gt-sm="25" flex="100" class="input-element">
                  <label>
                    <strong>Código postal<span class="hl-label">*</span></strong>
                  </label>
                  <div class="input-element-inner">
                    <input type="text" ng-model="vm.user.lastName" required>
                  </div>
                </div>
              </div>

            </div>

          </section>
          <!--END DATOS PERSONALES-->

        </section>
        <!--END FORM SECTION-->

        <div layout="row" class="form-view-btns no-margin" layout-align="center center"> 
          <!--<a href="" flex class="form-view-btn">Borrar todos los campos</a>-->
          <button
            ng-submit="vm.update(updateForm)"
            flex="50"
            class="form-view-btn form-view-btn-primary">
            Guardar información
          </button>
        </div>
        <h3><strong>MIS TRANSFERENCIAS</strong></h3>

      </form>
      <!--END PROFILE EDIT-->
    </section>
  </div>
</div>  
