<div id="my-profile" layout="row" layout-wrap>
  <div class="menu-profile" flex-gt-xs="25" flex="100">
    <section id="profile-view" class=" container container-xlg">
      <p>BIENVENIDO A</p>
      <p><strong>MI ACTUAL</strong></p>
      <hr/>
      <ul style="list-style-type: none" class="modify-password">
        <li><a href="user/profile"><strong>MI PERFIL</strong></a></li>
        <li><a href="/user/user-purchases"><strong>MIS COMPRAS</strong></a></li>
        <li><a href="/user/user-invoices"><strong>MIS FACTURAS</strong></a></li>
        <li><a href="/user/user-purse"><strong>MI MONEDERO</strong></a></li>
        <li><a href="/user/user-deliveries"><strong>MIS ENVÍOS</strong></a></li>
        <li><a href="/user/user-payments"><strong>MIS FORMAS DE PAGO</strong></a></li>
      </ul>
    </section>
  </div>
  <div flex hide-sm hide-xs></div> 
    <div flex-gt-xs="70" flex="100">
    <section id="profile-view" class="container container-xlg">
      <h1 class="principal-icon" layout="row" layout-align="center center" ><i class="icon-login"></i> </h1>
        <div class="box-head-profile" layout="row" layout-xs="column" layout-align="center center" >
          <div layout="column" layout-align="center center" class="info-row">
            <div flex><strong>{{vm.user.firstName}} {{vm.user.lastName}}</strong></div>
            <div flex layout-align="center center"><p>NOMBRE(S)</p></div>
          </div>
          <div layout="column" layout-align="center center" class="info-row">
            <div flex><strong>13. 09. 85</strong></div>
            <div flex layout-align="center center"><p>CUMPLEAÑOS</p></div>
          </div>
          <div layout="column" layout-align="center center" class="info-row">
            <div flex><strong>$1,561.50 MXN</strong></div>
            <div flex layout-align="center center"><p>MI MONEDERO</p></div>
          </div>        
        </div>
	    <div flex>
	       <div class="head-profile" layout="row" layout-xs="column" layout-align="space-between center">
        <div layout="row" layout-align="center center">
            <i class="icon-monedero"></i>
            <h1>MI MONEDERO</h1>
        </div>
      </div>
	    </div>
	    <hr/>
	    <div layout="row">
	    	<div flex>
	    		<h3><strong>SALDO ACTUAL:</strong></h3>
	    	</div>
	    	<div flex align="right" class="purse-color">
	    		<h3 ><strong>$1,561.00 MXN</strong></h3>	    		
	    	</div>
	    </div>
    	<hr/>
    	<section class="transfers-table-block">
		<div flexgt-sm="50" flex=100>
	        <p class="modify-purse">
	            <strong>HISTORIAL DE MOVIMIENTOS CON SALDO ACTUAL</strong>
	        </p>
	    </div>
	    <hr/>
		    <div class="table-list">
		      <table class="dataTable row-border hover">
		          <thead>
		          <tr>
		              <th>Fecha</th>
		              <th>Descripción</th>
		              <th>Abono</th>
		              <th>Cargo</th>
		              <th>Saldo</th>
		          </tr>
		          </thead>

		          <tbody ng-if="vm.activeStore.group === 'studio' ">
		            <tr>
		              <td>Pesos</td>
		              <td>Banamex</td>
		              <td>7004</td>
		              <td>6988750</td>
		              <td>002691700469887500</td>
		              <td>BNMXMXMM</td>
		            </tr>
		            <tr>
		              <td>Pesos</td>
		              <td>Bancomer</td>
		              <td></td>
		              <td>194554957</td>
		              <td>012691001945549572</td>
		              <td></td>
		            </tr>
		            <tr>
		              <td>Pesos</td>
		              <td>Santander</td>
		              <td>7852</td>
		              <td>65504120542</td>
		              <td>014691655041205423</td>
		              <td></td>
		            </tr>
		            <tr>
		              <td>Pesos</td>
		              <td>Banorte</td>
		              <td></td>
		              <td>0201852130</td>
		              <td>072691002018521301</td>
		              <td></td>
		            </tr>
		            <tr>
		              <td>Dólares</td>
		              <td>Banamex</td>
		              <td>0001</td>
		              <td>3416508</td>
		              <td>002691000134165082</td>
		              <td>BNMXMXMM</td>
		            </tr>
		          </tbody>

		          <tbody ng-if="vm.activeStore.group !== 'studio' ">
		            <tr>
		              <td>Pesos</td>
		              <td>Banamex</td>
		              <td>7010</td>
		              <td>7336557</td>
		              <td>002691701073365572</td>
		              
		            </tr>
		            <tr>
		              <td>Pesos</td>
		              <td>Bancomer</td>
		              <td></td>
		              <td>105822122</td>
		              <td>012691001058221224</td>
		            </tr>
		            <tr>
		              <td>Pesos</td>
		              <td>Santander</td>
		              <td>7195</td>
		              <td>22000506285</td>
		              <td>014691220005062859</td>
		            </tr>
		            <tr>
		              <td>Pesos</td>
		              <td>Banorte</td>
		              <td></td>
		              <td>0429431982</td>
		              <td>072691004294319827</td>
		            </tr>
		            <tr>
		              <td>Dólares</td>
		              <td>Banamex</td>
		              <td>7002</td>
		              <td>9089130</td>
		              <td>002691700290891309</td>
		              
		            </tr>
		          </tbody>

		      </table>
		    </div>
		</section>
    </section>

  </div>
</div>  
