<section
  ng-show="vm.activeTab==1"
  action="#" class="form-section-content"
>

  <div class="input-element">
    <label><strong>RFC (Principal) <span class="hl-label">*</span></strong></label>
    <div class="input-element-inner">
      <input type="text" ng-model="vm.client.LicTradNum">
    </div>
  </div>

  <div class="client-item-info" ng-repeat="fiscalAddress in vm.fiscalAddresses">

    <div layout="row">
      <div flex="45" class="input-element">
        <label><strong>Razón social <span class="hl-label">*</span></strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalAddress.companyName" required>
        </div>
      </div>
    </div>

    <div layout="row">
      <div flex="20" class="input-element">
        <label><strong>RFC <span class="hl-label">*</span></strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalAddress.rfc" required>
        </div>
      </div>

      <div flex="25" class="input-element">
        <label><strong>Teléfono <span class="hl-label">*</span></strong></label>
        <div class="input-element-inner">
          <input
            type="text"
            ng-model="fiscalAddress.Phone1"
            required
            placeholder="Lada + Número">
        </div>
      </div>

      <div flex="30" class="input-element">
        <label><strong>Email</strong></label>
        <div class="input-element-inner">
          <input type="email" ng-model="fiscalAddress.E_Mail" required>
        </div>
      </div>
    </div>


    <h4>DIRECCIÓN FISCAL</h4>
    <div layout="row">

      <div flex="20" class="input-element">
        <label><strong>Calle</strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalAddress.Street">
        </div>
      </div>

      <div flex="10" class="input-element">
        <label><strong>No. exterior</strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalAddress.U_NumExt">
        </div>
      </div>

      <div flex="10" class="input-element">
        <label><strong>No. interior</strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalAddress.U_NumInt">
        </div>
      </div>

      <div flex="25" class="input-element">
        <label><strong>Colonia</strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalAddress.Block">
        </div>
      </div>

      <div flex="20" class="input-element">
        <label><strong>Municipio</strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalAddress.U_Localidad">
        </div>
      </div>

    </div>

    <div layout="row">

      <div flex="20" class="input-element">
        <label><strong>Ciudad</strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalAddress.City">
        </div>
      </div>


      <div flex="30" class="input-element select-element-wrapper">
        <label><strong>Estado</strong></label>
        <md-select ng-model="fiscalAddress.State" class="select-element">
          <md-option ng-repeat="state in vm.states" ng-value="state.Code">
            {{state.Name}}
          </md-option>
        </md-select>
      </div>

      <div flex="15" class="input-element">
        <label><strong>Código postal</strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalAddress.ZipCode">
        </div>
      </div>

    </div>

  </div>

  <div layout="row" layout-align="end center">
    <a
      href="#"
      flex="30"
      class="action-btn"
      ng-click="vm.addFiscalForm()">
      Agregar nueva dirección 
      <i class="icon-cotizar add-icon"></i>
    </a>
  </div>



</section>
