<section class="form-view container container-xlg">

  <h1><i class="icon-login"></i> <strong>CLIENTES</strong></h1>
  <p><strong>LISTA DETALLADA DE MIS CLIENTES</strong></p>

  <hr/>

  <div layout="row" class="action-links">
    <div flex="30">
      <h4>
        <a href="/clients/create">
          <i class="icon-ofertas"></i> CREAR NUEVO CLIENTE
        </a>
      </h4>
    </div>
    <div flex="30">
      <h4>
        <a href="/search">
          <i class="icon-ofertas"></i> CREAR NUEVA COTIZACIÓN
        </a>
      </h4>
    </div>
  </div>

  <div layout="row" layout-align="end end" class="form-view-filters">
    <div flex="30" class="input-element select-element-wrapper">
      <label><strong>Buscar sobre:</strong></label>
      <select ng-model="vm.filters.SlpCode" class="select-element">
        <option ng-selected="vm.user.SlpCode == vm.filters.SlpCode" ng-value="vm.user.SlpCode">
          Mis clientes
        </option>
        <option ng-value="'none'">
          Todos los clientes
        </option>
      </select>
    </div>
    <div flex="20">
      <a ng-click="vm.applyFilters()" href="#" class="action-btn">Aplicar filtros</a>
    </div>
  </div>

  <section class="table-list-wrap table-list-wrap-nomargin">
    <div table-list class="table-list" columns="vm.columnsClients" filters="vm.filters" api-resource="vm.apiResourceClients"></div>
  </section>

</section>
