<section action="#" class="form-section-content">

  <div class="fiscal-address-item" ng-repeat="fiscalInfo in vm.client.FiscalInfo">

    <div layout="row">
      <div flex="45" class="input-element">
        <label><strong>Razón social <span class="hl-label">*</span></strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.companyName" required>
        </div>
      </div>

    </div>

    <div layout="row">
      <div flex="20" class="input-element">
        <label><strong>RFC <span class="hl-label">*</span></strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.rfc" required>
        </div>
      </div>

      <div flex="25" class="input-element">
        <label><strong>Teléfono <span class="hl-label">*</span></strong></label>
        <div layout="row" layout-align="space-between center">
            <div flex="35" class="input-element-inner">
              <input type="text" ng-model="fiscalInfo.dialCode" placeholder="Lada" required>
            </div>
            <div flex="60" class="input-element-inner">
              <input type="text" ng-model="fiscalInfo.phone" required>
            </div>
        </div>
      </div>

      <div flex="30" class="input-element">
        <label><strong>Email</strong></label>
        <div class="input-element-inner">
          <input type="email" ng-model="fiscalInfo.email" required>
        </div>
      </div>
    </div>


    <h4>DIRECCIÓN FISCAL</h4>
    <div layout="row">

      <div flex="20" class="input-element">
        <label><strong>Calle <span class="hl-label">*</span></strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.Street" required>
        </div>
      </div>

      <div flex="10" class="input-element">
        <label><strong>No. exterior <span class="hl-label">*</span></strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.U_NumExt" required>
        </div>
      </div>

      <div flex="10" class="input-element">
        <label><strong>No. interior <span class="hl-label">*</span></strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.U_NumInt" required>
        </div>
      </div>

      <div flex="25" class="input-element">
        <label><strong>Colonia <span class="hl-label">*</span></strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.Block" required>
        </div>
      </div>

      <div flex="20" class="input-element">
        <label><strong>Municipio <span class="hl-label">*</span></strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.municipality" required>
        </div>
      </div>

    </div>

    <div layout="row">

      <div flex="20" class="input-element">
        <label><strong>Ciudad <span class="hl-label">*</span></strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.City" required>
        </div>
      </div>


      <div flex="30" class="input-element select-element-wrapper">
        <label><strong>Estado</strong></label>
        <md-select ng-model="fiscalInfo.State" class="select-element">
          <md-option ng-repeat="state in vm.states" ng-value="state.Code">
            {{state.Name}}
          </md-option>
        </md-select>
      </div>

      <div flex="15" class="input-element">
        <label><strong>Código postal <span class="hl-label">*</span></strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.ZipCode" required>
        </div>
      </div>

    </div>

  </div>

  <div layout="row" class="form-view-btns" layout-align="center center">
    <a ng-click="vm.updateFiscalInfo()" href="" flex="70" class="form-view-btn form-view-btn-primary">Guardar información</a>
  </div>

</section>
