<form ng-submit="vm.updateFiscalInfo(fiscalForm)" class="form-section-content">

  <div class="input-element">
    <label><strong>RFC (Principal) <span class="hl-label">*</span></strong></label>
    <div class="input-element-inner">
      <input type="text" ng-model="vm.client.LicTradNum">
    </div>
  </div>

  <div class="client-item-info" ng-repeat="fiscalInfo in vm.client.FiscalInfo">

    <div layout="row">
      <div flex="45" class="input-element">
        <label><strong>Razón social <span class="hl-label">*</span></strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.companyName" required>
        </div>
      </div>
    </div>

    <div layout="row">
      <div flex="20" class="input-element">
        <label><strong>RFC <span class="hl-label">*</span></strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.rfc" required>
        </div>
      </div>

      <div flex="25" class="input-element">
        <label><strong>Teléfono <span class="hl-label">*</span></strong></label>
        <div class="input-element-inner">
          <input
            type="text"
            placeholder="Lada + Número"
            ng-model="fiscalInfo.phone"
            required>
        </div>
      </div>

      <div flex="30" class="input-element">
        <label><strong>Email</strong></label>
        <div class="input-element-inner">
          <input type="email" ng-model="fiscalInfo.email" required>
        </div>
      </div>
    </div>


    <h4>DIRECCIÓN FISCAL</h4>
    <div layout="row">

      <div flex="20" class="input-element">
        <label><strong>Calle</strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.Street">
        </div>
      </div>

      <div flex="10" class="input-element">
        <label><strong>No. exterior</strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.U_NumExt">
        </div>
      </div>

      <div flex="10" class="input-element">
        <label><strong>No. interior</strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.U_NumInt">
        </div>
      </div>

      <div flex="25" class="input-element">
        <label><strong>Colonia</strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.Block">
        </div>
      </div>

      <div flex="20" class="input-element">
        <label><strong>Municipio</strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.municipality">
        </div>
      </div>

    </div>

    <div layout="row">

      <div flex="20" class="input-element">
        <label><strong>Ciudad</strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.City">
        </div>
      </div>


      <div flex="30" class="input-element select-element-wrapper">
        <label><strong>Estado</strong></label>
        <md-select ng-model="fiscalInfo.State" class="select-element">
          <md-option ng-repeat="state in vm.states" ng-value="state.Code">
            {{state.Name}}
          </md-option>
        </md-select>
      </div>

      <div flex="15" class="input-element">
        <label><strong>Código postal</strong></label>
        <div class="input-element-inner">
          <input type="text" ng-model="fiscalInfo.ZipCode">
        </div>
      </div>

    </div>

  </div>

  <div layout="row" class="form-view-btns" layout-align="center center">
    <a
      ng-click="vm.updateFiscalInfo(fiscalForm)"
      href=""
      flex="70"
      class="form-view-btn form-view-btn-primary">
      Guardar información
    </a>
  </div>

</form>
