<section class="form-view container container-xlg">
  <h1><i class="icon-login"></i> <strong>PERFIL DEL CLIENTE</strong></h1>

  <div layout="row" layout-align="end start" class="action-links">
    <div flex="30">
      <h4>
        <a href="#" ng-click="vm.createQuotation()">
          <i class="icon-oportunidades"></i> CREAR NUEVA COTIZACIÓN
        </a>
      </h4>
    </div>
  </div>

  <div ng-show="vm.isLoading" layout-fill layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"  md-diameter="150"></md-progress-circular>
  </div>

  <!--START FORM-->
  <section ng-show="!vm.isLoading" class="form-view-content">

    <p class="form-view-hint"><strong>SELECCIONA UNA PESTAÑA</strong> | PARA VISUALIZAR Y/O EDITAR LA INFORMACIÓN REQUERIDA</p>

    <section class="form-section">

      <div layout="row" class="form-section-tabs">
        <div
          flex="25"
          ng-click="vm.activeTab = 0"
          class="form-section-tab"
          ng-class="{'form-section-tab-active': vm.activeTab == 0}">
          <a href="#">Datos personales</a>
        </div>
        <div
          flex="25"
          ng-click="vm.activeTab = 1"
          class="form-section-tab"
          ng-class="{'form-section-tab-active': vm.activeTab == 1}">
          <a href="#">Datos de facturación</a>
        </div>
        <div
          flex="25"
          ng-click="vm.activeTab = 2"
          class="form-section-tab"
          ng-class="{'form-section-tab-active': vm.activeTab == 2}">
          <a href="#">Datos de pago</a>
        </div>
        <div
          flex="25"
          ng-click="vm.activeTab = 3"
          class="form-section-tab"
          ng-class="{'form-section-tab-active': vm.activeTab == 3}">
          <a href="#">Datos de envío</a>
        </div>

      </div>

      <!--DATOS PERSONALES-->
      <section ng-show="vm.activeTab==0" action="#" class="form-section-content">

        <div layout="row">

          <div flex="20" class="input-element select-element-wrapper">
            <label><strong>Titulo</strong></label>
            <select ng-model="vm.client.Info.title" class="select-element">
              <option ng-selected="vm.client.Info.title == title.value" ng-repeat="title in vm.titles" ng-value="title.value">
                {{title.label}}
              </option>
            </select>
          </div>

          <div flex="20" class="input-element select-element-wrapper">
            <label><strong>Sexo</strong></label>
            <select ng-model="vm.client.Info.gender" class="select-element">
              <option ng-selected="vm.client.Info.gender == gender.value"  ng-repeat="gender in vm.genders" ng-value="gender.value">
                {{gender.label}}
              </option>
            </select>
          </div>

          <div flex="20" class="input-element">
            <label><strong>Fecha de nacimiento <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input mdc-datetime-picker="" date="true" type="text" id="datetime" min-date="date" ng-model="vm.birthdate" placeholder="dd-mm/aaaa" time="false" lang="es" class=" md-input">
            </div>
          </div>

        </div>

        <div layout="row">
          <div flex="20" class="input-element">
            <label><strong>Nombre(s) del cliente <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.client.CardName" required>
            </div>
          </div>

          <div flex class="input-element">
            <label><strong>Apellido paterno <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>

          <div flex class="input-element">
            <label><strong>Apellido materno</strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>
        </div>

        <div layout="row">

          <div flex="20" class="input-element">
            <label><strong>Teléfono fijo <span class="hl-label">*</span></strong></label>
            <div layout="row" layout-align="space-between center">
                <div flex="30" class="input-element-inner">
                  <input type="text" placeholder="Lada" required>
                </div>
                <div flex="60" class="input-element-inner">
                  <input type="text" ng-model="vm.client.Phone1" required>
                </div>
            </div>
          </div>


          <div flex="20" class="input-element">
            <label><strong>Teléfono celular <span class="hl-label">*</span></strong></label>
            <div layout="row" layout-align="space-between center">
                <div flex="30" class="input-element-inner">
                  <input type="text" placeholder="Lada" required>
                </div>
                <div flex="60" class="input-element-inner">
                  <input type="text" ng-model="vm.client.Cellular" required>
                </div>
            </div>
          </div>


          <div flex class="input-element">
            <label><strong>Email</strong> <span class="hl-label">*</span></label>
            <div class="input-element-inner">
              <input type="email" ng-model="vm.client.E_Mail" required>
            </div>
          </div>

         <div flex class="input-element">
            <label><strong>Confirmar email</strong> <span class="hl-label">*</span></label>
            <div class="input-element-inner">
              <input type="email" required>
            </div>
          </div>

        </div>

      </section>
      <!--END DATOS PERSONALES-->


      <!--DATOS DE FACTURACION-->
      <section ng-show="vm.activeTab==1" action="#" class="form-section-content">

        <div layout="row">
          <div flex="45" class="input-element">
            <label><strong>Razón social <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>

          <div flex="45" class="input-element">
            <label><strong>Nombre de la empresa <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>
        </div>

        <div layout="row">
          <div flex="20" class="input-element">
            <label><strong>RFC <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>

          <div flex="25" class="input-element">
            <label><strong>Teléfono <span class="hl-label">*</span></strong></label>
            <div layout="row" layout-align="space-between center">
                <div flex="35" class="input-element-inner">
                  <input type="text" placeholder="Lada" required>
                </div>
                <div flex="60" class="input-element-inner">
                  <input type="text" required>
                </div>
            </div>
          </div>

          <div flex="30" class="input-element">
            <label><strong>Email</strong></label>
            <div class="input-element-inner">
              <input type="email" required>
            </div>
          </div>
        </div>


        <h4>DIRECCIÓN FISCAL</h4>
        <div layout="row">

          <div flex="20" class="input-element">
            <label><strong>Calle <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>

          <div flex="10" class="input-element">
            <label><strong>No. exterior <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>

          <div flex="10" class="input-element">
            <label><strong>No. interior <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>

          <div flex="25" class="input-element">
            <label><strong>Colonia <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>

          <div flex="20" class="input-element">
            <label><strong>Municipio <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>

        </div>

        <div layout="row">

          <div flex="20" class="input-element">
            <label><strong>Ciudad <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>


          <div flex="30" class="input-element select-element-wrapper">
            <label><strong>Estado</strong></label>
            <select ng-model="vm.clientState" class="select-element">
              <option ng-repeat="state in vm.states" ng-value="state.name">
                {{state.name}}
              </option>
            </select>
          </div>

          <div flex="15" class="input-element">
            <label><strong>Código postal <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>

        </div>

      </section>
      <!--END DATOS FACTURACION-->


      <!--DATOS DE PAGO-->
      <section ng-show="vm.activeTab==2" action="#" class="form-section-content">

        <hr>

        <h4><strong>AGREGAR UNA TARJETA DE CRÉDITO O DÉBITO</strong></h4>

        <div layout="row">
          <div flex="45" class="input-element">
            <label><strong>Nombre(s) del titular <span class="hl-label">*</span> <span class="hint">(Tal cual aparece en el plastico)</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>

          <div flex="45" class="input-element">
            <label><strong>Apellidos del titular <span class="hl-label">*</span> <span class="hint">(Tal cual aparece en el plastico)</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>
        </div>

        <div layout="row">
          <div flex="45" class="input-element">
            <label><strong>Número de tarjeta  <span class="hint">(Ingresar los 16 dígitos)</span> <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>

          <div flex="25" class="input-element select-element-wrapper">
            <label><strong>País</strong> <span class="hint">(Selecciona de la lista) *</span></label>

            <select ng-model="vm.clientCountry" class="select-element">
              <option ng-repeat="country in vm.countries" ng-value="country.code">
                {{country.name}}
              </option>
            </select>

          </div>

          <div flex="15" class="input-element">
            <label><strong>Código postal <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>

        </div>

        <div layout="row">

          <div flex="20" class="input-element">
            <label><strong>Fecha de vencimiento <span class="hl-label">*</span></strong></label>
            <div layout="row" layout-align="space-between center">
                <div flex="45" class="input-element-inner">
                  <input type="text" placeholder="mm" required>
                </div>
                <div flex="45" class="input-element-inner">
                  <input type="text" placeholder="aa" required>
                </div>
            </div>
          </div>


          <div flex="35" class="input-element">
            <label><strong>Alias <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>

        </div>

      </section>
      <!--END DATOS PAGO-->


      <!--DATOS DEL ENVIO-->
      <section  ng-show="vm.activeTab==3" action="#" class="form-section-content">

        <div layout="row">
          <div flex="45" class="input-element">
            <label><strong>Nombre(s) del cliente <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>

          <div flex="45" class="input-element">
            <label><strong>Apellidos del destinatario <span class="hl-label">*</span></strong></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>

        </div>

        <div layout="row">

          <div flex="20" class="input-element">
            <label><strong>Teléfono fijo <span class="hl-label">*</span></strong></label>
            <div layout="row" layout-align="space-between center">
                <div flex="30" class="input-element-inner">
                  <input type="text" placeholder="Lada" required>
                </div>
                <div flex="60" class="input-element-inner">
                  <input type="text" required>
                </div>
            </div>
          </div>


          <div flex="20" class="input-element">
            <label><strong>Teléfono celular <span class="hl-label">*</span></strong></label>
            <div layout="row" layout-align="space-between center">
                <div flex="30" class="input-element-inner">
                  <input type="text" placeholder="Lada" required>
                </div>
                <div flex="60" class="input-element-inner">
                  <input type="text" required>
                </div>
            </div>
          </div>


          <div flex class="input-element">
            <label><strong>Email</strong> <span class="hl-label">*</span></label>
            <div class="input-element-inner">
              <input type="email" required>
            </div>
          </div>

         <div flex class="input-element">
            <label><strong>Confirmar email</strong> <span class="hl-label">*</span></label>
            <div class="input-element-inner">
              <input type="email" required>
            </div>
          </div>

        </div>

        <h4><strong>DIRECCIÓN DE ENTREGA</strong> (Buscar con Google Maps)</h4>
        <div layout="row">
          <div flex class="input-element">
            <label><strong>Calle</strong> <span class="hl-label">*</span></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>
          <div flex class="input-element">
            <label><strong>No. exterior</strong> <span class="hl-label">*</span></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>
          <div flex class="input-element">
            <label><strong>No. interior</strong> <span class="hl-label">*</span></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>
          <div flex class="input-element">
            <label><strong>Colonia</strong> <span class="hl-label">*</span></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>
          <div flex class="input-element">
            <label><strong>Municipio</strong> <span class="hl-label">*</span></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>
        </div>

        <div layout="row">
          <div flex="25" class="input-element">
            <label><strong>Ciudad</strong> <span class="hl-label">*</span></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>
          <div flex="25" class="input-element select-element-wrapper">
            <label><strong>Estado</strong> <span class="hl-label">*</span></label>
            <select ng-model="vm.clientState" class="select-element">
              <option ng-repeat="state in vm.states" ng-value="state.name">
                {{state.name}}
              </option>
            </select>
          </div>
          <div flex="15" class="input-element">
            <label><strong>Codigo postal</strong> <span class="hl-label">*</span></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>

        </div>

        <div layout="row">
          <div flex="25" class="input-element">
            <label><strong>Entre calle</strong> <span class="hl-label">*</span></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>
          <div flex="25" class="input-element">
            <label><strong>Y calle</strong> <span class="hl-label">*</span></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>
          <div flex="25" class="input-element">
            <label><strong>Referencias cercanas</strong> <span class="hl-label">*</span></label>
            <div class="input-element-inner">
              <input type="text" required>
            </div>
          </div>

        </div>

      </section>

      <div layout="row" class="form-view-btns" layout-align="center center">
        <a ng-click="vm.update()" href="" flex="70" class="form-view-btn form-view-btn-primary">Guardar información</a>
      </div>


    </section>
    <!--END FORM SECTION-->


  </section>
  <!--END PROFILE EDIT-->


  <h1><strong>HISTORIAL POR SEGMENTOS</strong></h1>

  <section class="table-list-wrap">
    <label><strong>OPORTUNIDADES</strong></label>
    <hr>
    <div
      ng-if="vm.client"
      table-list
      class="table-list"
      columns="vm.columnsLeads"
      filters="vm.extraParamsLeads"
      api-resource="vm.apiResourceLeads">
    </div>
  </section>

  <section class="table-list-wrap">
    <label><strong>PEDIDOS</strong></label>
    <hr>
    <div
      table-list
      ng-if="vm.client"
      class="table-list"
      columns="vm.columnsOrders"
      filters="vm.extraParamsSales"
      api-resource="vm.apiResourceOrders">
    </div>
  </section>


</section>
