<section  class="form-section-content">

  <div layout="row">

    <div flex="20" class="input-element select-element-wrapper">
      <label><strong>Titulo</strong></label>
      <md-select ng-model="vm.client.Title" class="select-element">
        <md-option ng-repeat="title in vm.titles" ng-value="title.value">
          {{title.label}}
        </md-option>
      </md-select>
    </div>

    <div flex="20" class="input-element select-element-wrapper">
      <label><strong>Sexo</strong></label>
      <md-select ng-model="vm.client.Gender" class="select-element">
        <md-option  ng-repeat="gender in vm.genders" ng-value="gender.value">
          {{gender.label}}
        </md-option>
      </md-select>
    </div>

    <div flex="20" class="input-element">
      <label><strong>Fecha de nacimiento</strong></label>
      <div class="input-element-inner">
        <input
          ng-if="vm.client.Birthdate"
          type="text"
          pikaday="vm.pikadayDate"
          set-default-date="true"
          year-range="[1900,2016]"
          default-date="{{vm.client.Birthdate}}"
          readonly
          show-month-after-year="true"
          on-select="vm.onPikadaySelect(pikaday)"
        >
      </div>
    </div>


  </div>

  <div layout="row">
    <div flex="50" class="input-element">
      <label><strong>Nombre(s) del cliente <span class="hl-label">*</span></strong></label>
      <div class="input-element-inner">
        <input type="text" ng-model="vm.client.FirstName" required>
      </div>
    </div>

    <div flex class="input-element">
      <label><strong>Apellidos <span class="hl-label">*</span></strong></label>
      <div class="input-element-inner">
        <input type="text" ng-model="vm.client.LastName" required>
      </div>
    </div>

  </div>

  <div layout="row">

    <div flex="20" class="input-element">
      <label><strong>Teléfono fijo <span class="hl-label">*</span></strong></label>
      <div class="input-element-inner">
        <input
          type="text"
          placeholder="Lada + Número"
          ng-model="vm.client.Phone1"
          required>
      </div>
    </div>


    <div flex="20" class="input-element">
      <label><strong>Teléfono celular <span class="hl-label">*</span></strong></label>
      <div class="input-element-inner">
        <input
          type="text"
          placeholder="Lada + Número"
          ng-model="vm.client.Cellular"
          required>
      </div>
    </div>


    <div flex class="input-element">
      <label><strong>Email</strong> <span class="hl-label">*</span></label>
      <div class="input-element-inner">
        <!--SOLO HACER UPDATE SI ESTA VACIO-->
        <input type="email" ng-if="!vm.client.E_Mail" ng-model="vm.client.E_Mail" required>
        <input type="email" ng-if="vm.client.E_Mail" ng-model="vm.client.E_Mail" readonly required>

      </div>
    </div>

  </div>

  <div layout="row" class="form-view-btns" layout-align="center center">
    <a 
      ng-click="vm.updatePersonalData()" 
      href="" 
      flex="70" 
      class="form-view-btn form-view-btn-primary">
      Guardar información
    </a>
  </div>

</section>
