
<!--
  TODO:
    Agregar campos requeridos
-->
<section class="form-section-content">

  <!--CONTACT ADDRESS ITEM-->
  <form
    class="client-item-info"
    ng-repeat="contact in vm.client.Contacts track by $index"
    name="contact.formWrapper"
    ng-submit="vm.updateContact(contact.formWrapper, contact)"
  >

    <div ng-show="contact.isLoading" layout-fill layout="row" layout-sm="column" layout-align="center center" class="loading-circle">
      <md-progress-circular
        md-mode="indeterminate"
        md-diameter="150">
      </md-progress-circular>
    </div>

    <section ng-show="!contact.isLoading">
      <div layout="row">
        <div flex="45" class="input-element">
          <label><strong>Nombre(s) del destinatario <span class="hl-label">*</span></strong></label>
          <div class="input-element-inner">
            <input type="text" ng-model="contact.name" required>
          </div>
        </div>

        <div flex="45" class="input-element">
          <label><strong>Apellidos del destinatario <span class="hl-label">*</span></strong></label>
          <div class="input-element-inner">
            <input type="text" ng-model="contact.lastName" required>
          </div>
        </div>

      </div>

      <div layout="row">

        <div flex="20" class="input-element">
          <label><strong>Teléfono fijo <span class="hl-label">*</span></strong></label>
          <div layout="row" layout-align="space-between center">
              <div flex="30" class="input-element-inner">
                <input type="text" placeholder="Lada" >
              </div>
              <div flex="60" class="input-element-inner">
                <input type="text" ng-model="contact.phone1" >
              </div>
          </div>
        </div>


        <div flex="20" class="input-element">
          <label><strong>Teléfono celular <span class="hl-label">*</span></strong></label>
          <div layout="row" layout-align="space-between center">
              <div flex="30" class="input-element-inner">
                <input type="text" placeholder="Lada" >
              </div>
              <div flex="60" class="input-element-inner">
                <input type="text" ng-model="contact.mobilePhone" >
              </div>
          </div>
        </div>


        <div flex class="input-element">
          <label><strong>Email</strong> <span class="hl-label">*</span></label>
          <div class="input-element-inner">
            <input type="email" ng-model="contact.email" >
          </div>
        </div>

      </div>

      <h4><strong>DIRECCIÓN DE ENTREGA</strong> <!--(Buscar con Google Maps)--></h4>
      <div layout="row">
        <div flex class="input-element">
          <label><strong>Calle</strong> <span class="hl-label">*</span></label>
          <div class="input-element-inner">
            <input type="text" ng-model="contact.deliveryStreet" >
          </div>
        </div>
        <div flex class="input-element">
          <label><strong>No. exterior*</strong></label>
          <div class="input-element-inner">
            <input type="text"  ng-model="contact.deliveryExternalNumber">
          </div>
        </div>
        <div flex class="input-element">
          <label><strong>No. interior</strong></label>
          <div class="input-element-inner">
            <input type="text" ng-model="contact.deliveryInternalNumber">
          </div>
        </div>
        <div flex class="input-element">
          <label><strong>Colonia</strong> <span class="hl-label">*</span></label>
          <div class="input-element-inner">
            <input type="text" ng-model="contact.deliveryNeighborhood" >
          </div>
        </div>
        <div flex class="input-element">
          <label><strong>Municipio</strong> <span class="hl-label">*</span></label>
          <div class="input-element-inner">
            <input type="text" ng-model="contact.deliveryMunicipality" >
          </div>
        </div>
      </div>

      <div layout="row">
        <div flex="25" class="input-element">
          <label><strong>Ciudad</strong> <span class="hl-label">*</span></label>
          <div class="input-element-inner">
            <input type="text" ng-model="contact.deliveryCity"  >
          </div>
        </div>
        <div flex="25" class="input-element select-element-wrapper">
          <label><strong>Estado</strong> <span class="hl-label">*</span></label>
          <md-select ng-model="contact.deliveryEntity" class="select-element">
            <md-option ng-repeat="state in vm.states" ng-value="state.name">
              {{state.name}}
            </md-option>
          </md-select>
        </div>
        <div flex="15" class="input-element">
          <label><strong>Codigo postal</strong> <span class="hl-label">*</span></label>
          <div class="input-element-inner">
            <input type="text" ng-model="contact.deliveryZipCode" >
          </div>
        </div>

      </div>

      <div layout="row">
        <div flex="25" class="input-element">
          <label><strong>Entre calle</strong> <span class="hl-label">*</span></label>
          <div class="input-element-inner">
            <input type="text" ng-model="contact.deliveryStreet" >
          </div>
        </div>
        <div flex="25" class="input-element">
          <label><strong>Y calle</strong> <span class="hl-label">*</span></label>
          <div class="input-element-inner">
            <input type="text" ng-model="contact.deliveryStreet2" >
          </div>
        </div>
        <div flex="25" class="input-element">
          <label><strong>Referencias cercanas</strong></label>
          <div class="input-element-inner">
            <input type="text" ng-model="contact.deliveryReferences">
          </div>
        </div>

      </div>

      <div layout="row" class="form-view-btns" layout-align="center center">
        <input
          class="form-view-btn form-view-btn-primary"
          type="submit"
          value="Guardar dirección"
        >
      </div>
    </section>

  </form>
  <!--END CONTACT ADDRESS ITEM-->

</section>
