<div ng-if="vm.isLoading" layout="row" layout-align="center center">
  <md-progress-circular class="md-accent" md-diameter="100px"></md-progress-circular>
</div>

<section ng-show="!vm.isLoading" class="form-view container container-xlg quotation-view">

  <h1><i class="icon-attachment"></i> <strong>OPORTUNIDAD #{{vm.quotation.folio}}</strong></h1>
  <hr/>


  <section class="quotation-data">
    <div>
      <label>Status</label>
      <p>
        {{vm.status}}
        <a
          class="order-link"
          ng-href="/checkout/order/{{vm.quotation.Order.id}}"
          ng-if="vm.quotation.Order">
          | Haz click aqui para ver el pedido
        </a>
      </p>
    </div>
    <div layout="row" class="quotation-data-row">
      <div flex="">
        <label for="">Nombre del cliente</label>
        <p>{{vm.quotation.Client.CardName || 'Sin cliente asignado'}}</p>
      </div>
      <div flex="">
        <label for="">Fecha de cotización</label>
        <p>{{vm.quotation.createdAt | date: 'd-MM-yyyy'}}</p>
      </div>
      <div flex="">
        <label for="">Vendedor</label>
        <p>{{vm.quotation.User.firstName + ' ' + vm.quotation.User.lastName}}</p>
      </div>
    </div>

    <div layout="row" class="quotation-data-row">
      <div flex="">
        <label for="">Télefono fijo</label>
        <p>{{vm.quotation.Client.Phone1}}</p>
      </div>
      <div flex="">
        <label for="">Télefono celular</label>
        <p>{{vm.quotation.Client.Cellular}}</p>
      </div>
      <div flex="">
        <label for="">E-mail</label>
        <p>{{vm.quotation.Client.E_Mail}}</p>
      </div>
    </div>

    <div class="quotation-data-row">
      <label for="">Dirección personal (para entrega)</label>
      <p>Calle Cereza</p>
    </div>

  </section>

  <form ng-submit="vm.continueBuying()" class="cart-view container container-xxlg" >

    <div layout="row" layout-align="space-between start">

      <section flex="70" class="cart-list">
        <h1 class="cart-title"><strong>ARTICULOS AGREGADOS</strong></h1>

        <div ng-if="vm.isLoadingDetails" layout="row" layout-align="center center">
          <md-progress-circular class="md-accent" md-diameter="100px"></md-progress-circular>
        </div>

        <div ng-if="!vm.isLoadingDetails" class="cart-items">

          <div class="cart-item" ng-repeat="detail in vm.quotation.Details track by $index">
            <h3>
              <a ng-href="/product/{{detail.Product.ItemCode}}">
                <strong>{{detail.Product.Name || detail.Product.ItemCode}}</strong>
              </a>
            </h3>
            <div layout="row">

              <!--ITEM PROD IMG-->
              <div flex="40" class="cart-item-prod">
                <div layout="row">
                  <div class="cart-item-prod-img">
                    <img ng-src="{{detail.Product.icons[0].url}}" alt="">
                  </div>
                  <div>
                    <ul>
                      <li><strong>Código: </strong> {{detail.Product.ItemCode}}</li>
                      <li ng-repeat="filter in detail.Product.Filters">
                        <strong>{{filter.Name}}: </strong>
                        <span ng-repeat="value in filter.Values track by $index">
                          <span ng-if="value.Handle == 'color-paleta'">Color</span>
                          <span ng-if="value.Handle != 'color-paleta'">{{value.Name}}</span>
                          <span ng-if="$index < (filter.Values.length-1)">,</span>
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--END ITEM PROD IMG-->

              <!--ITEM DATA-->
              <div class="cart-item-data" flex="55">
                <div class="cart-item-data-inner">

                  <div class="cart-item-data-prices" layout="row" layout-align="space-between center">
                    <div flex="30">
                      <p ng-if="detail.Product.maxDiscount > 0" class="discount-label">
                        -{{detail.Product.maxDiscount}}%
                      </p>
                      <p class="price-crossed">{{detail.Product.priceBefore | currency}}</p>
                      <p class="price-hl"><strong>{{detail.Product.Price | currency}}</strong></p>
                    </div>
                    <div flex="30" class="cart-item-data-qty">
                      <p>
                        {{detail.quantity}}
                        <span ng-if="detail.quantity == 1">pieza</span>
                        <span ng-if="detail.quantity > 1">piezas</span>
                      </p>
                    </div>
                    <h3 flex class="product-view-price-hl product-view-price-main">
                      <strong>{{detail.Product.Price * detail.quantity | currency}}</strong>
                    </h3>
                  </div>
                </div>
                <p class="bottom-text"><strong>Entrega aproximada:</strong> 1-Abr-2016 (en 8 dias)</p>
              </div>
              <!--END ITEM DATA-->

              <div flex="5" class="cart-item-remove-wrap">
                <a href="#" ng-click="vm.alertRemoveDetail($event,detail.id, $index)" class="cart-item-remove">
                  x
                </a>
              </div>

            </div>
          </div>


        </div>

        <a
          href="#"
          ng-if="!vm.quotation.Order || !vm.quotation.isClosed"
          ng-click="vm.addNewProduct()"
          class="action-btn">
          AGREGAR NUEVO ARTÍCULO
        </a>

      </section>

      <aside flex class="cart-aside">
        <h1 class="cart-title"><i class="icon-carro"><span>{{ vm.quotation.totalProducts }}</span></i> <strong>MI CARRITO</strong></h1>

        <div class="cart-summary">
          <table>
            <tr>
              <td><strong>Subtotal ({{ vm.quotation.totalProducts }} productos):</strong></td>
              <td><strong>{{ vm.quotation.subtotal | currency }}</strong></td>
            </tr>
            <tr>
              <td>Descuento:</td>
              <td><strong>-{{ vm.quotation.discount | currency }}</strong></td>
            </tr>
            <tr>
              <td>Costo de envío:</td>
              <td><strong>GRATIS</strong></td>
            </tr>
          </table>
          <hr>

          <div class="cart-totals" layout="row" layout-align="space-between end">
            <div flex="50">
              <h1><strong>TOTAL:</strong></h1>
            </div>
            <div flex="50">
              <h3 class="price-crossed">{{ vm.quotation.subtotal | currency }}</h3>
              <h1 class="price-main">{{ vm.quotation.total | currency }}</h1>
            </div>
          </div>

          <input
            type="submit"
            value="CONTINUAR"
            ng-if="!vm.quotation.Order || !vm.quotation.isClosed"
            class="cart-view-btn"
          >

          <p class="cart-summary-note">*Precios en Pesos Mexicanos con impuestos incluidos.</p>

        </div>

      </aside>

    </div>


  </form>


  <section class="records-view">
    <h1><i class="icon-attachment"></i> <strong>BITÁCORA DE SEGUIMIENTO</strong></h1>

    <p ng-if="!vm.quotation.isClosed"><strong>CREAR NUEVO EVENTO</strong></p>
    <hr/>

    <form ng-if="!vm.quotation.isClosed" ng-submit="vm.addRecord(newRecordForm)" name="newRecordForm" class="new-record">
      <div layout="row" layout-align="space-between start
      ">
        <div flex="40">
          <div class="input-element textarea-element">
            <label><strong>NOTAS</strong></label>
            <div class="input-element-inner">
              <textarea ng-model="vm.newRecord.notes" rows="5"></textarea>
            </div>
          </div>
        </div>
        <div flex="55">
          <div layout="row" layout-align="space-between start">

            <div flex="30" class="input-element select-element-wrapper">
              <label><strong>Tipo de evento</strong></label>
              <select class="select-element" ng-model="vm.newRecord.eventType">
                <option ng-repeat="recordType in vm.recordTypes" ng-value="recordType">
                  {{recordType}}
                </option>
              </select>

            </div>

            <div flex="30" class="input-element select-element-wrapper">
              <label><strong>Fecha de seguimiento</strong></label>
              <div class="input-element-inner">
                <input pikaday="vm.newRecord.date" readonly type="text" on-select="onPikadaySelect(pikaday)">
              </div>

            </div>

            <div flex="30" class="input-element select-element-wrapper">
              <label><strong>Hora de seguimiento</strong></label>
              <div class="input-element-inner">
                <input type="text" ui-timepicker ui-timepicker="vm.timePickerOptions"  ng-model="vm.newRecord.time">
              </div>
            </div>

          </div>

          <div layout="row" layout-align="start center" class="attachments-section">
            <!--
            <div flex="30">
              <a href="#">
                <strong><i class="icon-attatch"></i>ADJUNTAR ARCHIVO</strong>
              </a>
            </div>
            -->
            <div flex="30">
              <a href="#" ngf-select="vm.attachImage($file)">
                <strong><i class="icon-attachment"></i>ADJUNTAR IMÁGEN</strong>
              </a>
            </div>
            <div flex="30">
              <a href="#" ngf-select="vm.attachImage($file)" ngf-capture="'camera'">
                <strong><i class="icon-photo"></i>TOMAR FOTO</strong>
              </a>
            </div>
          </div>

          <input
            type="submit"
            ng-submit="vm.addRecord(newRecordForm)"
            class="action-btn"
            value="Guardar nuevo evento en la bitácora">

        </div>

        <hr/>

      </div>
    </form>

    <div ng-if="vm.isLoadingRecords" layout-fill layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"  md-diameter="150"></md-progress-circular>
    </div>

    <table ng-if="!vm.isLoadingRecords" class="records-table">
      <thead>
        <tr>
          <td>FECHA/HORA EVENTO</td>
          <td>EVENTO</td>
          <td>USUARIO</td>
          <td>FECHA SEGUIMIENTO</td>
          <td>ARCHIVO(S)</td>
          <td>DETALLES</td>
        </tr>
      </thead>
      <tbody ng-repeat="record in vm.quotation.Records">
        <tr>
          <td>{{record.createdAt | date: 'MMM d, y h:mm:ss a'}}</td>
          <td>{{record.eventType}}</td>
          <td>{{record.User.firstName + ' ' + record.User.lastName}}</td>
          <td>{{record.dateTime | date:'MMM d, y h:mm:ss a' }}</td>
          <td>{{record.files.length}}</td>
          <td>
            <a ng-click="vm.toggleRecord(record)" href="#">
              VER DETALLES <img src="/images/arrow-down.png" alt="">
            </a>
          </td>
        </tr>
        <tr ng-show="record.isActive">
          <td  colspan="6" class="inner-content">
            <div class="record-item">
              <div class="record-item-block" layout="row" layout-align="space-between start">
                <div flex="55">
                  <p><label><strong>NOTAS</strong></label></p>
                  <textarea name="" id="" rows="4">{{record.notes}}</textarea>
                </div>
                <div flex="40" class="center-content">
                  <p><strong>ARCHIVOS ADJUNTOS ({{record.files.length}})</strong></p>

                  <div class="record-item-block-attach">
                    <a
                      ng-repeat="file in record.files"
                      ng-href="{{vm.api.baseUrl + '/uploads/records/gallery/' + file.filename }}"
                      target="_blank">
                      <img
                        ng-src="{{vm.api.baseUrl + '/uploads/records/gallery/300x300' + file.filename }}"
                        alt="">
                    </a>
                  </div>

                </div>
              </div>
              <form ng-if="!vm.quotation.isClosed" name="closeQuotationForm" ng-submit="vm.closeQuotation(closeQuotationForm, vm.closeReason, vm.closeNote)">
                <div class="record-item-block" layout="row" layout-align="space-between start">
                  <div flex="55">
                    <p><label><strong>AGREGAR COMENTARIOS</strong></label></p>
                    <textarea rows="7" ng-model="vm.closeNote"></textarea>
                  </div>
                  <div flex="40">
                    <p><label><strong>DECLARAR COMO PERDIDA:</strong></label></p>
                    <select required ng-model="vm.closeReason">
                      <option ng-repeat="closeType in vm.closeTypes" ng-value="closeType">
                        {{closeType}}
                      </option>
                    </select>
                    <input type="submit" class="action-btn" value="CERRAR OPORTUNIDAD" />
                  </div>
                </div>
              </form>
            </div>
          </td>
        </tr>

      </tbody>
    </table>

  </section>



</section>
