<section class="form-view container container-xlg">

  <h1><i class="icon-login"></i> <strong>OPORTUNIDADES</strong></h1>

  <div layout="row" layout-align="space-between end" class="form-view-filters">

    <div flex="50" class="date-filters">
      <p>
        <strong>
          <i id="trigger-start-date" class="icon-pedidos"></i> DEL:
          <input
            pikaday="vm.dateStart"
            format="DD/MM/YYYY"
            trigger="trigger-start-date"
            readonly
            type="text"
            set-default-date="true"
            default-date="{{vm.startDate}}"
            on-select="vm.onDateStartSelect(pikaday)">
        </strong>
        <strong>
          <i id="trigger-end-date" class="icon-pedidos"></i> AL:
          <input
            pikaday="vm.dateEnd"
            format="DD/MM/YYYY"
            trigger="trigger-end-date"
            readonly
            set-default-date="true"
            default-date="{{vm.endDate}}"
            type="text"
            on-select="vm.onDateEndSelect(pikaday)">
        </strong>
      </p>
    </div>

    <div flex="30" class="input-element select-element-wrapper">
      <label><strong>Buscar sobre:</strong></label>
      <select ng-model="vm.filters.User" class="select-element">
        <option ng-selected="vm.user.id == vm.filters.User" ng-value="vm.user.id">
          Mis oportunidades
        </option>
        <option ng-value="'none'">
          Todas las oportunidades
        </option>
      </select>
    </div>
    <div flex="20">
      <a ng-click="vm.applyFilters()" href="#" class="action-btn">Aplicar filtros</a>
    </div>
  </div>

  <!--
  <div layout="row" layout-align="space-between center">
    <div><p><strong>MES DE MAYO 2016</strong></p></div>
  </div>
  -->

  <hr/>


  <div class="nested-table">

    <div class="nested-top" layout="row" layout-align="space-between center">
      <span></span><span>TOTAL</span>
    </div>

    <!--
    <div class="nested-bar nested-bar1" layout="row" layout-align="space-between center">
      <span>TOTAL</span><span>$209,000</span>
    </div>
    -->



    <div class="nested-item">
      <div class="nested-content">
        <section class="table-list-wrap table-list-wrap-nomargin">
          <div ng-if="vm.filters" table-list class="table-list table-list-v2" columns="vm.columnsLeads" api-resource="vm.apiResourceLeads" filters="vm.filters" date-range="vm.dateRange"></div>
        </section>
      </div>
    </div>

    <!--
    <div class="nested-item" ng-repeat="manager in vm.managers track by $index">
      <div ng-click="manager.selected = !manager.selected" class="nested-bar nested-bar2" layout="row" layout-align="space-between center">
        <span>TOTAL GERENTE 1</span><span>$209,000</span>
      </div>
      <div ng-show="manager.selected" class="nested-content">
        <div class="nested-item" ng-repeat="sellers in manager.sellers track by $index">
          <div class="nested-bar nested-bar3"  ng-click="seller.selected = !seller.selected" layout="row" layout-align="space-between center">
            <span>TOTAL VENDEDOR 1</span><span>$209,000</span>
          </div>
          <div ng-show="seller.selected" class="nested-content">
            <section class="table-list-wrap table-list-wrap-nomargin">
              <div table-list class="table-list table-list-v2" columns="vm.columnsLeads" api-resource="vm.apiResourceLeads"></div>
            </section>
          </div>
        </div>
      </div>
    </div>
    -->
  </div>

  <section class="chart-section">
    <h2><i class="icon-login"></i> <strong>OPORTUNIDADES</strong></h2>
    <div class="chart-section-inner">

    <div layout="row">
      <div class="chart-section-col" flex="40">
        <h3>Cantidad</h3>
        <canvas
          id="pie"
          class="chart chart-pie"
          chart-options="vm.quotationsData.quantities.options"
          chart-data="vm.quotationsData.quantities.data"
          chart-labels="vm.quotationsData.quantities.labels"
          chart-colors="vm.quotationsData.quantities.colors"></canvas>
        <p><strong>Hoy</strong> | <strong>Total</strong></p>
        <p>{{ vm.quotationsData.todayQty }} | {{vm.quotationsData.monthQty}}</p>
      </div>
      <div class="chart-section-col chart-section-legends" flex="20">

        <p><span class="chart-section-sqr"></span> Hoy</p>
        <p><span class="chart-section-sqr chart-section-sqr2"></span> Resto del mes</p>


      </div>
      <div class="chart-section-col" flex="40">
        <h3>Monto</h3>
        <canvas
          id="pie"
          class="chart chart-pie"
          chart-options="vm.quotationsData.ammounts.options"
          chart-data="vm.quotationsData.ammounts.data"
          chart-labels="vm.quotationsData.ammounts.labels"
          chart-colors="vm.quotationsData.ammounts.colors"></canvas>
        <p><strong>Hoy</strong> | <strong>Total</strong></p>
        <p>{{vm.quotationsData.todayAmmount | currency}} | {{vm.quotationsData.monthAmmount | currency}}</p>
      </div>
    </div>

    </div>
  </section>

</section>
