<section class="form-view container container-xlg">

  <h1><i class="icon-login"></i> <strong>OPORTUNIDADES</strong></h1>

  <div layout="row" layout-align="space-between end" class="form-view-filters">

    <div flex="50" class="date-filters">
      <p>
        <strong id="trigger-start-date-quotes" class="date-filter-trigger">
          <i class="icon-pedidos"></i> DEL:
          <input
            pikaday="vm.startDatePikaday"
            format="DD/MM/YYYY"
            trigger="trigger-start-date-quotes"
            readonly
            type="text"
            set-default-date="true"
            default-date="{{vm.startDate}}"
            on-select="vm.onDateStartSelect(pikaday)">
        </strong>

        <strong id="trigger-end-date-quotes" class="date-filter-trigger">
          <i  class="icon-pedidos"></i> AL:
          <input
            pikaday="vm.endDatePikaday"
            format="DD/MM/YYYY"
            trigger="trigger-end-date-quotes"
            readonly
            set-default-date="true"
            default-date="{{vm.endDate}}"
            type="text"
            on-select="vm.onDateEndSelect(pikaday)">
        </strong>
      </p>
    </div>

    <div 
      flex="35" 
      layout="row" 
      layout-align="space-between end" 
      ng-if="!vm.sellers"
    >
      <div 
        flex="50" 
        class="input-element select-element-wrapper"
      >
        <label><strong>Buscar sobre:</strong></label>
        <select 
          ng-if="vm.listScopes.length > 0" 
          ng-model="vm.filters.User" 
          ng-options="option.value as option.label for option in vm.listScopes"
          class="select-element">
        </select>
      </div>
      <div 
        flex="50" 
        class="input-element select-element-wrapper">
        <select 
          ng-init="vm.filters.isClosed = vm.closedOptions[0].value"
          ng-model="vm.filters.isClosed" 
          class="select-element"
          ng-options="option.value as option.label for option in vm.closedOptions"
        >
        </select>
      </div>
   
    </div>

    <div flex="15">
      <a 
        ng-click="vm.applyFilters()" 
        href="#" 
        class="action-btn">
        Aplicar filtros
      </a>
    </div>   

  </div>

  <hr/>

  <div 
    ng-show="vm.isLoading" 
    layout-fill 
    layout="row" 
    layout-sm="column" 
    layout-align="center center" 
    class="loading-circle">
    <md-progress-circular class="md-accent" md-diameter="100px"></md-progress-circular>
  </div>

  <section ng-show="!vm.isLoading" class="nested-table">

    <!--
      IF MANAGER
    -->
    <ng-include 
      ng-if="vm.sellers" 
      src="'views/quotations/store-quotations-list.html'">
    </ng-include>
    <!--
    END IF MANAGER
    -->

    <!---
    IF SELLER
    -->
    <ng-include
      ng-if="vm.isUserSellerOrAdmin()"
      src="'views/quotations/seller-quotations-list.html'">
    </ng-include>
    <!--
    END IF SELLER
    -->
  </section>

  <!--SELLER -->
  <ng-include
    ng-if="vm.isUserSellerOrAdmin()"
    src="'views/quotations/seller-charts.html'"
  ></ng-include>
  <!--END SELLER-->

  <!--STORE MANAGER -->
  <ng-include
    ng-if="vm.sellers"
    src="'views/quotations/store-charts.html'"
  ></ng-include>
  <!--END STORE MANAGER-->  

</section>
