<div ng-if="vm.isLoadingPaymentMethods" layout-fill layout="row" layout-align="center center" class="loading-circle">
  <md-progress-circular md-mode="indeterminate"  md-diameter="150"></md-progress-circular>
</div>

<section ng-if="!vm.isLoadingPaymentMethods" class="payments-options-totals">

	<div layout="row" class="data-header">
		<div flex="80" class="data-head"><p><strong>Formas de pago</strong></p></div>
		<!--<div flex="60" class="data-head"><p><strong>Tarjetas participantes</strong></p></div>-->
		<div flex="20" class="data-head"><p><strong>Totales</strong></p></div>
	</div>

	<!--
	<div layout="row">
		<div flex="65" class="data-cell"><p>1 pago</p></div>
		<div flex="60" class="data-cell">
			<p>
				Efectivo, cheque, deposito, transferencia, Visa, Mastercard, American Express
			</p>
		</div>
		<div
			ng-if="vm.paymentMethodsGroups && vm.paymentMethodsGroups.length > 0"
			flex="35"
			class="totals data-cell">
			<p><strong>MXN {{ vm.paymentMethodsGroups[0].total | roundCurrency  }}</strong></p>
		</div>
	</div>
	-->

	<div
		ng-repeat="paymentGroup in vm.paymentMethodsGroups | filter: {group: '!6'}"
	>
		<div layout="row" class="method-row" ng-repeat="method in paymentGroup.methods">
			<div flex="25" class="data-cell"><p>{{method.name}}</p></div>
      <div flex="60" class="data-cell">
				<p>
					<span class="comma-separated" ng-repeat="card in method.cards">{{card}}</span>
				</p>
			</div>
			<div flex="15" class="totals data-cell">
				<p><strong>MXN {{ method.total | roundCurrency  }}</strong></p>
			</div>
		</div>
	</div>

</section>
