<div ng-if="vm.isLoadingPaymentMethods" layout-fill layout="row" layout-align="center center" class="loading-circle">
  <md-progress-circular md-mode="indeterminate"  md-diameter="150"></md-progress-circular>
</div>

<section ng-if="!vm.isLoadingPaymentMethods" class="payments-options-totals">

	<div layout="row" class="data-header">
		<div flex="15" class="data-head"><p><strong>Formas de pago</strong></p></div>
		<div flex="20" class="data-head"><p><strong>Plan de pago</strong></p></div>
		<div flex="45" class="data-head"><p><strong>Grupos financieros participantes</strong></p></div>
		<div flex="15" class="data-head"><p><strong>Totales</strong></p></div>
	</div>

	<div
		ng-repeat="paymentGroup in vm.paymentMethodsGroups"
	>
		<div layout="row" class="method-row" ng-repeat="method in paymentGroup.methods">
			<div flex="15" class="data-cell">
				<p ng-show="method.group === 1">{{method.name}}</p>
				<p ng-show="method.group !== 1">Tarjeta de crédito</p>				
			</div>
			<div flex="20" class="data-cell">
				<p ng-show="method.group === 1">Un solo pago</p>
				<p ng-show="method.group !== 1">{{method.name}}</p>
			</div>
      <div flex="45" class="data-cell">
				<p>
					<span class="comma-separated" ng-repeat="card in method.cards">{{card}}</span>
				</p>
			</div>
			<div flex="15" class="totals data-cell">
				<p><strong>MXN {{ method.total | roundCurrency  }}</strong></p>
			</div>
		</div>
	</div>

</section>

<p>Impuestos incluidos</p>
