<section class="quotation-texts">
	<div class="quotation-text-block">
		<h3>⁠Políticas de Cotizaciones:﻿⁠⁠⁠</h3>
		<p>﻿⁠⁠Esta cotización es valida solo el día de su creación. Favor de rectificar los precios de los artículos el día de la compra. Los precios mostrados reflejan el máximo descuento posible, pagando de contado. Al elegir otra forma de pago, los precios pueden variar. Aplica la política de "No hay devoluciones de dinero". Cualquier tipo de cambio mencionado en esta cotización es solo una referencia. Favor de rectificar el tipo de cambio vigente el día del pago. Este documento no es un comprobante de pago y no tiene validez fiscal. Favor de exigir su comprobante de pago para futuras gestiones. Al comprar cualquier articulo, el cliente expresa haber revisado y aprobado la lista de articulos adquiridos, expresa su total conformidad con el 
		trabajo a realizar y acepta las siguientes políticas y condiciones:</p>
	</div>
	<div class="quotation-text-block">
		<ul>
			<li><strong>﻿⁠⁠⁠Políticas de entrega:</strong>﻿⁠⁠⁠ <a href="http://ventas.miactual.com/politicas-de-entrega" target="_blank">ventas.miactual.com/politicas-de-entrega</a></li>
			<li>﻿⁠⁠⁠<strong>Políticas de instalación y ensamble:</strong>﻿⁠⁠⁠ <a href="http://ventas.miactual.com/politicas-de-instalacion-y-ensamble" target="_blank">ventas.miactual.com/politicas-de-entrega</a></li>
			<li>﻿⁠⁠⁠<strong>Políticas de almacenaje:</strong>﻿⁠⁠⁠ <a href="http://ventas.miactual.com/politicas-de-almacenaje" target="_blank">ventas.miactual.com/politicas-de-almacenaje</a>
			</li>
			<li>﻿⁠⁠⁠<strong>Políticas de garantía:</strong>﻿⁠⁠⁠ <a href="http://ventas.miactual.com/politicas-de-garantia" target="_blank">ventas.miactual.com/politicas-de-garantia</a>
			</li>

		</ul>
	</div>
</section>