<!--ATENCION A CLIENTES-->
<div class="quotation-block seller-block quotation-block-info">
  <div class="quotation-block-inner" layout="row" layout-align="space-between start">
    <div flex="40">
      <h3><strong><i class="icon-vendedor"></i> ATENCIÓN A CLIENTES</strong></h3>
      <p><strong>Celular: </strong>(998) 195 8376</p>
      <p><strong>Celular: </strong>(998) 195 6839</p>
      <p><strong>Email:</strong> clientes@actualg.com</p>
    </div>
    <div flex >
        <h3><strong><i class="icon-vendedor"></i> VENDEDOR</strong></h3>
        <p><strong>{{vm.quotation.User.firstName + ' ' + vm.quotation.User.lastName}}</strong></p>
        <p><strong>Teléfono: </strong>{{vm.quotation.User.phone}}</p>
        <p><strong>Celular: </strong>{{vm.quotation.User.mobilePhone}}</p>
        <p><strong>Email:</strong> {{vm.quotation.User.email}}</p>
    </div>

  </div>
</div>
<!--END ATENCION A CLIENTES-->