<section class="order-processing-msg">
	<p>Hola {{vm.quotation.Client.FirstName}}</p>
	<p>Muchas gracias por haber elegido {{main.siteConstants.publicName}}.</p>
	<p>La <strong>tarjeta de crédito/débito</strong> fue <strong>declinada</strong> por el banco. Su cotización está
		<strong>sujeta a disponibilidad</strong> y su <strong>orden de venta</strong> está en estatus <strong>pendiente de
			pago</strong>, le pedimos no volver a generar la misma cotización para evitar una duplicidad.</p>
	<p>En breve, uno de nuestros asesores de interiores se pondrá en contacto con usted vía telefónica con la finalidad de
		darle seguimiento y asistencia.</p>

	<table>
		<tr>
			<td>Ventas por teléfono:</td>
			<td>998 246 3487</td>
		</tr>
		<tr>
			<td>Horarios de atención</td>
			<td>
				<p>10:00am a 14:00pm | lunes a viernes</p>
				<p>16:00am a 20:00pm | lunes a viernes</p>
				<p>10:00am a 14:00pm | sábado y domingo</p>
			</td>
		</tr>
	</table>

	<hr>
</section>