<section class="form-view container container-xlg">

  <h1><i class="icon-pedidos"></i> <strong>PEDIDOS</strong></h1>

  <div layout="row" layout-align="space-between end" class="form-view-filters">

    <div flex="50" class="date-filters">
      <p>
        <strong>
          <i id="trigger-start-date" class="icon-pedidos"></i> DEL:
          <input
            pikaday="vm.dateStart"
            format="DD/MM/YYYY"
            trigger="trigger-start-date"
            readonly
            type="text"
            set-default-date="true"
            default-date="{{vm.startDate}}"
            on-select="vm.onDateStartSelect(pikaday)">
        </strong>
        <strong>
          <i id="trigger-end-date" class="icon-pedidos"></i> AL:
          <input
            pikaday="vm.dateEnd"
            format="DD/MM/YYYY"
            trigger="trigger-end-date"
            readonly
            set-default-date="true"
            default-date="{{vm.endDate}}"
            type="text"
            on-select="vm.onDateEndSelect(pikaday)">
        </strong>
      </p>
    </div>

    <div
      ng-if="!vm.isBroker"
      flex="30"
      class="input-element select-element-wrapper"
    >
      <label><strong>Buscar sobre:</strong></label>
      <select ng-model="vm.filters.User" class="select-element">
        <option ng-selected="vm.user.id == vm.filters.User" ng-value="vm.user.id">
          Mis ventas
        </option>
        <option ng-value="'none'">
          Todas las ventas
        </option>
      </select>
    </div>
    <div ng-if="!vm.isBroker" flex="20">
      <a ng-click="vm.applyFilters()" href="#" class="action-btn">Aplicar filtros</a>
    </div>
  </div>

  <hr/>


  <div class="nested-table">

    <!---
    <div class="nested-top">
      <table>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>Total</th>
          <th>Monto cobrado</th>
          <th>Monto diferencia</th>
        </tr>

        <tr role="row" class="odd">
          <td class="ng-scope sorting_1">123450123</td>
          <td class="ng-scope">Luis Perez Bautista</td>
          <td class="ng-scope">29-abr-2016</td>
          <td class="ng-scope">25-jun-2016</td>
          <td class="ng-scope">$14,699</td>
          <td class="ng-scope">$7,699</td>
          <td class="ng-scope">$7,000</td>
        </tr>

      </table>
    </div>

    <div class="nested-bar nested-bar1" layout="row" layout-align="space-between center">
      <span>TOTAL</span><span>$209,000</span>
    </div>
    -->


    <div class="nested-item">
      <div  class="nested-content">
        <section class="table-list-wrap table-list-wrap-nomargin">
          <div table-list class="table-list table-list-v2" columns="vm.columnsOrders" api-resource="vm.apiResourceOrders" date-range="vm.dateRange" filters="vm.filters"></div>
        </section>
      </div>
    </div>
    <!--
    <div class="nested-item" ng-repeat="manager in vm.managers track by $index">
      <div ng-click="manager.selected = !manager.selected" class="nested-bar nested-bar2" layout="row" layout-align="space-between center">
        <span>TOTAL GERENTE 1</span><span>$209,000</span>
      </div>
      <div ng-show="manager.selected" class="nested-content">
        <div class="nested-item" ng-repeat="sellers in manager.sellers track by $index">
          <div class="nested-bar nested-bar3"  ng-click="seller.selected = !seller.selected" layout="row" layout-align="space-between center">
            <span>TOTAL VENDEDOR 1</span><span>$209,000</span>
          </div>
          <div ng-show="seller.selected" class="nested-content">
            <section class="table-list-wrap table-list-wrap-nomargin">
              <div table-list class="table-list table-list-v2" columns="vm.columnsOrders" api-resource="vm.apiResourceOrders"></div>
            </section>
          </div>
        </div>
      </div>
    </div>
    -->
  </div>

  <section class="chart-section">
    <h2><i class="icon-login"></i> <strong>GRÁFICA DETALLADA DE VENTAS</strong></h2>
    <div class="chart-section-inner">

      <div layout="row" class="container container-md">
        <div class="chart-section-col" flex="70">
          <p class="chart-section-col-txt">
            Alcance de meta: <strong>{{vm.currentDate | date:'MMMM yyyy'}}</strong>
          </p>
          <canvas id="pie"
            class="chart chart-pie"
            chart-data="vm.chartOptions.data"
            chart-labels="vm.chartOptions.labels"
            chart-colours="vm.chartOptions.colours"
            options="vm.chartOptions.options">
          </canvas>
          <div class="chart-legends">
            <p>
              <span class="legend-sqr"></span>
              <span>Venta al {{vm.currentDate | date:'d/MMM/yyyy'}}</span>
              <span class="legend-sqr legend-sqr2"></span> <span>Falta para objetivo</span>

            </p>
          </div>
        </div>
        <div class="chart-section-col" flex="30">
          <ul>
            <li>
              <span><strong>Objetivo</strong></span>
              <span>{{vm.goal | currency}}</span>
            </li>
            <li>
              <span><strong>Real</strong></span>
              <span>{{vm.current | currency}}</span>
            </li>
            <li>
              <span><strong>Venta al {{vm.currentDate | date:'d/MMM/yyyy'}}</strong></span>
              <span>{{vm.currentPercent | number:2}} %</span>
            </li>
            <li>
              <span><strong>Falta para objetivo</strong>
              </span><span>{{vm.rest | currency}}</span>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </section>

</section>
