<div ng-if="vm.isLoadingEdit" layout-fill layout="row" layout-align="center center" class="loading-circle">
  <md-progress-circular md-mode="indeterminate"  md-diameter="150"></md-progress-circular>
</div>

<form 
  ng-if="!vm.isLoadingEdit" 
  name="editForm" 
  ng-submit="vm.updateAddress(editForm, vm.editAddress)"
>
  <h2><strong>Editar dirección de envío</strong></h2>

  <section class="form-section">
    <!--DATOS PERSONALES-->
    <section class="form-section-content form-section-content-v2" layout="row" layout-align="space-between center">
      <div flex="100">
        <div layout="row" layout-wrap>
          <div flex flex-xs="100" class="input-element">
            <label>
              <strong>Nombre(s) del destinatario<span class="hl-label">*</span></strong>
            </label>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.editAddress.FirstName" required>
            </div>
          </div>
          <div flex flex-xs="100" class="input-element">
            <label>
              <strong>Apellidos del destinatario <span class="hl-label">*</span></strong>
            </label>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.editAddress.LastName" required>
            </div>
          </div>
        </div>
        <div layout="row" layout-wrap>
          <div flex flex-xs="100" class="input-element">
            <label>
              <strong>Teléfono fijo<span class="hl-label">*</span></strong>
            </label>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.editAddress.Tel1" required>
            </div>
          </div>
          <div flex flex-xs="100" class="input-element">
            <label>
              <strong>Teléfono celular<span class="hl-label">*</span></strong>
            </label>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.editAddress.Cellolar" required>
            </div>
          </div>
          <div flex flex-xs="100" class="input-element">
            <label>
              <strong>Email<span class="hl-label">*</span></strong>
            </label>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.editAddress.E_Mail" required>
            </div>
          </div>
          <!--
          <div flex flex-xs="100" class="input-element">
            <label>
              <strong>Confirmar Email<span class="hl-label">*</span></strong>
            </label>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.editAddress._E_Mail" required>
            </div>
          </div>
          -->
        </div>

      </div>
    </section>
    <!--END DATOS PERSONALES-->

  </section>
  <!--END FORM SECTION-->        
  
  <h3><strong>DIRECCIÓN DE ENTREGA</strong></h3>
  <section class="form-section">
    <!--DATOS PERSONALES-->
    <section class="form-section-content form-section-content-v2" layout="row" layout-align="space-between center">
      <div flex="100">
        <div layout="row" layout-wrap>
          <div flex="25" flex-xs="45" class="input-element">
            <label>
              <strong>Calle<span class="hl-label">*</span></strong>
            </label>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.editAddress.Address" required="">
            </div>
          </div>
          <div flex="10" flex-xs="45" class="input-element">
            <label>
              <strong>No. Exterior<span class="hl-label">*</span></strong>
            </label>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.editAddress.U_Noexterior" required>
            </div>
          </div>
          <div flex="10" flex-xs="45" class="input-element">
            <label>
              <strong>No. Interior<span class="hl-label">*</span></strong>
            </label>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.editAddress.U_Nointerior" required>
            </div>
          </div>
          <div flex flex-xs="45" class="input-element">
            <label>
              <strong>Colonia <span class="hl-label">*</span></strong>
            </label>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.editAddress.U_Colonia" required>
            </div>
          </div>
          <div flex flex-xs="45" class="input-element">
            <label>
              <strong>Municipio <span class="hl-label">*</span></strong>
            </label>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.editAddress.U_Mpio" required>
            </div>
          </div>
        </div>
        <div layout="row" layout-wrap>
          <div flex="25" flex-xs="45" class="input-element">
            <label>
              <strong>Ciudad <span class="hl-label">*</span></strong>
            </label>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.editAddress.U_Ciudad" required>
            </div>
          </div>
          <div flex="25" flex-xs="45" class="input-element">
            <label>
              <strong>Estado<span class="hl-label">*</span></strong>
            </label>
            <div class="input-element-inner">
              <md-select ng-model="vm.editAddress.U_Estado" class="select-element" required>
                <md-option ng-repeat="state in vm.states" ng-value="state.Code">
                  {{state.Name}}
                </md-option>
              </md-select>
            </div>
          </div>
          <div flex flex-xs="45" class="input-element">
            <label>
              <strong>Código postal<span class="hl-label">*</span></strong>
            </label>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.editAddress.U_CP" required>
            </div>
          </div>
          <div flex-gt-sm="25" flex="100" class="input-element"></div>

        </div>
        <div layout="row" layout-wrap>
          <div flex="25" flex-xs="40" class="input-element">
            <label>
              <strong>Entre calle</strong>
            </label>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.editAddress.U_Entrecalle">
            </div>
          </div>
          <div flex="5" class="input-element">
            <label>
              <strong>Y</strong>
            </label>
          </div>
          <div flex="25" flex-xs="40" class="input-element">
            <label>
              <strong>Calle</strong>
            </label>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.editAddress.U_Ycalle">
            </div>
          </div>
          <div flex flex-xs="45" class="input-element">
            <label>
              <strong>Referencias cercanas</strong>
            </label>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.editAddress.U_Notes1">
            </div>
          </div>
        <div flex-gt-sm="10" flex="100" class="input-element"></div>
        </div>                
      </div>
    </section>
    <!--END DATOS PERSONALES-->

  </section>
  <!--END FORM SECTION--> 

  <div layout="row" class="form-view-btns no-margin" layout-align="center center"> 
    <button
      ng-submit="vm.updateAddress(editForm, vm.editAddress)"
      flex="50"
      class="form-view-btn form-view-btn-primary">
      Actualizar dirección
    </button>
  </div>
<!--FIN DIRECCIONES DE ENVIO-->
</form>