<section class="form-view container container-xlg">
  <h1><i class="icon-comisiones"></i> <strong>COMISIONES</strong></h1>

  <div layout="row" layout-align="space-between end" class="form-view-filters">
    <div flex="50" class="date-filters">
      <p>
        <strong>
          <i id="trigger-start-date" class="icon-pedidos"></i> DEL:
          <input
            pikaday="vm.dateStart"
            format="DD/MM/YYYY"
            trigger="trigger-start-date"
            readonly
            type="text"
            on-select="vm.onDateStartSelect(pikaday)"
          >
        </strong>
        <strong>
          <i id="trigger-end-date" class="icon-pedidos"></i> AL:
          <input
            pikaday="vm.dateEnd"
            format="DD/MM/YYYY"
            trigger="trigger-end-date"
            readonly
            type="text"
            on-select="vm.onDateEndSelect(pikaday)"
          >
        </strong>
      </p>
    </div>

    <div flex="30" class="input-element select-element-wrapper">
      <label><strong>Buscar sobre:</strong></label>
      <select ng-model="vm.filters.SlpCode" class="select-element">
        <option ng-selected="vm.user.SlpCode == vm.filters.SlpCode" ng-value="vm.user.SlpCode">
          Mis oportunidades
        </option>
        <option ng-value="'none'">
          Todas las oportunidades
        </option>
      </select>
    </div>
    <div flex="20">
      <a ng-click="vm.applyFilters()" href="#" class="action-btn">Aplicar filtros</a>
    </div>
  </div>

  <hr/>

  <div class="nested-table">
    <div class="nested-top" layout="row" layout-align="space-between center">
      <span></span><span>TOTAL</span>
    </div>
    <div class="nested-item">
      <div class="nested-content">
      </div>
    </div>
  </div>

  <section class="table-list-wrap table-list-wrap-nomargin">
    <div
      table-list
      class="table-list"
      columns="vm.columns"
      filters="vm.filters"
      api-resource="vm.apiResourceClients"
    >
    </div>
  </section>

  <section class="chart-section">
    <h2><i class="icon-login"></i> <strong>OPORTUNIDADES</strong></h2>
    <div class="chart-section-inner">
      <div layout="row">
        <div class="chart-section-col" flex="40">
          <h3>Cantidad</h3>
          <canvas
            id="pie"
            class="chart chart-pie"
            chart-data="vm.quantities.data"
            chart-labels="vm.quantities.labels"
            chart-colours="vm.quantities.colours"
          >
          </canvas>
          <p><strong>Hoy</strong> | <strong>Total</strong></p>
          <p>{{vm.todayQty}} | {{vm.monthQty}}</p>
        </div>
      <div class="chart-section-col chart-section-legends" flex="20">
        <p><span class="chart-section-sqr"></span> Hoy</p>
        <p><span class="chart-section-sqr chart-section-sqr2"></span> Resto del mes</p>
      </div>
      <div class="chart-section-col" flex="40">
        <h3>Monto</h3>
        <canvas id="pie" class="chart chart-pie"
          chart-data="vm.ammounts.data" chart-labels="vm.ammounts.labels" chart-colours="vm.ammounts.colours">
        </canvas>
        <p><strong>Hoy</strong> | <strong>Total</strong></p>
        <p>{{vm.todayAmmount | currency}} | {{vm.monthAmmount | currency}}</p>
      </div>
    </div>
  </div>
  </section>
</section>
