@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?lkmruf');
  src: url('fonts/icomoon.eot?lkmruf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lkmruf') format('truetype'),
    url('fonts/icomoon.woff?lkmruf') format('woff'),
    url('fonts/icomoon.svg?lkmruf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: '\e900';
}
.icon-2:before {
  content: '\e901';
}
.icon-3:before {
  content: '\e902';
}
.icon-4:before {
  content: '\e903';
}
.icon-5:before {
  content: '\e904';
}
.icon-6:before {
  content: '\e905';
}
.icon-7:before {
  content: '\e906';
}
.icon-8:before {
  content: '\e907';
}
.icon-9:before {
  content: '\e908';
}
.icon-10:before {
  content: '\e909';
}
.icon-accesoriosyorganizacion:before {
  content: '\e90a';
}
.icon-alert:before {
  content: '\e90b';
}
.icon-ambientes:before {
  content: '\e90c';
}
.icon-arrow:before {
  content: '\e90d';
}
.icon-attachment:before {
  content: '\e90e';
}
.icon-attatch:before {
  content: '\e90f';
}
.icon-bebebs2:before {
  content: '\e910';
}
.icon-bebes:before {
  content: '\e911';
  color: #48b2e8;
}
.icon-blancos:before {
  content: '\e912';
}
.icon-carro:before {
  content: '\e913';
}
.icon-cash:before {
  content: '\e914';
}
.icon-checkmark:before {
  content: '\e915';
}
.icon-checkout-ticket:before {
  content: '\e916';
}
.icon-clients:before {
  content: '\e917';
}
.icon-colchones:before {
  content: '\e918';
}
.icon-color:before {
  content: '\e919';
}
.icon-comedor:before {
  content: '\e91a';
  font-size: 65px;
  margin-top: -10px;
}
.icon-comedores-relleno:before {
  content: '\e91b';
}
.icon-comedores:before {
  content: '\e91c';
}
.icon-comisiones:before {
  content: '\e91d';
}
.icon-comoda:before {
  content: '\e91e';
}
.icon-cotizar:before {
  content: '\e91f';
}
.icon-dashboard:before {
  content: '\e920';
}
.icon-deals-relleno:before {
  content: '\e921';
}
.icon-deco:before {
  content: '\e922';
}
.icon-decoracion-relleno:before {
  content: '\e923';
}
.icon-decoracion:before {
  content: '\e924';
}
.icon-decoracion2:before {
  content: '\e925';
}
.icon-decoracionpared:before {
  content: '\e926';
}
.icon-delivery:before {
  content: '\e927';
}
.icon-descuento:before {
  content: '\e928';
}
.icon-descuentos:before {
  content: '\e929';
  color: #48b2e8;
}
.icon-disponibilidad:before {
  content: '\e92a';
}
.icon-envio:before {
  content: '\e92b';
}
.icon-estilo:before {
  content: '\e92c';
}
.icon-exterior:before {
  content: '\e92d';
}
.icon-file:before {
  content: '\e92e';
}
.icon-forma:before {
  content: '\e92f';
}
.icon-home:before {
  content: '\e930';
}
.icon-iluminacion:before {
  content: '\e931';
}
.icon-iluminacion2:before {
  content: '\e932';
}
.icon-info:before {
  content: '\e933';
}
.icon-jardin:before {
  content: '\e934';
}
.icon-juguetes:before {
  content: '\e935';
  color: #48b2e8;
}
.icon-juguetes2:before {
  content: '\e936';
}
.icon-login:before {
  content: '\e937';
}
.icon-look-relleno:before {
  content: '\e938';
}
.icon-mail:before {
  content: '\e939';
}
.icon-mama-y-papa:before {
  content: '\e93a';
  color: #48b2e8;
}
.icon-mamaypapa2:before {
  content: '\e93b';
}
.icon-marca:before {
  content: '\e93c';
}
.icon-material:before {
  content: '\e93d';
}
.icon-mesas:before {
  content: '\e93e';
}
.icon-metodo-pago:before {
  content: '\e93f';
}
.icon-monedero:before {
  content: '\e940';
}
.icon-muebles--relleno:before {
  content: '\e941';
}
.icon-mueblestv:before {
  content: '\e942';
}
.icon-murbles:before {
  content: '\e943';
}
.icon-ninas-y-ninos:before {
  content: '\e944';
  color: #48b2e8;
}
.icon-ninas-y-ninos2:before {
  content: '\e945';
}
.icon-ninos:before {
  content: '\e946';
}
.icon-ofertas:before {
  content: '\e947';
}
.icon-office:before {
  content: '\e948';
}
.icon-oficina-relleno:before {
  content: '\e949';
}
.icon-oficina:before {
  content: '\e94a';
}
.icon-oportunidades:before {
  content: '\e94b';
}
.icon-organizacion:before {
  content: '\e94c';
  color: #48b2e8;
}
.icon-organizacion2:before {
  content: '\e94d';
}
.icon-paquete:before {
  content: '\e94e';
}
.icon-paquetes:before {
  content: '\e94f';
}
.icon-paraoficina:before {
  content: '\e950';
}
.icon-pedidos:before {
  content: '\e951';
}
.icon-phone:before {
  content: '\e952';
}
.icon-photo:before {
  content: '\e953';
}
.icon-place:before {
  content: '\e954';
}
.icon-pointer:before {
  content: '\e955';
}
.icon-precio:before {
  content: '\e956';
}
.icon-promociones2:before {
  content: '\e957';
}
.icon-recamaras-relleno:before {
  content: '\e958';
}
.icon-recamaras:before {
  content: '\e959';
}
.icon-sala-01:before {
  content: '\e95a';
}
.icon-salas-relleno:before {
  content: '\e95b';
}
.icon-salas:before {
  content: '\e95c';
}
.icon-scorecard:before {
  content: '\e95d';
}
.icon-search:before {
  content: '\e95e';
}
.icon-settings:before {
  content: '\e95f';
}
.icon-sillas-relleno:before {
  content: '\e960';
}
.icon-sillas:before {
  content: '\e961';
}
.icon-sofa:before {
  content: '\e962';
}
.icon-tapetes:before {
  content: '\e963';
  color: #48b2e8;
}
.icon-tapetes2:before {
  content: '\e964';
}
.icon-terminal:before {
  content: '\e965';
}
.icon-time:before {
  content: '\e966';
}
.icon-transfer:before {
  content: '\e967';
}
.icon-trash2:before {
  content: '\e968';
}
.icon-trashcan:before {
  content: '\e969';
}
.icon-tv-relleno:before {
  content: '\e96a';
}
.icon-tv:before {
  content: '\e96b';
}
.icon-vendedor:before {
  content: '\e96c';
}
.icon-whatsapp:before {
  content: '\e96d';
}
