<input class="modal-state" id="modal-2" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal-2"></label>
  <div class="modal__inner modal__inner--login">
    <label class="modal__close" for="modal-2"></label>

    <div class="container__login--session">
      <div class="item--card items--1"><i class="icon-login"></i><span> Iniciar como invitado</span></div>
      <div >
        <form action="#" class="items--2">
          <div class="forms__group2">
            <label for="calle" class="form__label2">Correo*</label>
            <input type="text" class="form__input2" placeholder="Calle" id="calle" required>
          </div>
          <a class="btnForm"><span>CONTINUAR</></a>
        </form>
      </div>
    </div

  </div>
</div>