<input class="modal-state" id="modal-2" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal-2"></label>
  <div class="modal__inner modal__inner--invited">
    <label class="modal__close" for="modal-2"></label>

    <div class="container__login--session">
      <div class="item--card items--1"><i class="icon-login"></i><span> Iniciar como invitado</span></div>
      <div>
        <form action="#" class="items--2">
          <div class="items--label">
            <div class="items--title"><span>Ingresa tus datos<span></div>
            <div class="forms__group2-1">
<!--               <label for="calle" class="form__label2">Nombre</label>
 -->              <input type="text" class="form__input2 inv" placeholder="Nombres(s)" id="name" required>
            </div>
            <div class="forms__group2-2">
<!--               <label for="correo" class="form__label2">Correo</label>
 -->              <input type="text" class="form__input2 inv" placeholder="Correo" id="email" required>
            </div>
          </div>
          <div class="items--label">
            <div class="items--title"><span>Dirección de envío<span></div>
            <div class="forms__group2-3">
<!--               <label for="colonia" class="form__label2">Colonia</label>
 -->              <input type="text" class="form__input2 inv" placeholder="Colonia" id="colonia" required>
            </div>
            <div class="forms__group2-4">
<!--               <label for="calle" class="form__label2">Calle</label>
 -->              <input type="text" class="form__input2 inv" placeholder="Calle" id="calle" required>
            </div>
            <div class="forms__group2-5">
<!--               <label for="numint" class="form__label2">No. interior</label>
 -->              <input type="text" class="form__input2 inv" placeholder="No. interior" id="numint" required>
            </div>
            <div class="forms__group2-6">
<!--               <label for="numiext" class="form__label2">No. exterior</label>
 -->              <input type="text" class="form__input2 inv" placeholder="No. exterior" id="numext" required>
            </div>
            <div class="forms__group2-7">
<!--               <label for="municipio" class="form__label2">Municipio</label>
 -->              <input type="text" class="form__input2 inv" placeholder="Municipio" id="numint" required>
            </div>
            <div class="forms__group2-8">
<!--               <label for="ciudad" class="form__label2">Ciudad</label>
 -->              <input type="text" class="form__input2 inv" placeholder="Ciudad" id="ciudad" required>
            </div>
      
            <div class="forms__group2-9">
<!--               <label for="estado" class="form__label2">Estado</label>
 -->              <input type="text" class="form__input2 inv" placeholder="Estado" id="numint" required>
            </div>
            <div class="forms__group2-10">
<!--               <label for="zipcode" class="form__label2">Código postal</label>
 -->              <input type="text" class="form__input2 inv" placeholder="Código postal" id="ciudad" required>
            </div>
          </div>
          <div><a class="btnForm"><span>CONTINUAR</span></a></div>
        </form>
      </div>
    </div>