<div ng-if="vm.isLoading" layout="row" layout-align="center center" class="loading-circle">
  <md-progress-circular class="md-accent" md-diameter="100px"></md-progress-circular>
</div>

<section 
  ng-show="!vm.isLoading" 
  class="form-view container container-xlg quotation-view"
>

  <h1><i class="icon-attachment"></i> <strong>ORDEN #{{vm.order.folio}}</strong></h1>
  <hr/>


  <section class="quotation-data">
    <div>
      <p>
        <a
          class="order-link"
          ng-href="/checkout/order/{{vm.order.id}}">
          Haz click aqui para ver el pedido
        </a>
      </p>
    </div>
    <div layout="row" class="quotation-data-row">
      <div flex="25">
        <label for="">Nombre del cliente</label>
        <p>{{vm.order.Client.CardName || 'Sin cliente asignado'}}</p>
      </div>
      <div flex="25">
        <label for="">Fecha de cotización</label>
        <p>{{vm.order.createdAt | date: 'd/MMM/yyyy'}}</p>
      </div>
      <div flex="25">
        <label for="">Vendedor</label>
        <p>{{vm.order.User.firstName + ' ' + vm.order.User.lastName}}</p>
      </div>
      <div flex="25">
        <p><label for="">Broker</label></p>
        <p>{{vm.order.Broker.firstName + ' ' + vm.order.Broker.lastName}}</p>
        <select
          chosen
          ng-model="vm.order.Broker"
          ng-options="broker.id as broker.firstName + ' ' + broker.lastName for broker in vm.brokers | orderBy:'firstName'"
        >
        </select>

      </div>
    </div>

    <div layout="row" layout-align="start center" class="quotation-data-row">
      <div flex="25">
        <label for="">Télefono fijo</label>
        <p>{{vm.order.Client.Phone1 || 'No proporcionado'}}</p>
      </div>
      <div flex="25">
        <label for="">Télefono celular</label>
        <p>{{vm.order.Client.Cellular || 'No proporcionado'}}</p>
      </div>
      <div flex="25">
        <label for="">E-mail</label>
        <p>{{vm.order.Client.E_Mail || 'No proporcionado'}}</p>
      </div>
    </div>

  </section>

  <form 
    ng-submit="vm.continueBuying()" 
    class="cart-view container container-xxlg" 
  >

    <div layout="row" layout-align="space-between start">

      <section flex="70" class="cart-list">
        <h1 class="cart-title"><strong>ARTICULOS AGREGADOS</strong></h1>
        <div ng-if="vm.isLoadingDetails" layout="row" layout-align="center center" class="loading-circle">
          <md-progress-circular class="md-accent" md-diameter="100px"></md-progress-circular>
        </div>

        <div ng-if="!vm.isLoadingDetails" class="cart-items">
          <ng-include 
            class="cart-item-wrapper"
            ng-repeat="detailGroup in vm.order.DetailsGroups track by $index" 
            src="'views/partials/product-cart-item.html'"></ng-include>    
        </div>

      </section>

      <aside flex class="cart-aside">
        <h1 class="cart-title"><i class="icon-carro"><span>{{ vm.order.totalProducts }}</span></i> <strong>MI CARRITO</strong></h1>

        <div class="cart-summary">
          <table>
            <tr>
              <td><strong>Subtotal ({{ vm.order.totalProducts }} productos):</strong></td>
              <td><strong>{{ vm.order.subtotal | currency }}</strong></td>
            </tr>
            <tr>
              <td>Descuento:</td>
              <td><strong>{{ vm.order.discount | currency }}</strong></td>
            </tr>
            <tr>
              <td>Costo de envío:</td>
              <td><strong>GRATIS</strong></td>
            </tr>
          </table>
          <hr>

          <div class="cart-totals" layout="row" layout-align="space-between end">
            <div flex="30">
              <h1><strong>TOTAL:</strong></h1>
            </div>
            <div flex="70">
              <h3 class="price-crossed" ng-show="vm.order.subtotal != vm.order.total">
                {{ vm.order.subtotal | roundCurrency  }}
              </h3>
              <h1 class="price-main">{{ vm.order.total | roundCurrency  }}</h1>
            </div>
          </div>

          <p class="cart-summary-note" ng-if="vm.order.Client">
            *Precios en Pesos Mexicanos con impuestos incluidos.
          </p>

        </div>

        <a
          ng-if="vm.order.Client"
          href="#"
          ng-click="vm.print()"
          class="action-btn print-btn">
          IMPRIMIR
        </a>

        <a
          ng-if="vm.order.Client"
          ng-click="vm.sendByEmail()"
          href="#"
          class="action-btn">
          ENVIAR POR EMAIL
        </a>

      </aside>

    </div>

  </form>

</section>
