<section class="terms-view">
	<div class="container container-xlg about-us">
		<h1 class="section-title">¿Quienes somos?</h1>
		<div class="banner-about">
			<img src="/images/banner700x140.jpg">
		</div>
		<ng-include src="'views/partials/corporative-video.html'"></ng-include>
		<h2>Nosotros somos Actual</h2>
		<h3>Amamos el diseño y esta es nuestra historia:</h3>

		<ul>
			<li><strong>1990</strong> inicio de operaciones con el ensamblaje de persianas y su venta casa por casa. </li>
			<li><strong>1992</strong> apertura de la primer tienda (45 m2) de muebles estilo rústico mexicano. </li>
			<li><strong>1994</strong> traspaso de la tienda a la calle Margarita, Cancún. </li>
			<li><strong>1995</strong> apertura de la segunda sucursal en Av. Bonampak, Cancún. </li>
			<li><strong>2001</strong> lanzamiento de la marca Actual Decoración (2,500 m2) inaugurando la sucursal ubicada en Av. Xcaret, ahí se fusionan las dos tiendas anteriores. </li>
			<li><strong>2002</strong> integración de marcas internacionales al portafolio de productos de Actual Decoración. </li>
			<li><strong>2003</strong> fundación de Atelier Actual, taller de carpintería y tapicería donde se fabrica una parte importante de los productos de la marca.</li>
			<li><strong>2006</strong> inauguración de la fábrica de cortinas y persianas con la marca Light Touch.</li>
			<li><strong>2007</strong> apertura de sucursal Actual Decoración en Playa del Carmen.</li>
			<li><strong>2009</strong> lanzamiento de la marca Actual Studio, con un concepto casual y moderno. La primer sucursal se inaugura en Malecón Américas. </li>
			<li><strong>2010</strong> abre sus puertas el Outlet Actual en Cancún. </li>
			<li><strong>2012</strong> la sucursal de Playa del Carmen se convierte en Actual Studio.</li>
			<li><strong>2013</strong> apertura de Actual Studio Mérida, ubicada en Plaza Luxury Place. </li>
			<li><strong>2014</strong> renovación del concepto e imagen de la marca Actual Studio con la apertura de la sucursal ubicada en Pabellón Cumbres, Cancún. </li>
			<li>Actual Decoración también renueva imagen y concepto, dando pasa a la marca Actual Home.</li>
			<li>Lanzamiento de la nueva marca del grupo; Actual Kids, con productos diseñados especialmente para niños de 0 a 12 años.</li>
			<li>En septiembre del mismo año, la división de cortinas evoluciona con la finalidad de abarcar territorio nacional con una red de distribuidores.</li>
			<li><strong>2017</strong> lanzamiento de la plataforma e-commerce de las marcas Actual Home, Actual Studio y Actual Kids, dando presencia al interior de la república. </li>
			<li>La sucursal Actual Home de Av. Xcaret se muda a Marina Town Center inaugurándose Actual Home Puerto Cancún.</li>
			<li><strong>2020</strong> apertura de la sucursal Actual Studio La Isla Mérida y la tienda de Ave. García Lavín Mérida ubicada en Plaza Luxury Place cambia se especializa en la oferta de línea Actual Home. </li>
		</ul>

	</div>
</section>