<form action="#" class="cart-view container container-xxlg" >

  <p class="cart-view-client">Cliente : <strong>#12345</strong> | <strong>Luis Perez Bautista</strong></p>

  <div layout="row" layout-align="space-between start">

    <section flex="70" class="cart-list">
      <h1 class="cart-title"><strong>ARTICULOS AGREGADOS</strong></h1>

      <div class="cart-items">

        <div class="cart-item" ng-repeat="item in [0,1,2]">
          <h3><strong>Mesa redonda mimbre</strong></h3>
          <div layout="row">

            <!--ITEM PROD IMG-->
            <div flex="45" class="cart-item-prod">
              <div layout="row">
                <div class="cart-item-prod-img">
                  <img src="images/slide-Avenue-03-287x287.jpg" alt="">
                </div>
                <div>
                  <ul>
                    <li><strong>SKU: </strong> 2903930</li>
                    <li><strong>Materiales: </strong> Mimbre/Cristal</li>
                    <li><strong>Tamaño: </strong> Mediano</li>
                    <li><strong>Asientos: </strong> 2</li>
                    <li><strong>Estilo: </strong> Moderno</li>

                  </ul>
                </div>
              </div>
            </div>
            <!--END ITEM PROD IMG-->

            <!--ITEM DATA-->
            <div class="cart-item-data" flex="50">
              <div class="cart-item-data-inner">
                <div layout="row" layout-align="start center">

                  <div class="cart-item-data-col" flex="45" layout="row" layout-align="start center">
                    <label flex="30"><strong>Colores:</strong></label>
                    <div flex class="input-element select-element-wrapper">
                      <md-input-container>
                        <md-select ng-model="vm.clientTitle" class="select-element" placeholder="Color" required>
                          <md-option ng-value="Cafe">
                            Cafe
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                  </div>
                  <div class="cart-item-data-col" flex="45" layout="row" layout-align="start center" >
                    <label flex="30"><strong>Formas:</strong></label>
                    <div flex class="input-element select-element-wrapper">
                      <md-input-container>
                        <md-select ng-model="vm.clientTitle" class="select-element" placeholder="Rectangular" required>
                          <md-option ng-value="Cafe">
                            Rectangular
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                  </div>

                </div>
                <div class="cart-item-data-prices" layout="row" layout-align="space-between center">
                  <div flex="30">
                    <p class="price-crossed">$18, 699</p>
                    <p class="price-hl"><strong>$14,699</strong></p>
                  </div>
                  <div flex="30" class="product-view-qty input-element">
                    <div class="input-element-inner">
                      <input ng-model="vm.qty" min="1" type="number">
                    </div>
                  </div>
                  <h3 flex class="product-view-price-hl product-view-price-main">
                    <strong>$14,699</strong>
                  </h3>
                </div>
              </div>
              <p class="bottom-text"><strong>Entrega:</strong> 1-Abr-2016 (en 8 dias)</p>
            </div>
            <!--END ITEM DATA-->

            <div flex="5" class="cart-item-remove-wrap">
              <a href="#" class="cart-item-remove">
                x
              </a>
            </div>

          </div>
        </div>


      </div>

    </section>

    <aside flex class="cart-aside">
      <h1 class="cart-title"><i class="icon-carro"><span>3</span></i> <strong>MI CARRITO</strong></h1>

      <div class="cart-summary">
        <table>
          <tr>
            <td><strong>Subtotal (3 productos):</strong></td>
            <td><strong>$56,097</strong></td>
          </tr>
          <tr>
            <td>Descuento:</td>
            <td><strong>-$12,097</strong></td>
          </tr>
          <tr>
            <td>Costo de envío:</td>
            <td><strong>GRATIS</strong></td>
          </tr>
        </table>
        <hr>

        <div>
          <h5 class="cart-summary-toggler">
            <a href="" ng-click="vm.togglePrices = !vm.togglePrices"><strong>MÁXIMO DESCUENTO</strong> <img src="images/arrow-down.png" alt=""></a>
          </h5>
          <table ng-show="!vm.togglePrices">
            <tr>
              <td>Precio Lista:</td>
              <td><strong>$24,399</strong></td>
            </tr>
            <tr>
              <td>Pago único (<strong class="hl-price">-20%</strong>)</td>
              <td><span class="crossed">$24,399</span> | <strong class="hl-price">$19,519</strong> </td>
            </tr>
            <tr>
              <td>6 MSI Banamex (<strong class="hl-price">-15%</strong>)</td>
              <td><span class="crossed">$24,399</span> | <strong class="hl-price">$20,739</strong> </td>
            </tr>
            <tr>
              <td>12 MSI Santander (<strong class="hl-price">-10%</strong>)</td>
              <td><span class="crossed">$24,399</span> | <strong class="hl-price">$21,959</strong> </td>
            </tr>
          </table>
        </div>

        <hr>
        <div class="cart-totals" layout="row" layout-align="space-between end">
          <div flex="50">
            <h1><strong>TOTAL:</strong></h1>
          </div>
          <div flex="50">
            <h3 class="price-crossed">$18, 699</h3>
            <h1 class="price-main">$14,699</h1>
          </div>
        </div>

        <input type="submit" value="CONTINUAR" class="cart-view-btn">

        <p class="cart-summary-note">*Precios en Pesos Mexicanos con impuestos incluidos.</p>

      </div>

    </aside>

  </div>

  <section>
    <h1 class="cart-title nomargin">ENTREGA</h1>
    <div layout="row">
      <div flex="50" layout="row" class="cart-col">
        <div flex="20"></div>
        <div flex="80">
          <p>Los tiempos de entrega aproximados se especifican en cada articulo. Nuestros procesos de Control de Calidad aseguran el cumplimiento de estas fechas a un máximo. Solamente en casos de retrasos de fabricación y/o envío, provocados por terceros, puede salir afectada la fecha programada. En estos casos se avisará al cliente de la nueva fecha de entrega. Para servicios de Entrega Express (sujeto a disponibilidad) pregunte a su asesor. <a href="#">Ver más detalles aquí.</a></p>
        </div>
      </div>
      <div flex="50" layout="row" class="cart-col">
        <div flex="20"></div>
        <div flex="80">
          <p>Todos los envíos en un radio de 50km de la tienda donde se realizó la compra sin costo.</p>
          <p>Todas las entregas incluyen el ensamble gratuito de los artículos adquiridos. <a href="#">Ver más detalles aquí.</a></p>
        </div>
      </div>
    </div>

    <hr>

    <div layout="row" class="cart-view-bottom-btns" layout-align="space-between center">
      <a flex href="#" class="cart-view-btn cart-view-btn-v2">SEGUIR COMPRANDO</a>
      <input flex type="submit" class="cart-view-btn" value="CONTINUAR">
    </div>

  </section>

</form>
