<div class="breadcrumb">
  <div class="container container-xxlg">
    <p>
      <a href="#">Inicio</a>
      <a href="#"> > Muebles</a>
      <a href="#" class="breadcrumb-active"> > Salas</a>
    </p>
  </div>
</div>
<div class="content-block listing-view">
  <div class="container container-xxlg" layout="row" layout-align="space-between start">

    <!--START NAV-->
    <div flex="25" class="listing-view-nav-wrapper">
      <h2><strong>Muebles</strong></h2>
      <ul class="listing-view-nav">
        <li ng-class="{'active': vm.subnavIndex == 0}">
          <h3><a ng-click="vm.setSubnavIndex(0)" href="#"><strong>Salas</strong></a></h3>
          <ul class="listing-view-subnav">
            <li><a href="#">Set de Salas</a></li>
            <li><a href="#">Salas esquineras</a></li>
            <li><a href="#">Sofá</a></li>
            <li><a href="#">Couch</a></li>
            <li><a href="#">Love Seat</a></li>
            <li><a href="#">Sillones</a></li>
            <li><a href="#">Mesas de centro</a></li>
            <li><a href="#">Mesas Laterales</a></li>
          </ul>
        </li>
        <li ng-class="{'active': vm.subnavIndex == 1}">
          <h3><a ng-click="vm.setSubnavIndex(1)" href="#"><strong>Recámaras</strong></a></h3>
          <ul class="listing-view-subnav">
            <li><a href="#">Set de Salas</a></li>
            <li><a href="#">Salas esquineras</a></li>
            <li><a href="#">Sofá</a></li>
            <li><a href="#">Couch</a></li>
            <li><a href="#">Love Seat</a></li>
            <li><a href="#">Sillones</a></li>
            <li><a href="#">Mesas de centro</a></li>
            <li><a href="#">Mesas Laterales</a></li>
          </ul>
        </li>
        <li ng-class="{'active': vm.subnavIndex == 2}">
          <h3><a ng-click="vm.setSubnavIndex(2)" href="#"><strong>Comedores</strong></a></h3>
          <ul class="listing-view-subnav">
            <li><a href="#">Set de Salas</a></li>
            <li><a href="#">Salas esquineras</a></li>
            <li><a href="#">Sofá</a></li>
            <li><a href="#">Couch</a></li>
            <li><a href="#">Love Seat</a></li>
            <li><a href="#">Sillones</a></li>
            <li><a href="#">Mesas de centro</a></li>
            <li><a href="#">Mesas Laterales</a></li>
          </ul>
        </li>
        <li ng-class="{'active': vm.subnavIndex == 3}">
          <h3><a ng-click="vm.setSubnavIndex(3)" href="#"><strong>Muebles tv</strong></a></h3>
          <ul class="listing-view-subnav">
            <li><a href="#">Set de Salas</a></li>
            <li><a href="#">Salas esquineras</a></li>
            <li><a href="#">Sofá</a></li>
            <li><a href="#">Couch</a></li>
            <li><a href="#">Love Seat</a></li>
            <li><a href="#">Sillones</a></li>
            <li><a href="#">Mesas de centro</a></li>
            <li><a href="#">Mesas Laterales</a></li>
          </ul>
        </li>
        <li ng-class="{'active': vm.subnavIndex == 4}">
          <h3><a ng-click="vm.setSubnavIndex(4)" href="#"><strong>Muebles de jardín</strong></a></h3>
          <ul class="listing-view-subnav">
            <li><a href="#">Set de Salas</a></li>
            <li><a href="#">Salas esquineras</a></li>
            <li><a href="#">Sofá</a></li>
            <li><a href="#">Couch</a></li>
            <li><a href="#">Love Seat</a></li>
            <li><a href="#">Sillones</a></li>
            <li><a href="#">Mesas de centro</a></li>
            <li><a href="#">Mesas Laterales</a></li>
          </ul>
        </li>
        <li ng-class="{'active': vm.subnavIndex == 5}">
          <h3><a ng-click="vm.setSubnavIndex(5)" href="#"><strong>Muebles para oficina</strong></a></h3>
          <ul class="listing-view-subnav">
            <li><a href="#">Set de Salas</a></li>
            <li><a href="#">Salas esquineras</a></li>
            <li><a href="#">Sofá</a></li>
            <li><a href="#">Couch</a></li>
            <li><a href="#">Love Seat</a></li>
            <li><a href="#">Sillones</a></li>
            <li><a href="#">Mesas de centro</a></li>
            <li><a href="#">Mesas Laterales</a></li>
          </ul>
        </li>
        <li ng-class="{'active': vm.subnavIndex == 6}">
          <h3><a ng-click="vm.setSubnavIndex(6)" href="#"><strong>Muebles infantiles</strong></a></h3>
          <ul class="listing-view-subnav">
            <li><a href="#">Set de Salas</a></li>
            <li><a href="#">Salas esquineras</a></li>
            <li><a href="#">Sofá</a></li>
            <li><a href="#">Couch</a></li>
            <li><a href="#">Love Seat</a></li>
            <li><a href="#">Sillones</a></li>
            <li><a href="#">Mesas de centro</a></li>
            <li><a href="#">Mesas Laterales</a></li>
          </ul>
        </li>
        <li ng-class="{'active': vm.subnavIndex == 7}">
          <h3><a ng-click="vm.setSubnavIndex(7)" href="#"><strong>Muebles para bebé</strong></a></h3>
          <ul class="listing-view-subnav">
            <li><a href="#">Set de Salas</a></li>
            <li><a href="#">Salas esquineras</a></li>
            <li><a href="#">Sofá</a></li>
            <li><a href="#">Couch</a></li>
            <li><a href="#">Love Seat</a></li>
            <li><a href="#">Sillones</a></li>
            <li><a href="#">Mesas de centro</a></li>
            <li><a href="#">Mesas Laterales</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!--END NAV-->

    <!--SUBCATEGORIES-->
    <div flex="70">
      <div class="subs-container">
        <h2>Salas</h2>
        <div
          class="sub sub-big"
          ng-style="{'background-image' : 'url(' + 'images/living-room-comfortable-minimalist-living-room-seatting-for-apartment-minimalist-living-room-design-combined-sectional-black-upholstered-sofas-and-simple-oak-coffee-table-and-gray-fur-rug.jpg' + ')'}">
          <!--
          <img class="sub-image" src="images/living-room-comfortable-minimalist-living-room-seatting-for-apartment-minimalist-living-room-design-combined-sectional-black-upholstered-sofas-and-simple-oak-coffee-table-and-gray-fur-rug.jpg" alt="">
          -->
          <div class="sub-text">
            <h4><a href="#">Set de <strong>salas</strong></a></h4>
          </div>
          <a href="#" class="absolute-link"></a>
        </div>

        <div class="subs-container-list" layout="row" layout-wrap>

          <div class="sub-wrapper" flex="33">
            <div
              class="sub"
              ng-style="{'background-image' : 'url(' + 'images/living-room-fabulous-white-minimmalist-living-room-design-for-bright-white-sofas-and-unique-red-cuhions-plus-minimalist-white-coffee-table-and-high-gloss-black-ceramic-flooring-and-cool.jpg' + ')'}">
              <div class="sub-text">
                <h4><a href="#">Salas <strong>esquineras</strong></a></h4>
              </div>
              <a href="#" class="absolute-link"></a>
            </div>
          </div>

          <div class="sub-wrapper" flex="33">
            <div
              class="sub"
              ng-style="{'background-image' : 'url(' + 'images/a.jpg' + ')'}">
              <div class="sub-text">
                <h4><a href="#">Sofá</a></h4>
              </div>
              <a href="#" class="absolute-link"></a>
            </div>
          </div>

          <div class="sub-wrapper" flex="33">
            <div
              class="sub"
              ng-style="{'background-image' : 'url(' + 'images/modern-home-decor-decor-store-the-most-awesome-along-with-gorgeous-decor-store.jpg' + ')'}">
              <div class="sub-text">
                <h4><a href="#">Couch</a></h4>
              </div>
              <a href="#" class="absolute-link"></a>
            </div>
          </div>

          <div class="sub-wrapper" flex="33">
            <div
              class="sub"
              ng-style="{'background-image' : 'url(' + 'images/Carousel_NewCoulisseEdit2.jpg' + ')'}">
              <div class="sub-text">
                <h4><a href="#">Love <strong>seat</strong></a></h4>
              </div>
              <a href="#" class="absolute-link"></a>
            </div>
          </div>

          <div class="sub-wrapper" flex="33">
            <div
              class="sub"
              ng-style="{'background-image' : 'url(' + 'images/living-room-fabulous-white-minimmalist-living-room-design-for-bright-white-sofas-and-unique-red-cuhions-plus-minimalist-white-coffee-table-and-high-gloss-black-ceramic-flooring-and-cool.jpg' + ')'}">
              <div class="sub-text">
                <h4><a href="#">Sillones</a></h4>
              </div>
              <a href="#" class="absolute-link"></a>
            </div>
          </div>

          <div class="sub-wrapper" flex="33">
            <div
              class="sub"
              ng-style="{'background-image' : 'url(' + 'images/Carousel_WoodBlindsFall2015.jpg' + ')'}">
              <div class="sub-text">
                <h4><a href="#">Mesas de <strong>centro</strong></a></h4>
              </div>
              <a href="#" class="absolute-link"></a>
            </div>
          </div>

          <div class="sub-wrapper" flex="33">
            <div
              class="sub"
              ng-style="{'background-image' : 'url(' + 'images/Carousel_DraperyFall2015.jpg' + ')'}">
              <div class="sub-text">
                <h4><a href="#">Mesas <strong>laterales</strong></a></h4>
              </div>
              <a href="#" class="absolute-link"></a>
            </div>
          </div>

          <div class="sub-wrapper" flex="33">
            <div
              class="sub"
              ng-style="{'background-image' : 'url(' + 'images/living-room-comfortable-minimalist-living-room-seatting-for-apartment-minimalist-living-room-design-combined-sectional-black-upholstered-sofas-and-simple-oak-coffee-table-and-gray-fur-rug.jpg' + ')'}">
              <div class="sub-text">
                <h4><a href="#">Set de <strong>salas</strong></a></h4>
              </div>
              <a href="#" class="absolute-link"></a>
            </div>
          </div>





        </div>

      </div>
    </div>
    <!-- END SUBCATEGORIES-->

  </div>
</div>
