<div class="breadcrumb">
  <div class="container container-xxlg">
    <p>
      <a href="#">Inicio</a>
      <a href="#"> > Muebles</a>
      <a href="#" class="breadcrumb-active"> > Salas</a>
    </p>
  </div>
</div>
<div class="content-block listing-view">
  <div class="container container-xxlg" layout="row" layout-align="space-between start">
    <!--START NAV-->
    <aside flex="25">
      <sidebar-categories
        categories-tree="main.categoriesTree"
        selected-category-id="vm.category.id">
      </sidebar-categories>

      <section class="filters">
        <h3 class="filters-head">FILTRAR RESULTADOS</h3>
        <div class="filters-inner">
          <div class="filter-block">
            <h4><strong>PRECIO:</strong></h4>
            <div class="filter-block-inner">

              <div layout="row" layout-align="space-between center">
                <div flex class="input-element">
                  <div class="input-element-inner">
                    <input
                      ng-model="vm.minPrice"
                      ui-money-mask="0"
                      placeholder="Min."
                      type="text"
                    >
                  </div>
                </div>
                <span>a</span>
                <div flex class="input-element">
                  <div class="input-element-inner">
                    <input
                      ng-model="vm.maxPrice"
                      ui-money-mask="0"
                      placeholder="Max."
                      type="text"
                    >
                  </div>
                </div>
                <a href="#" class="filter-block-price-btn"
                  ng-click="vm.getProductsByCategory()"
                >
                  <img src="images/arrow-right.png" alt="">
                </a>
              </div>


            </div>
          </div>

          <div class="filter-block" ng-repeat="filter in vm.filters track by $index">
            <h4 ng-click="vm.filters[$index].active = !vm.filters[$index].active" ng-class="{'active-arrow': vm.filters[$index].active}">
              <strong>{{filter.Name}}:</strong>
            </h4>
            <div ng-show="vm.filters[$index].active" class="filter-block-inner">

              <div ng-if=" filter.Handle != 'color' " >
                <md-checkbox
                  ng-repeat="value in filter.Values"
                  ng-model="value.selected"
                  ng-change="vm.getProductsByCategory()"
                  aria-label="Checkbox Indeterminate">
                  {{value.Name}}
                </md-checkbox>
              </div>


              <div ng-if=" filter.Handle == 'color' " class="color-picker-sp" layout="row" layout-wrap>
                <a
                  class="color-picker-sp-value"
                  ng-repeat="value in filter.Values"
                  ng-click="vm.toggleColorFilter(value, filter)"
                  ng-style="{'background-color' : value.Code}"
                  ng-class="{'active': value.selected}"
                  href="#"
                  flex>
                  <span></span>
                </a>
              </div>

            </div>
          </div>
        </div>
      </section>
    </aside>
    <!--END NAV-->

    <!--SUBCATEGORIES-->
    <div flex="70">
      <div class="subs-container">
        <h2 class="listing-view-title">{{vm.category.Name}}</h2>
        <!--SUBCATEGORIES LIST LEVEL 2-->
        <div ng-if="vm.category.Childs.length > 0 && vm.showLevel2" class="subs-container-list" layout="row" layout-wrap>
          <div
            class="sub-wrapper"
            ng-repeat="subcategory in vm.category.Childs | filter: {CategoryLevel:2}"
            ng-if="subcategory.productsNum > 0"
            flex="33">
            <div
              class="sub"
              ng-style="main.getCategoryBackground(subcategory.Handle)">
              <div class="sub-text">
                <h4>
                  <a ng-href="/category/{{subcategory.Handle}}">
                    <strong>{{subcategory.Name}}</strong>
                    ({{subcategory.productsNum}})
                  </a>
                </h4>
              </div>
              <a ng-href="/category/{{subcategory.Handle}}" class="absolute-link"></a>
            </div>
          </div>
        </div>
        <!--END SUBCATEGORIES LIST LEVEL 2-->


        <!--SUBCATEGORIES LIST LEVEL 3-->
        <div ng-if="vm.category.Childs.length > 0 && vm.showLevel3" class="subs-container-list" layout="row" layout-wrap>
          <div
            class="sub-wrapper"
            ng-repeat="subcategory in vm.category.Childs | filter: {CategoryLevel:3}"
            ng-if="subcategory.productsNum > 0"
            flex="33"
          >
            <div
              class="sub"
              ng-style="main.getCategoryBackground(subcategory.Handle)">
              <div class="sub-text">
                <!--<h4><a ng-href="/category/{{subcategory.Handle}}">Salas <strong>esquineras</strong></a></h4>-->
                <h4>
                  <a ng-href="/category/{{subcategory.Handle}}">
                    <strong>{{subcategory.Name}}</strong>
                    ({{subcategory.productsNum}})
                  </a>
                </h4>
              </div>
              <a ng-href="/category/{{subcategory.Handle}}" class="absolute-link"></a>
            </div>
          </div>
        </div>
        <!--END SUBCATEGORIES LIST LEVEL 3-->


        <!--RESULTS-->
        <div class="results"
          infinite-scroll="vm.getProductsByCategory(true)"
          infinite-scroll-disabled="vm.isLoading || vm.products.length >= vm.totalProducts"
          infinite-scroll-distance="0"
        >
          <h2 class="center-content">
            <strong><i class="icon-search"></i> <span class="hl-text">{{vm.totalProducts}}</span> Resultados</strong>
          </h2>

          <div
            class="products-list"
            layout="row"
            layout-wrap
            layout-align="start center"
            ng-cloak
          >
            <div flex="30" class="listing-product-wrap" ng-repeat="product in vm.products track by product.ItemCode">
              <listing-product product="product"></listing-product>
            </div>
          </div>

        </div>
        <!--END RESULTS-->

      </div>
    </div>
    <!-- END SUBCATEGORIES-->

  </div>
</div>
