<section class="form-view contact-us">

  <div class="container container-xlg">

    <div ng-if="vm.isLoading" layout-fill layout="row" layout-align="center center" class="loading-circle">
      <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
    </div>

    <section ng-if="!vm.isLoading && vm.sentData">
      <h1>Gracias, tu mensaje se ha enviado correctamente</h1>
    </section>

    <div layout="row" layout-wrap>

      <div class="info-column" flex="30" flex-sm="100" flex-xs="100">
        <h2>Ventas por télefono</h2>
        <p>Asistencia en tu compra</p>
        <p>Correo: clientes@actualg.com</p>
        <p>Télefono: (998) 246 3487</p>
        <br>
        <p>Horario de servicio</p>
        <br>
        <table>
          <tbody>
            <tr>
              <td>
                <p>Lunes a Viernes</p>
              </td>
              <td>
                <p>10:00 am - 14:00 pm</p>
                <p>15:00 pm - 19:00 pm</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>Sabado</p>
              </td>
              <td>
                <p>10:00 am - 13:00 pm</p>
              </td>
            </tr>
          </tbody>
        </table>
        <!--
        <p>Lunes a viernes</p>
        <p>De: 10:00am a 14:00pm</p>
        <p>De: 16:00pm a 20:00pm</p>
        <br>
        <p>Sabado</p>
        <p>De: 10:00am a 15:00pm</p>
        -->
      </div>

      <form flex="70" flex-sm="100" flex-xs="100" ng-if="!vm.isLoading && !vm.sentData" name="contactForm"
        ng-submit="vm.sendContact(contactForm)">


        <h1><i class="icon-login"></i> Contáctanos</h1>
        <hr>

        <div class="input-container">
          <div class="input-element">
            <p><label><strong>Nombre*</strong></label></p>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.form.name" required>
            </div>
          </div>
        </div>

        <div class="input-container">
          <div class="input-element">
            <p><label><strong>Email *</strong></label></p>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.form.email" required>
            </div>
          </div>
        </div>

        <div class="input-container">
          <div class="input-element">
            <p><label><strong>Confirmar email</strong></label></p>
            <div class="input-element-inner">
              <input type="email" ng-model="vm.form.e_mail" ng-pattern="vm.form.email" required>
            </div>
          </div>
        </div>

        <div class="input-container">
          <div class="input-element">
            <p><label><strong>Télefono (opcional)</strong></label></p>
            <div class="input-element-inner">
              <input type="text" ng-model="vm.form.phone">
            </div>
          </div>
        </div>

        <div class="input-container">
          <div class="input-element textarea-element">
            <p><label><strong>Tu mensaje</strong></label></p>
            <div class="input-element-inner">
              <textarea ng-model="vm.form.message" name="" id="" cols="30" rows="5"></textarea>
            </div>
          </div>
        </div>


        <div layout="row" class="form-view-btns no-margin" layout-align="center center">
          <!--<a href="" flex class="form-view-btn">Borrar todos los campos</a>-->
          <button type="submit" flex="50" class="form-view-btn form-view-btn-primary">
            Enviar
          </button>
        </div>


      </form>

    </div>

  </div>

</section>