<section class="dashboard-view container container-xlg">

  <div layout="row">

    <section flex class="dashboard-card chart-section">
      <h2><a href="/quotations/list"><i class="icon-oportunidades"></i> <strong>OPORTUNIDADES</strong></a></h2>
      <div class="chart-section-inner">

      <div layout="row">
        <div class="chart-section-col" flex="45">
          <h3>Cantidad</h3>
          <canvas
            id="pie"
            class="chart chart-pie"
            chart-data="vm.quotationsData.quantities.data"
            chart-labels="vm.quotationsData.quantities.labels"
            chart-colors="vm.quotationsData.quantities.colors">
          </canvas>
          <p><strong>Hoy</strong> | <strong>Total</strong></p>
          <p>{{vm.quotationsData.todayQty}} | {{vm.quotationsData.monthQty}}</p>
        </div>

        <div class="chart-section-col" flex="45">
          <h3>Monto</h3>
          <canvas id="pie"
            class="chart chart-pie"
            chart-options="vm.quotationsData.ammounts.options"
            chart-data="vm.quotationsData.ammounts.data"
            chart-labels="vm.quotationsData.ammounts.labels"
            chart-colors="vm.quotationsData.ammounts.colors">
          </canvas>
          <p><strong>Hoy</strong> | <strong>Total</strong></p>
          <p>{{vm.quotationsData.todayAmmount | currency}} | {{vm.quotationsData.monthAmmount | currency}}</p>
        </div>
      </div>

      <div class="container container-xsm chart-section-legends" layout="row">
        <p flex><span class="chart-section-sqr"></span> Hoy</p>
        <p flex><span class="chart-section-sqr chart-section-sqr2"></span> Resto del mes</p>
      </div>


      </div>
    </section>

    <section flex class="dashboard-card chart-section">
      <h2><a href="/commissions/list"><i class="icon-comisiones"></i> <strong>COMISIONES</strong></a></h2>
      <div class="chart-section-inner">

      <div layout="row">
        <div class="chart-section-col" flex="45">
          <h3>Cantidad</h3>
          <canvas
            id="pie"
            class="chart chart-pie"
            chart-data="vm.quotationsData.quantities.data"
            chart-labels="vm.quotationsData.quantities.labels"
            chart-colors="vm.quotationsData.quantities.colors">
          </canvas>
          <p><strong>Hoy</strong> | <strong>Total</strong></p>
          <p>{{vm.quotationsData.todayQty}} | {{vm.quotationsData.monthQty}}</p>
        </div>

        <div class="chart-section-col" flex="45">
          <h3>Monto</h3>
          <canvas
            id="pie"
            class="chart chart-pie"
            chart-options="vm.quotationsData.ammounts.options"
            chart-data="vm.quotationsData.ammounts.data"
            chart-labels="vm.quotationsData.ammounts.labels"
            chart-colors="vm.quotationsData.ammounts.colors">
          </canvas>
          <p><strong>Hoy</strong> | <strong>Total</strong></p>
          <p>{{vm.quotationsData.todayAmmount | currency}} | {{vm.quotationsData.monthAmmount | currency}}</p>
        </div>
      </div>

      <div class="container container-xsm chart-section-legends" layout="row">
        <p flex><span class="chart-section-sqr"></span> Hoy</p>
        <p flex><span class="chart-section-sqr chart-section-sqr2"></span> Resto del mes</p>
      </div>


      </div>
    </section>

  </div>

  <div layout="row">

    <section flex class="dashboard-card chart-section">
      <h2><a href="/orders/list"><i class="icon-pedidos"></i> <strong>PEDIDOS</strong></a></h2>
      <div class="chart-section-inner">

      <div layout="row">
        <div class="chart-section-col" flex="45">
          <h3>Cantidad</h3>
          <canvas
            id="pie"
            class="chart chart-pie"
            chart-data="vm.ordersData.quantities.data"
            chart-labels="vm.ordersData.quantities.labels"
            chart-colors="vm.ordersData.quantities.colors">
          </canvas>
          <p><strong>Hoy</strong> | <strong>Total</strong></p>
          <p>{{vm.ordersData.todayQty}} | {{vm.ordersData.monthQty}}</p>
        </div>

        <div class="chart-section-col" flex="45">
          <h3>Monto</h3>
          <canvas
            id="pie"
            class="chart chart-pie"
            chart-data="vm.ordersData.ammounts.data"
            chart-labels="vm.ordersData.ammounts.labels"
            chart-colors="vm.ordersData.ammounts.colors"
            chart-options="vm.ordersData.ammounts.options">
          </canvas>
          <p><strong>Hoy</strong> | <strong>Total</strong></p>
          <p>{{vm.ordersData.todayAmmount | currency}} | {{vm.ordersData.monthAmmount | currency}}</p>
        </div>
      </div>

      <div class="container container-xsm chart-section-legends" layout="row">
        <p flex><span class="chart-section-sqr"></span> Hoy</p>
        <p flex><span class="chart-section-sqr chart-section-sqr2"></span> Resto del mes</p>
      </div>


      </div>
    </section>

    <section flex class="dashboard-card chart-section">
      <h2><i class="icon-attachment"></i> <strong>PERFORMANCE</strong></h2>
      
      <div class="chart-section-inner performance-card">
        
        <div class="performance-card-title">
          <p>Estadisticas del <strong>28 de mayo</strong></p>
        </div>

        <!--PERFORMANCE TABLE-->
        <div class="performance-table">
          <div class="performance-table-header" layout="row">
            <div flex="60"></div>
            <div flex="20">
              <p>Rank</p>
              <p><strong>Tienda</strong></p>
            </div>
            <div flex="20">
              <p>Rank</p>
              <p><strong>Empresa</strong></p>
            </div>
          </div>

          <div class="performance-table-row" layout="row" layout-align="start center">
            <div flex="60">
              <p class="row-label">#Oportunidades</p>
              <p><strong>{{vm.quotationsData.monthQty}}</strong></p>
            </div>
            <div flex="20">
              <p><strong>1</strong> | <span>3</span></p>
            </div>
            <div flex="20">
              <p><strong>3</strong> | <span>36</span></p>
            </div>
          </div>

          <div class="performance-table-row" layout="row" layout-align="start center">
            <div flex="60">
              <p class="row-label">#Tickets</p>
              <p><strong>{{vm.ordersData.monthQty}}</strong></p>
            </div>
            <div flex="20">
              <p><strong>1</strong> | <span>3</span></p>
            </div>
            <div flex="20">
              <p><strong>3</strong> | <span>36</span></p>
            </div>
          </div>

          <div class="performance-table-row" layout="row" layout-align="start center">
            <div flex="60">
              <p class="row-label">#Ticket promedio</p>
              <p><strong>{{vm.getAverageTicket() | currency}}</strong></p>
            </div>
            <div flex="20">
              <p><strong>1</strong> | <span>3</span></p>
            </div>
            <div flex="20">
              <p><strong>3</strong> | <span>36</span></p>
            </div>
          </div>

          <div class="performance-table-row" layout="row" layout-align="start center">
            <div flex="60">
              <p class="row-label">% Cierre</p>
              <p><strong>{{vm.getClosingPercentage()}}</strong></p>
            </div>
            <div flex="20">
              <p><strong>1</strong> | <span>3</span></p>
            </div>
            <div flex="20">
              <p><strong>3</strong> | <span>36</span></p>
            </div>
          </div>
        </div>
        <!--END PERFORMANCE TABLE-->
      </div>
    </section>

  </div>

</section>
