<section class="dashboard-view container container-xlg">

  <div layout="row">

    <section flex class="dashboard-card chart-section">
      <h2><i class="icon-oportunidades"></i> <strong>OPORTUNIDADES</strong></h2>
      <div class="chart-section-inner">

      <div layout="row">
        <div class="chart-section-col" flex="45">
          <h3>Cantidad</h3>
          <canvas
            id="pie"
            class="chart chart-pie"
            chart-data="vm.quotationsData.quantities.data"
            chart-labels="vm.quotationsData.quantities.labels"
            chart-colours="vm.quotationsData.quantities.colours">
          </canvas>
          <p><strong>Hoy</strong> | <strong>Total</strong></p>
          <p>{{vm.quotationsData.todayQty}} | {{vm.quotationsData.monthQty}}</p>
        </div>

        <div class="chart-section-col" flex="45">
          <h3>Monto</h3>
          <canvas id="pie"
            class="chart chart-pie"
            options="vm.quotationsData.ammounts.options"
            chart-data="vm.quotationsData.ammounts.data"
            chart-labels="vm.quotationsData.ammounts.labels"
            chart-colours="vm.quotationsData.ammounts.colours">
          </canvas>
          <p><strong>Hoy</strong> | <strong>Total</strong></p>
          <p>{{vm.quotationsData.todayAmmount | currency}} | {{vm.quotationsData.monthAmmount | currency}}</p>
        </div>
      </div>

      <div class="container container-xsm chart-section-legends" layout="row">
        <p flex><span class="chart-section-sqr"></span> Hoy</p>
        <p flex><span class="chart-section-sqr chart-section-sqr2"></span> Resto del mes</p>
      </div>


      </div>
    </section>

    <section flex class="dashboard-card chart-section">
      <h2><i class="icon-comisiones"></i> <strong>COMISIONES</strong></h2>
      <div class="chart-section-inner">

      <div layout="row">
        <div class="chart-section-col" flex="45">
          <h3>Cantidad</h3>
          <canvas
            id="pie"
            class="chart chart-pie"
            chart-data="vm.quotationsData.quantities.data"
            chart-labels="vm.quotationsData.quantities.labels"
            chart-colours="vm.quotationsData.quantities.colours">
          </canvas>
          <p><strong>Hoy</strong> | <strong>Total</strong></p>
          <p>{{vm.quotationsData.todayQty}} | {{vm.quotationsData.monthQty}}</p>
        </div>

        <div class="chart-section-col" flex="45">
          <h3>Monto</h3>
          <canvas
            id="pie"
            class="chart chart-pie"
            chart-data="vm.quotationsData.ammounts.data"
            chart-labels="vm.quotationsData.ammounts.labels"
            chart-colours="vm.quotationsData.ammounts.colours">
          </canvas>
          <p><strong>Hoy</strong> | <strong>Total</strong></p>
          <p>{{vm.quotationsData.todayAmmount | currency}} | {{vm.quotationsData.monthAmmount | currency}}</p>
        </div>
      </div>

      <div class="container container-xsm chart-section-legends" layout="row">
        <p flex><span class="chart-section-sqr"></span> Hoy</p>
        <p flex><span class="chart-section-sqr chart-section-sqr2"></span> Resto del mes</p>
      </div>


      </div>
    </section>

  </div>

  <div layout="row">

    <section flex class="dashboard-card chart-section">
      <h2><i class="icon-pedidos"></i> <strong>PEDIDOS</strong></h2>
      <div class="chart-section-inner">

      <div layout="row">
        <div class="chart-section-col" flex="45">
          <h3>Cantidad</h3>
          <canvas
            id="pie"
            class="chart chart-pie"
            chart-data="vm.ordersData.quantities.data"
            chart-labels="vm.ordersData.quantities.labels"
            chart-colours="vm.ordersData.quantities.colours">
          </canvas>
          <p><strong>Hoy</strong> | <strong>Total</strong></p>
          <p>{{vm.ordersData.todayQty}} | {{vm.ordersData.monthQty}}</p>
        </div>

        <div class="chart-section-col" flex="45">
          <h3>Monto</h3>
          <canvas
            id="pie"
            class="chart chart-pie"
            chart-data="vm.ordersData.ammounts.data"
            chart-labels="vm.ordersData.ammounts.labels"
            chart-colours="vm.ordersData.ammounts.colours"
            chart-options="vm.ordersData.ammounts.options">
          </canvas>
          <p><strong>Hoy</strong> | <strong>Total</strong></p>
          <p>{{vm.ordersData.todayAmmount | currency}} | {{vm.ordersData.monthAmmount | currency}}</p>
        </div>
      </div>

      <div class="container container-xsm chart-section-legends" layout="row">
        <p flex><span class="chart-section-sqr"></span> Hoy</p>
        <p flex><span class="chart-section-sqr chart-section-sqr2"></span> Resto del mes</p>
      </div>


      </div>
    </section>

    <section flex class="dashboard-card chart-section">
      <h2><i class="icon-attachment"></i> <strong>PERFORMANCE</strong></h2>
      <div class="chart-section-inner">

      <div layout="row">
        <div class="chart-section-col" flex="45">
          <h3>Cantidad</h3>
          <canvas id="pie" class="chart chart-pie"
            chart-data="vm.quotationsData.quantities.data" chart-labels="vm.quotationsData.quantities.labels" chart-colours="vm.quotationsData.quantities.colours">
          </canvas>
          <p><strong>Hoy</strong> | <strong>Total</strong></p>
          <p>{{vm.quotationsData.todayQty}} | {{vm.quotationsData.monthQty}}</p>
        </div>

        <div class="chart-section-col" flex="45">
          <h3>Monto</h3>
          <canvas id="pie" class="chart chart-pie"
            chart-data="vm.quotationsData.ammounts.data" chart-labels="vm.quotationsData.ammounts.labels" chart-colours="vm.quotationsData.ammounts.colours">
          </canvas>
          <p><strong>Hoy</strong> | <strong>Total</strong></p>
          <p>{{vm.quotationsData.todayAmmount | currency}} | {{vm.quotationsData.monthAmmount | currency}}</p>
        </div>
      </div>

      <div class="container container-xsm chart-section-legends" layout="row">
        <p flex><span class="chart-section-sqr"></span> Hoy</p>
        <p flex><span class="chart-section-sqr chart-section-sqr2"></span> Resto del mes</p>
      </div>


      </div>
    </section>

  </div>

</section>
