<section class="terms-view deliveries-cities">

  <div class="container container-xlg">
    <h1 class="section-title">Ciudades de entrega</h1>

    <div layout="row" layout-wrap>

      <div class="state-block" flex="33" flex-sm="50" flex-xs="50">
        <div class="state-image" style="background-image: url('images/locations/campeche.jpg')">
          <div class="state-label">
            <h3>Campeche <a href="#" ng-click="vm.campecheIsActive = !vm.campecheIsActive"><small>Ver
                  municipios</small></a></h3>
          </div>
        </div>

        <ul ng-show="vm.campecheIsActive">
          <li>CALAKMUL</li>
          <li>CALKINI</li>
          <li>CAMPECHE</li>
          <li>CANDELARIA</li>
          <li>CARMEN</li>
          <li>CHAMPOTON</li>
          <li>ESCARCEGA</li>
          <li>HECELCHAKAN</li>
          <li>HOPELCHEN</li>
          <li>PALIZADA</li>
          <li>TENABO</li>
        </ul>
      </div>

      <div class="state-block" flex="33" flex-sm="50" flex-xs="50">
        <div class="state-image" style="background-image: url('images/locations/cdmx.jpg')">
          <div class="state-label">
            <h3>Ciudad de México <a href="#" ng-click="vm.cdmxIsActive = !vm.cdmxIsActive"><small>Ver
                  delegaciones</small></a></h3>
          </div>
        </div>

        <ul ng-show="vm.cdmxIsActive">
          <li>ALVARO OBREGON</li>
          <li>AZCAPOTZALCO</li>
          <li>BENITO JUAREZ</li>
          <li>COYOACAN</li>
          <li>CUAJIMALPA DE MORELOS</li>
          <li>CUAUHTEMOC</li>
          <li>GUSTAVO A MADERO</li>
          <li>IZTACALCO</li>
          <li>IZTAPALAPA</li>
          <li>LA MAGDALENA CONTRERAS</li>
          <li>MIGUEL HIDALGO</li>
          <li>MILPA ALTA</li>
          <li>TLAHUAC</li>
          <li>TLALPAN</li>
          <li>VENUSTIANO CARRANZA</li>
          <li>XOCHIMILCO</li>
        </ul>
      </div>

      <div class="state-block" flex="33" flex-sm="50" flex-xs="50">

        <div class="state-image" style="background-image: url('images/locations/jalisco.jpg')">
          <div class="state-label">
            <h3>Jalisco <a href="#" ng-click="vm.jaliscoIsActive = !vm.jaliscoIsActive"><small>Ver
                  municipios</small></a></h3>
          </div>
        </div>

        <ul ng-show="vm.jaliscoIsActive">
          <li>ACATIC</li>
          <li>ACATLAN DE JUAREZ</li>
          <li>AHUALULCO DE MERCADO</li>
          <li>AMACUECA</li>
          <li>AMATITAN</li>
          <li>AMECA</li>
          <li>ARANDAS</li>
          <li>ATEMAJAC DE BRIZUELA</li>
          <li>ATENGO</li>
          <li>ATENGUILLO</li>
          <li>ATOTONILCO EL ALTO</li>
          <li>ATOYAC</li>
          <li>AUTLAN DE NAVARRO</li>
          <li>AYOTLAN</li>
          <li>AYUTLA</li>
          <li>BOLANOS</li>
          <li>CABO CORRIENTES</li>
          <li>CANADAS DE OBREGON</li>
          <li>CASIMIRO CASTILLO</li>
          <li>CHAPALA</li>
          <li>CHIMALTITAN</li>
          <li>CHIQUILISTLAN</li>
          <li>CIHUATLAN</li>
          <li>COCULA</li>
          <li>COLOTLAN</li>
          <li>CONCEPCION DE BUENOS AIRES</li>
          <li>CUAUTITLAN DE GARCIA BARRAGAN</li>
          <li>CUAUTLA</li>
          <li>CUQUIO</li>
          <li>DEGOLLADO</li>
          <li>EJUTLA</li>
          <li>EL ARENAL</li>
          <li>EL GRULLO</li>
          <li>EL LIMON</li>
          <li>EL SALTO</li>
          <li>ENCARNACION DE DIAZ</li>
          <li>ETZATLAN</li>
          <li>GOMEZ FARIAS</li>
          <li>GUACHINANGO</li>
          <li>GUADALAJARA</li>
          <li>HOSTOTIPAQUILLO</li>
          <li>HUEJUCAR</li>
          <li>HUEJUQUILLA EL ALTO</li>
          <li>IXTLAHUACAN DE LOS MEMBRILLOS</li>
          <li>IXTLAHUACAN DEL RIO</li>
          <li>JALOSTOTITLAN</li>
          <li>JAMAY</li>
          <li>JESUS MARIA</li>
          <li>JILOTLAN DE LOS DOLORES</li>
          <li>JOCOTEPEC</li>
          <li>JUANACATLAN</li>
          <li>JUCHITLAN</li>
          <li>LA BARCA</li>
          <li>LA HUERTA</li>
          <li>LA MANZANILLA DE LA PAZ</li>
          <li>LAGOS DE MORENO</li>
          <li>MAGDALENA</li>
          <li>MASCOTA</li>
          <li>MAZAMITLA</li>
          <li>MEXTICACAN</li>
          <li>MEZQUITIC</li>
          <li>MIXTLAN</li>
          <li>OCOTLAN</li>
          <li>OJUELOS DE JALISCO</li>
          <li>PIHUAMO</li>
          <li>PONCITLAN</li>
          <li>PUERTO VALLARTA</li>
          <li>QUITUPAN</li>
          <li>SAN CRISTOBAL DE LA BARRANCA</li>
          <li>SAN DIEGO DE ALEJANDRIA</li>
          <li>SAN GABRIEL</li>
          <li>SAN IGNACIO CERRO GORDO</li>
          <li>SAN JUAN DE LOS LAGOS</li>
          <li>SAN JUANITO DE ESCOBEDO</li>
          <li>SAN JULIAN</li>
          <li>SAN MARCOS</li>
          <li>SAN MARTIN DE BOLANOS</li>
          <li>SAN MARTIN HIDALGO</li>
          <li>SAN MIGUEL EL ALTO</li>
          <li>SAN SEBASTIAN DEL OESTE</li>
          <li>SANTA MARIA DE LOS ANGELES</li>
          <li>SANTA MARIA DEL ORO</li>
          <li>SAYULA</li>
          <li>TALA</li>
          <li>TALPA DE ALLENDE</li>
          <li>TAMAZULA DE GORDIANO</li>
          <li>TAPALPA</li>
          <li>TECALITLAN</li>
          <li>TECHALUTA DE MONTENEGRO</li>
          <li>TECOLOTLAN</li>
          <li>TENAMAXTLAN</li>
          <li>TEOCALTICHE</li>
          <li>TEOCUITATLAN DE CORONA</li>
          <li>TEPATITLAN DE MORELOS</li>
          <li>TEQUILA</li>
          <li>TEUCHITLAN</li>
          <li>TIZAPAN EL ALTO</li>
          <li>TLAJOMULCO DE ZUNIGA</li>
          <li>TLAQUEPAQUE</li>
          <li>TOLIMAN</li>
          <li>TOMATLAN</li>
          <li>TONALA</li>
          <li>TONAYA</li>
          <li>TONILA</li>
          <li>TOTATICHE</li>
          <li>TOTOTLAN</li>
          <li>TUXCACUESCO</li>
          <li>TUXCUECA</li>
          <li>TUXPAN</li>
          <li>UNION DE SAN ANTONIO</li>
          <li>UNION DE TULA</li>
          <li>VALLE DE GUADALUPE</li>
          <li>VALLE DE JUAREZ</li>
          <li>VILLA CORONA</li>
          <li>VILLA GUERRERO</li>
          <li>VILLA HIDALGO</li>
          <li>VILLA PURIFICACION</li>
          <li>YAHUALICA DE GONZALEZ GALLO</li>
          <li>ZACOALCO DE TORRES</li>
          <li>ZAPOPAN</li>
          <li>ZAPOTILTIC</li>
          <li>ZAPOTITLAN DE VADILLO</li>
          <li>ZAPOTLAN DEL REY</li>
          <li>ZAPOTLAN EL GRANDE</li>
          <li>ZAPOTLANEJO</li>
        </ul>
      </div>

      <div class="state-block" flex="33" flex-sm="50" flex-xs="50">

        <div class="state-image" style="background-image: url('images/locations/edomex.jpg')">
          <div class="state-label">
            <h3>Estado de México <a href="#" ng-click="vm.stateOfMexicoIsActive = !vm.stateOfMexicoIsActive"><small>Ver
                  municipios</small></a></h3>
          </div>
        </div>

        <ul ng-show="vm.stateOfMexicoIsActive">
          <li>ACAMBAY</li>
          <li>ACOLMAN</li>
          <li>ACULCO</li>
          <li>ALMOLOYA DE ALQUISIRAS</li>
          <li>ALMOLOYA DE JUAREZ</li>
          <li>ALMOLOYA DEL RIO</li>
          <li>AMANALCO</li>
          <li>AMATEPEC</li>
          <li>AMECAMECA</li>
          <li>APAXCO</li>
          <li>ATENCO</li>
          <li>ATIZAPAN</li>
          <li>ATIZAPAN DE ZARAGOZA</li>
          <li>ATLACOMULCO</li>
          <li>ATLAUTLA</li>
          <li>AXAPUSCO</li>
          <li>AYAPANGO</li>
          <li>CALIMAYA</li>
          <li>CAPULHUAC</li>
          <li>CHALCO</li>
          <li>CHAPA DE MOTA</li>
          <li>CHAPULTEPEC</li>
          <li>CHIAUTLA</li>
          <li>CHICOLOAPAN</li>
          <li>CHICONCUAC</li>
          <li>CHIMALHUACAN</li>
          <li>COACALCO DE BERRIOZABAL</li>
          <li>COATEPEC HARINAS</li>
          <li>COCOTITLAN</li>
          <li>COYOTEPEC</li>
          <li>CUAUTITLAN</li>
          <li>CUAUTITLAN IZCALLI</li>
          <li>DONATO GUERRA</li>
          <li>ECATEPEC DE MORELOS</li>
          <li>ECATZINGO</li>
          <li>EL ORO</li>
          <li>HUEHUETOCA</li>
          <li>HUEYPOXTLA</li>
          <li>HUIXQUILUCAN</li>
          <li>ISIDRO FABELA</li>
          <li>IXTAPALUCA</li>
          <li>IXTAPAN DE LA SAL</li>
          <li>IXTAPAN DEL ORO</li>
          <li>IXTLAHUACA</li>
          <li>JALTENCO</li>
          <li>JILOTEPEC</li>
          <li>JILOTZINGO</li>
          <li>JIQUIPILCO</li>
          <li>JOCOTITLAN</li>
          <li>JOQUICINGO</li>
          <li>JUCHITEPEC</li>
          <li>LA PAZ</li>
          <li>LERMA</li>
          <li>LUVIANOS</li>
          <li>MALINALCO</li>
          <li>MELCHOR OCAMPO</li>
          <li>METEPEC</li>
          <li>MEXICALTZINGO</li>
          <li>MORELOS</li>
          <li>NAUCALPAN DE JUAREZ</li>
          <li>NEXTLALPAN</li>
          <li>NEZAHUALCOYOTL</li>
          <li>NICOLAS ROMERO</li>
          <li>NOPALTEPEC</li>
          <li>OCOYOACAC</li>
          <li>OCUILAN</li>
          <li>OTUMBA</li>
          <li>OTZOLOAPAN</li>
          <li>OTZOLOTEPEC</li>
          <li>OZUMBA</li>
          <li>PAPALOTLA</li>
          <li>POLOTITLAN</li>
          <li>RAYON</li>
          <li>SAN ANTONIO LA ISLA</li>
          <li>SAN FELIPE DEL PROGRESO</li>
          <li>SAN JOSE DEL RINCON</li>
          <li>SAN MARTIN DE LAS PIRAMIDES</li>
          <li>SAN MATEO ATENCO</li>
          <li>SAN SIMON DE GUERRERO</li>
          <li>SANTO TOMAS</li>
          <li>SOYANIQUILPAN DE JUAREZ</li>
          <li>SULTEPEC</li>
          <li>TECAMAC</li>
          <li>TEJUPILCO</li>
          <li>TEMAMATLA</li>
          <li>TEMASCALAPA</li>
          <li>TEMASCALCINGO</li>
          <li>TEMASCALTEPEC</li>
          <li>TEMOAYA</li>
          <li>TENANCINGO</li>
          <li>TENANGO DEL AIRE</li>
          <li>TENANGO DEL VALLE</li>
          <li>TEOLOYUCAN</li>
          <li>TEOTIHUACAN</li>
          <li>TEPETLAOXTOC</li>
          <li>TEPETLIXPA</li>
          <li>TEPOTZOTLAN</li>
          <li>TEQUIXQUIAC</li>
          <li>TEXCALTITLAN</li>
          <li>TEXCALYACAC</li>
          <li>TEXCOCO</li>
          <li>TEZOYUCA</li>
          <li>TIANGUISTENCO</li>
          <li>TIMILPAN</li>
          <li>TLALMANALCO</li>
          <li>TLALNEPANTLA DE BAZ</li>
          <li>TLATLAYA</li>
          <li>TOLUCA</li>
          <li>TONANITLA</li>
          <li>TONATICO</li>
          <li>TULTEPEC</li>
          <li>TULTITLAN</li>
          <li>VALLE DE BRAVO</li>
          <li>VALLE DE CHALCO SOLIDARIDAD</li>
          <li>VILLA DE ALLENDE</li>
          <li>VILLA DEL CARBON</li>
          <li>VILLA GUERRERO</li>
          <li>VILLA VICTORIA</li>
          <li>XALATLACO</li>
          <li>XONACATLAN</li>
          <li>ZACAZONAPAN</li>
          <li>ZACUALPAN</li>
          <li>ZINACANTEPEC</li>
          <li>ZUMPAHUACAN</li>
          <li>ZUMPANGO</li>
        </ul>
      </div>

      <div class="state-block" flex="33" flex-sm="50" flex-xs="50">

        <div class="state-image" style="background-image: url('images/locations/nuevo-leon.jpg')">
          <div class="state-label">
            <h3>Nuevo León <a href="#" ng-click="vm.nuevoLeonIsActive = !vm.nuevoLeonIsActive"><small>Ver
                  municipios</small></a></h3>
          </div>
        </div>

        <ul ng-show="vm.nuevoLeonIsActive">
          <li>ABASOLO</li>
          <li>AGUALEGUAS</li>
          <li>ALLENDE</li>
          <li>ANAHUAC</li>
          <li>APODACA</li>
          <li>ARAMBERRI</li>
          <li>BUSTAMANTE</li>
          <li>CADEREYTA JIMENEZ</li>
          <li>CARMEN</li>
          <li>CERRALVO</li>
          <li>CHINA</li>
          <li>CIENEGA DE FLORES</li>
          <li>DOCTOR ARROYO</li>
          <li>DOCTOR COSS</li>
          <li>DOCTOR GONZALEZ</li>
          <li>EL CARMEN</li>
          <li>GALEANA</li>
          <li>GARCIA</li>
          <li>GENERAL BRAVO</li>
          <li>GENERAL ESCOBEDO</li>
          <li>GENERAL TERAN</li>
          <li>GENERAL TREVINO</li>
          <li>GENERAL ZARAGOZA</li>
          <li>GENERAL ZUAZUA</li>
          <li>GUADALUPE</li>
          <li>HIDALGO</li>
          <li>HIGUERAS</li>
          <li>HUALAHUISES</li>
          <li>ITURBIDE</li>
          <li>JUAREZ</li>
          <li>LAMPAZOS DE NARANJO</li>
          <li>LINARES</li>
          <li>LOS ALDAMAS</li>
          <li>LOS HERRERAS</li>
          <li>LOS RAMONES</li>
          <li>MARIN</li>
          <li>MELCHOR OCAMPO</li>
          <li>MIER Y NORIEGA</li>
          <li>MINA</li>
          <li>MONTEMORELOS</li>
          <li>MONTERREY</li>
          <li>PARAS</li>
          <li>PESQUERIA</li>
          <li>RAYONES</li>
          <li>SABINAS HIDALGO</li>
          <li>SALINAS VICTORIA</li>
          <li>SAN NICOLAS DE LOS GARZA</li>
          <li>SAN PEDRO GARZA GARCIA</li>
          <li>SANTA CATARINA</li>
          <li>SANTIAGO</li>
          <li>VALLECILLO</li>
          <li>VILLALDAMA</li>
        </ul>
      </div>

      <div class="state-block" flex="33" flex-sm="50" flex-xs="50">

        <div class="state-image" style="background-image: url('images/locations/puebla.jpg')">
          <div class="state-label">
            <h3>Puebla <a href="#" ng-click="vm.pueblaIsActive = !vm.pueblaIsActive"><small>Ver municipios</small></a>
            </h3>
          </div>
        </div>

        <ul ng-show="vm.pueblaIsActive">
          <li>ACAJETE</li>
          <li>ACATENO</li>
          <li>ACATLAN</li>
          <li>ACATZINGO</li>
          <li>ACTEOPAN</li>
          <li>AHUACATLAN</li>
          <li>AHUATLAN</li>
          <li>AHUAZOTEPEC</li>
          <li>AHUEHUETITLA</li>
          <li>AJALPAN</li>
          <li>ALBINO ZERTUCHE</li>
          <li>ALJOJUCA</li>
          <li>ALTEPEXI</li>
          <li>AMIXTLAN</li>
          <li>AMOZOC</li>
          <li>AQUIXTLA</li>
          <li>ATEMPAN</li>
          <li>ATEXCAL</li>
          <li>ATLEQUIZAYAN</li>
          <li>ATLIXCO</li>
          <li>ATOYATEMPAN</li>
          <li>ATZALA</li>
          <li>ATZITZIHUACAN</li>
          <li>ATZITZINTLA</li>
          <li>AXUTLA</li>
          <li>AYOTOXCO DE GUERRERO</li>
          <li>CALPAN</li>
          <li>CALTEPEC</li>
          <li>CAMOCUAUTLA</li>
          <li>CANADA MORELOS</li>
          <li>CAXHUACAN</li>
          <li>CHALCHICOMULA DE SESMA</li>
          <li>CHAPULCO</li>
          <li>CHIAUTLA</li>
          <li>CHIAUTZINGO</li>
          <li>CHICHIQUILA</li>
          <li>CHICONCUAUTLA</li>
          <li>CHIETLA</li>
          <li>CHIGMECATITLAN</li>
          <li>CHIGNAHUAPAN</li>
          <li>CHIGNAUTLA</li>
          <li>CHILA</li>
          <li>CHILA DE LA SAL</li>
          <li>CHILCHOTLA</li>
          <li>CHINANTLA</li>
          <li>COATEPEC</li>
          <li>COATZINGO</li>
          <li>COHETZALA</li>
          <li>COHUECAN</li>
          <li>CORONANGO</li>
          <li>COXCATLAN</li>
          <li>COYOMEAPAN</li>
          <li>COYOTEPEC</li>
          <li>CUAPIAXTLA DE MADERO</li>
          <li>CUAUTEMPAN</li>
          <li>CUAUTINCHAN</li>
          <li>CUAUTLANCINGO</li>
          <li>CUAYUCA DE ANDRADE</li>
          <li>CUETZALAN DEL PROGRESO</li>
          <li>CUYOACO</li>
          <li>DOMINGO ARENAS</li>
          <li>ELOXOCHITLAN</li>
          <li>EPATLAN</li>
          <li>ESPERANZA</li>
          <li>FRANCISCO Z MENA</li>
          <li>GENERAL FELIPE ANGELES</li>
          <li>GUADALUPE</li>
          <li>GUADALUPE VICTORIA</li>
          <li>HERMENEGILDO GALEANA</li>
          <li>HONEY</li>
          <li>HUAQUECHULA</li>
          <li>HUATLATLAUCA</li>
          <li>HUAUCHINANGO</li>
          <li>HUEHUETLA</li>
          <li>HUEHUETLAN EL CHICO</li>
          <li>HUEHUETLAN EL GRANDE</li>
          <li>HUEJOTZINGO</li>
          <li>HUEYAPAN</li>
          <li>HUEYTAMALCO</li>
          <li>HUEYTLALPAN</li>
          <li>HUITZILAN DE SERDAN</li>
          <li>HUITZILTEPEC</li>
          <li>IXCAMILPA DE GUERRERO</li>
          <li>IXCAQUIXTLA</li>
          <li>IXTACAMAXTITLAN</li>
          <li>IXTEPEC</li>
          <li>IZUCAR DE MATAMOROS</li>
          <li>JALPAN</li>
          <li>JOLALPAN</li>
          <li>JONOTLA</li>
          <li>JOPALA</li>
          <li>JUAN C BONILLA</li>
          <li>JUAN GALINDO</li>
          <li>JUAN N MENDEZ</li>
          <li>LA MAGDALENA TLATLAUQUITEPEC</li>
          <li>LAFRAGUA</li>
          <li>LIBRES</li>
          <li>LOS REYES DE JUAREZ</li>
          <li>MAZAPILTEPEC DE JUAREZ</li>
          <li>MIXTLA</li>
          <li>MOLCAXAC</li>
          <li>NAUPAN</li>
          <li>NAUZONTLA</li>
          <li>NEALTICAN</li>
          <li>NICOLAS BRAVO</li>
          <li>NOPALUCAN</li>
          <li>OCOTEPEC</li>
          <li>OCOYUCAN</li>
          <li>OLINTLA</li>
          <li>ORIENTAL</li>
          <li>PAHUATLAN</li>
          <li>PALMAR DE BRAVO</li>
          <li>PANTEPEC</li>
          <li>PETLALCINGO</li>
          <li>PIAXTLA</li>
          <li>PUEBLA</li>
          <li>QUECHOLAC</li>
          <li>QUIMIXTLAN</li>
          <li>RAFAEL LARA GRAJALES</li>
          <li>SAN ANDRES CHOLULA</li>
          <li>SAN ANTONIO CANADA</li>
          <li>SAN DIEGO LA MESA TOCHIMILTZINGO</li>
          <li>SAN FELIPE TEOTLALCINGO</li>
          <li>SAN FELIPE TEPATLAN</li>
          <li>SAN GABRIEL CHILAC</li>
          <li>SAN GREGORIO ATZOMPA</li>
          <li>SAN JERONIMO TECUANIPAN</li>
          <li>SAN JERONIMO XAYACATLAN</li>
          <li>SAN JOSE CHIAPA</li>
          <li>SAN JOSE MIAHUATLAN</li>
          <li>SAN JUAN ATENCO</li>
          <li>SAN JUAN ATZOMPA</li>
          <li>SAN MARTIN TEXMELUCAN</li>
          <li>SAN MARTIN TOTOLTEPEC</li>
          <li>SAN MATIAS TLALANCALECA</li>
          <li>SAN MIGUEL IXITLAN</li>
          <li>SAN MIGUEL XOXTLA</li>
          <li>SAN NICOLAS BUENOS AIRES</li>
          <li>SAN NICOLAS DE LOS RANCHOS</li>
          <li>SAN PABLO ANICANO</li>
          <li>SAN PEDRO CHOLULA</li>
          <li>SAN PEDRO YELOIXTLAHUACA</li>
          <li>SAN SALVADOR EL SECO</li>
          <li>SAN SALVADOR EL VERDE</li>
          <li>SAN SALVADOR HUIXCOLOTLA</li>
          <li>SAN SEBASTIAN TLACOTEPEC</li>
          <li>SANTA CATARINA TLALTEMPAN</li>
          <li>SANTA INES AHUATEMPAN</li>
          <li>SANTA ISABEL CHOLULA</li>
          <li>SANTIAGO MIAHUATLAN</li>
          <li>SANTO TOMAS HUEYOTLIPAN</li>
          <li>SOLTEPEC</li>
          <li>TECALI DE HERRERA</li>
          <li>TECAMACHALCO</li>
          <li>TECOMATLAN</li>
          <li>TEHUACAN</li>
          <li>TEHUITZINGO</li>
          <li>TENAMPULCO</li>
          <li>TEOPANTLAN</li>
          <li>TEOTLALCO</li>
          <li>TEPANCO DE LOPEZ</li>
          <li>TEPANGO DE RODRIGUEZ</li>
          <li>TEPATLAXCO DE HIDALGO</li>
          <li>TEPEACA</li>
          <li>TEPEMAXALCO</li>
          <li>TEPEOJUMA</li>
          <li>TEPETZINTLA</li>
          <li>TEPEXCO</li>
          <li>TEPEXI DE RODRIGUEZ</li>
          <li>TEPEYAHUALCO</li>
          <li>TEPEYAHUALCO DE CUAUHTEMOC</li>
          <li>TETELA DE OCAMPO</li>
          <li>TETELES DE AVILA CASTILLO</li>
          <li>TEZIUTLAN</li>
          <li>TIANGUISMANALCO</li>
          <li>TILAPA</li>
          <li>TLACHICHUCA</li>
          <li>TLACOTEPEC DE BENITO JUAREZ</li>
          <li>TLACUILOTEPEC</li>
          <li>TLAHUAPAN</li>
          <li>TLALTENANGO</li>
          <li>TLANEPANTLA</li>
          <li>TLAOLA</li>
          <li>TLAPACOYA</li>
          <li>TLAPANALA</li>
          <li>TLATLAUQUITEPEC</li>
          <li>TLAXCO</li>
          <li>TOCHIMILCO</li>
          <li>TOCHTEPEC</li>
          <li>TOTOLTEPEC DE GUERRERO</li>
          <li>TULCINGO</li>
          <li>TUZAMAPAN DE GALEANA</li>
          <li>TZICATLACOYAN</li>
          <li>VENUSTIANO CARRANZA</li>
          <li>VICENTE GUERRERO</li>
          <li>XAYACATLAN DE BRAVO</li>
          <li>XICOTEPEC</li>
          <li>XICOTLAN</li>
          <li>XIUTETELCO</li>
          <li>XOCHIAPULCO</li>
          <li>XOCHILTEPEC</li>
          <li>XOCHITLAN DE VICENTE SUAREZ</li>
          <li>XOCHITLAN TODOS SANTOS</li>
          <li>YAONAHUAC</li>
          <li>YEHUALTEPEC</li>
          <li>ZACAPALA</li>
          <li>ZACAPOAXTLA</li>
          <li>ZACATLAN</li>
          <li>ZAPOTITLAN</li>
          <li>ZAPOTITLAN DE MENDEZ</li>
          <li>ZARAGOZA</li>
          <li>ZAUTLA</li>
          <li>ZIHUATEUTLA</li>
          <li>ZINACATEPEC</li>
          <li>ZONGOZOTLA</li>
          <li>ZOQUIAPAN</li>
          <li>ZOQUITLAN</li>
        </ul>
      </div>

      <div class="state-block" flex="33" flex-sm="50" flex-xs="50">

        <div class="state-image" style="background-image: url('images/locations/queretaro.jpg')">
          <div class="state-label">
            <h3>Queretaro <a href="#" ng-click="vm.queretaroIsActive = !vm.queretaroIsActive"><small>Ver
                  municipios</small></a></h3>
          </div>
        </div>

        <ul ng-show="vm.queretaroIsActive">
          <li>AMEALCO DE BONFIL</li>
          <li>ARROYO SECO</li>
          <li>CADEREYTA DE MONTES</li>
          <li>COLON</li>
          <li>CORREGIDORA</li>
          <li>EL MARQUES</li>
          <li>EZEQUIEL MONTES</li>
          <li>HUIMILPAN</li>
          <li>JALPAN DE SERRA</li>
          <li>LANDA DE MATAMOROS</li>
          <li>PEDRO ESCOBEDO</li>
          <li>PENAMILLER</li>
          <li>PINAL DE AMOLES</li>
          <li>QUERETARO</li>
          <li>SAN JOAQUIN</li>
          <li>SAN JUAN DEL RIO</li>
          <li>TEQUISQUIAPAN</li>
          <li>TOLIMAN</li>
        </ul>
      </div>

      <div class="state-block" flex="33" flex-sm="50" flex-xs="50">

        <div class="state-image" style="background-image: url('images/locations/quintana-roo.jpg')">
          <div class="state-label">
            <h3>Quintana Roo <a href="#" ng-click="vm.quintanaRooIsActive = !vm.quintanaRooIsActive"><small>Ver
                  municipios</small></a></h3>
          </div>
        </div>

        <ul ng-show="vm.quintanaRooIsActive">
          <li>BACALAR</li>
          <li>BENITO JUAREZ</li>
          <li>COZUMEL</li>
          <li>FELIPE CARRILLO PUERTO</li>
          <li>ISLA MUJERES</li>
          <li>JOSE MARIA MORELOS</li>
          <li>LAZARO CARDENAS</li>
          <li>OTHON P BLANCO</li>
          <li>SOLIDARIDAD</li>
          <li>TULUM</li>
        </ul>
      </div>

      <div class="state-block" flex="33" flex-sm="50" flex-xs="50">

        <div class="state-image" style="background-image: url('images/locations/tabasco.jpg')">
          <div class="state-label">
            <h3>Tabasco <a href="#" ng-click="vm.tabascoIsActive = !vm.tabascoIsActive"><small>Ver
                  municipios</small></a></h3>
          </div>
        </div>

        <ul ng-show="vm.tabascoIsActive">
          <li>BALANCAN</li>
          <li>CARDENAS</li>
          <li>CENTLA</li>
          <li>CENTRO</li>
          <li>COMALCALCO</li>
          <li>CUNDUACAN</li>
          <li>EMILIANO ZAPATA</li>
          <li>HUIMANGUILLO</li>
          <li>JALAPA</li>
          <li>JALPA DE MENDEZ</li>
          <li>JONUTA</li>
          <li>MACUSPANA</li>
          <li>NACAJUCA</li>
          <li>PARAISO</li>
          <li>TACOTALPA</li>
          <li>TEAPA</li>
          <li>TENOSIQUE</li>
        </ul>
      </div>

      <div class="state-block" flex="33" flex-sm="50" flex-xs="50">

        <div class="state-image" style="background-image: url('images/locations/veracruz.jpg')">
          <div class="state-label">
            <h3>Veracruz <a href="#" ng-click="vm.isVeracruzActive = !vm.isVeracruzActive"><small>Ver
                  municipios</small></a></h3>
          </div>
        </div>

        <ul ng-show="vm.isVeracruzActive">
          <li>3 VALLES</li>
          <li>ACAJETE</li>
          <li>ACATLAN</li>
          <li>ACAYUCAN</li>
          <li>ACTOPAN</li>
          <li>ACULA</li>
          <li>ACULTZINGO</li>
          <li>AGUA DULCE</li>
          <li>ALAMO TEMAPACHE</li>
          <li>ALPATLAHUAC</li>
          <li>ALTO LUCERO DE GUTIERREZ BARRIOS</li>
          <li>ALTOTONGA</li>
          <li>ALVARADO</li>
          <li>AMATITLAN</li>
          <li>AMATLAN DE LOS REYES</li>
          <li>ANGEL R CABADA</li>
          <li>APAZAPAN</li>
          <li>AQUILA</li>
          <li>ASTACINGA</li>
          <li>ATLAHUILCO</li>
          <li>ATOYAC</li>
          <li>ATZACAN</li>
          <li>ATZALAN</li>
          <li>AYAHUALULCO</li>
          <li>BANDERILLA</li>
          <li>BENITO JUAREZ</li>
          <li>BOCA DEL RIO</li>
          <li>CALCAHUALCO</li>
          <li>CAMARON DE TEJEDA</li>
          <li>CAMERINO Z MENDOZA</li>
          <li>CARLOS A CARRILLO</li>
          <li>CARRILLO PUERTO</li>
          <li>CASTILLO DE TEAYO</li>
          <li>CATEMACO</li>
          <li>CAZONES DE HERRERA</li>
          <li>CERRO AZUL</li>
          <li>CHACALTIANGUIS</li>
          <li>CHALMA</li>
          <li>CHICONAMEL</li>
          <li>CHICONQUIACO</li>
          <li>CHICONTEPEC</li>
          <li>CHINAMECA</li>
          <li>CHINAMPA DE GOROSTIZA</li>
          <li>CHOCAMAN</li>
          <li>CHONTLA</li>
          <li>CHUMATLAN</li>
          <li>CITLALTEPETL</li>
          <li>COACOATZINTLA</li>
          <li>COAHUITLAN</li>
          <li>COATEPEC</li>
          <li>COATZACOALCOS</li>
          <li>COATZINTLA</li>
          <li>COETZALA</li>
          <li>COLIPA</li>
          <li>COMAPA</li>
          <li>CORDOBA</li>
          <li>COSAMALOAPAN DE CARPIO</li>
          <li>COSAUTLAN DE CARVAJAL</li>
          <li>COSCOMATEPEC</li>
          <li>COSOLEACAQUE</li>
          <li>COTAXTLA</li>
          <li>COXQUIHUI</li>
          <li>COYUTLA</li>
          <li>CUICHAPA</li>
          <li>CUITLAHUAC</li>
          <li>EL HIGO</li>
          <li>EMILIANO ZAPATA</li>
          <li>ESPINAL</li>
          <li>FILOMENO MATA</li>
          <li>FORTIN</li>
          <li>GUTIERREZ ZAMORA</li>
          <li>HIDALGOTITLAN</li>
          <li>HUATUSCO</li>
          <li>HUAYACOCOTLA</li>
          <li>HUEYAPAN DE OCAMPO</li>
          <li>HUILOAPAN DE CUAUHTEMOC</li>
          <li>IGNACIO DE LA LLAVE</li>
          <li>ILAMATLAN</li>
          <li>ISLA</li>
          <li>IXCATEPEC</li>
          <li>IXHUACAN DE LOS REYES</li>
          <li>IXHUATLAN DE MADERO</li>
          <li>IXHUATLAN DEL CAFE</li>
          <li>IXHUATLAN DEL SURESTE</li>
          <li>IXHUATLANCILLO</li>
          <li>IXMATLAHUACAN</li>
          <li>IXTACZOQUITLAN</li>
          <li>JALACINGO</li>
          <li>JALCOMULCO</li>
          <li>JALTIPAN</li>
          <li>JAMAPA</li>
          <li>JESUS CARRANZA</li>
          <li>JILOTEPEC</li>
          <li>JOSE AZUETA</li>
          <li>JUAN RODRIGUEZ CLARA</li>
          <li>JUCHIQUE DE FERRER</li>
          <li>LA ANTIGUA</li>
          <li>LA PERLA</li>
          <li>LANDERO Y COSS</li>
          <li>LAS CHOAPAS</li>
          <li>LAS MINAS</li>
          <li>LAS VIGAS DE RAMIREZ</li>
          <li>LERDO DE TEJADA</li>
          <li>LOS REYES</li>
          <li>MAGDALENA</li>
          <li>MALTRATA</li>
          <li>MANLIO FABIO ALTAMIRANO</li>
          <li>MARIANO ESCOBEDO</li>
          <li>MARTINEZ DE LA TORRE</li>
          <li>MECATLAN</li>
          <li>MECAYAPAN</li>
          <li>MEDELLIN</li>
          <li>MIAHUATLAN</li>
          <li>MINATITLAN</li>
          <li>MISANTLA</li>
          <li>MIXTLA DE ALTAMIRANO</li>
          <li>MOLOACAN</li>
          <li>NANCHITAL DE LAZARO CARDENAS DEL RIO</li>
          <li>NAOLINCO</li>
          <li>NARANJAL</li>
          <li>NARANJOS AMATLAN</li>
          <li>NAUTLA</li>
          <li>NOGALES</li>
          <li>OLUTA</li>
          <li>OMEALCA</li>
          <li>ORIZABA</li>
          <li>OTATITLAN</li>
          <li>OTEAPAN</li>
          <li>OZULUAMA DE MASCARENAS</li>
          <li>PAJAPAN</li>
          <li>PANUCO</li>
          <li>PAPANTLA</li>
          <li>PASO DE OVEJAS</li>
          <li>PASO DEL MACHO</li>
          <li>PEROTE</li>
          <li>PLATON SANCHEZ</li>
          <li>PLAYA VICENTE</li>
          <li>POZA RICA DE HIDALGO</li>
          <li>PUEBLO VIEJO</li>
          <li>PUENTE NACIONAL</li>
          <li>RAFAEL DELGADO</li>
          <li>RAFAEL LUCIO</li>
          <li>RIO BLANCO</li>
          <li>SALTABARRANCA</li>
          <li>SAN ANDRES TENEJAPAN</li>
          <li>SAN ANDRES TUXTLA</li>
          <li>SAN JUAN EVANGELISTA</li>
          <li>SAN RAFAEL</li>
          <li>SANTIAGO SOCHIAPAN</li>
          <li>SANTIAGO TUXTLA</li>
          <li>SAYULA DE ALEMAN</li>
          <li>SOCHIAPA</li>
          <li>SOCONUSCO</li>
          <li>SOLEDAD ATZOMPA</li>
          <li>SOLEDAD DE DOBLADO</li>
          <li>SOTEAPAN</li>
          <li>TAMALIN</li>
          <li>TAMIAHUA</li>
          <li>TAMPICO ALTO</li>
          <li>TANCOCO</li>
          <li>TANTIMA</li>
          <li>TANTOYUCA</li>
          <li>TATAHUICAPAN DE JUAREZ</li>
          <li>TATATILA</li>
          <li>TECOLUTLA</li>
          <li>TEHUIPANGO</li>
          <li>TEMPOAL</li>
          <li>TENAMPA</li>
          <li>TENOCHTITLAN</li>
          <li>TEOCELO</li>
          <li>TEPATLAXCO</li>
          <li>TEPETLAN</li>
          <li>TEPETZINTLA</li>
          <li>TEQUILA</li>
          <li>TEXCATEPEC</li>
          <li>TEXHUACAN</li>
          <li>TEXISTEPEC</li>
          <li>TEZONAPA</li>
          <li>TIERRA BLANCA</li>
          <li>TIHUATLAN</li>
          <li>TLACHICHILCO</li>
          <li>TLACOJALPAN</li>
          <li>TLACOLULAN</li>
          <li>TLACOTALPAN</li>
          <li>TLACOTEPEC DE MEJIA</li>
          <li>TLALIXCOYAN</li>
          <li>TLALNELHUAYOCAN</li>
          <li>TLALTETELA</li>
          <li>TLAPACOYAN</li>
          <li>TLAQUILPA</li>
          <li>TLILAPAN</li>
          <li>TOMATLAN</li>
          <li>TONAYAN</li>
          <li>TOTUTLA</li>
          <li>TUXPAN</li>
          <li>TUXTILLA</li>
          <li>URSULO GALVAN</li>
          <li>UXPANAPA</li>
          <li>VEGA DE ALATORRE</li>
          <li>VERACRUZ</li>
          <li>VILLA ALDAMA</li>
          <li>XALAPA</li>
          <li>XICO</li>
          <li>XOXOCOTLA</li>
          <li>YANGA</li>
          <li>YECUATLA</li>
          <li>ZACUALPAN</li>
          <li>ZARAGOZA</li>
          <li>ZENTLA</li>
          <li>ZONGOLICA</li>
          <li>ZONTECOMATLAN DE LOPEZ Y FUENTES</li>
          <li>ZOZOCOLCO DE HIDALGO</li>
        </ul>
      </div>

      <div class="state-block" flex="33" flex-sm="50" flex-xs="50">

        <div class="state-image" style="background-image: url('images/locations/yucatan.jpg')">
          <div class="state-label">
            <h3>Yucatán <a href="#" ng-click="vm.isYucatanActive = !vm.isYucatanActive"><small>Ver
                  municipios</small></a></h3>
          </div>
        </div>

        <ul ng-show="vm.isYucatanActive">
          <li>ABALA</li>
          <li>ACANCEH</li>
          <li>AKIL</li>
          <li>BACA</li>
          <li>BOKOBA</li>
          <li>BUCTZOTZ</li>
          <li>CACALCHEN</li>
          <li>CALOTMUL</li>
          <li>CANSAHCAB</li>
          <li>CANTAMAYEC</li>
          <li>CELESTUN</li>
          <li>CENOTILLO</li>
          <li>CHACSINKIN</li>
          <li>CHANKOM</li>
          <li>CHAPAB</li>
          <li>CHEMAX</li>
          <li>CHICHIMILA</li>
          <li>CHICXULUB PUEBLO</li>
          <li>CHIKINDZONOT</li>
          <li>CHOCHOLA</li>
          <li>CHUMAYEL</li>
          <li>CONKAL</li>
          <li>CUNCUNUL</li>
          <li>CUZAMA</li>
          <li>DZAN</li>
          <li>DZEMUL</li>
          <li>DZIDZANTUN</li>
          <li>DZILAM DE BRAVO</li>
          <li>DZILAM GONZALEZ</li>
          <li>DZITAS</li>
          <li>DZONCAUICH</li>
          <li>ESPITA</li>
          <li>HALACHO</li>
          <li>HOCABA</li>
          <li>HOCTUN</li>
          <li>HOMUN</li>
          <li>HUHI</li>
          <li>HUNUCMA</li>
          <li>IXIL</li>
          <li>IZAMAL</li>
          <li>KANASIN</li>
          <li>KANTUNIL</li>
          <li>KAUA</li>
          <li>KINCHIL</li>
          <li>KOPOMA</li>
          <li>MAMA</li>
          <li>MANI</li>
          <li>MAXCANU</li>
          <li>MAYAPAN</li>
          <li>MERIDA</li>
          <li>MOCOCHA</li>
          <li>MOTUL</li>
          <li>MUNA</li>
          <li>MUXUPIP</li>
          <li>OPICHEN</li>
          <li>OXKUTZCAB</li>
          <li>PANABA</li>
          <li>PETO</li>
          <li>PROGRESO</li>
          <li>QUINTANA ROO</li>
          <li>RIO LAGARTOS</li>
          <li>SACALUM</li>
          <li>SAMAHIL</li>
          <li>SAN FELIPE</li>
          <li>SANAHCAT</li>
          <li>SANTA ELENA</li>
          <li>SEYE</li>
          <li>SINANCHE</li>
          <li>SOTUTA</li>
          <li>SUCILA</li>
          <li>SUDZAL</li>
          <li>SUMA</li>
          <li>TAHDZIU</li>
          <li>TAHMEK</li>
          <li>TEABO</li>
          <li>TECOH</li>
          <li>TEKAL DE VENEGAS</li>
          <li>TEKANTO</li>
          <li>TEKAX</li>
          <li>TEKIT</li>
          <li>TEKOM</li>
          <li>TELCHAC PUEBLO</li>
          <li>TELCHAC PUERTO</li>
          <li>TEMAX</li>
          <li>TEMOZON</li>
          <li>TEPAKAN</li>
          <li>TETIZ</li>
          <li>TEYA</li>
          <li>TICUL</li>
          <li>TIMUCUY</li>
          <li>TINUM</li>
          <li>TIXCACALCUPUL</li>
          <li>TIXKOKOB</li>
          <li>TIXMEHUAC</li>
          <li>TIXPEHUAL</li>
          <li>TIZIMIN</li>
          <li>TUNKAS</li>
          <li>TZUCACAB</li>
          <li>UAYMA</li>
          <li>UCU</li>
          <li>UMAN</li>
          <li>VALLADOLID</li>
          <li>XOCCHEL</li>
          <li>YAXCABA</li>
          <li>YAXKUKUL</li>
          <li>YOBAIN</li>
        </ul>
      </div>

    </div>
  </div>
</section>
