<section class="terms-view">

	<div class="container container-xlg">
		<h1 class="section-title">﻿⁠⁠⁠Políticas de entrega</h1>		
		<div ng-bind-html="vm.trustAsHtml(main.site.deliveryText)"></div>

		<!--
		<h2>Comunicación con el cliente</h2>
		<ul>
			<li>El personal de entrega llamará al cliente un día después de la compra para coordinar la fecha de entrega.</li>
			<li>Mínimo 24 horas antes de la entrega, el personal de entrega coordinará con el cliente los horarios de entrega.</li>
			<li>1 hora antes de la entrega, el personal de entrega realizara una llamada telefónica de cortesía para asegurar la presencia del cliente, o de la persona autorizada para recibir los artículos adquiridos, en el domicilio registrado.</li>
		</ul>

		<h2>Tiempos de entrega:</h2>
		<ul>
			<li>Cada articulo especifica su tiempo de entrega aproximado. Sin embargo, pueden surgir retrasos por causas ajenas. En estos casos favor de avisar al cliente de la nueva fecha aproximada de entrega.</li>
			<li>Existe el servicio de Entrega Express (sujeto a disponibilidad).</li>
		</ul>

		<h2>Entrega sin costo:</h2>
		<ul>
			<li>El primer intento de entrega (en la fecha programada) en un radio de 50 km de la tienda donde se realizó la compra, es sin costo.</li>
			<li>Para compras realizadas en Cancún o Playa del Carmen, el primer intento de entrega (en la fecha programada) a Tulum, es sin costo.</li>
			<li>En caso de que el cliente, o la persona autorizada para recibir los artículos adquiridos, no esté presente en la fecha programada, se procederá con una una nueva programación de entrega, la cual tendrá costo adicional.</li>
		</ul>

		<h2>Entrega con costo</h2>
		<ul>
			<li>A partir del segundo intento de entrega se aplica un costo de $696.00 pesos (iva incluido) por intento de entrega.</li>
			<li>Para un radio mayor a 50 km de la tienda donde se realizó la compra, aplica un costo adicional.</li>
			<li>Las entregas a partir del 4º piso, y en donde no se pueda usar el elevador, tendrán un costo adicional.</li>
			<li> Las visitas de instalación y/o ensamble posteriores a la primer fecha de entrega programada, tienen un costo adicional.</li>
		</ul>

		<h2>Condiciones generales:</h2>
		<p> El envío solamente se realizará al domicilio registrado durante el proceso de compra.</p>
		<p>Los siguientes casos se consideran como intento fallado de entrega:</p>
		<ul>
			<li>No contar con la presencia fisica del cliente, o la persona autorizada para recibir los artículos adquiridos, debido a que se requiere la firma de autorización de recepción y     documentación del estado de los artículos entregados.</li>
			<li>
				No poder acceder al domicilio en un máximo de 15 minutos después de la llegada del personal de entregas. Después de este tiempo el personal de entrega procederá con lo siguiente:
				<ul>
					<li>Toma de testigo de presencia en tiempo.</li>
					<li>Colocación de una nota de visita con los datos de contactos para una nueva programación de entrega con costo.</li>
					<li> Retiro del domicilio  de entrega.</li>
				</ul>
			</li>
			<li>No contar con la autorización de uso de elevadores.</li>
			<li>No contar con espacio para poder colocar, ensamblar y/o instalar los artículos.</li>
		</ul>
		-->

	</div>
</section>