<section class="terms-view">
	<div 
		class="banner" 
		layout="row" 
		layout-align="center center"
		style="background-image: url(../images/terms.jpg)"
		>
		<div class="banner-inner">
			<h1>﻿⁠⁠⁠Políticas de instalación y ensamble</h1>		
		</div>
	</div>
	<div class="container container-xlg">
		<ul>
			<!--
			<li>El cliente está en su libre derecho de no querer aprovechar el ensamble gratuito en la primer entrega programada, sin embargo la empresa no asume responsabilidad por daños y/o faltantes detectados después del retiro del personal de entregas.</li>
			<li>No se realizan maniobras especiales, como por ejemplo: desmonte de puertas o ventanas, mover muebles, volados, instalaciones eléctricas, entre otros.</li>
			<li>Si alguna instalación requiere perforar muros, está se realizará bajo el consentimiento y la responsabilidad exclusiva del cliente.</li>
			-->
			<li>Disponible solo en las localidades mencionadas a continuación: Cancún, Puerto Morelos, Playa del Carmen, Tulum y Mérida</li>
			<li>En las localidades con cobertura de armado; el servicio es gratuito si, se efectúa el mismo día de la entrega</li>
			<li>En las localidades con cobertura de armado; si alguna instalación requiere perforar muros, está se realizará bajo el consentimiento y la responsabilidad exclusiva del cliente</li>
		</ul>

	

		
	</div>
</section>