<section class="terms-view">
	<div 
		class="banner" 
		layout="row" 
		layout-align="center center"
		style="background-image: url(../images/terms.jpg)"
		>
		<div class="banner-inner">
			<h1>﻿⁠⁠⁠Preguntas frecuentes</h1>		
		</div>
	</div>
	<div class="container container-xlg">
		
		<h2>¿Qué beneficios obtengo al registrarme?</h2>
		<p>Realizar compras en línea cada que lo desees</p>
		<p>Facturar fiscalmente al finalizar tu compra</p>
		<p>Visualizar nuestras promociones de temporada, artículos exclusivos, liquidaciones, lo mas nuevo, ofertas entre otros.</p>
		<p>Recibir noticias de nuestras ventas nocturnas, preventas, promociones exclusivas para clientes Actual Group, Paquetes Actual Group y mucho mas.</p>
		<p>Generar compras como obsequio a tus seres queridos, ingresando sus datos de envío o entrega en línea.</p>

		<h2>¿Qué grado de seguridad tiene mis compras por internet?</h2>
		<p>Actual Group brinda a sus clientes al comprar en línea, proporcionado por los estándares de alta seguridad al garantizar la integridad su información que procesamos. No compartimos la base de datos de clientes con otras instituciones.</p>

		<p>Permanente</p>
		<p>Toda transacción es procesada directamente en nuestros servidores, de manera redundante con un up-time del 99.999 %.</p>

		<p>Encriptado</p>
		<p>Cada bit de información es encriptado con SSL para garantizar la integridad de todos los datos y las transacciones.</p>

		<p>Protegido</p>
		<p>Los procesos están avalados por diversas certificaciones y auditorías para garantizar que la información se mantenga segura y encriptada.</p>

		<p>PCI-DSS COMPLIANT</p>
		<p>Nuestros estándares de seguridad cubren todos los requerimientos de cumplimiento del certificado PCI-DSS para el procesamiento de tarjetas y almacenamiento datos datos sensibles.</p>

		<p>Integraciones seguras</p>
		<p>Al procesar toda transacción desde nuestros servidores certificados, las integraciones de nuestros clientes heredan el robusto blindaje de seguridad para procesamiento de tarjetas y manejo de datos sensibles.</p>
	
		<p>Tokenización de tarjetas</p>
		<p>Cada tarjeta procesada es encriptada automáticamente en nuestros servidores y convertida en un token alfanumérico único que será necesario para para acceder a los datos sensibles de la tarjeta y procesar futuros cargos.</p>

		<h2>¿Cuáles son las políticas de entrega de Actual Group? Días  hábiles.</h2>
		<p>Una vez que hayas elegido el(los) artículo(s) que deseas comprar e ingresado tu código postal, tendrás una fecha de entrega aproximada por cada artículo.</p>
		<p>En cada etapa de su pedido recibirá un correo electrónico indicándole su estatus.</p>
		<p>Ponemos a sus disposición los siguientes teléfonos (998) 195 8376 o (998) 195 6839  horario de servicio: Lunes – Viernes | 09:00 -  20:30 horas, donde le podrán informar a cerca de su pedido.</p>
		<p>La fecha de entrega aproximada será desplegada al momento de realizar su cotización o compra. </p>
		<p>La fecha de entrega aproximada dependerá del origen y destino del envío, peso, volumen del artículo, el tiempo y la frecuencia del medio de transportación hacía el destino de entrega.</p>
		<p>En el caso de tener algún retraso por causas ajenas, nos comunicaremos con usted para infórmale de la nueva fecha de entrega.</p>
		<p>Todos los productos disponibles a la venta en nuestro portal de internet, se surten directamente desde nuestros centros de distribución (cedis). </p>
		<p>Actual Group se reserva el derecho de entregar TODOS los artículos en un solo envío en la última fecha de entrega estimada</p>

		<h2>¿Cómo funciona la entrega en domicilio?</h2>
		<p>El envío solamente se realizará al domicilio proporcionado por el cliente en el proceso de la compra.</p>
		<p>Sí el titular de la compra no puede recibir el producto físicamente, proporcionar una copia del pedido a la persona que recibirá en domicilio y presentar identifiación oficial con fotografía vigente.</p>
		<p>Todas las entregas al cliente de sus artículos será a pie de camión.</p>
		<p>Actual Group no se hace responsable de maniobra especiales, tales como: subir el artículo a determinado nivel de piso, desmonte de puertas o ventanas, uso de elevadores, mover muebles, volados, instalaciones eléctricas, entre otros.</p>
		<p>El personal que realiza la entrega no está autorizado para realizar ningún tipo de instalación o reparación. </p>
		<p>Te pedimos que al recibir la entrega revises que el producto se encuentra en buen estado.</p>
		<p>Una vez realizada la entrega satisfactoriamente, favor de firmar el acuse de recibo que el personal de reparto le requiera.</p>
		<p>El personal de reparto podrá́ solicitarte la contestación de una encuesta de satisfacción.</p>


		<h2>¿Qué procede si no estoy en mi domicilio y llega la mensajería o flete?</h2>
		<p>En caso de que el cliente no este en la fecha programada para la entrega de sus artículos, ni persona alguna que lo represente, el  próximo intento de entrega será con cargo y costo al cliente.</p>
		<p>Los siguientes casos se consideran como intento fallido de entrega:</p>
		<ol>
			<li>No contar con la presencia física de una persona en el domicilio registrado en su pedido.</li>
			<li>No poder acceder al domicilio en un máximo de 15 minutos después de la llegada del personal de o contar con espacio para colocar los artículos</li>
		</ol>

		<h2>¿Es posible cambiar el domicilio de entrega?</h2>
		<p>Si, todo cambio de domicilio de entrega, será sujeto a una validación de autenticidad del cliente con la finalidad de verificar sus datos personales protegiendo su compra e integridad.</p>
		<p>Todo cambio de domicilio de entrega esta sujeto a revisión y cargos extras.</p>
		<p>Favor de comunicarse a los siguientes teléfonos: (998) 195 8376 o (998) 195 6839  horario de servicio: Lunes – Viernes | 09:00 -  20:30 horas</p>

		<h2>¿Cómo funciona la entrega EXPRESS? (sujeto a disponibilidad)</h2>
		<p>La entrega express esta disponible únicamente en la ciudades donde tenemos tiendas físicas.</p>
		<p>Tiene un costo adicional, el cual, corre por cuenta del cliente debido a que es un servicio especial.</p>
		<p>Favor de comunicarse a los siguientes teléfonos: (998) 195 8376 o (998) 195 6839  horario de servicio: Lunes – Viernes | 09:00 -  20:30 horas</p>


		<h2>¿Cómo le doy seguimiento a mi orden de compra?</h2>
		<p>Para Actual Group la transparencia de compra y manejo de la misma es muy importante, por tal motivo al momento de finalizar tu compra, de manera casi instantánea recibirá un correo electrónico de la orden realizada para tu conocimiento.</p>
		<p>En el momento que tu compra es colocada en el servicio de reparto, recibirás un email con la notificación de que tu orden ha salido de nuestros centros de distribución (cedis) con destino de entrega al proporcionado durante la compra.</p>
		<p>Favor de agregar nuestras direcciones de correo electrónico como autorizados para que estos no sean filtrados y enviado a la bandeja de NO deseados (SPAM)</p>
		<p>Verifica periódicamente tu cuenta de correo electrónico.</p>
		<p>En caso de requerir mas información, favor de contactarnos a través de nuestro departamento de atención a clientes a los siguientes teléfonos: (998) 195 8376 o (998) 195 6839 en horarios de servicio: Lunes – Viernes | 09:00 – 18:30 horas</p>

		<h2>Cambios y devoluciones:</h2>
		<p>Nuestra política de devolución es: “Podrás devolver el o los artículo(s) comprado(s) a Actual Group por los motivos siguientes :</p>
		<ul>
			<li>Si el artículo presenta defectos de fabricación.</li>
			<li>Si existe equivocación en el artículo enviado, conservando la envoltura original y sin presentar daño alguno.</li>
		</ul>
		<p>En la recepción de mercancía errónea o dañada se aplicará el cambio físico de la misma solo si ésta fue reportada al momento de su entrega, a los siguientes teléfonos:</p>
		<p>Atención a Clientes: (998) 195 8376 o (998) 195 6839 en los horarios de servicio de Lunes – Viernes | 09:00 – 20:30 horas o al correo electrónico clientes@actual.com con la evidencia adjunta.</p>

		<h2>Cancelaciones</h2>
		<p>Toda cancelación será sujeta a una validación de autenticidad del cliente con la finalidad de verificar sus datos personales protegiendo su compra e integridad.</p>
		<p>Realizaremos una breve evaluación del motivo o circunstancia de la cancelación, así como, del rastreo de los artículos previamente comprados.</p>
		<p>Verificar si el artículo esta sujeto a cancelación de acuerdo a la política consentida por el cliente durante la compra.</p>
		<p>En caso de ser necesario se le solicitara documentación adicional.</p>
		<p>Podrás efectuar la cancelación total o parcial de una compra hecha a través https://www.ActulaHome.com, https://www.ActualStudio.com, https://www.ActualKids.com o Vía telefónica siempre y cuando no se haya enviado la mercancía.</p>
		<p>Para Actual Group su satisfacción y confianza es lo mas importante, agradeceremos que para cancelar se comunique a los siguiente teléfonos: (998) 195 8376 o (998) 195 6839 en los horarios de servicio de Lunes – Viernes | 09:00 – 20:30 horas </p>
		<p>Si al momento de recibir tu aviso (por cualquier medio antes mencionado) la mercancía ya ha sido enviada, te pedimos rechazar la entrega en tu domicilio para que el servicio de mensajería nos la devuelva. Al recibir nosotros la mercancía de regreso, te haremos el reembolso en la misma forma en que se realizo el pago original; exceptuando los gastos de envío.</p>

		<p>Referente al reembolso:</p>
		<p>Sí tu forma de pago fue depósito bancario o transferencia electrónica, te pedimos que al momento de solicitar la cancelación nos proporciones lo siguiente:</p>
		<p>Nombre del beneficiario</p>
		<p>Nombre del Banco</p>
		<p>Numero de cuenta</p>
		<p>CLABE interbancaria</p>
		<p>El reembolso se hará  en la misma forma en que se realizo el pago original; por el importe total o parcial del pedido cancelado menos gastos de envío. </p>
		<p>La operación del reembolso se realizara, tan pronto como, Actual Group recibamos la mercancía de regreso dentro de los siguientes 15 días hábiles a la obtención de tus datos. </p>
		<p>No se harán reembolsos sino contamos con los datos antes mencionados. </p>
		<p>En caso de cancelaciones parciales, solo se reembolsará el precio de la mercancía y no los gastos de envío.</p>
		<p>Únicamente se reembolsarán los gastos de envío cuando el motivo de la cancelación sea imputable a Actual Group por no tener existencias y/o no poder surtir el pedido.</p>
		<p>Actual Group podrá cancelar un pedido u orden hecha, cuando la forma de pago seleccionada fue depósito bancario y/o transferencia electrónica por incumplimiento de pago, debido a que, el cliente no realizó el pago correspondiente dentro de los 3 días naturales previamente acordado durante el proceso de la compra..</p>

		<h2>¿Qué productos encuentro en: <a href="https://www.actualhome.com">www.ActualHome.com</a>; <a href="https://www.actualstudio.com">www.ActualStudio.com</a> y <a href="https://www.actualkids.com">www.ActualKids.com</a> ?</h2>
		<p>En <a href="https://www.actualhome.com">ActualHome.com</a> te enamorará el estilo con: comedores, muebles para oficina, muebles para tv, recibidores, recamaras, repisas, salas, mesas de centro, mesas laterales, mesas para jardín, banco para barra, sillas para comedor, sillas para jardín, sillas para oficina, accesorios, decoración de paredes, lámparas, biombos, cojines, espejos, tapetes, ventiladores, edredones, sábanas, cubrecamas, frazadas, duvet, rodapié cama, almohadas, toallas, colchones.</p>

		<p>En <a href="https://www.actualstudio.com">ActualStudio.com</a> te envolverá lo moderno con: comedores, muebles para oficina, muebles para tv, recibidores, recamaras, repisas, salas, mesas de centro, mesas laterales, mesas para jardín, banco para barra, sillas para comedor, sillas para jardín, sillas para oficina, accesorios, decoración de paredes, lámparas, biombos, cojines, espejos, tapetes, ventiladores, edredones, sábanas, cubrecamas, frazadas, duvet, rodapié cama, almohadas, toallas, colchones.</p>
		
		<p>En <a href="https://www.actualkids.com">ActualKids.com</a> te maravillará lo divertido con: Mesas y sillas, blancos, decoración, muebles, peluches, accesorios, muebles para bebé.</p>

	</div>
</section>