<div id="footer">
  <!--
  <div class="footer-menu">
    <div class="container container-xxlg" layout="row" layout-align-sm="space-between center">
      <div class="footer-menu-col" flex="33">
        <h2><strong>MAPA DE SITIO</strong></h2>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Hogar</a></li>
          <li><a href="#">Jardin</a></li>
          <li><a href="#">Niños</a></li>
          <li><a href="#">Ambientes</a></li>
          <li><a href="#">Ofertas</a></li>
        </ul>
      </div>
      <div class="footer-menu-col" flex="33">
        <h2><strong>SERVICIO AL CLIENTE</strong></h2>
        <ul>
          <li><a href="#">Facturación</a></li>
          <li><a href="#">Consulta de pedidos <strong class="camel-case">(MiActual)</strong></a></li>
          <li><a href="#">Envío y entrega</a></li>
          <li><a href="#">Garantia extendida</a></li>
          <li><a href="#">Carrito de compras</a></li>
          <li><a href="#">Cambios / Devoluciones / Cancelaciones</a></li>
          <li><a href="#">Terminos y condiciones generales</a></li>
          <li><a href="#">Legales</a></li>
          <li><a href="#">Aviso de privacidad</a></li>
          <li><a href="#">Formas de pago</a></li>
          <li><a href="#">Tiendas</a></li>
          <li><a href="#">Preguntas frecuentes <span class="camel-case">(FAQ's)</span></a></li>
        </ul>
      </div>
      <div class="footer-menu-col" flex="33">
        <h2><strong>CONTACTO</strong></h2>
        <div class="footer-contact-item">
          <p><strong>ACTUAL GROUP</strong></p>
          <p>Av. Xcaret SM 36, MZ 2, Lote 3, CP 77500</p>
          <p>Cancún, Quintana Roo, México</p>
        </div>
        <div class="footer-contact-item">
          <p>+01 (998) <strong>195.8372</strong></p>
        </div>
        <div class="footer-contact-item">
          <p><a href="#">info@<strong>actualgroup.com</strong></a></p>
        </div>
        <div class="footer-contact-item">
          <p>RECIBIR OFERTAS POR MAIL</p>
          <form action="#">
            <div class="input-element">
              <div class="input-element-inner">
                <input type="text">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container container-xxlg footer-menu-bottom" layout="row" layout-align-sm="space-between center">
      <div flex="33"></div>
      <div flex="33"></div>
      <div flex="33"></div>
    </div>

  </div>
  -->

  <div class="footer-bottom center-content">
    <div class="container container-lg">
      <p>
        <strong>​© AH ACTUAL S.A. de C.V.  2013-2016  |  Todos los derechos reservados.  |  Todos los precios son mostrados en Pesos Mexicanos (MXN) con IVA incluido.</strong>
      </p>
      <div>
        <p><span>Se prohíbe cualquier reproducción total o parcial de este contenido. Es responsabilidad del proveedor garantizar la exactitud de las fotografías mostradas y no nos hacemos responsables por inexactitudes en las mismas.</span></p>
      </div>
    </div>
  </div>

</div>
