<div id="footer">
  
  
  <div class="footer-menu">
    <div class="container container-xxlg" layout="row" layout-wrap layout-align-sm="space-between center">
      <div class="footer-menu-col" flex-gt-sm="33" flex="100">
        <h2><strong>MAPA DE SITIO</strong></h2>
        <ul>
          <li><a href="#" layout="row" layout-align="start center"><i class="icon-home"></i>  <p>Inicio</p></a></li>
          <li><a href="#" layout="row" layout-align="start center"><i class="icon-sofa"></i>  <p>Hogar</p></a></li>
          <li><a href="#" layout="row" layout-align="start center"><i class="icon-clients"></i>  <p>Jardin</p></a></li>
          <li><a href="#" layout="row" layout-align="start center"><i class="icon-ninos"></i>  <p>Niños</p></a></li>
          <li><a href="#" layout="row" layout-align="start center"><i class="icon-ambientes"></i> <p> Ambientes</p></a></li>
          <li><a href="#" layout="row" layout-align="start center"><i class="icon-ofertas"></i>  <p>Ofertas</p></a></li>
        </ul>
      </div>
      <div class="footer-menu-col" flex-gt-sm="33" flex="100">
        <h2><strong>SERVICIO AL CLIENTE</strong></h2>
        <ul>
          <li><a href="#">Facturación</a></li>
          <li><a href="#">Consulta de pedidos <strong class="camel-case">(MiActual)</strong></a></li>
          <li><a href="#">Envío y entrega</a></li>
          <li><a href="#">Garantia extendida</a></li>
          <li><a href="#">Carrito de compras</a></li>
          <li><a href="#">Cambios / Devoluciones / Cancelaciones</a></li>
          <li><a href="#">Terminos y condiciones generales</a></li>
          <li><a href="#">Legales</a></li>
          <li><a href="#">Aviso de privacidad</a></li>
          <li><a href="#">Formas de pago</a></li>
          <li><a href="#">Tiendas</a></li>
          <li><a href="#">Preguntas frecuentes <span class="camel-case">(FAQ's)</span></a></li>
        </ul>
      </div>
      <div class="footer-menu-col" flex-gt-sm="33" flex="100">
        <h2><strong>CONTACTO</strong></h2>
        <div class="footer-contact-item" layout="row">
          <i class="icon-place"></i>
          <div>
            <p><strong>ACTUAL GROUP</strong></p>
            <p>Av. Xcaret SM 36, MZ 2, Lote 3, CP 77500</p>
            <p>Cancún, Quintana Roo, México</p>
          </div>
        </div>
        <div class="footer-contact-item" layout="row">
          <i class="icon-phone"></i>
          <p>+01 (998) <strong>195.8372</strong></p>
        </div>
        <div class="footer-contact-item" layout="row">
          <i class="icon-mail"></i>
          <p><a href="#">info@<strong>actualgroup.com</strong></a></p>
        </div>
        <div class="footer-contact-item">
          <p>RECIBIR OFERTAS POR MAIL</p>
          <form action="#">
            <div class="input-element">
              <div class="input-element-inner">
                <input type="text">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container container-xxlg footer-menu-bottom" layout="row" layout-wrap layout-align-sm="space-between center">
      <div class="box-bottom" layout="column" flex="33" >
        <strong> > Nosotros</strong>
        <strong> > Marcas Oficiales</strong>
      </div>
      <div class="box-bottom" layout="column" flex="33" >
        <strong> > Seguridad</strong>
        <strong> > Login</strong>
      </div>
      <div flex="33" ></div>
    </div>

    <div class="container container-xxlg footer-menu-bottom" layout="row" layout-wrap layout-align="center center">
      <div class="box-bottom" layout="row" layout-align="center center" flex-gt-sm="33" flex="100">
        <img src="images/paypal_visa_mastercard_amex_debit_new.png" alt="">
      </div>
      <div class="box-bottom" layout="row" layout-align="center center" flex-gt-sm="33" flex="100">
        <a href=""><img src="images/fb.png" alt=""></a>
        <a href=""><img src="images/tw.png" alt=""></a>
        <a href=""><img src="images/pinterest.png" alt=""></a>
        <a href=""><img src="images/youtube.png" alt=""></a>
      </div>
      <div class="box-bottom" layout="row" layout-align="center center" flex-gt-sm="33" flex="100">
        <img src="images/logo.png" alt="">
      </div>
    </div>

  </div>
  
  

  <div class="footer-bottom actual-home center-content">
    <div class="container container-xlg">
      <p>
        <strong>​© AH ACTUAL S.A. de C.V.  2013-2016  |  Todos los derechos reservados.  |  Todos los precios son mostrados en Pesos Mexicanos (MXN) con IVA incluido.</strong>
      </p>
      <div>
        <p><span>Se prohíbe cualquier reproducción total o parcial de este contenido. Es responsabilidad del proveedor garantizar <br> la exactitud de las fotografías mostradas y no nos hacemos responsables por inexactitudes en las mismas.</span></p>
      </div>
    </div>
  </div>

</div>