<div id="footer">
  
  
  <div class="footer-menu">
    <div 
      class="container container-xxlg" 
      layout="row" 
      layout-wrap 
      layout-align-sm="space-between center">
      <div
        class="footer-menu-col" 
        flex="25" 
        flex-sm="50"
        flex-xs="50">
        <h2><strong>Servicio al cliente</strong></h2>
        <ul>
          <li><a href="/facturacion">Facturación</a></li>
          <li><a href="/envio-y-entrega">Envío y entrega</a></li>
          <li><a href="/politicas-de-garantia">Garantias</a></li>
          <li><a href="/cambios-devoluciones-y-cancelaciones">Cambios, devoluciones y cancelaciones</a></li>
          <li><a href="/manual-de-cuidados-y-recomendaciones">Manual de cuidados y recomendaciones</a></li>
        </ul>
      </div>
      <div 
        class="footer-menu-col" 
        flex="25" 
        flex-sm="50"
        flex-xs="50"
      >
        <h2><strong>Ventas por teléfono</strong></h2>
        <ul>
          <li>
            <p>Compra por teléfono</p>
            <p>Asistencia en tu compra</p>
            <p>(998) 884 1594</p>
          </li>
          <li>
            <p>Horario de servicio</p>
            <p>Lun - Vie | 09:00 - 20:00</p>
            <p>Sabado | 10:00 - 14:00</p>
          </li>
        </ul>
      </div>
      <div 
        class="footer-menu-col" 
        flex="25" 
        flex-sm="50"
        flex-xs="50">
        <h2><strong>Envíos en México</strong></h2>
        <ul>
          <li><a href="/ciudades-de-entrega">Ciudades de entrega</a></li>
          <li>
            <p>Asistencia en envío y entrega</p>
            <!--
            <p>(998) 195 8376</p>
            <p>(998) 195 6839</p>
            -->
          </li>
          <li>
            <p>Horario de servicio</p>
            <p>Lun - Vie | 09:00 - 20:30</p>
          </li>
        </ul>
      </div>

      <div 
        class="footer-menu-col" 
        flex="25" 
        flex-sm="50"
        flex-xs="50">
        <h2><strong>Pagos</strong></h2>
        <ul>
          <li><a href="/compra-fiable">Compra fiable</a></li>
          <li><a href="/formas-de-pago">Formas de pago</a></li>
        </ul>
      </div>

    </div>

    <div 
      class="container container-xxlg" 
      layout="row" 
      layout-wrap 
      layout-align-sm="space-between center"
    >

      <div 
        class="footer-menu-col" 
        flex="25" 
        flex-sm="50"
        flex-xs="50">
        <h2><strong>Mapa del sitio</strong></h2>
        <ul>
          <li><a href="/sitemap">Arquitectura del sitio</a></li>
        </ul>
      </div>
      <div 
        class="footer-menu-col" 
        flex="25" 
        flex-sm="50"
        flex-xs="50"
      >
        <h2><strong>¿Necesitas ayuda?</strong></h2>
        <ul>
          <li><a href="/preguntas-frecuentes">Preguntas frecuentes</a></li>
          <li><a href="/contactanos">Contáctanos</a></li>
        </ul>
      </div>
      <div 
        class="footer-menu-col" 
        flex="25" 
        flex-sm="50"
        flex-xs="50">
        <h2><strong>¡Ayúdanos a mejorar!</strong></h2>
        <ul>
          <li><a href="#">Tu opinión nos importa (Sugerencias y quejas)</a></li>
        </ul>
      </div>

      <div 
        class="footer-menu-col" 
        flex="25" 
        flex-sm="50"
        flex-xs="50">
        <h2><strong>Acerca de nosotros</strong></h2>
        <ul>
          <li><a href="/quienes-somos">¿Quiénes somos?</a></li>
          <li><a href="/filosofia">Filosofía</a></li>
          <li><a href="/nuestras-marcas">Nuestras marcas</a></li>
          <li><a href="/nuestras-tiendas">Tiendas</a></li>
        </ul>
      </div>

    </div>

    <div 
      class="container container-xxlg footer-menu-bottom" 
      layout="row" 
      layout-wrap 
      layout-align="center center"
    >
      <div 
        class="box-bottom" 
        layout="row" 
        layout-align="center center" 
        flex="33"
        flex-xs="100"
      >
        <!--
        <img class="payment-options-img" src="images/paypal_visa_mastercard_amex_debit_new.png" alt="">
        -->
      </div>

      <div 
        class="box-bottom social-networks" 
        layout="row" 
        layout-align="center center"  
        flex="33"
        flex-xs="100">
        <a ng-href="{{main.siteConstants.fb_url}}" target="_blank">
          <img src="images/fb.png" alt="Facebook {{main.siteName}}">
        </a>
        <!--
        <a ng-href="" target="_blank">
          <img src="images/tw.png" alt="Twitter {{main.siteName}}">
        </a>
        -->
        <a ng-href="{{main.siteConstants.pinterest_url}}" target="_blank">
          <img src="images/pinterest.png" alt="Pinterest {{main.siteName}}">
        </a>
        <!--
        <a ng-href="" target="_blank">
          <img src="images/youtube.png" alt="Youtube {{main.siteName}}">
        </a>
        -->
      </div>

      <div 
        class="box-bottom" 
        layout="row" 
        layout-align="center center" 
        flex="33"
        flex-xs="100"
        ng-switch on="main.siteTheme">
        
          <a href="/" class="footer-logo">
            <img 
              ng-switch-when="actual-home"  
              class="logo" 
              src="images/Logo-A-Home.png" 
              alt="Actual home">
            <img 
              ng-switch-when="actual-studio" 
              class="logo" 
              src="images/Logo-A-Studio.png" 
              alt="Actual studio">
            <img 
              ng-switch-when="actual-kids"  
              class="logo" 
              src="images/Logo-A-Kids.png" 
              alt="Actual kids">
            <img 
              ng-switch-default 
              class="logo" 
              src="images/Logo-A-Home.png" 
              alt="Actual home">
          
          </a>

      </div>
    
    </div>

  </div>
  
  <!--<ng-include src="'views/sitemap.html'"></ng-include>-->

  <div class="footer-bottom center-content">
    <div class="container container-xlg">
      <p>
        <strong>​© AH ACTUAL S.A. de C.V.  2013-2016  |  Todos los derechos reservados.  |  Todos los precios son mostrados en Pesos Mexicanos (MXN) con IVA incluido.</strong>
      </p>
      <p>
        <a href="/aviso-de-privacidad">Aviso de privacidad</a> | <a href="/terminos-y-condiciones">Términos y condiciones</a> | <a href="/seguridad">Seguridad</a>
      </p>
      <div>
        <p><span>Se prohíbe cualquier reproducción total o parcial de este contenido. Es responsabilidad del proveedor garantizar <br> la exactitud de las fotografías mostradas y no nos hacemos responsables por inexactitudes en las mismas.</span></p>
      </div>
    </div>
  </div>

</div>