<!-- MOBILE-MENU -->
<ng-include src="'views/partials/mobile-sidenav.html'"></ng-include>
<!-- END MOBILE-MENU -->

<div id="header">
  <!-- START TOP BAR -->
  <div class="header-top-bar actual-header-top" fixed-element la layout-wrap="" ng-class="{'fixed-head': scrolled}" top="50">

    <div class="header-item-child">
      <div class="header-align-items" hide-lg hide-md hide-xl>
        <div class="hai-element-1" hide-lg hide-md hide-xl>
          <a class=" header-icon-menu-css" ng-click="main.toggleMobileSidenav()">
            <img src="images/navbar-mobile-dark.png">
          </a>
        </div>
        <div class="hai-element-2">
          <div class="logo logo-mobile">
            <a hide-gt hide-md hide-xl href="/" ng-switch on="main.siteTheme">
              <img alt="Actual Group" ng-switch-when="actual-home" src="images/logos/home.png"/>
              <img alt="Actual Group" ng-switch-when="actual-studio" src="images/logos/studio.png"/>
              <img alt="Actual Group" ng-switch-when="actual-kids" src="images/logos/kids.png"/>
              <img alt="Actual Group" ng-switch-default src="images/logos/home.png"/>
            </a>
          </div>
        </div>
      </div>
      <div hide-sm hide-xs>
        <a href="/" ng-switch on="main.siteTheme">
          <img alt="Actual Group" ng-switch-when="actual-home" src="images/logos/logo144x72.png"/>
          <img alt="Actual Group" ng-switch-when="actual-studio" src="images/actual-studio-blanco.png"/>
          <img alt="Actual Group" ng-switch-when="actual-kids" src="images/actual-kids-blanco.png"/>
          <img alt="Actual Group" ng-switch-default src="images/logos/logo144x72.png"/>
        </a>
      </div>
    </div>

    <div class="header-item-child">
      <a href="/" ng-switch on="main.siteTheme">
        <div href="#">
          <p>
            <a href="/nuestras-tiendas">
              <span hide-xs>Tiendas y Showrooms</span>
            </a>
          </p>
        </div>
      </a>
    </div>

    <div class="header-item-child">
      <p>
        <a href="https://actualproyectos.com/" ng-if="main.siteTheme === 'actual-home'" target="_blank">
          <span>Proyectos</span>
        </a>
        <a href="https://welove.design.Proyectos/tag/notas/" ng-if="main.siteTheme !== 'actual-home'" target="_blank">
          <span>Proyectos</span>
        </a>
      </p>
    </div>

    <div class="header-item-child" hide-xs>
      <a href="/" ng-switch on="main.siteTheme">
        <div href="#">
          <p>
            <a href="https://actualproyectos.com/programas-personalizacion" target="_blank">
              <span>Programa Decoradores</span>
            </a>
          </p>
        </div>
      </a>
    </div>

    <div class="header-item-child" hide-xs>
      <form class="searcher-wrapper" ng-class="{
              'searcher-wrapper-show-mobile':main.showSearchBar
            }" ng-show="!main.showSearchBar" ng-submit="main.handleSearch()">
        <div class="header-align-items">
          <div class="hai-element-1">
            <div class="searcher">
              <div class="searcher-inner">
                <i class="icon-search"></i>
                <input name="term" ng-model="main.searchValue" type="text"/>
              </div>
            </div>
          </div>
          <div class="hai-element-2">
            <input class="searcher-btn" type="submit" value="BUSCAR"/>
          </div>
        </div>
      </form>
    </div>

    <div class="header-item-child" hide-gt-sm hide-sm>
      <i class="icon-search" ng-click="main.showSearchBar = !main.showSearchBar" style="color: #fff; font-size: 1.5em;"></i>
    </div>

    <div class="header-item-child">
      <a hide-xs ng-click="main.redirectScroll()">
        <span>Contacto</span>
      </a>
      <a hide-gt-xs ng-click="main.redirectScroll()">
        <i class="icon-phone" style="color: #fff; font-size: 1.5em;"></i>
      </a>
      <!--  ng-click="main.toggleSchedulesModal()"  <ng-include ng-if="main.isActiveSchedulesModal" src="'views/partials/schedules-dropdown.html'"></ng-include> -->
    </div>

    <div  class="header-item-child">
      <a href="https://wa.me/529982418106" >
        <i class="icon-whatsapp" style=" color:#fff; font-size: 20px;" ng-click="main.showSearchBar = !main.showSearchBar"></i>
      </a>
    </div>

    <div class="header-item-child" id="login-header-trigger" ng-if="!main.user || main.user.invited">
      <p ng-click="main.toggleLoginModal()" ng-if="!main.user || main.user.invited">
        <span class="atual-yellow-hover" hide-xs>MI CUENTA</span>
        <!--         <i class="icon-login" hide-xs></i>
 -->
        <i class="icon-login" hide-gt-sm style="color: #fff; font-size: 1.5em;"></i>
      </p>
      <span ng-click="main.toggleLoginModal()" ng-if="main.user && main.user.invited">
        <strong>Invitado</strong>
      </span>
      <ng-include ng-if="(!main.user || main.user.invited) && main.isActiveLogin" src="'views/partials/login-header.html'"></ng-include>
    </div>

<!--     <div hide-gt-xs class="header-item-child">
      <a href="https://wa.me/529982418106">
        <i class="icon-whatsapp" style=" color:#fff; font-size: 18px;" ng-click="main.showSearchBar = !main.showSearchBar"></i>
      </a>
    </div> -->

    <!-- IF logged in -->
    <div class="header-item-child">
      <div class="header-align-items">
        <div class="hai-element-1" href="#" id="profile-header-trigger" ng-click="main.toggleProfileModal()" ng-if="main.user && !main.user.invited">
          <a href="#">
            <i class="icon-login" hide-sm hide-xs></i>
            <i class="icon-login" hide-gt-sm style="color: #fff; font-size: 2em;"></i>
            <span hide-xs>Bienvenido
              <strong hide-xs>{{ main.user.firstName }}</strong>
            </span>
          </a>
          <ng-include ng-if="main.isActiveProfileHeader" src="'views/partials/profile-header.html'"></ng-include>
        </div>
        <!-- IF NOT ACTIVE QUOTATION -->
        <div class="hai-element-2" style=" margin-right: 10px;">
          <a href="/" ng-if="main.user && !main.activeQuotation">
            <i class="icon-carro"></i>
          </a>
          <!-- IF ACTIVE QUOTATION -->
          <a ng-href="/quotations/edit/{{ main.activeQuotation.id }}" ng-if="main.activeQuotation">
            <span class="header-car-item-number" ng-class="{'cart-active-items' : main.activeQuotation}">{{ main.activeQuotation.totalProducts }}</span>
            <i class="icon-carro" ng-class="{'cart-active' : main.activeQuotation}"></i>
          </a>
        </div>
      </div>
    </div>


    <div class="header-item-child" hide-gt-sm hide-sm>
      <form class="searcher-wrapper" ng-class="{
              'searcher-wrapper-show-mobile':main.showSearchBar
            }" ng-show="!main.showSearchBar" ng-submit="main.handleSearch()">
        <div class="header-align-items">
          <div class="hai-element-1">
            <div class="searcher">
              <div class="searcher-inner">
                <i class="icon-search"></i>
                <input name="term" ng-model="main.searchValue" type="text"/>
              </div>
            </div>
          </div>
          <div class="hai-element-2">
            <input class="searcher-btn" type="submit" value="BUSCAR"/>
          </div>
        </div>
      </form>
    </div>

  </div>

  <ng-include ng-if="main.activeModule !== 'users'" src="'views/partials/header-menu-miactual.html'"></ng-include>
  <!-- END MENU -->
</div>

<md-sidenav class="md-sidenav-left movil" md-component-id="left"></md-sidenav>