<div id="header">
  <!--START TOP BAR-->
  <div class="header-top-bar actual-home" fixed-element  top="70" ng-class="{'fixed-head': scrolled}">
    <div class="container container-lg" layout="row" layout-align="center center">

      <!--ON SCROLL-->

      <div flex="15" class="logo" layout-align="center center">
        <a href="/" >
          <img src="images/logo.png" alt="Actual Group">
        </a>
      </div>

      <div 
        class="categories-btn-wrap" 
        flex="15" 
        layout-align="center center"
      >
        <a ng-click="main.menuCategoriesOn = !main.menuCategoriesOn" href="#" class="categories-btn">CATEGORÍAS</a>
      </div>


      <!--END ONLY ON SCROLL-->


      <form 
        action="/search" 
        method="GET" 
        class="searcher-wrapper" 
        layout="row"
      >
        <div class="searcher">
          <div class="searcher-inner">
            <i class="icon-search"></i>
            <input
              type="text"
              name="term"
              ng-attr-name="{{vm.isItemCodeSearch && 'itemcode' || 'term' }}"
              >
          </div>
        </div>
        <input type="submit" value="BUSCAR" class="searcher-btn">
        <!--<div flex class="searcher-checkbox">-->
        <!--
          <input
            type="checkbox"
            class="searcher-checkbox"
            ng-checked="main.searchingItemCode"
            ng-model="vm.isItemCodeSearch"
            id="isItemCode">
          <label for="isItemCode" class="searcher-checkbox-label">ItemCode</label>
        </div>
        -->
      </form>

      <div 
        class="header-top-bar-menu" 
        layout="row" 
        layout-align="center center"
      >

        <!--IF ACTIVE QUOTATION-->
        <div
          ng-if="main.user && main.activeQuotation"
          ng-click="main.toggleCartModal()"
          flex
          href="#"
          class="header-top-bar-menu-item"
        >
          <span class="cart-n-items" ng-class="{'cart-active' : main.activeQuotation}">{{main.activeQuotation.totalProducts}}</span>
          <i class="icon-carro" ng-class="{'cart-active' : main.activeQuotation}"></i>
          <ng-include ng-if="main.user && main.isActiveCart" src="'views/partials/cart-header.html'"></ng-include>
        </div>

        <!--IF NOT ACTIVE QUOTATION-->
        <a
          ng-if="main.user && !main.activeQuotation"
          flex
          href="/"
          class="header-top-bar-menu-item"
        >
          <i class="icon-carro"></i>
          <ng-include ng-if="main.user && main.isActiveCart" src="'views/partials/cart-header.html'"></ng-include>
        </a>


        <div
          ng-if="!main.user"
          flex
          class="header-top-bar-menu-item">
          <i class="icon-login" ng-click="main.toggleLoginModal()"></i>
          <ng-include ng-if="!main.user && main.isActiveLogin" src="'views/partials/login-header.html'"></ng-include>
        </div>

        <!--IF logged in-->
        <div
          ng-if="main.user"
          flex
          href="#"
          ng-click="main.toggleProfileModal()"
          class="header-top-bar-menu-item header-top-bar-menu-item-name"
        >
          <a href="#" >
            <i class="icon-login"></i>
            <!--<span >Bienvenido <strong>{{main.user.firstName}}</strong></span>-->
          </a>
          <ng-include ng-if="main.toggleProfileHeader" src="'views/partials/profile-header.html'"></ng-include>
        </div>

      <!--
        <div class="header-top-bar-menu-item" flex>
          <md-button class="pointer-btn md-fab md-mini md-primary" ng-click="main.togglePointerSidenav()">
            <i class="icon-pointer"></i>
          </md-button>
        </div>

      -->

        <!---end if Logged in -->

      </div>

    </div>

  </div>
  <!--END TOP BAR-->

  <!--START MENU-->
    <ng-include src="'views/partials/header-menu-miactual.html'"></ng-include>
  <!--END MENU-->

</div>

