<div class="container container-xxlg">
  <div
    ng-if="main.isLoadingCategoriesTree"
    layout-fill
    layout="row"
    layout-align="center center"
    class="loading-circle"
  >
    <md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="150"></md-progress-circular>
  </div>
</div>

<div ng-if="!main.isLoadingCategoriesTree" class="content-block listing-view">
  <div class="container container-xxlg" layout="row" layout-wrap layout-align="space-between start">
    <!--START NAV-->
    <aside flex-gt-sm="20" flex="100" hide-sm hide-xs>
      <sidebar-categories
        categories-tree="main.categoriesTree"
        active-store="main.activeStore"
      >
      </sidebar-categories>
    </aside>
    <!--END NAV-->

    <!--CATEGORIES-->
    <div flex-gt-sm="75" flex="100">

      <ng-include src="'views/partials/home-slider.html'"></ng-include>

      <div class="subs-container">
        <div  class="subs-container-list" layout="row" layout-wrap>
          <div
            class="sub-wrapper"
            ng-repeat="category in main.categoriesTree"
            ng-if="category[vm.stockProperty] > 0"
            flex-gt-sm="33"
            flex="50"
            flex-sm="50"
            flex-xs="100"
          >
            <category-item category="category" stock-key="{{vm.stockProperty}}" />
          </div>

          <!--OFERTAS-->
          <div
            class="sub-wrapper"
            flex-gt-sm="33" flex="50" flex-xs="100">
            <div
              class="sub"
              ng-style="main.getCategoryBackground('ofertas')">
              <div class="sub-text">
                <h4>
                  <a ng-href="/ofertas">
                    <strong>Ofertas</strong>
                  </a>
                </h4>
              </div>
              <a ng-href="ofertas" class="absolute-link"></a>
            </div>
          </div>
          <!--END OFERTAS-->

        </div>

      </div>
    </div>
    <!-- END CATEGORIES-->

  </div>
  <ng-include src="'views/partials/best-sellers-livingroom.html'"></ng-include>
  <ng-include src="'views/partials/best-sellers-dinningroom.html'"></ng-include>
  <ng-include src="'views/partials/best-sellers-bedroom.html'"></ng-include>
</div>
