<div class="container container-xxlg">
  <div ng-if="main.isLoadingCategoriesTree" layout-fill layout="row" layout-align="center center" class="loading-circle">
    <md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="150"></md-progress-circular>
  </div>
</div>

<ng-include src="'views/partials/home-slider.html'"></ng-include>
<div ng-if="!main.isLoadingCategoriesTree" class="content-block listing-view">
  <div layout="row" layout-wrap layout-align="space-between start">
    <!--START NAV-->
    <!-- <aside flex-gt-sm="15" flex="100" hide-sm hide-xs>
    <sidebar-categories categories-tree="main.categoriesTree" active-store="main.activeStore">
  </sidebar-categories>
</aside> -->
    <!--END NAV-->

    <!--CATEGORIES-->
    <div flex-gt-sm="100" flex="100">

    
      <div class="container container-xxlg">
        <!--
        <div class="subs-container">
          <div class="subs-container-list">
            <slick class="categories-carousel" responsive="vm.categoriesCarouselBreakpoints" infinite="false" slides-to-show="5" slides-to-scroll="5"
              init-onload=true data="main.categoriesTree">
              <div class="sub-wrapper" ng-repeat="category in main.categoriesTree" ng-if="category[vm.stockProperty] > 0">
                <category-item category="category" stock-key="{{vm.stockProperty}}" />
              </div>

              <div class="sub-wrapper">
                <div class="sub" ng-style="main.getCategoryBackground('ofertas')">
                  <div class="sub-text">
                    <h4>
                      <a ng-href="/ofertas">
                      </a>
                    </h4>
                  </div>
                  <a ng-href="ofertas" class="absolute-link"></a>
                </div>
              </div>
            </slick>

          </div>
        </div>
      -->
        <br>
        <br>
        <div class="subs-container">
          <div class="subs-container-list">
            <div ng-if="vm.activeStore.code !== 'actual_kids'">
              <ng-include src="'views/partials/best-sellers-livingroom.html'"></ng-include>
            </div>
          </div>
        </div>
        <div ng-if="vm.activeStore.code === 'actual_kids'">
          <ng-include src="'views/partials/best-sellers-kids-beds.html'"></ng-include>
        </div>

        <div ng-if="vm.activeStore.code !== 'actual_kids'">
          <ng-include src="'views/partials/best-sellers-dinningroom.html'"></ng-include>
        </div>

        <div ng-if="vm.activeStore.code === 'actual_kids'">
          <ng-include src="'views/partials/best-sellers-kids-bureaus.html'"></ng-include>
        </div>

        <!-- <offers-directive></offers-directive> -->

        <div ng-if="vm.activeStore.code !== 'actual_kids'">
          <ng-include src="'views/partials/best-sellers-bedroom.html'"></ng-include>
        </div>
        <div ng-if="vm.activeStore.code === 'actual_kids'">
          <ng-include src="'views/partials/best-sellers-kids-forniture.html'"></ng-include>
        </div>

      </div>
      <br>
      <ng-include src="'views/partials/home-slider-2.html'"></ng-include>
    </div>
    <!-- END CATEGORIES-->

  </div>
</div>
