<div class="breadcrumb">
  <div class="container container-xxlg">
    <p>
      <a href="#">Inicio</a>
      <a href="#"> > Muebles</a>
      <a href="#"> > Salas</a>
      <a href="#" class="breadcrumb-active"> > Set de salas</a>
    </p>
  </div>
</div>
<div class="content-block listing-view">
  <div class="container container-xxlg" layout="row" layout-align="space-between start">

    <!--START NAV-->
    <div flex="25" class="listing-view-nav-wrapper">
      <h2><strong>Muebles</strong></h2>
      <ul class="listing-view-nav">
        <li ng-class="{'active': vm.subnavIndex == 0}">
          <h3><a ng-click="vm.setSubnavIndex(0)" href="#"><strong>Salas</strong></a></h3>
          <ul class="listing-view-subnav">
            <li><a href="#">Set de Salas</a></li>
            <li><a href="#">Salas esquineras</a></li>
            <li><a href="#">Sofá</a></li>
            <li><a href="#">Couch</a></li>
            <li><a href="#">Love Seat</a></li>
            <li><a href="#">Sillones</a></li>
            <li><a href="#">Mesas de centro</a></li>
            <li><a href="#">Mesas Laterales</a></li>
          </ul>
        </li>
        <li ng-class="{'active': vm.subnavIndex == 1}">
          <h3><a ng-click="vm.setSubnavIndex(1)" href="#"><strong>Recámaras</strong></a></h3>
          <ul class="listing-view-subnav">
            <li><a href="#">Set de Salas</a></li>
            <li><a href="#">Salas esquineras</a></li>
            <li><a href="#">Sofá</a></li>
            <li><a href="#">Couch</a></li>
            <li><a href="#">Love Seat</a></li>
            <li><a href="#">Sillones</a></li>
            <li><a href="#">Mesas de centro</a></li>
            <li><a href="#">Mesas Laterales</a></li>
          </ul>
        </li>
        <li ng-class="{'active': vm.subnavIndex == 2}">
          <h3><a ng-click="vm.setSubnavIndex(2)" href="#"><strong>Comedores</strong></a></h3>
          <ul class="listing-view-subnav">
            <li><a href="#">Set de Salas</a></li>
            <li><a href="#">Salas esquineras</a></li>
            <li><a href="#">Sofá</a></li>
            <li><a href="#">Couch</a></li>
            <li><a href="#">Love Seat</a></li>
            <li><a href="#">Sillones</a></li>
            <li><a href="#">Mesas de centro</a></li>
            <li><a href="#">Mesas Laterales</a></li>
          </ul>
        </li>
        <li ng-class="{'active': vm.subnavIndex == 3}">
          <h3><a ng-click="vm.setSubnavIndex(3)" href="#"><strong>Muebles tv</strong></a></h3>
          <ul class="listing-view-subnav">
            <li><a href="#">Set de Salas</a></li>
            <li><a href="#">Salas esquineras</a></li>
            <li><a href="#">Sofá</a></li>
            <li><a href="#">Couch</a></li>
            <li><a href="#">Love Seat</a></li>
            <li><a href="#">Sillones</a></li>
            <li><a href="#">Mesas de centro</a></li>
            <li><a href="#">Mesas Laterales</a></li>
          </ul>
        </li>
        <li ng-class="{'active': vm.subnavIndex == 4}">
          <h3><a ng-click="vm.setSubnavIndex(4)" href="#"><strong>Muebles de jardín</strong></a></h3>
          <ul class="listing-view-subnav">
            <li><a href="#">Set de Salas</a></li>
            <li><a href="#">Salas esquineras</a></li>
            <li><a href="#">Sofá</a></li>
            <li><a href="#">Couch</a></li>
            <li><a href="#">Love Seat</a></li>
            <li><a href="#">Sillones</a></li>
            <li><a href="#">Mesas de centro</a></li>
            <li><a href="#">Mesas Laterales</a></li>
          </ul>
        </li>
        <li ng-class="{'active': vm.subnavIndex == 5}">
          <h3><a ng-click="vm.setSubnavIndex(5)" href="#"><strong>Muebles para oficina</strong></a></h3>
          <ul class="listing-view-subnav">
            <li><a href="#">Set de Salas</a></li>
            <li><a href="#">Salas esquineras</a></li>
            <li><a href="#">Sofá</a></li>
            <li><a href="#">Couch</a></li>
            <li><a href="#">Love Seat</a></li>
            <li><a href="#">Sillones</a></li>
            <li><a href="#">Mesas de centro</a></li>
            <li><a href="#">Mesas Laterales</a></li>
          </ul>
        </li>
        <li ng-class="{'active': vm.subnavIndex == 6}">
          <h3><a ng-click="vm.setSubnavIndex(6)" href="#"><strong>Muebles infantiles</strong></a></h3>
          <ul class="listing-view-subnav">
            <li><a href="#">Set de Salas</a></li>
            <li><a href="#">Salas esquineras</a></li>
            <li><a href="#">Sofá</a></li>
            <li><a href="#">Couch</a></li>
            <li><a href="#">Love Seat</a></li>
            <li><a href="#">Sillones</a></li>
            <li><a href="#">Mesas de centro</a></li>
            <li><a href="#">Mesas Laterales</a></li>
          </ul>
        </li>
        <li ng-class="{'active': vm.subnavIndex == 7}">
          <h3><a ng-click="vm.setSubnavIndex(7)" href="#"><strong>Muebles para bebé</strong></a></h3>
          <ul class="listing-view-subnav">
            <li><a href="#">Set de Salas</a></li>
            <li><a href="#">Salas esquineras</a></li>
            <li><a href="#">Sofá</a></li>
            <li><a href="#">Couch</a></li>
            <li><a href="#">Love Seat</a></li>
            <li><a href="#">Sillones</a></li>
            <li><a href="#">Mesas de centro</a></li>
            <li><a href="#">Mesas Laterales</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!--END NAV-->

    <!--SUBCATEGORIES-->
    <div flex="70">
      <div class="subs-container">
        <div layout="row" layout-align="space-between start">
          <h2 class="listing-view-title">Set de Salas</h2>
          <h3><span class="hl-text">556</span> Resultados</h3>
        </div>

        <!--RESULTS-->
        <div class="results">

          <div
            class="products-list"
            layout="row"
            layout-wrap
            layout-align="space-between center">
            <div flex="30" class="listing-product-wrap" ng-repeat="product in vm.products">
              <listing-product product="product"></listing-product>
            </div>
          </div>

        </div>
        <!--END RESULTS-->

      </div>
    </div>
    <!-- END SUBCATEGORIES-->

  </div>
</div>
