<!--
<div class="breadcrumb">
  <div class="container container-xxlg">
    <p>
      <a href="#">Inicio</a>
      <a href="#"> > Muebles</a>
      <a href="#"> > Salas</a>
      <a href="#" class="breadcrumb-active"> > Set de salas</a>
    </p>
  </div>
</div>
-->
<div class="content-block listing-view">
  <div class="container container-xxlg" layout="row" layout-align="space-between start">

    <!--START NAV-->
    <sidebar-categories 
      flex="20" 
      categories-tree="main.categoriesTree">
    </sidebar-categories>
    <!--END NAV-->

    <!--SUBCATEGORIES-->
    <div flex="75">
      <div class="subs-container">
        <div layout="row" layout-align="space-between start">
          <h2 class="listing-view-title">Set de Salas</h2>
          <h3><i class="icon-search"></i> <span class="hl-text">556</span> Resultados</h3>
        </div>

        <!--RESULTS-->
        <div class="results">

          <div
            class="products-list"
            layout="row"
            layout-wrap
            layout-align="space-between center">
            <div flex="30" class="listing-product-wrap" ng-repeat="product in vm.products">
              <listing-product product="product"></listing-product>
            </div>
          </div>

        </div>
        <!--END RESULTS-->

      </div>
    </div>
    <!-- END SUBCATEGORIES-->

  </div>
</div>
