<section class="terms-view">
	<div 
		class="banner" 
		layout="row" 
		layout-align="center center"
		style="background-image: url(../images/terms.jpg)"
		>
		<div class="banner-inner">
			<h1>﻿⁠⁠⁠Manual de cuidados y recomendaciones</h1>		
		</div>
	</div>
	<div class="container container-xlg">
		<ul>
			<li><a href="manual-de-cuidados-y-recomendaciones/aceros" target="_blank">Aceros</a></li>
			<li><a href="manual-de-cuidados-y-recomendaciones/aluminios" target="_blank">Aluminios</a></li>
			<li><a href="manual-de-cuidados-y-recomendaciones/cristales" target="_blank">Cristales</a></li>
			<li><a href="manual-de-cuidados-y-recomendaciones/cromados" target="_blank">Cromados</a></li>
			<li><a href="manual-de-cuidados-y-recomendaciones/maderas" target="_blank">Maderas</a></li>
			<li><a href="manual-de-cuidados-y-recomendaciones/pieles" target="_blank">Pieles</a></li>
			<li><a href="manual-de-cuidados-y-recomendaciones/piezas-plasticas" target="_blank">Piezas plásticas</a></li>
			<li><a href="manual-de-cuidados-y-recomendaciones/pintura-electrostatica" target="_blank">Pintura electrostática</a></li>
			<li><a href="manual-de-cuidados-y-recomendaciones/textiles" target="_blank">Textiles</a></li>
			<li><a href="manual-de-cuidados-y-recomendaciones/vinilos" target="_blank">Vinilos</a></li>
		</ul>
	</div>
</section>