<div class="menu-subcategories">
  <div class="menu-subcategories-nav">
    <div class="container container-xxlg" >
      <nav layout="row">
        <a flex class="menu-subcategories-nav-item" href="#">
          <strong>Salas</strong>
          <ng-include src="'views/menu-subcategory-content.html'"></ng-include>
        </a>
        <a flex class="menu-subcategories-nav-item" href="#"><strong>Recámaras</strong></a>
        <a flex class="menu-subcategories-nav-item" href="#"><strong>Comedores</strong></a>
        <a flex class="menu-subcategories-nav-item" href="#"><strong>Sala TV</strong></a>
        <a flex class="menu-subcategories-nav-item" href="#"><strong>Colchones</strong></a>
        <a flex class="menu-subcategories-nav-item" href="#"><strong>Mesas</strong></a>
        <a flex class="menu-subcategories-nav-item" href="#"><strong>Sillas</strong></a>
        <a flex class="menu-subcategories-nav-item" href="#"><strong>Decoración</strong></a>
        <a flex class="menu-subcategories-nav-item" href="#"><strong>Blancos</strong></a>
      </nav>
    </div>
  </div>
</div>
