<div class="breadcrumb">
  <div class="container container-xxlg">
    <p>
      <a href="/">Inicio</a>
      <a href="/ofertas" class="breadcrumb-active"> > Ofertas</a>
    </p>
  </div>
</div>

<div class="content-block listing-view">
  <div class="container container-lg">
    <!--START NAV-->
    <!-- <aside flex="20" hide-sm hide-xs>
      <sidebar-categories categories-tree="main.categoriesTree" selected-category-id="vm.category.id" active-store="main.activeStore">
      </sidebar-categories>

    </aside> -->
    <!--END NAV-->


    <div class="subs-container">
      <h1 class="listing-view-title">Atención a desarrollos</h2>
        <offers-directive />
    </div>
    <!-- END SUBCATEGORIES-->

  </div>
</div>
