<div class="breadcrumb">
  <div class="container container-xxlg">
    <p>
      <a href="/">Inicio</a>
      <a href="/ofertas" class="breadcrumb-active"> > Paquetes</a>
    </p>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">PAQUETES STUDIO</h3>
      <p class="text-center responsive-text">
        <small class="custom">
          Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla
          euismod ultrices.
        </small>
      </p>
    </div>
  </div>
</div>

<div class="container-fluid text-left">
  <div class="row">
    <div class="col-md-12">
      <offers-directive />
    </div>
  </div>
</div>

<style>
  .carousel-control-next {
    display: none;
  }

  .carousel-control-prev {
    display: none;
  }

  .btn-outline-secondary {
    display: none;
  }
</style>
