<div class="breadcrumb">
  <div class="container container-xxlg">
    <p>
      <a href="/">Inicio</a>
      <a href="/ofertas" class="breadcrumb-active"> > Ofertas</a>
    </p>
  </div>
</div>

<div class="content-block listing-view">
  <div class="container container-xxlg" layout="row" layout-align="space-between start">
    <!--START NAV-->
    <aside flex="20" hide-sm hide-xs>
      <sidebar-categories categories-tree="main.categoriesTree" selected-category-id="vm.category.id" active-store="main.activeStore">
      </sidebar-categories>

    </aside>
    <!--END NAV-->

    <div flex="75" flex-sm="100" flex-xs="100">

      <div class="subs-container">
        <h2 class="listing-view-title">Ofertas</h2>
        <offers-directive />
      </div>
    </div>
    <!-- END SUBCATEGORIES-->

  </div>
</div>