<section class="terms-view">
	<div 
		class="banner" 
		layout="row" 
		layout-align="center center"
		style="background-image: url(../images/terms.jpg)"
		>
		<div class="banner-inner">
			<h1>﻿⁠⁠⁠Nuestras marcas</h1>		
		</div>
	</div>
	<div class="container container-xlg our-brands">
		
		<div layout="row">
			
			<div flex class="brand">
        <a class="brand-logo" href="http://www.actualhome.com"><img src="images/Logo-A-Home.png" alt="Actual Group"></a>
				<h3><a href="http://www.actualhome.com" target="_blank">www.ActualHome.com</a></h3>
				<div class="slogan">
					<p><strong>#Stylelover</strong></p>
					<p><strong>Nos apasiona vivir con estilo</strong></p>
				</div>
				<p>Es exclusividad absoluta, es la marca para la persona que quiere lo mejor en decoración y mobiliario.</p>
				<p>Propone una imagen de vanguardia y élite, sofisticación absoluta que recuerda a los verdaderos amantes del diseño y la decoración que existe la mezcla entre el modernismo y la exclusividad.</p>
			</div>

			<div flex class="brand">
				<a class="brand-logo" href="http://www.actualstudio.com" target="_blank"><img src="images/Logo-A-Studio.png" alt="Actual Group"></a>
				<h3><a href="http://www.actualstudio.com" target="_blank">www.ActualStudio.com</a></h3>
				<div class="slogan">
					<p><strong>#Modernlover</strong></p>
					<p><strong>Pasión por diseño y arte moderno</strong></p>
				</div>
				<p>Es la búsqueda de la funcionalidad sobre lo recargado, es la marca para la persona práctica y jovial.</p>
				<p>El modernismo, más allá de las piezas que representan la época, también es una manera de pensar; una bienvenida al mobiliario honesto.</p>

			</div>

			<div flex class="brand">
				<a class="brand-logo" href="http://www.actualkids.com" target="_blank"><img src="images/Logo-A-Kids.png" alt="Actual Group"></a>
				<h3><a href="http://www.actualkids.com" target="_blank">www.ActualKids.com</a></h3>
				<div class="slogan">
					<p><strong>#Funlovers</strong></p>
					<p><strong>Nacer, crecer, reír y soñar en un ambiente de diseño</strong></p>
				</div>
				<p>Es combinación entre estilo, interactividad y diversión.</p>
				<p>Estilo para los más pequeños dotado de interactividad y entretenimiento puro al mismo tiempo que despiertan la creatividad.</p>
			</div>

		</div>

	</div>
</section>