<section class="terms-view">
  <div class="container container-xlg our-stores">
    <h1 class="section-title">⁠⁠Nuestras tiendas</h1>
    <div class="store-item" layout="row" layout-wrap layout-align="space-between start">

      <div class="store-item-column mt-2" flex="20" flex-sm="100" flex-xs="100">
        <img animate-visible="true" lazy-src="/images/stores/home-puertocancun.jpg" alt="Actual Home, Puerto Cancun"
          style="min-height:153px;" />
      </div>

      <div class="store-item-column mt-2" flex="20" flex-sm="100" flex-xs="100">
        <a href="https://my.matterport.com/show/?model=mW57xs76YM6&utm_source=3" class="overlayContainer">
          <div class="under-image"></div>
          <div class="over-text">
            <strong>Tour Virtual</strong>
            <img src="/images/white-arrow.png" />
          </div>
        </a>
        <!--<div>-->
        <!--  <iframe src="https://my.matterport.com/show/?model=mW57xs76YM6&utm_source=3" frameborder="0" class="responsive-iframe" style="border:0;">-->
        <!--  </iframe>-->
        <!--</div>-->
      </div>

      <div class="store-item-column mt-2" flex="20" flex-sm="100" flex-xs="100">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.793714188202!2d-86.80968768506513!3d21.1606061859271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2b9633f9419d%3A0x9c234bbd8843b8e!2sActual%20Home!5e0!3m2!1ses-419!2smx!4v1594316433497"
          class="responsive-iframe" frameborder="0" style="border:0;" allowfullscreen></iframe>
      </div>

      <div class="store-item-column" flex="40" flex-sm="100" flex-xs="100">
        <h2><strong>ACTUAL HOME, PUERTO CANCÚN</strong></h2>
        <p>
          PLANTA BAJA, Centro Comercial "Marina Town Center" Avenida Bonampak,
          Z.T., MZA-27, L-1-02, Unidad Condominal 27, Sección E, Benito Juárez,
          Cancun, Q.Roo, México, CP. 77500
        </p>

        <section class="store-info-table">
          <div layout="row">
            <div flex>
              <h4>Dias</h4>
            </div>
            <div flex>
              <h4>Horarios</h4>
            </div>
            <div flex>
              <h4>Teléfonos</h4>
            </div>
          </div>
          <div layout="row">
            <div flex>
              <p>Lunes - Domingo</p>
            </div>
            <div flex>
              <p>10:00am - 21:00pm</p>
            </div>
            <div flex>
              <p>01 (998) 313 3005</p>
              <p>01 (998) 313 3026</p>
              <p>01 (998) 217 1985</p>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="store-item" layout="row" layout-wrap layout-align="space-between start">
      <div class="store-item-column" flex="30" flex-sm="100" flex-xs="100">
        <img animate-visible="true" lazy-src="/images/stores/studio-malecon.png" alt="Actual Home, Xcaret" />
      </div>

      <div class="store-item-column" flex="30" flex-sm="100" flex-xs="100">
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.1419071438722!2d-86.82366268553119!3d21.146750185934547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2be2b7a531f3%3A0x4eba7c086e8d1836!2sActual+Studio!5e0!3m2!1ses-419!2smx!4v1500054188238"
            width="600" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="store-item-column" flex="40" flex-sm="100" flex-xs="100">
        <h2><strong>ACTUAL STUDIO, PLAZA MALECON AMERICAS</strong></h2>
        <p>
          Av. Bonampak, Local LA-07 y 08, Lt 1, SM 6 Col. Centro, C.P. 77511,
          Cancún, Quintana Roo, México
        </p>
        <section class="store-info-table">
          <div layout="row">
            <div flex>
              <h4>Dias</h4>
            </div>
            <div flex>
              <h4>Horarios</h4>
            </div>
            <div flex>
              <h4>Teléfonos</h4>
            </div>
          </div>
          <div layout="row">
            <div flex>
              <p>Lunes - Domingo</p>
            </div>
            <div flex>
              <p>10:00am - 21:00pm</p>
            </div>
            <div flex>
              <p>01 (998) 898 1489</p>
              <p>01 (998) 898 1982</p>
              <p>01 (998) 898 1350</p>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="store-item" layout="row" layout-wrap layout-align="space-between start">
      <div class="store-item-column mt-2" flex="20" flex-sm="100" flex-xs="100">
        <img animate-visible="true" lazy-src="/images/stores/studio-cumbres.png" alt="Actual Home, Xcaret" style="min-height:153px;"/>
      </div>
      <div class="store-item-column mt-2" flex="20" flex-sm="100" flex-xs="100">
        <a href="https://my.matterport.com/show/?m=rCrqRpsxzgN" class="overlayContainer">
          <div class="under-image"></div>
          <div class="over-text">
            <strong>Tour Virtual</strong>
            <img src="/images/white-arrow.png"/>
          </div>
        </a>
        <!--<div>-->
        <!--  <iframe src="https://my.matterport.com/show/?model=mW57xs76YM6&utm_source=3" frameborder="0" class="responsive-iframe" style="border:0;">-->
        <!--  </iframe>-->
        <!--</div>-->
      </div>
      <div class="store-item-column mt-2" flex="20" flex-sm="100" flex-xs="100">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d930.4991625672345!2d-86.84042035003314!3d21.112699722461453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2769a76bb8ad98c2!2sActual+Studio+Cumbres!5e0!3m2!1ses-419!2smx!4v1500054227719"
            class="responsive-iframe" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    
      <div class="store-item-column" flex="40" flex-sm="100" flex-xs="100">
        <h2><strong>ACTUAL STUDIO, CUMBRES</strong></h2>
        <p>
          Plaza Pabellón Cumbres, Blvd. Luis Donaldo Colosio, MZA 1, L 4-02, SM
          310, Residencial Cumbres, C.P.77505, Cancún, Quintana Roo, México
        </p>
        <section class="store-info-table">
          <div layout="row">
            <div flex>
              <h4>Dias</h4>
            </div>
            <div flex>
              <h4>Horarios</h4>
            </div>
            <div flex>
              <h4>Teléfonos</h4>
            </div>
          </div>
          <div layout="row">
            <div flex>
              <p>Lunes - Viernes</p>
              <p>Sábado</p>
              <p>Domingo</p>
            </div>
            <div flex>
              <p>10:00am - 20:00pm</p>
              <p>10:00am - 19:00pm</p>
              <p>11:00am - 18:00pm</p>
            </div>
            <div flex>
              <p>01 (998) 882 2093</p>
              <p>01 (998) 882 2317</p>
            </div>
          </div>
          <!--
          <div layout="row">
            <div flex>
              <p>Domingo</p>
            </div>
            <div flex>
              <p>10:00am - 17:00pm</p>
            </div>
            <div flex></div>
          </div>
          -->
        </section>
      </div>
    </div>

    <div class="store-item" layout="row" layout-wrap layout-align="space-between start">
      <div class="store-item-column" flex="30" flex-sm="100" flex-xs="100">
        <img animate-visible="true" lazy-src="/images/stores/studio-playa.jpg" alt="Actual Home, Mérida" />
      </div>

      <div class="store-item-column" flex="30" flex-sm="100" flex-xs="100">
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.985182322415!2d-87.0839451855415!3d20.62946078621603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4e4322bd50fc1d%3A0x8a7bb3a20ae4f412!2sACTUAL+Studio!5e0!3m2!1ses-419!2smx!4v1500054242231"
            width="600" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="store-item-column" flex="40" flex-sm="100" flex-xs="100">
        <h2><strong>ACTUAL STUDIO, PLAYA DEL CARMEN</strong></h2>
        <p>
          Carretera federal #307, Mza 89, entre calle 4 nte y 6 nte. Frente a
          torre de CFE, Col. centro C.P. 77710, Playa del Carmen, Quintana Roo,
          México
        </p>
        <section class="store-info-table">
          <div layout="row">
            <div flex>
              <h4>Dias</h4>
            </div>
            <div flex>
              <h4>Horarios</h4>
            </div>
            <div flex>
              <h4>Teléfonos</h4>
            </div>
          </div>
          <div layout="row">
            <div flex>
              <p>Lunes - Sábado</p>
              <p>Domingo</p>
            </div>
            <div flex>
              <p>9:30am - 19:30pm</p>
              <p>10:00am - 18:00pm</p>
            </div>
            <div flex>
              <p>01 (984) 803 4324</p>
              <p>01 (984) 803 4326</p>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="store-item" layout="row" layout-wrap layout-align="space-between start">
      <div class="store-item-column" flex="30" flex-sm="100" flex-xs="100">
        <img animate-visible="true" lazy-src="/images/stores/studio-merida.png" alt="Actual Home, Xcaret" />
      </div>

      <div class="store-item-column" flex="30" flex-sm="100" flex-xs="100">
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.07774315864!2d-89.60621608553355!3d21.02957508599796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5676ecf43b2d3d%3A0x4c7de63d5af51e9!2sACTUAL%2Fstudio!5e0!3m2!1ses-419!2smx!4v1500054268093"
            width="600" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="store-item-column" flex="40" flex-sm="100" flex-xs="100">
        <h2><strong>ACTUAL HOME, MÉRIDA </strong></h2>
        <p>
          Plaza Luxury Place Av. Andrés García Lavin entre calle 29 y 27, Col.
          Montebello C.P.97113, Mérida, Yucatán, México
        </p>
        <section class="store-info-table">
          <div layout="row">
            <div flex>
              <h4>Dias</h4>
            </div>
            <div flex>
              <h4>Horarios</h4>
            </div>
            <div flex>
              <h4>Teléfonos</h4>
            </div>
          </div>
          <div layout="row">
            <div flex>
              <p>Lunes - Viernes</p>
              <p>Sábado</p>
              <p>Domingo Cerrado</p>
            </div>
            <div flex>
              <p>10:00am – 20:00pm</p>
              <p>10:00am – 17:00pm</p>
            </div>
            <div flex>
              <p>01 (999) 948 4085</p>
              <p>01 (999) 948 1736</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="store-item" layout="row" layout-wrap layout-align="space-between start">
      <div class="store-item-column" flex="30" flex-sm="100" flex-xs="100">
        <img animate-visible="true" lazy-src="/images/stores/studio-isla.jpg" alt="Actual Studio, Isla" />
      </div>

      <div class="store-item-column" flex="30" flex-sm="100" flex-xs="100">
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.4105740807163!2d-89.5988515850669!3d21.056257785983526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f56777892322687%3A0x1a2b0daa520bcf97!2sLa%20isla%20M%C3%A9rida!5e0!3m2!1ses-419!2smx!4v1604786536352"
            width="600" height="600" frameborder="0" style="border:0;" allowfullscreen></iframe>
        </div>
      </div>
      <div class="store-item-column" flex="40" flex-sm="100" flex-xs="100">
        <h2><strong>ACTUAL STUDIO LA ISLA MÉRIDA </strong></h2>
        <p>
          Calle 24 Cabo, Polígono 108 C.P. 97143, Mérida, Yucatán, México
        </p>
        <section class="store-info-table">
          <div layout="row">
            <div flex>
              <h4>Dias</h4>
            </div>
            <div flex>
              <h4>Horarios</h4>
            </div>
            <div flex>
              <h4>Teléfonos</h4>
            </div>
          </div>
          <div layout="row">
            <div flex>
              <p>Lunes - Domingo</p>
            </div>
            <div flex>
              <p>11:00am – 21:00pm</p>
            </div>
            <div flex>
              <p>01 (998) 870 5050</p>
              <p>01 (999) 518 3667</p>
              <p>01 (999) 518 3562</p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
