<section class="terms-view">
	<div 
		class="banner" 
		layout="row" 
		layout-align="center center"
		style="background-image: url(../images/terms.jpg)"
		>
		<div class="banner-inner">
			<h1>﻿⁠⁠⁠Nuestras tiendas</h1>		
		</div>
	</div>
	<div class="container container-xlg our-stores">
		
		<div layout="row">
			<div flex="50">
				<h3><strong>ACTUAL HOME XCARET </strong></h3>
				<p>SM 36, MZ 2, LT 3 entre Av. Xcaret y Coba, Col. Centro, C.P. 77500, Cancún, Quintana Roo, México </p>
			</div>
			<div flex="25"></div>
			<div flex="25"></div>
		</div>

		<div layout="row">
			<div flex="50">
				<h3><strong>ACTUAL STUDIO PLAZA MALECON AMERICAS</strong></h3>
				<p>Av. Bonampak, Local LA-07 y 08, Lt 1, SM 6 Col. Centro, C.P. 7511, Cancún, Quintana Roo, México</p>
			</div>
			<div flex="25"></div>
			<div flex="25"></div>
		</div>

		<div layout="row">
			<div flex="50">
				<h3><strong>ACTUAL STUDIO CUMBRES</strong></h3>
				<p>Plaza Pabellón Cumbres, Blvd. Luis Donaldo Colosio,  MZA 1, L 4-02, SM 310, Residencial Cumbres, C.P.77505, Cancún, Quintana Roo, México</p>
			</div>
			<div flex="25"></div>
			<div flex="25"></div>
		</div>

		<div layout="row">
			<div flex="50">
				<h3><strong>ACTUAL STUDIO PLAYA DEL CARMEN</strong></h3>
				<p>Carretera federal #307, Mza 89, entre calle 4 nte y 6 nte. Frente a torre de CFE, Col. centro C.P. 77710, Playa del Carmen, Quintana Roo, México</p>
			</div>
			<div flex="25"></div>
			<div flex="25"></div>
		</div>

		<div layout="row">
			<div flex="50">
				<h3><strong>ACTUAL STUDIO MÉRIDA </strong></h3>
				<p>Plaza Luxury Palace  Av. Andrés García Lavin entre calle 29 y 27, Col. Montebello C.P.97113, Mérida, Yucatán, México</p>
			</div>
			<div flex="25"></div>
			<div flex="25"></div>
		</div>

	</div>
</section>