<section class="terms-view">
	<div 
		class="banner" 
		layout="row" 
		layout-align="center center"
		style="background-image: url(../images/terms.jpg)"
		>
		<div class="banner-inner">
			<h1>Formas de pago</h1>		
		</div>
	</div>
	<div class="container container-xlg">
		
		<div class="payments-methods-info" layout="row" layout-align="space-between start">
			
			<div flex="45">
				<table>
					<tr>
						<td></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td></td>
						<td>3, 6, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td></td>
						<td>3, 6, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td></td>
						<td>3, 6, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td></td>
						<td>3, 6, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td></td>
						<td>3, 6, 12 Mensualidades sin intereses</td>
					</tr>
				</table>

			</div>

			<div flex="45">
				<table>
					<tr>
						<td></td>
						<td>3, 6, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td></td>
						<td>3, 6, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td></td>
						<td>3, 6, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td></td>
						<td>3, 6, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td></td>
						<td>3, 6, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td></td>
						<td>3, 6, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td></td>
						<td>3, 6, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td></td>
						<td>3, 6, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td></td>
						<td>3, 6, 12 Mensualidades sin intereses</td>
					</tr>
				</table>

				<p>Desde 3 hasta 12 meses sin intereses (msi) en la compra mínima de $300.00 pesos para 3 msi, $600 pesos para 6 msi, $900 pesos para 9 msi y $1,200 pesos para 12 msi. Promoción valida solo en tarjetas participantes emitidas en México. CAT 0% informativo</p>

			</div>

		</div>

	</div>
</section>