<section class="terms-view payment-banks">
	<div class="container container-xlg">
		<h1 class="section-title">Formas de pago</h1>	

		<div 
			class="payments-methods-info" 
			layout="row" 
			layout-align="space-between start"
			layout-wrap
		>
			
			<div flex="45" flex-sm="100" flex-xs="100">
				<table>
					<tr>
						<td><img animate-visible="true" lazy-src="images/banks/afirme.png" alt=""></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td><img animate-visible="true" lazy-src="images/banks/american-express.png" alt=""></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td><img animate-visible="true" lazy-src="images/banks/banamex.png" alt=""></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td><img animate-visible="true" lazy-src="images/banks/banbajio.png" alt=""></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td><img animate-visible="true" lazy-src="images/banks/bancomer.png" alt=""></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td><img animate-visible="true" lazy-src="images/banks/banjercito.png" alt=""></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td><img animate-visible="true" lazy-src="images/banks/banorte.png" alt=""></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td><img animate-visible="true" lazy-src="images/banks/banregio.png" alt=""></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td><img animate-visible="true" lazy-src="images/banks/famsa.png" alt=""></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
				</table>

			</div>

			<div flex="45" flex-sm="100" flex-xs="100">
				<table>
					<tr>
						<td><img animate-visible="true" lazy-src="images/banks/hsbc.png" alt=""></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td><img animate-visible="true" lazy-src="images/banks/inbursa.png" alt=""></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td><img animate-visible="true" lazy-src="images/banks/invex.jpg" alt=""></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td><img animate-visible="true" lazy-src="images/banks/itaucard.png" alt=""></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td><img animate-visible="true" lazy-src="images/banks/ixe.png" alt=""></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td><img animate-visible="true" lazy-src="images/banks/mifel.png" alt=""></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td><img animate-visible="true" lazy-src="images/banks/santander.png" alt=""></td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
					<tr>
						<td>Platinum Card</td>
						<td>3, 6, 9, 12 Mensualidades sin intereses</td>
					</tr>
				</table>

				<p>Desde 3 hasta 12 meses sin intereses (msi) en la compra mínima de $300.00 pesos para 3 msi, $600 pesos para 6 msi, $800 pesos para 9 msi y $1,200 pesos para 12 msi. Promoción valida solo en tarjetas participantes emitidas en México. CAT 0% informativo</p>

			</div>

		</div>

	</div>
</section>