<section class="terms-view">
	<div 
		class="banner" 
		layout="row" 
		layout-align="center center"
		style="background-image: url(../images/terms.jpg)"
		>
		<div class="banner-inner">
			<h1>Filosofia | Valores</h1>		
		</div>
	</div>
	<div class="container container-xlg">

		<h2>Visión</h2>
		<p>Ser el líder en decoración e interiorismo residencial en los territorios donde se establezcan nuestras marcas, creando experiencias únicas y memorables para cada uno de nuestros  clientes transmitiendo a través de procesos vanguardistas y nuestro talento humano el amor por el diseño.</p>

		<h2>Manifiesto</h2>
		<p>Nosotros somos ACTUAL.</p>
		<p>Amamos el diseño y lo más importante es el CLIENTE. </p>

		<p>Amamos el arte moderno y la arquitectura, los interiores y los objetos extraordinarios, amamos el arte transformado en muebles y piezas decorativas. 
		Amamos la atmósfera y el estilo, las pieles de los edificios, la luz y el sonido, el aroma de los jardines y la risa de la gente. </p>

		<p>Amamos a los artistas, diseñadores y artesanos, que crean todo en sus sueños y con sus propias manos. Del mismo modo, amamos a los que admiran y disfrutan el diseño. </p>
		
		<p>Cada día el diseño se expande, nos mueve y toca nuestros corazones, el diseño está en todas partes, el diseño está sobre todo y todo es diseño.</p><p>El diseño expresa valores significativos, emociones y personalidad.	</p>

		<p>Nosotros somos ACTUAL  amamos el diseño, la manufactura perfecta, la innovación y  la  belleza. Creamos una plataforma  para apasionados y profesionistas que aman el diseño.</p>

		<p>Cada uno de nuestros showrooms son galerías que exaltan los sentidos e inspiran la creatividad de nuestros clientes. </p>

		<p>Te invitamos a ser parte de esta manifestación de amor por el diseño, a descubrir y a compartir una experiencia por la pasión y la originalidad, déjate llevar y seducir por la belleza y lujo accesible de nuestros productos. </p>

	</div>
</section>