<section class="terms-view">
	<div 
		class="banner" 
		layout="row" 
		layout-align="center center"
		style="background-image: url(../images/terms.jpg)"
		>
		<div class="banner-inner">
			<h1>Aviso de privacidad</h1>		
		</div>
	</div>
	<div class="container container-xlg">

		<h2>En cumplimiento con lo establecido por la Ley Federal de Protección de Datos Personales en Posesión de Particulares (LFPDPPP) Actual Group pone a su disposición el siguiente Aviso de Privacidad:</h2>

		<h2>Responsable de la protección y tratamiento de sus Datos Personales</h2>
		<p>AH Actual S.A. de C.V. (En lo sucesivo “Actual Group”), con domicilio en SM 36, MZ 2, LT 3 entre Av. Xcaret y Coba, Col. Centro, C.P. 77500, Cancún, Quintana Roo, México.</p>

		<h2>Medios de obtención de Datos Personales</h2>
		<p>Los datos personales que Actual Group recabe de usted, serán destinados únicamente para los fines descritos en el presente aviso de privacidad y podrán ser recabados:</p>
		<ul>
			<li>De manera directa, ingresando sus datos o utilizando los servicios en línea a través de la página <a href="http://www.actualhome.com" target="_blank">www.ActualHome.com</a>; <a href="http://www.actualstudio.com" target="_blank">www.ActualStudio.com</a>  y/o <a href="http://www.actualkids.com" target="_blank">www.ActualKids.com</a> </li>
			<li>De manera directa, a través de nuestro centro de reservación telefónica “call center”.</li>
			<li>De manera personal, a través de nuestros representantes de reservaciones</li>
		</ul>

		<h2>Datos recabados</h2>
		<p>Los datos que Actual Group recabe de usted, serán los siguientes: Nombre completo con apellidos, número de teléfono, correo electrónico, domicilio y datos financieros como lo son: Número de tarjeta de crédito, nombre del titular de la misma, fecha de vencimiento, código de seguridad y  aquellos datos que resulten necesarios para completar y administrar las compras solicitadas por usted.</p>

		<h2>Finalidad de los Datos Personales recabados</h2>
		<p>Sus datos personales serán recabados para las siguientes finalidades principales que son necesarias para el servicio que solicita:</p>
		<p>-Procesamiento, seguimiento, actualización, modificación, cancelación y confirmación de los servicios por usted adquiridos con Actual Group a través de sus medios, con fines financieros y crediticios, para dar cumplimiento a las obligaciones contraídas con usted y con nuestros proveedores.</p>

		<p>Y de manera accesoria, utilizaremos su información personal para las siguientes finalidades que no son necesarias para el servicio solicitado, pero que nos permiten y facilitan una mejor atención:</p>

		<p>-Evaluar la calidad del servicio, realizar sondeos sobre hábitos y preferencias de compra, para participar en concursos y sorteos, programas de lealtad, así como para el envío de  promociones, ofertas, servicios y  fines publicitarios (Única y exclusivamente para Actual Group).</p>

		<p>Los titulares de manera inmediata y gratuita podrán en cualquier momento solicitar la cancelación de envío de correos electrónicos con fines publicitarios por parte de Actual Group, haciendo click en el link “Cancelar suscripción”.</p>

		<p>En caso de que no desee que sus datos personales sean tratados para estos fines adicionales, usted puede presentar desde este momento un escrito vía correo electrónico a la dirección <a href="mailto:privacidad@actualg.com">privacidad@actualg.com</a>.</p>

		<h2>Transferencia de datos, nacional e internacional</h2>
		<p>En virtud de lo expuesto en los artículos 36 y 37 de la LFPDPPP sus datos personales podrán ser transferidos y/o compartidos a:</p>

		<ul>
			<li>a)Sociedades controladoras, subsidiarias o afiliadas bajo el control común de Actual Group, o a una sociedad matriz o a cualquier sociedad del mismo grupo de Actual Group que opere bajo los mismos procesos y políticas internas;</li>
			<li>b) Cuando la transferencia sea necesaria por virtud de un contrato celebrado o por celebrar en interés del titular, por el responsable y un tercero;</li>
			<li>c) Cuando la transferencia sea precisa para el mantenimiento o cumplimiento de una relación jurídica entre el responsable y el titular tales como los Proveedores, Proveedores de Servicios, Instituciones Bancarias y Crediticias, y entre otras.</li>
		</ul>

		<p>Es importante señalar que los terceros a los que se transfieran sus datos personales se obligarán en los mismos términos del presente Aviso de Privacidad y cumplirán con las medidas de seguridad y confidencialidad correspondientes.</p>
		<p>De cualquier manera, nos comprometemos a no transferir su información personal a terceros sin su consentimiento, salvo en el caso de  lo previsto en el artículo 37 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, así como a realizar esta transferencia en los términos que fija dicha Ley.</p>

		<h2>Ejercicio de los Derechos ARCO</h2>
		<p>El artículo 28 de la  LFPDPPP, le otorga cuatro derechos a ejercer:</p>
		<ul>
			<li>El titular tiene derecho a <strong>Acceder</strong> a sus datos personales que obren en poder del responsable y a conocer el Aviso de Privacidad y  sus finalidades.</li>
			<li>El titular tiene derecho a <strong>Rectificar</strong> sus datos en caso de ser inexactos, incorrectos o estén desactualizados.</li>
			<li>El titular tiene derecho a <strong>Cancelar</strong>  sus datos personales cuando considere que no están siendo utilizados para el cumplimiento de los fines establecidos en el presente Aviso de Privacidad.</li>
			<li>El titular tiene derecho a <strong>Oponerse</strong> al tratamiento de sus datos personales respecto a alguno de los fines establecidos en el presente Aviso de Privacidad.</li>
		</ul>

		<h2>Derecho de revocar su consentimiento para el tratamiento de datos</h2>
		<p>El artículo 8 de La LFPDPPP, prevé la posibilidad de revocar el consentimiento otorgado para el tratamiento de sus datos personales. Para revocarlo usted podrá solicitarlo utilizando el mismo mecanismo y procedimiento para el ejercicio de los Derechos ARCO previsto en el presente aviso. No obstante, Actual Group le informa que el mantener sus datos personales en su base de datos, le permitirá entender mejor sus necesidades con base a su historial y con ello ofrecerle un mejor servicio en sus futuras compras.</p>

		<h2>Mecanismos para el ejercicio de los Derechos ARCO y Revocación del consentimiento para el tratamiento de sus datos</h2>
		<p>Para ejercer sus derechos de Acceso, Rectificación, Cancelación y Oposición o su derecho a revocar el consentimiento para el tratamiento de sus datos personales, deberá llenar y enviar el  FORMATO DE EJERCICIO DE DERECHOS ARCO, mismo que podrá descargar aquí, el cual deberá remitir a Actual Group a través del siguiente correo electrónico: <a href="mailto:privacidad@actualg.com">privacidad@Actualg.com</a>, o dirigir el formato físicamente a la siguiente dirección: SM 36, MZ 2, LT 3 entre Av. Xcaret y Coba, Col. Centro, C.P. 77500, Cancún, Quintana Roo, México, con atención al Departamento de Protección de Datos Personales, o bien, podrá presentar su solicitud por escrito y en idioma español y cumpliendo con los requisitos señalados en el artículo 29 del reglamento de la LFPDPPP. Para mayor información podrá comunicarse directamente al Departamento de Protección de Datos Actual Group al teléfono: (52) 998 123 4567.</p>
		<p>Para la procedencia del ejercicio de sus Derechos ARCO usted deberá acreditar la titularidad de sus derechos ARCO o bien la representación respecto al titular a través de la presentación de copia de su documento de identificación y la exhibición del original para su cotejo, o aquellos instrumentos establecidos en el artículo 89 del reglamento de la LFPDPPP.</p>
		<p> “Artículo 29.- La solicitud de acceso, rectificación, cancelación u oposición deberá contener y acompañar lo siguiente:</p>

		<ul>
			<li>I. El nombre del titular y domicilio u otro medio para comunicarle la respuesta a su solicitud;</li>
			<li>II. Los documentos que acrediten la identidad o, en su caso, la representación legal del titular;</li>
			<li>III. La descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos antes mencionados, y</li>
			<li>IV. Cualquier otro elemento o documento que facilite la localización de los datos personales.”</li>
		</ul>

		<p>Actual Group le dará seguimiento a su solicitud en un lapso de 20 días hábiles contados a partir de la recepción de dicho FORMATO o solicitud, con la documentación completa, para comunicarle sobre la procedencia de la misma. En caso de resultar procedente, Actual Group contará con un plazo máximo de 15 días hábiles para hacer efectivo su derecho ARCO.</p>

		<h2>Medidas para proteger su información y para limitar el uso o divulgación de su información personal</h2>
		<p>Su información personal será resguardada bajo estricta confidencialidad y para prevenir razonablemente el uso o divulgación indebida de la misma, hemos implementado medidas de seguridad física, técnicas y administrativas de conformidad con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y demás normatividad aplicable.</p>
		<p>En particular, contamos con una política de privacidad, cursos de capacitación al personal, acceso restringido a información personal sólo a usuarios autorizados, oficiales de privacidad, un inventario de datos personales (debidamente clasificados por categoría de datos), de los sistemas de tratamiento, análisis de riesgos y cláusulas contractuales.</p>
		<p>Con objeto de que usted pueda limitar el uso y divulgación de su información personal, le ofrecemos la opción de su inscripción en el Registro Público para evitar Publicidad (REPEP), que está a cargo de la Procuraduría Federal del Consumidor (PROFECO), con la finalidad de que sus datos personales no sean utilizados para recibir publicidad o promociones de empresas de bienes o servicios. Para mayor información sobre este registro, usted puede consultar el portal de Internet de la PROFECO, o bien ponerse en contacto directo con ésta.</p>

		<h2>Cookies</h2>
		<p>Actual Group utiliza cookies propias y de terceros para analizar su navegación y ofrecerle un servicio más personalizado acorde a sus intereses.</p>
		<p>Si desea conocer nuestra política de Cookies de click aquí.</p>

		<h2>Modificaciones al presente aviso de privacidad</h2>
		<p>Actual Group  podrá efectuar en cualquier momento modificaciones o actualizaciones al presente Aviso de Privacidad.</p>
		<p>Las modificaciones o actualizaciones que se efectúen, entrarán en vigor en el momento en que son publicados en el sitio de internet <a href="http://www.actualhome.com" target="_blank">www.ActualHome.com</a>; <a href="http://www.actualstudio.com" target="_blank">www.ActualStudio.com</a>  y/o <a href="http://www.actualkids.com" target="_blank">www.ActualKids.com</a>  o en cualquier medio de comunicación que utilice para publicarlo,  por lo que se recomienda su revisión continua.</p>

		<h2>Aceptación expresa del Aviso de Privacidad</h2>
		<p>Si usted no se opone de manera expresa al presente aviso y sus  actualizaciones se da por entendido que ha otorgado su consentimiento tácito en términos del artículo 8 de la LFPDPPP.</p>
		<p>Actual Group  le sugiere la lectura del presente Aviso de Privacidad, ya que al aportar sus datos por cualquier medio, constituye la aceptación del presente Aviso de Privacidad.</p>

	</div>
</section>