<section class="terms-view">
	<div 
		class="banner" 
		layout="row" 
		layout-align="center center"
		style="background-image: url(../images/terms.jpg)"
		>
		<div class="banner-inner">
			<h1>Aviso de privacidad</h1>		
		</div>
	</div>
	<div class="container container-xlg">

		<h2>En cumplimiento con lo establecido por la Ley Federal de Protección de Datos Personales en Posesión de Particulares (LFPDPPP) Actual Group pone a su disposición el siguiente Aviso de Privacidad:</h2>

		<h2>Responsable de la protección y tratamiento de sus Datos Personales</h2>
		<p>AH Actual S.A. de C.V. (En lo sucesivo “Actual Group”), con domicilio en SM 36, MZ 2, LT 3 entre Av. Xcaret y Coba, Col. Centro, C.P. 77500, Cancún, Quintana Roo, México.</p>

		<h2>Medios de obtención de Datos Personales</h2>
		<p>Los datos personales que Actual Group recabe de usted, serán destinados únicamente para los fines descritos en el presente aviso de privacidad y podrán ser recabados:</p>
		<ul>
			<li>De manera directa, ingresando sus datos o utilizando los servicios en línea a través de la página <a href="http://www.actualhome.com" target="_blank">www.ActualHome.com</a>; <a href="http://www.actualstudio.com" target="_blank">www.ActualStudio.com</a>  y/o <a href="http://www.actualkids.com" target="_blank">www.ActualKids.com</a> </li>
			<li>De manera directa, a través de nuestro centro de reservación telefónica “call center”.</li>
			<li>De manera personal, a través de nuestros representantes de reservaciones</li>
		</ul>

		<h2>Datos recabados</h2>
		<p>Los datos que Actual Group recabe de usted, serán los siguientes: Nombre completo con apellidos, número de teléfono, correo electrónico, domicilio y datos financieros como lo son: Número de tarjeta de crédito, nombre del titular de la misma, fecha de vencimiento, código de seguridad y  aquellos datos que resulten necesarios para completar y administrar las compras solicitadas por usted.</p>

		<h2>Finalidad de los Datos Personales recabados</h2>
		<p>Sus datos personales serán recabados para las siguientes finalidades principales que son necesarias para el servicio que solicita:</p>
		<p>-Procesamiento, seguimiento, actualización, modificación, cancelación y confirmación de los servicios por usted adquiridos con Actual Group a través de sus medios, con fines financieros y crediticios, para dar cumplimiento a las obligaciones contraídas con usted y con nuestros proveedores.</p>

		<p>Y de manera accesoria, utilizaremos su información personal para las siguientes finalidades que no son necesarias para el servicio solicitado, pero que nos permiten y facilitan una mejor atención:</p>

		<p>-Evaluar la calidad del servicio, realizar sondeos sobre hábitos y preferencias de compra, para participar en concursos y sorteos, programas de lealtad, así como para el envío de  promociones, ofertas, servicios y  fines publicitarios (Única y exclusivamente para Actual Group).</p>

		<p>Los titulares de manera inmediata y gratuita podrán en cualquier momento solicitar la cancelación de envío de correos electrónicos con fines publicitarios por parte de Actual Group, haciendo click en el link “Cancelar suscripción”.</p>

		<p>En caso de que no desee que sus datos personales sean tratados para estos fines adicionales, usted puede presentar desde este momento un escrito vía correo electrónico a la dirección <a href="mailto:privacidad@actualg.com">privacidad@actualg.com</a>.</p>

		<h2>Transferencia de datos, nacional e internacional</h2>
		<p>En virtud de lo expuesto en los artículos 36 y 37 de la LFPDPPP sus datos personales podrán ser transferidos y/o compartidos a:</p>

		<ul>
			<li>a)Sociedades controladoras, subsidiarias o afiliadas bajo el control común de Actual Group, o a una sociedad matriz o a cualquier sociedad del mismo grupo de Actual Group que opere bajo los mismos procesos y políticas internas;</li>
			<li>b) Cuando la transferencia sea necesaria por virtud de un contrato celebrado o por celebrar en interés del titular, por el responsable y un tercero;</li>
			<li>c) Cuando la transferencia sea precisa para el mantenimiento o cumplimiento de una relación jurídica entre el responsable y el titular tales como los Proveedores, Proveedores de Servicios, Instituciones Bancarias y Crediticias, y entre otras.</li>
		</ul>

		<p>Es importante señalar que los terceros a los que se transfieran sus datos personales se obligarán en los mismos términos del presente Aviso de Privacidad y cumplirán con las medidas de seguridad y confidencialidad correspondientes.</p>
		<p>De cualquier manera, nos comprometemos a no transferir su información personal a terceros sin su consentimiento, salvo en el caso de  lo previsto en el artículo 37 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, así como a realizar esta transferencia en los términos que fija dicha Ley.</p>

		<h2>Ejercicio de los Derechos ARCO</h2>
		<p>El artículo 28 de la  LFPDPPP, le otorga cuatro derechos a ejercer:</p>
		<ul>
			<li>El titular tiene derecho a <strong>Acceder</strong> a sus datos personales que obren en poder del responsable y a conocer el Aviso de Privacidad y  sus finalidades.</li>
			<li>El titular tiene derecho a <strong>Rectificar</strong> sus datos en caso de ser inexactos, incorrectos o estén desactualizados.</li>
			<li>El titular tiene derecho a <strong>Cancelar</strong>  sus datos personales cuando considere que no están siendo utilizados para el cumplimiento de los fines establecidos en el presente Aviso de Privacidad.</li>
			<li>El titular tiene derecho a <strong>Oponerse</strong> al tratamiento de sus datos personales respecto a alguno de los fines establecidos en el presente Aviso de Privacidad.</li>
		</ul>

		<h2>Derecho de revocar su consentimiento para el tratamiento de datos</h2>
		<p>El artículo 8 de La LFPDPPP, prevé la posibilidad de revocar el consentimiento otorgado para el tratamiento de sus datos personales. Para revocarlo usted podrá solicitarlo utilizando el mismo mecanismo y procedimiento para el ejercicio de los Derechos ARCO previsto en el presente aviso. No obstante, Actual Group le informa que el mantener sus datos personales en su base de datos, le permitirá entender mejor sus necesidades con base a su historial y con ello ofrecerle un mejor servicio en sus futuras compras.</p>

	</div>
</section>