<div class="breadcrumb">
  <div class="container container-xxlg">
    <p>
      <a href="#">Inicio</a>
      <a href="#"> > Muebles</a>
      <a href="#" class="breadcrumb-active"> > Salas</a>
    </p>
  </div>
</div>
<div class="content-block listing-view">
  <div class="container container-xxlg" layout="row" layout-align="space-between start">

    <!--START NAV-->
    <sidebar-categories flex="25"></sidebar-categories>
    <!--END NAV-->

    <!--MAIN VIEW-->
    <div class="product-view" flex="70">
      <h2 class="listing-view-title">{{vm.product.Name || vm.product.ItemName}}</h2>
      <div
        class="sub sub-set"
        ng-style="{'background-image' : 'url(' + 'images/living-room-comfortable-minimalist-living-room-seatting-for-apartment-minimalist-living-room-design-combined-sectional-black-upholstered-sofas-and-simple-oak-coffee-table-and-gray-fur-rug.jpg' + ')'}">
        <!--
        <img class="sub-image" src="images/living-room-comfortable-minimalist-living-room-seatting-for-apartment-minimalist-living-room-design-combined-sectional-black-upholstered-sofas-and-simple-oak-coffee-table-and-gray-fur-rug.jpg" alt="">
        -->
        <div class="sub-text">
          <h4><a href="#">Ambiente | <strong>Salas</strong></a></h4>
        </div>
        <a href="#" class="absolute-link"></a>
      </div>

      <div ng-if="vm.isLoading" layout-fill layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"  md-diameter="150"></md-progress-circular>
      </div>
      <!--PRODUCT VIEW CONTENT-->
      <section ng-if="!vm.isLoading" class="product-view-content">

        <div layout="row">
          <div class="product-view-gallery-wrap" flex="50">

            <div class="product-view-gallery">
              <slick
                init-onload="true"
                data="vm.areImagesLoaded"
                arrows="true"
                draggable="false"
              >
                <div ng-repeat="image in vm.galleryImages track by $index" class="product-view-gallery-img">
                  <div class="product-view-gallery-img-inner">
                    <img ng-src="{{image.url}}" alt="{{vm.product.icon_description}}">
                  </div>
                </div>
              </slick>
            </div>

            <div class="product-view-gallery-thumbs">
              <slick
                slides-to-show="4"
                slides-to-scroll="4"
                init-onload="true"
                data="vm.areImagesLoaded"
                arrows="false"
                draggable="false"
              >
                <div ng-repeat="image in vm.galleryImages track by $index">
                  <div class="product-view-gallery-thumb">
                    <a ng-click="vm.setGalleryIndex($index)" href="" class="product-view-gallery-thumb-inner"><img ng-src="{{image.url}}" alt=""></a>
                  </div>
                </div>
              </slick>
            </div>

          </div>

          <!--PRODUCT VIEW DATA-->
          <div flex="50" class="product-view-data">
            <div class="product-view-data-block">
              <h4 ng-click="vm.nextSlide()"><strong>CARACTERISTICAS</strong></h4>
              <table>
                <tr ng-repeat="filter in vm.filters">
                  <td ng-if="filter.Values.length > 0 && filter.Name != 'Color paleta' ">{{filter.Name}}: </td>
                  <td ng-if="filter.Values.length > 0 && filter.Name != 'Color paleta' ">
                    <span ng-repeat="value in filter.Values track by $index">
                      <strong>{{value.Name}}</strong>
                      <span ng-if="$index < (filter.Values.length-1)">,</span>
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>Color</td>
                  <td><strong>{{vm.product.DetailedColor || vm.product.U_COLOR}}</strong></td>
                </tr>
              </table>

            </div>
            <div class="product-view-data-block">
              <h4><strong>DIMENSIONES</strong></h4>
              <table>
                <tr>
                  <td>Largo:</td>
                  <td><strong>{{vm.product.Length | number:2}} {{vm.product.LengthUnitMsr}}</strong></td>
                </tr>
                <tr>
                  <td>Ancho:</td>
                  <td><strong>{{vm.product.Width | number:2}} {{vm.product.WidthUnitMsr}}</strong></td>
                </tr>
                <tr>
                  <td>Alto:</td>
                  <td><strong>{{vm.product.Height | number:2}} {{vm.product.HeightUnitMsr}}</strong></td>
                </tr>
                <tr>
                  <td>Volumen:</td>
                  <td><strong>{{vm.product.Volume | number:2}} {{vm.product.VolumeUnitMsr}}</strong></td>
                </tr>
                <tr>
                  <td>Peso:</td>
                  <td><strong>{{vm.product.Weight | number:2}} {{vm.product.WeightUnitMsr}}</strong></td>
                </tr>

              </table>
            </div>

            <div ng-if="vm.hasVariants" class="product-view-data-block">
              <h4 class="product-view-data-block-toggle" ng-class="{'opened-toggle': vm.toggleVariants}">
                <a href="#"  ng-click="vm.toggleVariants = !vm.toggleVariants">
                  <strong>VARIANTES</strong>
                </a>
              </h4>
              <div ng-show="vm.toggleVariants" class="hl-data variants-picker">
                  <div ng-repeat="variant in vm.variants">
                    <div class="variant-row" ng-if="variant.products.length > 0"  layout="row">
                      <div flex="30"><strong>{{variant.name}}:</strong></div>

                      <!--
                      <div ng-if="variant.handle == 'color' " flex="70">
                        <div>
                          <span
                            ng-repeat="filterValue in variant.filterValues"
                            class="variant-color"
                            ng-class="{'variant-color-on': filterValue.selected}"
                            ng-style="{'background-color' : filterValue.Code}">
                            {{filterValue.product}}
                          </span>
                        </div>
                      </div>
                      -->

                      <div ng-if=" variant.handle == 'color'  " flex="70" >

                        <div
                          class="variant-color"
                          layout="row"
                          layout-wrap
                          ng-repeat="prod in variant.products"
                          ng-click="vm.init(prod.id, true)"
                          ng-class="{'variant-color-on': prod.id == vm.product.ItemCode}"
                        >
                          <span
                            class="variant-color-val"
                            ng-repeat="val in prod.filterValues track by $index"
                            ng-style=" {'background' : val.Code, 'width' : (100 / prod.filterValues.length) +'%' } "
                          >
                          </span>

                        </div>

                      </div>

                      <div ng-if=" variant.handle != 'color'  " flex="70" >
                        <md-radio-group ng-model="vm.product.ItemCode" class="md-primary">

                          <md-radio-button
                              ng-repeat="prod in variant.products"
                              ng-value="prod.id"
                              ng-click="vm.init(prod.id, true)"
                              class="" >
                             <span ng-repeat="val in prod.filterValues track by $index">
                              {{val.Name}}<span ng-if="$index < (prod.filterValues.length-1) ">, </span>
                             </span>
                          </md-radio-button>

                        </md-radio-group>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

            <div class="product-view-data-block">
              <h4 class="product-view-data-block-toggle"  ng-class="{'opened-toggle': vm.availableToggle}">
                <a href="#"  ng-click="vm.availableToggle = !vm.availableToggle">
                  <strong>DISPONIBILIDAD:</strong> solo quedan <strong>{{vm.product.OnHand}} productos</strong>
                </a>
              </h4>
              <div ng-show="vm.availableToggle" class="hl-data">
                <h4><strong>STOCK</strong></h4>
                <table>
                <!--
                  <tr ng-repeat="stock in vm.product.prices">
                    <td>Actual Studio Cancun:</td>
                    <td><strong>3</strong></td>
                  </tr>
                -->
                  <tr ng-repeat="stock in vm.product.stock">
                    <td>{{stock.WhsCode}}:</td>
                    <td><strong>{{stock.OnHand}}</strong></td>
                  </tr>

                  <tr>
                    <td><strong>Total:</strong></td>
                    <td><strong>{{vm.product.OnHand}}</strong></td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="product-view-data-block">
              <div layout="row" layout-align="space-between center">
                <a flex href="#" ng-click="vm.discountToggle = !vm.discountToggle" class="product-view-data-block-toggle-btn">
                  <strong>Máx. Descuento</strong>
                </a>
                <h4>
                  <span class="product-view-price-crossed">{{vm.product.price.value | currency}} | </span>
                  <span class="product-view-price">{{vm.product.price.value | currency}}</span>
                </h4>
              </div>
              <div ng-show="vm.discountToggle" class="hl-data">
                <h4><strong>PROMOCIONES</strong></h4>
                <table>
                  <tr>
                    <td>Precio Lista:</td>
                    <td><strong>$24,399</strong></td>
                  </tr>
                  <tr>
                    <td>Promoción: <strong>Pago ÚNICO <span class="hl-text">20%</span></strong></td>
                    <td><span class="crossed-text">$24,399</span> | <strong class="hl-text">$19,519</strong></td>
                  </tr>
                  <tr>
                    <td>Promoción: <strong>6 Meses sin intereses <span class="hl-text">15%</span></strong></td>
                    <td><span class="crossed-text">$24,399</span> | <strong>$20,739</strong></td>
                  </tr>
                  <tr>
                    <td>Promoción: <strong>12 meses sin intereses <span class="hl-text">10%</span></strong></td>
                    <td><span class="crossed-text">$24,399</span> | <strong class="hl-text">$21,959</strong></td>
                  </tr>

                </table>
              </div>
            </div>

            <a ng-click="vm.addToCart($event)" href="#" class="add-cart-btn">
              <strong>Agregar al carrito</strong>
            </a>
            <p class="seen-number">Visto 16 veces hoy</p>

          </div>
          <!--END PRODUCT VIEW DATA-->

        </div>

        <section class="desc-wrapper">
          <div class="desc-head" layout="row">
            <div
              flex="50"
              class="desc-head-item"
              ng-class="{'desc-head-item-on' : !vm.toggleProductDescription }"
              ng-click="vm.toggleProductDescription = !vm.toggleProductDescription">
              <h3>Detalles del artículo</h3>
            </div>
            <div
              flex="50"
              class="desc-head-item"
              ng-class="{'desc-head-item-on' : vm.toggleProductDescription}"
              ng-click="vm.toggleProductDescription = !vm.toggleProductDescription">
              <h3>Detalles de la entrega</h3>
            </div>
          </div>
          <div class="desc-cont">
            <article ng-if="!vm.toggleProductDescription">
              <h3>{{vm.product.Name}}</h3>
              <div ng-bind-html="vm.trustAsHtml(vm.product.Description)"></div>
              <!--<br/>-->
              <h4>Contenido del paquete</h4>
              <div ng-bind-html="vm.trustAsHtml(vm.product.PackageContent)"></div>
              <h4>Caracteristicas princiaples</h4>
              <div ng-bind-html="vm.trustAsHtml(vm.product.MainFeatures)"></div>
              <h4>Restricciones</h4>
              <div ng-bind-html="vm.trustAsHtml(vm.product.Restrictions)"></div>
              <h4>Conservación</h4>
              <div ng-bind-html="vm.trustAsHtml(vm.product.Conservation)"></div>
            </article>

            <article ng-if="vm.toggleProductDescription">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, ut suscipit magni illum dolore blanditiis quas sequi, nihil, vel autem excepturi ex, repellat hic incidunt et animi expedita eligendi libero!</p>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
            </article>

          </div>
        </section>

      </section>
      <!--END PRODUCT VIEW CONTENT-->
    </div>
    <!-- MAIN VIEW -->

  </div>
</div>
