<!--
<div class="breadcrumb">
  <div class="container container-xxlg">
    <p>
      <a href="#">Inicio</a>
      <a href="#"> > Muebles</a>
      <a href="#" class="breadcrumb-active"> > Salas</a>
    </p>
  </div>
</div>
-->
<div class="content-block listing-view">
  <div class="container container-xxlg" layout="row" layout-align="space-between start">

    <!--START NAV-->
    <sidebar-categories
      selected-category-id="vm.lowestCategory.id"
      categories-tree="main.categoriesTree"
      flex="20">
    </sidebar-categories>
    <!--END NAV-->

    <!--MAIN VIEW-->
    <div class="product-view" flex="75">
      <h2 class="listing-view-title">{{vm.product.Name || vm.product.ItemName}}</h2>

      <div ng-if="vm.isLoading" layout-fill layout="row" layout-sm="column" layout-align="center center" class="loading-circle">
        <md-progress-circular 
          md-mode="indeterminate" 
          class="md-accent" 
          md-diameter="150">
        </md-progress-circular>
      </div>

      <!--PRODUCT VIEW CONTENT-->
      <section ng-if="!vm.isLoading" class="product-view-content">

        <div layout="row">
          <div class="product-view-gallery-wrap" flex="50">
            <!--<ng-include src="'views/partials/product-gallery.html'"></ng-include>-->
            <product-gallery 
              ng-if="vm.product"
              product="vm.product">
            </product-gallery>
          </div>

          <!--PRODUCT VIEW DATA-->
          <div flex="50" class="product-view-data">

            <ng-include src="'views/partials/product-features.html'"></ng-include>
            <ng-include src="'views/partials/product-variants.html'"></ng-include>
            <ng-include src="'views/partials/product-stock.html'"></ng-include>
            <ng-include src="'views/partials/product-promotions.html'"></ng-include>


            <div class="product-view-prices" layout="row" layout-align="space-between end">
              <div flex="15">
                <p 
                  class="product-view-price-discount" 
                  ng-if="vm.product.Promotions && vm.product.Promotions.length > 0">
                  - {{vm.product.maxDiscount}}%
                </p>
                <p class="product-view-price-crossed">{{vm.product.priceBefore | currency:'$':0 }}</p>
                <p class="product-view-price-hl">
                  <strong>{{vm.product.Price | currency:'$':0 }}</strong>
                </p>
              </div>
              <div flex="15">
                <div class="product-view-qty input-element">
                  <label>Piezas</label>
                  <select
                    class="select-element"
                    ng-model="vm.productCart.quantity"
                    ng-options="qty for qty in vm.getQtyArray(vm.productCart.deliveryGroup.available)"
                  >
                  </select>
                </div>
              </div>
              <div flex="30">
                <div class="input-element select-element-wrapper">
                  <label>Entrega aproximada{{vm.selectedDelivery}}</label>
                  <select
                    class="select-element"
                    ng-model="vm.productCart.deliveryGroup"
                    ng-change="vm.resetProductCartQuantity(deliveryGrop.available)"
                    ng-options="deliveryGroup.date | date: 'd/MMM/yyyy' for deliveryGroup in vm.deliveriesGroups"
                  >
                  </select>
                </div>
              </div>
              <h3 flex="25" class="product-view-price-hl product-view-price-main">
                <strong>{{vm.product.Price * vm.productCart.quantity | currency:'$':0 }}</strong>
              </h3>
            </div>

            <a
              ng-click="vm.available && vm.productCart.quantity && vm.addToCart($event)" href="#"
              class="add-cart-btn"
              ng-class="
              {
                'add-cart-btn-disabled': vm.productCart.quantity > vm.productCart.deliveryGroup.available || !vm.productCart.quantity
              }
              "
            >
              <span class="add-cart-btn-icon">
                <span class="add-cart-btn-icon-num">{{vm.productCart.quantity}}</span>
                <i class="icon-carro"></i>
              </span>
              <strong>Agregar al carrito</strong>
            </a>
            <!--<p class="seen-number"><strong>Visto 16 veces hoy</strong></p>-->

          </div>
          <!--END PRODUCT VIEW DATA-->

        </div>

        <section class="desc-wrapper">
          <div class="desc-head" layout="row"
            ng-init="hideProductDescription = vm.toggleProductDescription = !(
              vm.product.Description ||
              vm.product.PackageContent ||
              vm.product.MainFeatures ||
              vm.product.Restrictions ||
              vm.product.Conservation
            )
            "
          >
            <div
              ng-if="!hideProductDescription"
              flex="100"
              class="desc-head-item"
              ng-class="{'desc-head-item-on' : !vm.toggleProductDescription }"
              ng-click="vm.toggleProductDescription = !vm.toggleProductDescription">
              <h3>Detalles del artículo</h3>
            </div>
            <div
              flex="100"
              class="desc-head-item"
              ng-class="{'desc-head-item-on' : vm.toggleProductDescription}"
              ng-click="!hideProductDescription && (vm.toggleProductDescription = !vm.toggleProductDescription)">
              <h3>Detalles de la entrega</h3>
            </div>
          </div>
          <div class="desc-cont">
            <article ng-if="!vm.toggleProductDescription">
              <div ng-if="vm.product.Description">
                <div ng-bind-html="vm.trustAsHtml(vm.product.Description)"></div>
              </div>

              <div ng-if="vm.product.PackageContent">
                <h3>Contenido del paquete</h3>
                <div ng-bind-html="vm.trustAsHtml(vm.product.PackageContent)"></div>
              </div>

              <div ng-if="vm.product.MainFeatures">
                <h3>Caracteristicas principales</h3>
                <div ng-bind-html="vm.trustAsHtml(vm.product.MainFeatures)"></div>
              </div>

              <div ng-if="vm.product.Restrictions">
                <h3>Restricciones</h3>
                <div ng-bind-html="vm.trustAsHtml(vm.product.Restrictions)"></div>
              </div>

              <div ng-if="vm.product.Conservation">
                <h3>Conservación</h3>
                <div ng-bind-html="vm.trustAsHtml(vm.product.Conservation)"></div>
              </div>
            </article>

            <article ng-if="vm.toggleProductDescription">
              <div ng-bind-html="vm.trustAsHtml(main.site.deliveryText)"></div>
            </article>

          </div>
        </section>

      </section>
      <!--END PRODUCT VIEW CONTENT-->
    </div>
    <!-- MAIN VIEW -->

  </div>
</div>
