<section class="terms-view">
	<div 
		class="banner" 
		layout="row" 
		layout-align="center center"
		style="background-image: url(../images/terms.jpg)"
		>
		<div class="banner-inner">
			<h1>﻿⁠⁠⁠Cambios, devoluciones y cancelaciones</h1>		
		</div>
	</div>
	<div class="container container-xlg">
		<h2>Cambios y devoluciones:</h2>
		<p>Nuestra política de devolución es: “Podrás devolver el o los artículo(s) comprado(s) a Actual Group por los motivos siguientes:</p>
		<ul>
			<li>Si el artículo presenta defectos de fabricación.</li>
			<li>Si existe equivocación en el artículo enviado, conservando la envoltura original de celofán (emplaye) y sin presentar daño alguno.</li>
		</ul>
		<p>En la recepción de mercancía errónea o dañada se aplicará el cambio físico de la misma solo si ésta fue reportada durante las primeras 48 horas posteriores a su entrega, a los siguientes teléfonos:</p>
		<p>Atención a Clientes: (998) 195 8376 o (998) 195 6839 en los horarios de servicio de Lunes – Viernes | 09:00 – 20:30 horas </p>

		<h2>Cancelaciones:</h2>
		<p>Todo cancelación será sujeta a una evaluación de validación y autenticidad del cliente con la finalidad de verificar sus datos personales protegiendo su compra e integridad.</p>
		<p>Realizaremos una breve evaluación del motivo o circunstancia de la cancelación, así como, del rastreo de los artículos previamente comprados para su geolocalización</p>
		<p>Verificar si el artículo esta sujeto a cancelación de acuerdo a la política consentida por el cliente durante la compra.En caso de ser necesario se le solicitara documentación adicional. Podrás efectuar la cancelación total o parcial de una compra hecha a través de la página <a ng-href="{{main.siteConstants.baseUrl}}" target="_blank">{{main.siteConstants.baseUrl}}</a> siempre y cuando no se te haya enviado la mercancía.</p>
		<p>Para Actual Group su satisfacción y confianza es lo mas importante, agradeceremos que para cancelar se comunique a los siguiente teléfonos: (998) 195 8376 o (998) 195 6839 en los horarios de servicio de Lunes – Viernes | 09:00 – 20:30 horas </p>
		<p>Si al momento de recibir tu aviso (por cualquier medio antes mencionado) la mercancía ya ha sido enviada, te pedimos rechazar la entrega en tu domicilio para que el servicio de mensajería nos la devuelva. Al recibir nosotros la mercancía de regreso, te haremos el reembolso en la misma forma en que se realizo el pago original; exceptuando los gastos de envío.</p>

		<p>Referente al reembolso:</p>
		<p>Sí tu forma de pago fue depósito bancario o transferencia electrónica, te pedimos que al momento de solicitar la cancelación nos proporciones lo siguiente:</p>
		<ul>
			<li>Nombre del beneficiario</li>
			<li>Nombre del Banco</li>
			<li>Numero de cuenta</li>
			<li>CLABE interbancaria</li>
		</ul>
		<p>El reembolso se hará mediante transferencia electrónica por el importe total o parcial del pedido cancelado menos gastos de envío. La operación del reembolso se realizara dentro de los siguientes cinco días hábiles a la obtención de tus datos. No se harán reembolsos sino contamos con los datos antes mencionados. </p>
		<p>En caso de cancelaciones parciales, solo se reembolsará el precio de la mercancía y no los gastos de envío. Únicamente se reembolsarán los gastos de envío cuando el motivo de la cancelación sea imputable a Actual Group por no tener existencias y/o no poder surtir el pedido.</p>
		<p>Actual Group podrá cancelar un pedido u orden hecha, cuando la forma de pago seleccionada fue depósito bancario y/o transferencia electrónica por incumplimiento de pago, debido a que, el cliente no realizó el pago correspondiente dentro de los 3 días naturales previamente acordado durante el proceso de la compra.</p>

		<p>Nota: Artículos una vez salidos de la tienda o el cliente haya firmado de recibido de conformidad, NO están sujetos a cambios, devoluciones ni cancelación.</p>

	</div>
</section>