<div class="loading-circle" layout-align="center center" layout="row" ng-if="vm.isLoading">
  <md-progress-circular class="md-accent" md-diameter="100px"></md-progress-circular>
</div>

<div class="sesion-client-flex-container">
  <div class="register-flexbox">
    <div class="register-options-sesion">
      <div class="sesion-client-title">
        <i class="icon-login"></i>
        <span>Ingresa tus datos o Inicia sesión</span>
      </div>
      <div class="sesion-client-div-content">
        <form class="sesion-client-content">
          <div>
            <input name="gender" type="radio" value="login">
            Iniciar sesión
          </div>
          <hr>
          <div>
            <input name="gender" type="radio" value="invited">
            Continuar como invitado
          </div>
          <hr>
          <div>
            <input name="gender" type="radio" value="register">
            Registrarme
          </div>
        </form>
      </div>
      <div>
        <div class="sesion-client-content" layout="row" layout-align="center center" >
          <hr width="25%" /><span style="font-size: 20px;">O Iniciar sesión con:</span>
          <hr width="25%" />
        </div>
      </div>
      <div layout="column" layout-align="center center">
        <button class="sesion-client-socialmedia" style="background-color:#5B7BD5">
          Login with Facebook
        </button>
        </button>
        <div class="g-signin2" data-onsuccess="onSignIn">
          <button class="sesion-client-socialmedia" style="background-color:#E74B37" >
            Login with Google
          </button>
        </div>
      </div>
      <div>
        <div class="sesion-client-content" layout="row" layout-align="center center">
          <hr width="25%" /><span style="font-size: 20px;">Opciones de envío</span>
          <hr width="25%" />
        </div>
      </div>
      <div>2</div>
    </div>
  </div>

  <div class="vl"></div>

  <div class="register-flexbox">
    <div class="register-options-sesion">
      <div class="sesion-client-title">
        <span>Información de carrito</span>
      </div>
      <div>1</div>
      <div>2</div>
      <div>3</div>

    </div>
  </div>

</div>