<div layout="row" layout-wrap>
<section id="register" class="form-view checkbox-client-type container-xlg " >
  <div class="container container-lg ">
    <div
      ng-if="vm.isLoading"
      layout-fill
      layout="row"
      fxLayoutAlign="center center"
      class="loading-circle"
    >
      <md-progress-circular
        md-mode="indeterminate"
        md-diameter="150"
      ></md-progress-circular>
    </div>

    <section ng-if="!vm.isLoading && vm.registerDone">
      <h1>Usuario registrado con éxito</h1>
      <!--<p>Haz click <a ng-click="main.toggleLoginModal()" href="" class="login-toggler">aqui</a> para iniciar sesión</p>-->
    </section>

    <div
      ng-if="!vm.isLoading && !vm.registerDone"
      class="register-accordion-form"
    >
      <h1>
        <i class="icon-login"></i> Ingresa tus datos
      <hr/>
      <!-- ACCORDION LIST -->
      <div class="container-accordion">
        <!-- ACCORDION CONTENT FOR INVITED USER -->
        <button class="accordion" ng-click="vm.accordioninvited = !vm.accordioninvited" >
          <img class="icon-accordion" src="images/arrow2-right.png" alt="" />
          <strong class="strong-accordion">INVITADO</strong>
          <span class="span-accordion"
            >Continuar como invitado para agilizar la compra</span
          >
        </button>
        <form
        class="accordion-content"
        ng-show="vm.accordioninvited"
        name="invitedForm"
        ng-submit="vm.register(invitedForm, true)"
        >
        <div class="input-element-header">
          <h4>DATOS PERSONALES DEL USUARIO</h4>
          <div class="input-container">
            <div class="input-element">
              <p>
                <label><strong>Nombre(s)*</strong></label>
              </p>
              <div class="input-element-inner">
                <input type="text" ng-model="vm.newClient.FirstName" required />
              </div>
            </div>
          </div>

          <div class="input-container">
            <div class="input-element">
              <p>
                <label><strong>Apellido(s)*</strong></label>
              </p>
              <div class="input-element-inner">
                <input type="text" ng-model="vm.newClient.LastName" required />
              </div>
            </div>
          </div>

          <div class="input-container">
            <div class="input-element">
              <p>
                <label><strong>Email*</strong></label>
              </p>
              <div class="input-element-inner">
                <input type="email" ng-model="vm.newClient.E_Mail" required />
              </div>
            </div>
          </div>

          <div class="input-container">
            <div class="input-element">
              <p>
                <label><strong>Confirmar email*</strong></label>
              </p>
              <div class="input-element-inner">
                <input
                  type="email"
                  ng-model="vm.newClient._E_Mail"
                  ng-pattern="vm.newClient.E_Mail"
                  required
                />
              </div>
            </div>
          </div>

          <div class="input-container">
                <div class="input-element">
                  <p>
                    <label><strong>Télefono fijo*</strong></label>
                  </p>
                  <div class="input-element-inner">
                    <input type="text" ng-model="vm.newClient.Phone1" required />
                  </div>
                </div>
              </div>

          <div class="input-container">
            <div class="input-element">
              <p>
                <label><strong>Télefono móvil*</strong></label>
              </p>
              <div class="input-element-inner">
                <input type="text" ng-model="vm.newClient.Cellular" required />
              </div>
            </div>
          </div>
          <div ng-if="vm.isContactCreateActive">
            <ng-include
              src="'views/partials/contact-form-register.html'"
            ></ng-include>
          </div>
          <button type="submit" class="form-view-btn form-view-btn-primary">
            Continuar
          </button>
          </div>

        </form>

        <!-- ACCORDION CONTENT FOR SESSION -->
        <button class="accordion" ng-click="vm.accordionsession = !vm.accordionsession">
          <img class="icon-accordion" src="images/arrow2-right.png" alt="" />
          <strong class="strong-accordion">INICIAR SESIÓN</strong>
          <span class="span-accordion"
            >Si ya tienes una cuenta con nosotros</span
          >
        </button>
        <div class="accordion-content" ng-show="vm.accordionsession" >
        <div class="input-element-header">

            <div class="input-container">
                <div class="input-element">
                  <p>
                    <label><strong>Email*</strong></label>
                  </p>
                  <div class="input-element-inner">
                    <input type="email" ng-model="vm.existingClient.email" required />
                  </div>
                </div>
              </div>

          <div class="input-container" ng-if="!vm.newClient.invited">
            <div class="input-element">
              <p>
                <label><strong>Contraseña*</strong></label>
              </p>
              <div class="input-element-inner">
                <input
                  type="password"
                  ng-model="vm.existingClient.password"
                  required
                />
              </div>
            </div>
          </div>
          <button type="submit" class="form-view-btn form-view-btn-primary">
            Continuar
          </button>
          </div>
        </div>


        <!-- ACCORDION CONTENT FOR REGISTER -->
        <button class="accordion" ng-click="vm.accordionregister = !vm.accordionregister" >
          <!-- <md-expansion-panel-icon></md-expansion-panel-icon> -->
          <img class="icon-accordion" src="images/arrow2-right.png" alt="" />
          <strong class="strong-accordion">REGÍSTRATE</strong>
          <span class="span-accordion">¿Eres un nuevo cliente?<strong > Empieza aquí</strong></span>
        </button>
        <form
        class="accordion-content"
        ng-show="vm.accordionregister"
        name="registerForm"
        ng-submit="vm.register(registerForm)"
        >
          <div class="input-element-header">

            <h4>DATOS PERSONALES DEL USUARIO</h4>

          <div class="input-container">
            <div class="input-element">
              <p>
                <label><strong>Nombre(s)*</strong></label>
              </p>
              <div class="input-element-inner">
                <input type="text" ng-model="vm.newClient.FirstName" required />
              </div>
            </div>
          </div>

          <div class="input-container">
            <div class="input-element">
              <p>
                <label><strong>Apellido(s)*</strong></label>
              </p>
              <div class="input-element-inner">
                <input type="text" ng-model="vm.newClient.LastName" required />
              </div>
            </div>
          </div>

          <div class="input-container">
            <div class="input-element">
              <p>
                <label><strong>Email*</strong></label>
              </p>
              <div class="input-element-inner">
                <input type="email" ng-model="vm.newClient.E_Mail" required />
              </div>
            </div>
          </div>

          <div class="input-container">
            <div class="input-element">
              <p>
                <label><strong>Confirmar email*</strong></label>
              </p>
              <div class="input-element-inner">
                <input
                  type="email"
                  ng-model="vm.newClient._E_Mail"
                  ng-pattern="vm.newClient.E_Mail"
                  required
                />
              </div>
            </div>
          </div>

          <div class="input-container">
            <div class="input-element">
              <p>
                <label><strong>Télefono móvil*</strong></label>
              </p>
              <div class="input-element-inner">
                <input type="text" ng-model="vm.newClient.Cellular" required />
              </div>
            </div>
          </div>

          <div ng-if="vm.isContactCreateActive">
            <ng-include
              src="'views/partials/contact-form-register.html'"
            ></ng-include>
          </div>
          <hr>
          <div class="input-container" ng-if="!vm.newClient.invited">
              <div class="input-element">
                <p>
                  <label><strong>Contraseña*</strong></label>
                </p>
                <div class="input-element-inner">
                  <input
                    type="password"
                    ng-model="vm.newClient.password"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="input-container" ng-if="!vm.newClient.invited">
              <div class="input-element">
                <p>
                  <label><strong>Confirmar contraseña*</strong></label>
                </p>
                <div class="input-element-inner">
                  <input
                    type="password"
                    ng-model="vm.newClient._password"
                    ng-pattern="vm.newClient.password"
                    required
                  />
                </div>
              </div>
            </div>
          <button type="submit" class="form-view-btn form-view-btn-primary">
            Continuar
          </button>
          </div>
        </form>
      </div>
      <!--ACCORDION LIST END-->
    </div>
  </div>
</section>


<div layout="row" layout-wrap >
<section>
  <form
  ng-submit="vm.continueBuying()"
  class="cart-view container container-lg"
  >
    <aside
      flex
      flex-sm="100"
      flex-xs="100"
      class="cart-aside"
      ng-show="!vm.quotation.isSpeiQuotation"
    >
      <h1 class="cart-title">
        <i class="icon-carro">
          <span>{{ vm.quotation.totalProducts }}</span>
        </i>
        <strong>MI CARRITO</strong>
      </h1>

      <div class="cart-summary">
        <table>
          <tr>
            <td>
              <strong
                >Subtotal ({{
                  vm.quotation.totalProducts
                }}
                productos):</strong
              >
            </td>
            <td>
              <strong>MXN {{ vm.quotation.subtotal | currency }}</strong>
            </td>
          </tr>
          <tr>
            <td>Descuento:</td>
            <td>
              <strong
                >MXN <span ng-show="vm.quotation.discount > 0">-</span
                >{{ vm.quotation.discount | currency }}</strong
              >
            </td>
          </tr>
          <tr>
            <td>
              <strong>Costo de envío:</strong>
            </td>
            <td>
              <strong>MXN $0.00</strong>
            </td>
          </tr>
        </table>
        <hr/>
        <div
          class="cart-totals"
          layout="row"
          layout-align="space-between end"
        >
          <div flex="30">
            <h1>
              <strong>TOTAL:</strong>
            </h1>
          </div>
          <div flex="70">
            <h3
              class="price-crossed-block"
              ng-show="vm.quotation.subtotal != vm.quotation.total"
            >
              <span class="currency-label">MXN</span>
              <span class="price-crossed">{{
                vm.quotation.subtotal | roundCurrency
              }}</span>
            </h3>
            <h1 class="price-main">
              <span class="currency-label">MXN</span>
              {{ vm.quotation.total | roundCurrency }}
            </h1>
          </div>
        </div>
        <input
          type="submit"
          value="CONTINUAR"
          ng-if="!vm.quotation.OrderWeb && !vm.quotation.isClosed && !vm.quotation.rateLimitReported"
          ng-disabled="!vm.isValidStock(vm.quotation.Details) || vm.isValidatingStock || vm.isLoadingDetailsDeliveries"
          ng-class="{'cart-view-btn-disabled' : !vm.isValidStock(vm.quotation.Details) || vm.isValidatingStock || vm.isLoadingDetailsDeliveries }"
          class="cart-view-btn print-btn"
        />

        <div
          class="alert-btn-wrap"
          ng-if="vm.quotation.bigticketMaxPercentage > 0 && false"
        >
          <a href="#" ng-click="vm.showBigTicketDialog()">
            <i class="icon-alert"></i>
          </a>
        </div>
        <p
          class="cart-summary-note"
          ng-show="vm.isValidatingStock && vm.quotation.Details"
        >
          Validando disponibilidad...
        </p>

        <p class="cart-summary-note">
          Precios con impuestos incluidos.
        </p>
      </div>
      <div layout="row" layout-align="space-between center" layout-wrap>
        <div flex="45">
          <a
            ng-if="vm.quotation.Details.length > 0"
            href="#"
            ng-click="vm.print()"
            class="action-btn-print print-btn"
          >
            IMPRIMIR
          </a>
        </div>
        <div flex="50">
          <a
            ng-if="vm.quotation.Details.length > 0"
            ng-click="vm.sendByEmail()"
            href="#"
            class="action-btn-print print-btn"
          >
            ENVIAR POR EMAIL
          </a>
        </div>
      </div>
      <br />
      <div layout="row" layout-align="space-between center" layout-wrap>
        <div flex="100">
          <a
            ng-if="vm.quotation.Details.length > 0"
            ng-click="vm.alertRemoveAllDetails($event)"
            href="#"
            class="action-btn-clear print-btn "
          >
            LIMPIAR CARRITO
          </a>
        </div>
      </div>
    </aside>
  </div>
  </form>
  </section>
</div>


</div>
