<div ng-if="vm.isLoading" layout-fill layout="row" layout-align="center center" class="loading-circle">
  <md-progress-circular class="md-accent" md-diameter="100px"></md-progress-circular>
</div>

<section
  name="createForm"
  novalidate
  ng-if="!vm.isLoading"
  class="form-view container container-xlg">
  <h1><i class="icon-login"></i> <strong>RESTABLECER CONTRASEÑA</strong></h1>
  <section class="form-view-content">

    <section class="form-section">

			<form 
				name="resetPasswordForm" 
				ng-submit="vm.resetPassword(resetPasswordForm)" 
				class="form-section-content form-section-content-v3"
			>

			  <div layout="row">

					<div ng-if="vm.processCompleted">
						<p>{{vm.message}}</p>
					</div>

			    <div ng-if="!vm.processCompleted" flex="45" class="input-element">
			      <label>
			        <strong>Contraseña</strong>
			        <span class="hl-label">*</span>
			      </label>
			      <div class="input-element-inner">
			        <input
			          type="password"
			          name="password"
			          ng-model="vm.password"
			          required
			        >
			      </div>
			    </div>

			    <div ng-if="!vm.processCompleted" flex="45" class="input-element">
			      <label>
			        <strong>Confirmar contraseña</strong>
			        <span class="hl-label">*</span>
			      </label>
			      <div class="input-element-inner">
			        <input
			          type="password"
			          name="password"
			          ng-model="vm._password"
			          ng-patter="vm.password"
			          required
			        >
			      </div>
			    </div>

			  </div>

	      <div 
	      	ng-if="!vm.processCompleted"
	      	layout="row" 
	      	class="form-view-btns" 
	      	layout-align="center center">
	        <input
	          class="form-view-btn form-view-btn-primary"
	          type="submit"
	          value="Restablecer"
	        >
	      </div>


			</form>


		</section>

  </section>

</section>
