<div class="breadcrumb">
  <div class="container container-xxlg">
    <p>
      <a href="#">Inicio</a>
      <a href="#"> > Muebles</a>
      <a href="#"> > Salas</a>
      <a href="#" class="breadcrumb-active"> > Set de salas</a>
    </p>
  </div>
</div>
<div class="content-block listing-view">
  <div class="container container-xxlg" layout="row" layout-align="space-between start">

    <!--START NAV-->
    <sidebar-categories flex="25"></sidebar-categories>
    <!--END NAV-->

    <!--SUBCATEGORIES-->
    <div flex="70">
      <div class="subs-container">
        <div layout="row" layout-align="space-between start">
          <h2 class="listing-view-title">Resultados para "{{vm.search.term}}"</h2>
          <h3 ng-if="!vm.isLoading">
            <i class="icon-search"></i> <span class="hl-text">{{vm.totalResults}}</span> Resultados
          </h3>
        </div>

        <!--RESULTS-->
        <div ng-if="!vm.isLoading || vm.loadMoreCount > 1" class="results">
          <div
            class="products-list"
            layout="row"
            layout-wrap
            layout-align="start center">
            <div flex="33" class="listing-product-wrap" ng-repeat="product in vm.products">
              <listing-product product="product"></listing-product>
            </div>
          </div>

        </div>
        <!--END RESULTS-->

        <div ng-if="vm.isLoading" layout="row" layout-align="center center">
          <md-progress-circular class="md-accent" md-diameter="100px"></md-progress-circular>
        </div>

        <a ng-if="vm.totalResults > vm.products.length" ng-click="vm.loadMore()" href="#" class="action-btn action-btn-sm">Cargar más</a>

      </div>
    </div>
    <!-- END SUBCATEGORIES-->

  </div>
</div>
