<section class="terms-view">
	<div 
		class="banner" 
		layout="row" 
		layout-align="center center"
		style="background-image: url(../images/terms.jpg)"
		>
		<div class="banner-inner">
			<h1>﻿⁠⁠⁠Envío y entrega</h1>		
		</div>
	</div>
	<div class="container container-xlg">
		<h2>¿Cuáles son las políticas de entrega de Actual Group?</h2>
		<p>El personal de entrega llamará al cliente un día después de la compra para coordinar la fecha de entrega. Mínimo 24 horas antes de la entrega, el personal de entrega coordinará con el cliente los horarios de entrega. 1 hora antes de la entrega, el personal de entrega realizara una llamada telefónica de cortesía para asegurar la presencia del cliente, o de la persona autorizada para recibir los artículos adquiridos, en el domicilio registrado.</p>
		<p>La entrega de múltiples artículos en una sola compra, se realizará TODO JUNTO al cliente final en un sol envío. Actual Group se reserva el derecho de entregar TODOS los artículos en un solo envío en la última fecha de entrega estimada. El equipo de atención a clientes podrá definir en común acuerdo con el cliente la fecha de entrega pactada de MULTIPLES artículos de una sola compra.</p>
		<p>La fecha de entrega aproximada será desplegada al momento de realizar su cotización o compra. La fecha de entrega aproximada esta dependerá de la ubicación del artículo al momento de su compra, el tiempo y la frecuencia del medio de transportación hacía el destino de entrega.</p>
		<p>En el caso de tener algún retraso por causas ajenas, nos comunicaremos con usted para infórmale de la nueva fecha de entrega.</p>

		<h2>¿Cómo funciona la entrega en domicilio?</h2>
		<p>El envío solamente se realizará al domicilio proporcionado por el cliente en el proceso de la compra. Todas las entregas al cliente de sus artículos será a pie de camión.</p>
		<p>Actual Group no se hace responsable de maniobra especiales, tales como: subir el artículo a determinado nivel de piso, desmonte de puertas o ventanas, uso de elevadores, mover muebles, volados, instalaciones eléctricas, entre otros. El personal que realiza la entrega no está autorizado para realizar ningún tipo de instalación o reparación.  El personal tiene la obligación de retirar el material de empaque e inspeccionar visualmente el producto en tu presencia. El personal no está autorizado para recibir o solicitar propina</p>
		<p>Una vez realizada la entrega satisfactoriamente, favor de firmar de conformidad los documentos que el personal de reparto le solicite. El personal de reparto podrá́ solicitarte la contestación de una encuesta de satisfacción.</p>

		<h2>¿Qué procede si no estoy en mi domicilio y llega la mensajería o flete?</h2>
		<p>En caso de que el consumidor no este en la fecha programada y previamente acordada para la entrega de sus artículos, ni persona alguna que lo represente, la próxima fecha por programarse para la entrega de los artículos, esta será con cargo y costo al cliente.</p>
		<p>Los siguientes casos se consideran como intento fallido de entrega:</p>
		<ol>
			<li>No contar con la presencia física del cliente que adquirió los artículos o persona autorizada por escrito, debido a que se requiere la firma de autorización de recepción y documentación del estado de los artículos.</li>
			<li>No poder acceder al domicilio en un máximo de 15 minutos después de la llegada del personal de entregas. Después de este tiempo el personal de entregas procederá con lo siguiente:
				<ul>
					<li>Tomar testimonio de presencia en tiempo y forma de personas ajenas a la empresa.</li>
					<li>Colocación de una nota de visita con los datos de contacto para una nueva programación de entrega con costo.</li>
					<li>Retirarse del domicilio de entrega.</li>
				</ul>
			</li>
			<li>No contar con la autorización del uso de elevadores.</li>
			<li>No contar con espacio para colocar los artículos</li>
		</ol>

		<h2>¿Es posible cambiar forma y el domicilio de entrega?</h2>
		<p>Si,todo cambio de forma y/o domicilio de entrega, será sujeto a una evaluación de validación y autenticidad del cliente con la finalidad de verificar sus datos personales protegiendo su compra e integridad. Todo cambio de forma y/o domicilio de entrega esta sujeto a revisión y cargos extras. En caso de ser necesario se le solicitara documentación adicional.</p>
		<p>Favor de comunicarse a los siguientes teléfonos: (998) 195 8376 o (998) 195 6839  horario de servicio: Lunes – Viernes | 09:00 -  18:30 horas</p>

		<h2>¿Cómo funciona la entrega EXPRESS? (sujeto a disponibilidad)</h2>
		<p>La entrega express esta disponible únicamente en la ciudades donde tenemos tiendas físicas. Tiene un costo adicional, el cual, corre por cuenta del cliente debido a que es un servicio especial. Solicitarlo a su asesor de interiores.</p>

		<h2>¿Cuáles son las políticas de envío?</h2>
		<p>Una vez que hayas elegido el(los) producto(s) que deseas comprar desde nuestra página de Internet o vía telefónica con ayuda de nuestros asesores, será necesario que indiques el código postal de la dirección de envío a la que deseas que se entreguen tu(s) artículos. A partir de estos datos calcularemos el costo del envío. </p>
		<p>Algunos productos disponibles a la venta en la página de Internet de Actual Group, se surten directamente desde nuestras tiendas, o desde nuestros centros de distribución (cedis). </p>
		<p>Actual Group se reserva el derecho de enviar TODOS los artículos en una sola entrega; en la última fecha de entrega estimada. El equipo de atención a clientes podrá definir en común acuerdo con el cliente la fecha de envío pactada de MULTIPLES artículos de una sola compra.</p>

	</div>
</section>