<section class="terms-view">
	<div class="container container-xlg">
		<h1 class="section-title">﻿⁠⁠⁠Envío y entrega</h1>
		<h2>¿Cuáles son las políticas de entrega de Actual Group?</h2>

		<p>
			La fecha de entrega aproximada es calculada en días hábiles, está será desplegada al momento de realizar su
			cotización o compra.
		</p>
		<p>En cada etapa de su pedido recibirá un correo electrónico indicándole su estatus.</p>
		<p>En el caso de existir algún retraso por causas ajenas, nos comunicaremos con usted para informarle de la nueva
			fecha de entrega.</p>
		<p>Todos los productos disponibles a la venta en nuestro portal de internet, se surten directamente desde nuestros
			centros de distribución. </p>
		<p>Ponemos a sus disposición el siguiente celular para envíos foráneos: (998) 200 5664 o para envíos locales: (998) 246 0845 horario de servicio: Lunes –
			Viernes | 09:00am - 06:00pm, Sabado 09:00am a 01:00pm, donde le podrán informar a cerca de su pedido.</p>

		<h2>¿Cómo funciona la entrega en domicilio?</h2>
		<p>El envío solamente se realizará al domicilio proporcionado por el cliente en dirección de entrega durante el
			proceso de la compra.</p>
		<p>Sí el titular de la compra no puede recibir el producto físicamente, proporcionar una copia del pedido a la
			persona que recibirá en domicilio y presentar identificación oficial con fotografía vigente.</p>
		<p>Todas las entregas al cliente de sus artículos será a pie de camión.</p>
		<p>Actual Group no se hace responsable de maniobra especiales, tales como: subir el artículo a determinado nivel de
			piso, desmonte de puertas o ventanas, uso de elevadores, mover muebles, volados, instalaciones eléctricas, entre
			otros.</p>
		<p>El personal que realiza la entrega no está autorizado para realizar ningún tipo de instalación o reparación.
		</p>
		<p>Le pedimos que al recibir la entrega revise que el producto se encuentra en buen estado.</p>
		<p>Una vez realizada la entrega satisfactoriamente, favor de firmar el acuse de recibo que el personal de reparto le
			requiera.</p>

		<h2>¿Qué procede si no estoy en mi domicilio y llega la mensajería o flete?</h2>
		<p>En caso de que el cliente no este en la fecha programada para la entrega de sus artículos, ni persona alguna que
			lo represente, el próximo intento de entrega será con cargo y costo al cliente.</p>

		<h2>¿Es posible cambiar el domicilio de entrega?</h2>
		<p>Si,</p>
		<p>Todo cambio de domicilio de entrega, será sujeto a una validación de autenticidad del cliente con la finalidad de
			verificar sus datos personales protegiendo su compra e integridad.</p>
		<p>Todo cambio de domicilio de entrega esta sujeto a revisión y cargos extras.</p>
		<p>Favor de comunicarse al siguiente número celular para envíos foráneos: (998) 200 5664 o el siguiente número celular para envíos locales (998) 246 0845 horario de servicio: Lunes –
			Viernes | 09:00am - 06:00pm, Sabado 09:00am a 01:00pm</p>

		<h2>¿Cómo funciona la entrega EXPRESS? (sujeto a disponibilidad)</h2>
		<p>Tiene un costo adicional, el cual, corre por cuenta del cliente debido a que es un servicio especial.</p>
		<p>
			Favor de comunicarse a los siguientes números celulares de atención a clientes: +52 1 998 195 8376 o +52 1 998 195 6839 para más información sobre la entrega EXPRESS.
			Horario de servicio: Lunes – Viernes | 09:00am - 06:00pm, Sabado 09:00am a 01:00pm
		</p>

	</div>
</section>