<section class="terms-view">
	<div 
		class="banner" 
		layout="row" 
		layout-align="center center"
		style="background-image: url(../images/terms.jpg)"
		>
		<div class="banner-inner">
			<h1>﻿⁠⁠⁠﻿⁠⁠⁠Políticas de almacenaje</h1>		
		</div>
	</div>
	<div class="container container-xlg">
		<ul>
			<!--
			<li>El tiempo de almacenaje corre a partir del momento que el personal de entrega avisa al cliente que el artículo está disponible para entregarse.</li>
			<li>Todos los artículos adquiridos se pueden almacenar durante un tiempo máximo de 30 días naturales sin costo.</li>
			<li>A partir del día 31 natural de almacenaje, aplica un costo del 2% mensual sobre el valor total del artículo.</li>
			-->
			<li>Una vez que los pedidos son confirmados, se envían de inmediato con la línea de transporte que tenga cobertura en la zona de entrega.</li>
			<li>Si el cliente desea hacer uso del servicio de almacenaje, aplica un costo del 2% mensual sobre el valor total del artículo.</li>
			<li>Para contratar el servicio, favor de llamar a atención a clientes a los celulares: (998) 195 8376 | (998) 195 6839 en los siguientes horarios 09:00 am - 20:30 pm de lunes a viernes, en un plazo no mayor a 24 horas después de efectuada la compra en el sitio online.</li>
			<li>El periodo máximo de almacenaje es de 6 meses.</li>
		</ul>
		
	</div>
</section>