<section class="form-view container container-xlg">

  <h1><i class="icon-pedidos"></i> <strong>PEDIDOS</strong></h1>

  <div layout="row" layout-align="space-between center">
    <div><p><strong>MES DE MAYO 2016</strong></p></div>
    <div>
      <p>
        <strong>DEL</strong>
        <strong>AL</strong>
      </p>
    </div>
  </div>

  <hr/>


  <div class="nested-table">

    <div class="nested-top">
      <table>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>Total</th>
          <th>Monto cobrado</th>
          <th>Monto diferencia</th>
        </tr>

        <tr role="row" class="odd">
          <td class="ng-scope sorting_1">123450123</td>
          <td class="ng-scope">Luis Perez Bautista</td>
          <td class="ng-scope">29-abr-2016</td>
          <td class="ng-scope">25-jun-2016</td>
          <td class="ng-scope">$14,699</td>
          <td class="ng-scope">$7,699</td>
          <td class="ng-scope">$7,000</td>
        </tr>

      </table>
    </div>

    <div class="nested-bar nested-bar1" layout="row" layout-align="space-between center">
      <span>TOTAL</span><span>$209,000</span>
    </div>
    <div class="nested-item">
      <div  class="nested-content">
        <section class="table-list-wrap table-list-wrap-nomargin">
          <div table-list class="table-list table-list-v2" columns="vm.columnsOrders" api-resource="vm.apiResourceOrders" filters="vm.filters"></div>
        </section>
      </div>
    </div>
    <!--
    <div class="nested-item" ng-repeat="manager in vm.managers track by $index">
      <div ng-click="manager.selected = !manager.selected" class="nested-bar nested-bar2" layout="row" layout-align="space-between center">
        <span>TOTAL GERENTE 1</span><span>$209,000</span>
      </div>
      <div ng-show="manager.selected" class="nested-content">
        <div class="nested-item" ng-repeat="sellers in manager.sellers track by $index">
          <div class="nested-bar nested-bar3"  ng-click="seller.selected = !seller.selected" layout="row" layout-align="space-between center">
            <span>TOTAL VENDEDOR 1</span><span>$209,000</span>
          </div>
          <div ng-show="seller.selected" class="nested-content">
            <section class="table-list-wrap table-list-wrap-nomargin">
              <div table-list class="table-list table-list-v2" columns="vm.columnsOrders" api-resource="vm.apiResourceOrders"></div>
            </section>
          </div>
        </div>
      </div>
    </div>
    -->
  </div>

  <section class="chart-section">
    <h2><i class="icon-login"></i> <strong>GRÁFICA DETALLADA DE VENTAS</strong></h2>
    <div class="chart-section-inner">

      <div layout="row" class="container container-md">
        <div class="chart-section-col" flex="70">
          <p class="chart-section-col-txt">Alcance de meta: <strong>Mayo 2016</strong></p>
          <canvas id="pie" class="chart chart-pie"
            chart-data="vm.chartOptions.data" chart-labels="vm.chartOptions.labels" chart-colours="vm.chartOptions.colours">
          </canvas>
          <div class="chart-legends">
            <p>
              <span class="legend-sqr"></span> <span>Venta al 28 de Mayo</span>
              <span class="legend-sqr legend-sqr2"></span> <span>Falta para objetivo</span>

            </p>
          </div>
        </div>
        <div class="chart-section-col" flex="30">
          <ul>
            <li><span><strong>Objetivo</strong></span><span>{{vm.goal | currency}}</span></li>
            <li><span><strong>Real</strong></span><span>{{vm.current | currency}}</span></li>
            <li><span><strong>Venta al 28/05/2016</strong></span><span>{{vm.real | number:2}} %</span></li>
            <li><span><strong>Falta para objetivo</strong></span><span>{{vm.rest | currency}}</span></li>
          </ul>
        </div>

      </div>

    </div>
  </section>

</section>
