<!--
  <div class="popUp" id="popup">
  <div class="popUp__content">
    <a href="#" class="popUp__close">&times;</a>
    <div class="testContenido">
      Información de contenido
    </div>
    <div class="testContenido">
      Información de contenido
    </div>
    <div class="testContenido">
      Información de contenido
    </div>
  </div>
</div>
-->
<input class="modal-state" id="modal-1" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal-1"></label>
  <div class="modal__inner">
    <label class="modal__close" for="modal-1"></label>
    <h2>Title!</h2>
    <p>Aliquam in sagittis nulla. Curabitur euismod diam eget risus
      venenatis, sed dictum lectus bibendum. Nunc nunc nisi, hendrerit eget nisi id, rhoncus rutrum velit. Nunc vel
      mauris dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam
      fringilla quis nisi eget imperdiet.</p>
  </div>
</div>
